// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
@font-face {
    font-family: "Safiar Signature";
    src: local("Safiar Signature"),
     url(~/assets/font/SafiarSignature.ttf) format("truetype");
}

html, body {
    font-family: "Roboto", sans-serif !important;
}
::-webkit-scrollbar {
    display: none;
  }
