<template>
  <v-container fluid class="px-0">
    <v-row class="pt-14 pb-4" justify="start" align="center">
      <v-col class="py-0">
        <div class="text-left">
          <Title :items="items" />
        </div>
      </v-col>
    </v-row>
    <v-row justify="center" align="start" class="pt-3">
      <v-col cols="12" lg="2" class="py-1">
        <Subtitle :title="companies.category" icon="mdi-domain"/>
      </v-col>
      <v-spacer></v-spacer>
      <v-col cols="12" lg="3" class="py-1">
        <TextCard title="Established Date" :subtitle="companies.est_date"/>
      </v-col>
    </v-row>
    <v-row justify="center" align="start">
      <v-col cols="12" lg="9" md="12" class="my-1">
        <v-row>
          <v-col>
            <Profile :company='companies'/>
          </v-col>
        </v-row>
        <v-row :style="'display:'+display">
          <v-col>
            <Info :items="info"/>
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="12" lg="3" md="12" class="my-1">
        <Member :member='members' :member_count='member_count'/>
      </v-col>
    </v-row>
    <v-row class="mt-4">
      <v-col cols="12" lg="2" md="3" class="py-1">
        <Subtitle title="Project" icon="mdi-alpha-p-box-outline" />
      </v-col>
      <v-col cols="12" lg="5" md="9" class="py-1">
        <Search v-model="search"/>
      </v-col>
      <v-col cols="12" lg="3" md="6" class="py-1">
        <Page title="Project Status:" :select_list="statuses" :defaultSelect="selectedStatus"/>
      </v-col>
      <v-col cols="12" lg="2" md="6" class="py-1">
        <Page width="120px" title="Per Page" :select_list="pages" :defaultSelect="selectedPage"/>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <Datatable :headers="headers" :search="search" :body="company.projects" />
      </v-col>
    </v-row> 
  </v-container>
</template>

<script>
import Title from "~/components/title/user_friendly.vue";
import Subtitle from "~/components/card/subtitle.vue";
import Skillset from "~/components/card/skillset.vue";
import Overall from "~/components/card/overall.vue";
import Profile from "~/components/graph/companyprofile.vue";
import Search from "~/components/input/search.vue";
import Page from "~/components/selector/label_selector.vue";
import Datatable from "~/components/datatable/table.vue";
import DialogProfile from "~/components/dialog/dialog-profile.vue";
import TextCard from "~/components/card/text_card";
import Member from "~/components/card/member.vue";
import Info from "~/components/graph/graph_info.vue";
export default {
  middleware: "authenticated",
  async asyncData({ $axios, params }) {
    const {statuses} = await $axios.$get(`/project/statuses`);
    const {company} = await $axios.$get(`/company/view/${params.slug}`);
    const {projects} = await $axios.$get(`/company/view/${params.slug}`);
    const {active_projects} = await $axios.$get(`/company/view/${params.slug}`);
    const {approved_projects} = await $axios.$get(`/company/view/${params.slug}`);
    const overall_point = await $axios.$get(`/company/point/api/${params.slug}`);
    const selectedStatus = {id: 3, name: "In Progress"};
    console.log("--------------------", company);

    const members = [];

    const vc_chairman = {
        names: company.vice_chairman.name,
        title: company.vice_chairman.specialty.name,
        company: company.name,
        role: 'Vice_Chairman',
        status: 'Active',
        img: require(`~/assets/profile/${company.vice_chairman.user.profile_pic}`),
    }
    members.push(vc_chairman);

    for (const a of company.advisers) {
      if ( a.name != company.vice_chairman.name ) {
        const adviser = {
            names: a.name,
            title: a.specialty.name,
            company: 'Stakeholder',
            role: 'Technical_Advisor',
            status: 'Active',
            img: require(`~/assets/profile/${a.user.profile_pic}`),
        }
        members.push(adviser);
      }
    };

    for (const m of company.company_members) {
      if (m.role == 'President' && m.status == 'Active') {
        const president = {
            names: m.student.name,
            title: m.student.batch.name,
            company: m.company.name,
            role: m.role,
            status: m.status,
            img: require(`~/assets/profile/${m.student.user.profile_pic}`),
        }
        members.push(president);
      }
    }

    for (const m of company.company_members) {
      if (m.role == 'Vice President' && m.status == 'Active') {
        const vice_president = {
          names: m.student.name,
          title: m.student.batch.name,
          company: company.name,
          role: m.role,
          status: m.status,
          img: require(`~/assets/profile/${m.student.user.profile_pic}`),
        }
        members.push(vice_president);
      }
    }

    for (const m of company.company_members) {
      if ( m.status == 'Active' &&  m.role == 'Former President' || m.status == 'Active' && m.role == 'Former Vice President') {
        const member = {
          names: m.student.name,
          title: m.student.batch.name,
          company: company.name,
          role: m.role,
          status: m.status,
          img: require(`~/assets/profile/${m.student.user.profile_pic}`),
        }
        members.push(member);
      }
    };

    for (const m of company.company_members) {
      if ( m.status == 'Active' &&  m.role == 'Member' ) {
        const member = {
          names: m.student.name,
          title: m.student.batch.name,
          company: company.name,
          role: m.role,
          status: m.status,
          img: require(`~/assets/profile/${m.student.user.profile_pic}`),
        }
        members.push(member);
      }
    };

    for (const m of company.company_members) {
      if ( m.status == 'Inactive' &&  m.role == 'Former President' ) {
        const member = {
          names: m.student.name,
          title: m.student.batch.name,
          company: company.name,
          role: m.role,
          status: m.status,
          img: require(`~/assets/profile/${m.student.user.profile_pic}`),
        }
        members.push(member);
      }
    };

    for (const m of company.company_members) {
      if ( m.status == 'Inactive' &&  m.role == 'Former Vice President' ) {
        const member = {
          names: m.student.name,
          title: m.student.batch.name,
          company: company.name,
          role: m.role,
          status: m.status,
          img: require(`~/assets/profile/${m.student.user.profile_pic}`),
        }
        members.push(member);
      }
    };

    for (const m of company.company_members) {
      if ( m.status == 'Inactive' &&  m.role == 'Former Member' ) {
        const member = {
          names: m.student.name,
          title: m.student.batch.name,
          company: company.name,
          role: m.role,
          status: m.status,
          img: require(`~/assets/profile/${m.student.user.profile_pic}`),
        }
        members.push(member);
      }
    };

    const member_count = {
      management: company.advisers.length,
      active: 0,
      inactive: 0
    }

    for (const a of company.company_members) {
      if(a.status=='Active'){
        member_count.active += 1
      }else{
        member_count.inactive += 1
      }
    }

    const info = [
      {
        headText: "Working Hour",
        num: 16901
      }, {
        headText: "Actual KIT Point",
        num: overall_point.actual[0],
        color: "#E68618",
      }, {
        headText: "Project Est. Point",
        num: overall_point.estimate[0],
      }, {
        headText: "Propose Point",
        num: overall_point.propose[0],
        color: "#CA2882"
      }, {
        headText: "Acquire Point",
        num: overall_point.acquire[0],
        color: "#5151D3"
      },
    ];
    const companies = {
      name: company.name,
      category: company.company_category.name,
      vice_chairman: company.vice_chairman.name,
      description: company.description,
      president: {
        name: company.president.name,
        rank: company.president.rank.name
      },
      date: {
        index1:{
          date: '2020-11-21',
          percentage: '69.75%',
          member: [
            {
              name: "Eko Kamamatsu",
              point: "62.87 %",
              percent: 62.87,
              color: '#64CF96'
            },{
              name: "Kosal Sotherny",
              point: "47.25 %",
              percent: 47.25,
              color: '#64CF96'
            },{
              name: "Pich Ream Arun",
              point: "38.24 %",
              percent: 38.24,
              color: '#64CF96'
            },{
              name: "Heng Mouyleng",
              point: "30.00 %",
              percent: 30,
              color: '#64CF96'
            },{
              name: "Kung Leakhana",
              point: "49.60 %",
              percent: 49.60,
              color: '#64CF96'
            },{
              name: "Srey Chan Reaksmey",
              point: "90.60 %",
              percent: 90.60,
              color: '#64CF96'
            }
          ],
        },
      },
      members: [
        {
          id: 0,
          names: "Bekku Kenzaburo",
          title: "Vice Chairman of A2A Town",
          company: "Strategic Planner",
          role: "Project_Coordinator",
          img: require("~/assets/default/profile.png"),
        },
        {
          id: 1,
          names: "Leo Fernandez",
          title: "Vice President of KIT",
          company: "Big Data",
          role: "Technical_Advisor",
          img: require("~/assets/default/profile.png"),
        },
        {
          id: 2,
          names: "Sam Visith",
          title: "Batch 3 DSE",
          company: "ICC",
          role: "Project_Leader",
          img: require("~/assets/profile/Sam Visith_95_861505.jpg"),
        },
        {
          id: 3,
          names: "Taichi Yabe",
          title: "Batch 7 DSE",
          company: "Non-Virtual Company",
          role: "Team Member",
          img: require("~/assets/default/profile.png"),
        },
        {
          id: 4,
          names: "Eko Kamamatsu",
          title: "Batch 5 DSE",
          company: "ICC",
          role: "Former Vice President",
          img: require("~/assets/default/profile.png"),
        },
        {
          id: 5,
          names: "Kosal Sotherny",
          title: "Batch 6 DSE",
          company: "",
          role: "Team Member",
          img: require("~/assets/profile/Kosal Sotherny_223_101366.jpg"),
        },
        {
          id: 6,
          names: "Pich Ream Arun",
          title: "Batch 6 DSE",
          company: "",
          role: "Team Member",
          img: require("~/assets/profile/Pich Ream Arun_201_245532.jpg"),
        },
        {
          id: 7,
          names: "Heng Mouyleng",
          title: "Batch 6 DSE",
          company: "IGNITE",
          role: "Team Member",
          img: require("~/assets/profile/Heng Mouyleng_155_692266.jpg"),
        },
      ],
      active_project: {
        project: active_projects
      },
      approved_project: {
        project: approved_projects
      },
      est_date: company.established_date,
      phone: '+855 98 723448',
      borey: 'Borey M',
      room: '49',
      website: 'NAN',
      linkedin: 'NAN',
      facebook: 'NAN',
      company_abbreviation: "ICC",
      profile: require(`~/assets/company/${company.logo}`),
      email: company.name,
      point: {
        working: 6901,
        estimate: 501.9,
        actual: 301.9,
        propose: 201.1,
        acquire: 500
      },
      semester: [
        {
          title: "Semester 1",
          rank: 'Rank A',
          estimate:5, 
          actual:7, 
          propose:9, 
          acquire:11,
          working: "0",
          average: "0",
          percent: 0,
          color: '#FFF',
        },{
          title: "Semester 2",
          rank: 'Rank A',
          estimate:3, 
          actual:5, 
          propose:7, 
          acquire:9,
          working: "183",
          average: "220",
          percent: 83.18,
          color: '#4ECCD1'
        },
        {
          title: "Semester 3",
          rank: 'Rank A',
          estimate:5, 
          actual:7, 
          propose:9, 
          acquire:11,
          working: "118",
          average: "440",
          percent: 26.81,
          color: '#CA2882'
        },
        {
          title: "Semester 4",
          rank: 'Rank A',
          estimate:3, 
          actual:5, 
          propose:7, 
          acquire:9,
          working: "87",
          average: "440",
          percent: 19.77,
          color: '#CA2882'
        },
        {
          title: "Semester 5",
          rank: 'Rank A',
          estimate:5, 
          actual:7, 
          propose:9, 
          acquire:11,
          working: "197",
          average: "660",
          percent: 29.84,
          color: '#CA2882'
        },
        {
          title: "Semester 6",
          rank: 'Rank A',
          estimate:3, 
          actual:5, 
          propose:7, 
          acquire:9,
          working: "0",
          average: "660",
          percent: 0,
          color: '#4ECCD1'
        }, {
          title: "Semester 7",
          rank: 'Rank A',
          estimate:5, 
          actual:7, 
          propose:9, 
          acquire:11,
          working: "0",
          average: "0",
          percent: 0,
          color: '#FFF'
        }, {
          title: "Semester 8",
          rank: 'Rank A',
          estimate:3, 
          actual:5, 
          propose:7, 
          acquire:9,
          working: "0",
          average: "0",
          percent: 0,
          color: '#FFF'
        }
      ],
    };
    return { overall_point, info, company, companies, projects, members, statuses, selectedStatus, member_count };
  },
  computed: {
    display() {
      switch (this.$vuetify.breakpoint.name) {
        case "xs":
          return "none !important";
        case "sm":
          return "none !important";
        case "md":
          return "none !important";
        case "lg":
          return "block !important";
        case "xl":
          return "block !important";
      }
    },
    hidden() {
      switch (this.$vuetify.breakpoint.name) {
        case "xs":
          return "none !important";
        case "sm":
          return "block !important";
        case "md":
          return "block !important";
        case "lg":
          return "block !important";
        case "xl":
          return "block !important";
      }
    },
  },
  data: () => ({
    search: '',
    overall_point: {},
    company: [],
    selectedPage: {id: 10, name:"10"},
    pages: [
      {id: 10, name:"10"},
      {id: 20, name:"20"},
      {id: 50, name:"50"},
      {id: 100, name:"100"}
    ],
    items: [
      {
        text: "Mains",
      },
      {
        text: "Company",
      },
      {
        text: "View",
      },
    ],
    headers: [
      { text: "", value: "range", width: "3%", align: "center" },
      { text: "Project Name", value: "name", width: "24%", align: "left" },
      { text: "Project Leader", value: "project_leader.name", width: "10%" },
      { text: "Actual Point", value: "actual_point", width: "10%" },
      { text: "Acquire", value: "acquire_point", width: "10%" },
      { text: "Start Date", value: "start_date", width: "10%" },
      { text: "End Date", value: "end_date", width: "10%" },
      { text: "Deadline", value: "deadline", width: "10%" },
      { text: "Status", value: "status.name", width: "10%" },
      { text: "Details", value: "data-table-expand", width: "3%", align: "center" },
    ],
    body: [
      {
        name: "KIT Point Management System 5.0",
        actual_point: 93.44,
        acquire_point: 0.00,
        start_date: "2020-12-16",
        end_date: "None",
        deadline: "2021-06-16",
        status: {
          name: "In Progress"
        }
      },
      {
        name: "Admin Management Support",
        actual_point: 12.37,
        acquire_point: 0.00,
        start_date: "2021-03-22",
        end_date: "None",
        deadline: "2021-06-22",
        status: {
          name: "In Progress"
        }
      }
    ]
  }),
  components: {
    Title,
    Subtitle,
    Skillset,
    Overall,
    Profile,
    Search,
    Page,
    Datatable,
    DialogProfile,
    TextCard,
    Member,
    Info
  },
};
</script>

<style lang="scss" scoped>
</style>
