<template>
  <v-container fluid class="px-0">
    <v-row class="pt-14 px-3" justify="space-between" align="center">
      <v-col class="pa-0">
        <div class="text-left">
          <Title :items="items" />
        </div>
      </v-col>
    </v-row>
    <v-row justify="center" align="start">
      <v-col cols="12" lg="9" class="my-7">
        <v-row>
          <v-col lg="4" md="4" class="py-1">
            <StudentSearch :data="user" />
          </v-col>
          <v-col lg="8" md="8" class="py-1">
            <Subtitle
              :title="
                findCompany(user.student.company_members, companies).company
                  .code
              "
              icon="mdi-domain"
              class="mb-2"
            />
            <ProgressBar
              title="Progress"
              :acquire="overall_point[2].percentage"
            />
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <Dashboard
              tabname="Projects"
              :users="user"
              :skillset_data="skillset_data"
              :project_data="project_wise"
              :semester_data="semesters"
            />
          </v-col>
        </v-row>
        <v-row :style="'display:' + display">
          <v-col>
            <Info :items="info" />
          </v-col>
        </v-row>
      </v-col>
      <v-col
        cols="12"
        lg="3"
        class="my-5"
        :style="'flex-direction:column;display:' + display"
      >
        <Overall
          :data="overall_point"
          :semester_data="working_hours"
          style="height: 740px"
        />
      </v-col>
    </v-row>
    <v-row class="mt-0">
      <v-col cols="12" lg="2" md="3" sm="3" class="py-1">
        <Subtitle title="Ongoing Task" icon="mdi-account" />
      </v-col>
      <v-col cols="12" lg="8" md="9" sm="9" class="py-1">
        <Search v-model="search" />
      </v-col>
      <v-col cols="2" sm="0" md="0" class="py-1" :style="'display:' + display">
        <Page title="Page" />
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <Datatable :headers="headers" :body="body" :search="search" />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Title from "~/components/title/user_friendly.vue";
import Subtitle from "~/components/card/subtitle.vue";
import ProgressBar from "~/components/card/progress_bar.vue";
import Overall from "~/components/card/overall.vue";
import Dashboard from "~/components/graph/dashboard.vue";
import Info from "~/components/graph/graph_info.vue";
import Search from "~/components/input/search.vue";
import StudentSearch from "~/components/input/student_search.vue";
import Page from "~/components/selector/label_selector.vue";
import Datatable from "~/components/datatable/table.vue";

export default {
  methods: {
    findCompany(companylist, nonvc) {
      if (companylist.length < 1) {
        return nonvc;
      } else {
        for (let company in companylist) {
          if (companylist[company].status == "Active") {
            return companylist[company];
          }
        }
        return nonvc;
      }
    },
  },

  middleware: "authenticated",
  async asyncData({ $axios, params }) {
    const { user } = await $axios.$get(`/student/profile/155`);
    const { company } = await $axios.$get(`/company/view/13`);
    const semester_wise = await $axios.$get(
      `/student/semester/wise/point/api/${user.student.id}`
    );
    const overall_points = await $axios.$get(
      `/student/overall/point/api/${user.student.id}`
    );
    const working_hour = await $axios.$get(
      `/student/student/working/hour/api/${user.student.id}`
    );
    const skill = await $axios.$get(`/student/skill_set_capacity/${user.id}`);
    const projects = await $axios.$get(
      `/student/project/wise/point/api/${user.student.id}`
    );
    console.log("--------------------", user);

    const semesters = [];
    const companies = {
      category: company.company_category.name,
      vice_chairman: company.vice_chairman.name,
      description: company.description,
      company: {
        name: company.name,
        code: "NVC",
        logo: company.logo,
        president: {
          name: company.president.name,
          rank: company.president.rank.name,
        },
      },
      role: "Member",
    };
    for (const s of semester_wise.semesters) {
      const semester = {
        title: s,
        rank: "Rank A",
        estimate: 5,
        actual: 7,
        propose: 9,
        acquire: 11,
        working: "0",
        average: "0",
        percent: 0,
        color: "#FFF",
      };
      semesters.push(semester);
    }

    const info = [
      {
        headText: "Working Hour",
        num: 6901,
      },
      {
        headText: "Projects",
        num: overall_points.all_projects,
      },
      {
        headText: "Actual KIT Point",
        num: overall_points.actual[0],
        color: "#D95F02",
      },
      {
        headText: "Target Point",
        num: overall_points.target_point,
        color: "#9B59B6",
      },
      {
        headText: "Propose Point",
        num: overall_points.propose[0],
        color: "#34495E",
      },
      {
        headText: "Acquire Point",
        num: overall_points.acquire[0],
        color: "#3498DB",
      },
    ];

    const project_wise = [];
    for (const project_acquire of projects.acquire) {
      const project_wises = {
        project_name: project_acquire.label,
        estimate: 3,
        propose: 7,
        actual: 14,
        acquire: project_acquire.y,
      };
      project_wise.push(project_wises);
    }

    for (const project_actual of projects.actual) {
      const project_actuals = {
        // project_name: project_actual.label,
        // estimate:3,
        actual: project_actual.y,
        // propose:7,
      };
      project_wise.push(project_actuals);
    }

    const skillset_data = [];
    for (const [key, value] of Object.entries(skill.skill_set)) {
      const s = {
        title: key,
        point: `% ${((value / skill.max_skill_capacity) * 100).toFixed(2)}`,
        percent: ((value / skill.max_skill_capacity) * 100).toFixed(2),
        color: "#26B99A",
      };
      skillset_data.push(s);
    }

    const working_hours = [];
    for (const wh of working_hour) {
      const semester = {
        title: wh.semester,
        report: wh.report_session,
        average: wh.average_hour,
        percent: (wh.actual_hour / wh.average_hour) * 100,
        color: wh.actual_hour > wh.average_hour / 2 ? "#5a90bf" : "#D95F02",
      };
      working_hours.push(semester);
    }
    const overall_point = [
      {
        point: "Actual",
        value: overall_points.actual[0],
      },
      {
        point: "Propose",
        value: overall_points.propose[0],
      },
      {
        point: "Acquire",
        value: overall_points.acquire[0],
        percentage: (overall_points.acquire[0] / 270) * 100,
      },
    ];
    return {
      user,
      working_hours,
      overall_point,
      skillset_data,
      project_wise,
      info,
      semester_wise,
      semesters,
      companies,
    };
  },
  computed: {
    display() {
      switch (this.$vuetify.breakpoint.name) {
        case "xs":
          return "none !important";
        case "sm":
          return "none !important";
        case "md":
          return "none !important";
        case "lg":
          return "flex !important";
        case "xl":
          return "flex !important";
      }
    },
  },
  data: () => ({
    search: "",
    pages: [10, 25, 50, 100],
    info: [
      {
        headText: "Working Hour",
        num: 6901,
      },
      {
        headText: "Project",
        num: 7,
      },
      {
        headText: "Actual KIT Point",
        num: 301.9,
        color: "#fba236",
      },
      {
        headText: "Propose Point",
        num: 201.1,
        color: "#bd5c92",
      },
      {
        headText: "Acquire Point",
        num: 500,
        color: "#6666da",
      },
      {
        headText: "Target Point",
        num: 170,
        color: "",
      },
    ],
    items: [
      {
        text: "Dashboard",
      },
      {
        text: "Student Dashboard",
      },
    ],
    users: {
      name: "Heng Mouyleng",
      role: "Member",
      company_abbreviation: "ICC",
      batch: "Batch 6 SE",
      logo: require("~/assets/profile/Heng Mouyleng_155_692266.jpg"),
      rank: "Rank B",
      company: "Incubation Center",
      point: {
        working: 6901,
        estimate: 501.9,
        actual: 301.9,
        propose: 201.1,
        acquire: 500,
      },
      skill: [
        {
          title: "UI / UX Designing",
          point: "62.87 %",
          percent: 62.87,
          color: "#64CF96",
        },
        {
          title: "VueJS",
          point: "47.25 %",
          percent: 47.25,
          color: "#64CF96",
        },
        {
          title: "NuxtJS",
          point: "38.24 %",
          percent: 38.24,
          color: "#64CF96",
        },
        {
          title: "Project Management",
          point: "30.00 %",
          percent: 30,
          color: "#64CF96",
        },
        {
          title: "Flask",
          point: "49.60 %",
          percent: 49.6,
          color: "#64CF96",
        },
        {
          title: "Database",
          point: "90.60 %",
          percent: 90.6,
          color: "#64CF96",
        },
        {
          title: "Translation",
          point: "27.02 %",
          percent: 27.02,
          color: "#64CF96",
        },
        {
          title: "UI / UX Designing",
          point: "62.87 %",
          percent: 62.87,
          color: "#64CF96",
        },
        {
          title: "VueJS",
          point: "47.25 %",
          percent: 47.25,
          color: "#64CF96",
        },
        {
          title: "NuxtJS",
          point: "38.24 %",
          percent: 38.24,
          color: "#64CF96",
        },
      ],
      project: [
        {
          project_name: "KITPOINT Management System 5.0",
          estimate: 3,
          actual: 5,
          propose: 7,
          acquire: 9,
        },
        {
          project_name:
            "Full Stack Bootcamp (Vue.js, Node.js) with Mr. Vignesh",
          estimate: 5,
          actual: 7,
          propose: 9,
          acquire: 11,
        },
        {
          project_name: "Python Bootcamp 4",
          estimate: 3,
          actual: 5,
          propose: 7,
          acquire: 9,
        },
        {
          project_name: "B6 Sec A Atcoder Training",
          estimate: 5,
          actual: 7,
          propose: 9,
          acquire: 11,
        },
        {
          project_name: "Event Photography for Guest Visit KIT",
          estimate: 3,
          actual: 5,
          propose: 7,
          acquire: 9,
        },
        {
          project_name: "VKIS - Tech Teaching",
          estimate: 5,
          actual: 7,
          propose: 9,
          acquire: 11,
        },
        {
          project_name: "KIT Student Recruitment 2019",
          estimate: 3,
          actual: 5,
          propose: 7,
          acquire: 9,
        },
      ],
      semester: [
        {
          title: "Semester 1",
          rank: "Rank A",
          estimate: 5,
          actual: 7,
          propose: 9,
          acquire: 11,
          working: "0",
          average: "0",
          percent: 0,
          color: "#FFF",
        },
        {
          title: "Semester 2",
          rank: "Rank A",
          estimate: 3,
          actual: 5,
          propose: 7,
          acquire: 9,
          working: "183",
          average: "220",
          percent: 83.18,
          color: "#4ECCD1",
        },
        {
          title: "Semester 3",
          rank: "Rank A",
          estimate: 5,
          actual: 7,
          propose: 9,
          acquire: 11,
          working: "118",
          average: "440",
          percent: 26.81,
          color: "#CA2882",
        },
        {
          title: "Semester 4",
          rank: "Rank A",
          estimate: 3,
          actual: 5,
          propose: 7,
          acquire: 9,
          working: "87",
          average: "440",
          percent: 19.77,
          color: "#CA2882",
        },
        {
          title: "Semester 5",
          rank: "Rank A",
          estimate: 5,
          actual: 7,
          propose: 9,
          acquire: 11,
          working: "197",
          average: "660",
          percent: 29.84,
          color: "#CA2882",
        },
        {
          title: "Semester 6",
          rank: "Rank A",
          estimate: 3,
          actual: 5,
          propose: 7,
          acquire: 9,
          working: "0",
          average: "660",
          percent: 0,
          color: "#4ECCD1",
        },
        {
          title: "Semester 7",
          rank: "Rank A",
          estimate: 5,
          actual: 7,
          propose: 9,
          acquire: 11,
          working: "0",
          average: "0",
          percent: 0,
          color: "#FFF",
        },
        {
          title: "Semester 8",
          rank: "Rank A",
          estimate: 3,
          actual: 5,
          propose: 7,
          acquire: 9,
          working: "0",
          average: "0",
          percent: 0,
          color: "#FFF",
        },
      ],
    },
    project: [
      {
        point: "Actual",
        value: 301.9,
      },
      {
        point: "Propose",
        value: 201.1,
      },
      {
        point: "Acquire",
        value: 500,
      },
    ],
    headers: [
      { text: "", value: "id", width: "3%", align: "center" },
      { text: "Task Name", value: "task_name", width: "34%" },
      { text: "Actual Hour", value: "actual_hour", width: "15%" },
      { text: "Planning Hour", value: "planning_hour", width: "15%" },
      { text: "Start Date", value: "start_date", width: "15%" },
      { text: "Deadline", value: "deadline", width: "15%" },
      {
        text: "Details",
        value: "data-table-expand",
        width: "3%",
        align: "center",
      },
    ],
    body: [
      {
        id: 1,
        value: false,
        task_name: "Content Creation",
        actual_hour: "0",
        planning_hour: "10",
        start_date: "2021-03-01",
        deadline: "2021-04-01",
      },
      {
        id: 2,
        value: false,
        task_name: "Content Creation",
        actual_hour: "0",
        planning_hour: "10",
        start_date: "2021-03-01",
        deadline: "2021-04-01",
      },
      {
        id: 3,
        value: false,
        task_name: "Content Creation",
        actual_hour: "0",
        planning_hour: "10",
        start_date: "2021-03-01",
        deadline: "2021-04-01",
      },
      {
        id: 4,
        value: false,
        task_name: "Content Creation",
        actual_hour: "0",
        planning_hour: "10",
        start_date: "2021-03-01",
        deadline: "2021-04-01",
      },
      {
        id: 5,
        value: false,
        task_name: "Acting",
        actual_hour: "0",
        planning_hour: "10",
        start_date: "2021-03-01",
        deadline: "2021-04-01",
      },
      {
        id: 6,
        task_name: "Directing",
        actual_hour: 10.5,
        planning_hour: "In Progress",
        start_date: "2020-02-11",
        deadline: "2021-05-20",
      },
      {
        id: 7,
        task_name: "Content Creation",
        actual_hour: 13.3,
        planning_hour: "In Progress",
        start_date: "2020-12-01",
        deadline: "2021-02-20",
      },
      {
        id: 8,
        task_name: "Acting",
        actual_hour: 30,
        planning_hour: "In Progress",
        start_date: "2020-12-26",
        deadline: "2021-09-20",
      },
      {
        id: 9,
        task_name: "Directing",
        actual_hour: 10.5,
        planning_hour: "In Progress",
        start_date: "2020-02-11",
        deadline: "2021-05-20",
      },
      {
        id: 10,
        task_name: "Content Creation",
        actual_hour: 13.3,
        planning_hour: "In Progress",
        start_date: "2020-12-01",
        deadline: "2021-02-20",
      },
      {
        id: 11,
        task_name: "Acting",
        actual_hour: 30,
        planning_hour: "In Progress",
        start_date: "2020-12-26",
        deadline: "2021-09-20",
      },
      {
        id: 12,
        task_name: "Directing",
        actual_hour: 10.5,
        planning_hour: "In Progress",
        start_date: "2020-02-11",
        deadline: "2021-05-20",
      },
      {
        id: 13,
        task_name: "Content Creation",
        actual_hour: 13.3,
        planning_hour: "In Progress",
        start_date: "2020-12-01",
        deadline: "2021-02-20",
      },
      {
        id: 14,
        task_name: "Acting",
        actual_hour: 30,
        planning_hour: "In Progress",
        start_date: "2020-12-26",
        deadline: "2021-09-20",
      },
      {
        id: 15,
        task_name: "Directing",
        actual_hour: 10.5,
        planning_hour: "In Progress",
        start_date: "2020-02-11",
        deadline: "2021-05-20",
      },
      {
        id: 16,
        task_name: "Content Creation",
        actual_hour: 13.3,
        planning_hour: "In Progress",
        start_date: "2020-12-01",
        deadline: "2021-02-20",
      },
      {
        id: 17,
        task_name: "Acting",
        actual_hour: 30,
        planning_hour: "In Progress",
        start_date: "2020-12-26",
        deadline: "2021-09-20",
      },
      {
        id: 18,
        task_name: "Directing",
        actual_hour: 10.5,
        planning_hour: "In Progress",
        start_date: "2020-02-11",
        deadline: "2021-05-20",
      },
      {
        id: 19,
        task_name: "Content Creation",
        actual_hour: 13.3,
        planning_hour: "In Progress",
        start_date: "2020-12-01",
        deadline: "2021-02-20",
      },
      {
        id: 20,
        task_name: "Acting",
        actual_hour: 30,
        planning_hour: "In Progress",
        start_date: "2020-12-26",
        deadline: "2021-09-20",
      },
    ],
  }),
  components: {
    Title,
    Subtitle,
    ProgressBar,
    Overall,
    Dashboard,
    Info,
    Search,
    StudentSearch,
    Page,
    Datatable,
  },
};
</script>

<style lang="scss" scoped>
</style>
