<template>
  <v-container fluid class="d-flex px-5 py-16 justify-center align-center">
    <v-app-bar class="white mx-3" flat fixed height="80px">
      <v-avatar>
        <img src="../assets/logo/KPMS.png" />
      </v-avatar>
      <v-spacer></v-spacer>
      <v-toolbar-items class="pa-0 hidden-sm-and-down">
        <v-btn class="text-capitalize font-weight-regular" button text tile
          >Term and Conditions
        </v-btn>
        <v-btn
          width="150"
          class="text-capitalize font-weight-regular"
          button
          text
          tile
          >About
        </v-btn>
      </v-toolbar-items>
      <div class="pr-2">
        <v-btn
          color="primary"
          outlined
          elevation="0"
          width="150"
          rounded
          class="text-capitalize"
          @click="active_tab = 1"
        >
          Register
        </v-btn>
      </div>
      <div class="pl-2">
        <v-btn
          color="primary"
          elevation="0"
          width="150"
          rounded
          class="text-capitalize"
          @click="active_tab = 0"
        >
          Login
        </v-btn>
      </div>
      <div class="pl-10">
        <v-btn icon>
          <v-icon>mdi-information</v-icon>
        </v-btn>
      </div>
    </v-app-bar>
    <v-app-bar class="hidden-md-and-up white mx-3" flat fixed height="80px">
      <v-avatar>
        <img src="../assets/logo/KPMS.png" alt="" />
      </v-avatar>
      <v-spacer></v-spacer>
      <v-app-bar-nav-icon
        class="hidden-md-and-up"
        @click.stop="drawer = !drawer"
      ></v-app-bar-nav-icon>
    </v-app-bar>
    <v-navigation-drawer
      class="hidden-md-and-up"
      :width="350"
      right
      v-model="drawer"
      absolute
      temporary
    >
      <v-list nav class="pt-3">
        <v-list-item-group class="ma-5" no-action v-model="group">
          <v-list-item v-for="item in items" :key="item.title">
            <v-list-item-content>
              <div class="d-flex justify-space-between">
                <v-list-item-title>{{ item.title }}</v-list-item-title>
                <v-icon>mdi-chevron-right</v-icon>
              </div>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
        <v-list-item-content>
          <v-list-item-title>
            <div
              class="grey--text text--darken-1 title-1 font-weight-light mx-8"
            >
              Enter your personal<v-spacer></v-spacer>Information and Join us!
            </div>
          </v-list-item-title>
        </v-list-item-content>
        <v-list-item-group v-model="group">
          <v-list-item-action>
            <div class="px-5 d-flex">
              <div class="pr-2">
                <v-btn
                  color="primary"
                  elevation="0"
                  width="120"
                  rounded
                  class="text-capitalize"
                  @click="
                    active_tab = 0;
                    closeDrawer();
                  "
                >
                  Sign In
                </v-btn>
              </div>
              <div class="pl-2">
                <v-btn
                  color="primary"
                  elevation="0"
                  width="130"
                  rounded
                  outlined
                  class="text-capitalize"
                  @click="
                    active_tab = 1;
                    closeDrawer();
                  "
                >
                  Register
                </v-btn>
              </div>
            </div>
          </v-list-item-action>
        </v-list-item-group>
        <v-list-item-group class="pt-5" v-model="group">
          <v-list-item
            class="px-5"
            v-for="subItem in subItems"
            :key="subItem.title"
          >
            <v-list-item-icon>
              <v-icon v-text="subItem.icon"></v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title v-text="subItem.title"></v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
    <v-card
      class="lighten-3 grey--text text--darken-2 d-flex px-0"
      style="border: none"
      outlined
      height="500px"
      width="1000px"
    >
      <v-row class="">
        <v-col cols="12" md="7" :class="margin + ' py-10'">
          <div
            style="font-size: 25px"
            class="text-h5"
            v-show="active_tab === 0"
          >
            <span class="mr-5">Welcome Back!</span>/<span
              class="ml-4"
              style="font-family: Boku"
              >ようこそ !</span
            >
            <p class="grey--text text--darken-1 pa-0 subtitle-1">
              Please login to your account.
            </p>
            <v-card
              class="d-flex mt-7"
              width="100%"
              height="38"
              outlined
              style="border: 0.5px solid #d1d0ce !important"
            >
              <v-card-text class="d-flex pa-0 align-center justify-center">
                <div class="px-4 ma-0">
                  <v-icon>mdi-account-outline</v-icon>
                </div>
                <v-spacer></v-spacer>
                <input
                  class="
                    align-start
                    justify-center
                    width-calc
                    py-0
                    grey--text
                    text--darken-1
                  "
                  placeholder="Username / Email"
                  style="outline: none"
                  v-model="username"
                />
              </v-card-text>
            </v-card>
            <v-card
              class="d-flex mt-3"
              width="100%"
              height="38"
              outlined
              style="border: 0.5px solid #d1d0ce !important"
            >
              <v-card-text class="d-flex pa-0 align-center justify-center">
                <div class="px-4 ma-0">
                  <v-icon>mdi-lock-outline</v-icon>
                </div>
                <v-spacer></v-spacer>
                <input
                  class="
                    align-start
                    justify-center
                    width-calc
                    py-0
                    grey--text
                    text--darken-1
                  "
                  placeholder="Password"
                  style="outline: none"
                  v-model="password"
                />
              </v-card-text>
            </v-card>
            <div class="d-flex mt-3 justify-space-between caption">
              <div class="d-flex pa-0 align-center">
                <v-checkbox
                  label="Remember me"
                  v-model="rememberMe"
                  color="primary"
                ></v-checkbox>
              </div>
              <div class="d-flex" @click="dialog = true">Forgot password?</div>
              <v-dialog v-model="dialog" :max-width="width">
                <v-card tile outlined class="py-3">
                  <v-card-title class="px-11">
                    <div style="font-size: 22px; color: #627080">
                      Reset Password
                      <div
                        style="font-size: 14px"
                        class="py-0 font-weight-regular"
                      >
                        Resetting Password Form
                      </div>
                    </div>
                  </v-card-title>
                  <v-card-text>
                    <v-container fluid>
                      <v-form ref="form" v-model="valid">
                        <v-row class="mx-2">
                          <div class="caption">KIT Email</div>
                          <v-card
                            height="40px"
                            width="100%"
                            outlined
                            class="d-flex"
                            style="border: 1px solid grey"
                          >
                            <v-card-title class="py-0 pr-0">
                              <v-icon
                                class="pr-3"
                                size="20"
                                style="border-right: 1px solid grey"
                                >mdi-email-box</v-icon
                              >
                            </v-card-title>
                            <v-card-title class="pa-0 px-0" style="width: 100%">
                              <v-text-field
                                type="text"
                                class="
                                  subtitle-1
                                  align-start
                                  justify-center
                                  width-calc
                                  py-0
                                  grey--text
                                  text--darken-1
                                "
                                dense
                                clearable
                                solo
                                maxlength="50"
                                label="Email"
                                style="outline: none; width: 100%"
                                v-model="editedItem.email"
                                :counter="50"
                                :rules="rules.emailRules"
                                required
                              ></v-text-field>
                            </v-card-title>
                          </v-card>
                        </v-row>
                        <v-row class="pt-7">
                          <v-col class="pa-0 px-5">
                            <div class="d-flex align-center justify-end">
                              <div class="pr-2">
                                <v-btn
                                  width="100"
                                  depressed
                                  color="text-capitalize white--text primary"
                                  @click="submitResetPW()"
                                  :disabled="!valid"
                                >
                                  Submit
                                </v-btn>
                              </div>
                              <div>
                                <v-btn
                                  width="100"
                                  depressed
                                  color="text-capitalize white--text red lighten-2"
                                  @click="dialog = false"
                                >
                                  Cancel
                                </v-btn>
                              </div>
                            </div>
                          </v-col>
                        </v-row>
                      </v-form>
                    </v-container>
                  </v-card-text>
                </v-card>
              </v-dialog>
            </div>
            <div class="d-flex mt-8 justify-space-between caption">
              <v-btn
                width="60%"
                outlined
                text
                class="white--text primary text-capitalize"
                @click="login"
              >
                Login
              </v-btn>
              <v-btn
                width="38%"
                outlined
                text
                class="white--text secondary text-capitalize"
              >
                Reset
              </v-btn>
            </div>
            <div class="caption my-3" :style="'display:' + hidden">
              Don't have an account?<a
                @click="active_tab = 1"
                class="
                  primary--text
                  text--darken-2 text-capitalize
                  font-weight-medium
                "
                >&nbsp;Sign up</a
              >
            </div>
            <div class="caption mt-10">
              By signing up, you agree to KIT Point Management System's
              <span
                class="
                  primary--text
                  text--darken-2 text-capitalize
                  font-weight-medium
                "
                >Term and Conditions</span
              >
              &
              <span
                class="
                  primary--text
                  text--darken-2 text-capitalize
                  font-weight-medium
                "
                >Privacy Policy</span
              >
            </div>
          </div>
          <div
            style="font-size: 25px"
            class="text-h5"
            v-show="active_tab === 1"
          >
            <span class="mr-5">Create an account</span>/<span
              class="ml-4"
              style="font-family: Boku"
              >アカウントの作成</span
            >
            <p class="grey--text text--darken-1 pa-0 subtitle-1">
              Please fill in your personal information.
            </p>
            <v-card
              class="d-flex mt-7"
              width="100%"
              height="38"
              outlined
              style="border: 0.5px solid #d1d0ce !important"
            >
              <v-card-text class="d-flex pa-0 align-center justify-center">
                <div class="px-4 ma-0">
                  <v-icon>mdi-account-outline</v-icon>
                </div>
                <v-spacer></v-spacer>
                <input
                  class="
                    align-start
                    justify-center
                    width-calc
                    py-0
                    grey--text
                    text--darken-1
                  "
                  placeholder="Username"
                  style="outline: none"
                  v-model="username"
                />
              </v-card-text>
            </v-card>
            <v-card
              class="d-flex mt-3"
              width="100%"
              height="38"
              outlined
              style="border: 0.5px solid #d1d0ce !important"
            >
              <v-card-text class="d-flex pa-0 align-center justify-center">
                <div class="px-4 ma-0">
                  <v-icon>mdi-email-outline</v-icon>
                </div>
                <v-spacer></v-spacer>
                <input
                  class="
                    align-start
                    justify-center
                    width-calc
                    py-0
                    grey--text
                    text--darken-1
                  "
                  placeholder="Email"
                  style="outline: none"
                  v-model="email"
                />
              </v-card-text>
            </v-card>
            <v-card
              class="d-flex mt-3"
              width="100%"
              height="38"
              outlined
              style="border: 0.5px solid #d1d0ce !important"
            >
              <v-card-text class="d-flex pa-0 align-center justify-center">
                <div class="px-4 ma-0">
                  <v-icon>mdi-lock-outline</v-icon>
                </div>
                <v-spacer></v-spacer>
                <!-- <input
                  class="
                    align-start
                    justify-center
                    width-calc
                    py-0
                    grey--text
                    text--darken-1
                  "
                  placeholder="Password"
                  style="outline: none"
                  v-model="password"
                /> -->
              </v-card-text>
            </v-card>
            <v-card
              class="d-flex mt-3"
              width="100%"
              height="38"
              outlined
              style="border: 0.5px solid #d1d0ce !important"
            >
              <v-card-text class="d-flex pa-0 align-center justify-center">
                <div class="px-4 ma-0">
                  <v-icon>mdi-lock-outline</v-icon>
                </div>
                <v-spacer></v-spacer>
                <input
                  class="
                    align-start
                    justify-center
                    width-calc
                    py-0
                    grey--text
                    text--darken-1
                  "
                  placeholder="Confirmed Password"
                  style="outline: none"
                  v-model="confirm_password"
                />
              </v-card-text>
            </v-card>
            <div class="d-flex mt-8 justify-space-between caption">
              <v-btn
                width="60%"
                outlined
                text
                class="white--text primary text-capitalize"
                @click="signup"
              >
                Register
              </v-btn>

              <v-btn
                width="38%"
                outlined
                text
                class="white--text secondary text-capitalize"
              >
                Reset
              </v-btn>
            </div>
            <div class="caption my-3" :style="'display:' + hidden">
              Already have an account?<a
                @click="active_tab = 0"
                class="
                  primary--text
                  text--darken-2 text-capitalize
                  font-weight-medium
                "
                >&nbsp;Sign In</a
              >
            </div>
            <div class="caption mt-10">
              By signing up, you agree to KIT Point Management System's
              <span
                class="
                  primary--text
                  text--darken-2 text-capitalize
                  font-weight-medium
                "
                >Term and Conditions</span
              >
              &
              <span
                class="
                  primary--text
                  text--darken-2 text-capitalize
                  font-weight-medium
                "
                >Privacy Policy</span
              >
            </div>
          </div>
        </v-col>
        <v-col
          cols="12"
          md="5"
          class="mt-16 d-flex justify-center align-center pb-16"
          :style="
            'border-radius: 0 40px 40px 0;background-color: #F6F6F6;display:' +
            display
          "
        >
          <div
            style="font-size: 25px"
            class="text-h5 text-center py-12"
            v-show="active_tab === 0"
          >
            <span>Don't have an account ?</span>
            <v-spacer></v-spacer>
            <div
              class="
                grey--text
                text--darken-1
                subtitle-2
                font-weight-light
                ma-0
                mt-3
              "
            >
              Enter your personal<v-spacer></v-spacer>information and join us!
            </div>
            <v-spacer></v-spacer>
            <v-btn
              width="100%"
              outlined
              text
              class="text-capitalize mt-10"
              style="border: 1px solid #979797; border-radius: 20px"
              @click="active_tab = 1"
              >SIGN UP</v-btn
            >
          </div>
          <div
            style="font-size: 25px"
            class="text-h5 text-center py-12"
            v-show="active_tab === 1"
          >
            <span>Already have an account ?</span>
            <v-spacer></v-spacer>
            <div
              class="
                grey--text
                text--darken-1
                subtitle-2
                font-weight-light
                ma-0
                mt-3
              "
            >
              Keep connect with us and <v-spacer></v-spacer>login with your
              personal info
            </div>
            <v-spacer></v-spacer>
            <v-btn
              width="100%"
              outlined
              text
              class="text-capitalize mt-10"
              style="border: 1px solid #979797; border-radius: 20px"
              @click="login"
              >SIGN IN</v-btn
            >
          </div>
        </v-col>
      </v-row>
    </v-card>
    <v-snackbar
      width="40px"
      v-model="snackbar"
      :timeout="timeout"
      color="#578DD2"
    >
      <div class="px-3">
        <v-icon color="white" class="px-3">mdi-check</v-icon>
        User Created! Please verify in email!
      </div>
    </v-snackbar>
    <v-snackbar
      width="40px"
      v-model="snackbarForgetpw"
      :timeout="timeout"
      color="#578DD2"
    >
      <div class="px-3">
        <v-icon color="white" class="px-3">mdi-check</v-icon>
        Your password is already reset! Please check your email!
      </div>
    </v-snackbar>
  </v-container>
</template>

<script>
import Subtitle from "~/components/card/subtitle.vue";
const Cookie = process.client ? require("js-cookie") : undefined;
export default {
  middleware: "notAuthenticated",
  layout: "session",
  data: () => ({
    valid: true,
    rules: {
      emailRules: [
        (v) => !!v || "E-mail is required",
        // \S+@kit\.edu\.kh$ => KIT Email
        (v) => /.+@kit.+\..+/.test(v) || "E-mail must be KIT Email",
        (v) =>
          (v && v.length <= 50) || "Email must be less than 100 characters",
      ],
    },
    snackbarForgetpw: false,
    dialog: false,
    rememberMe: false,
    snackbar: false,
    timeout: 3000,
    items: [{ title: "Home" }, { title: "About" }, { title: "User Manual" }],
    subItems: [
      { title: "Terms and conditions", icon: "mdi-package-variant-closed" },
      { title: "Help", icon: "mdi-help-circle-outline" },
    ],
    drawer: false,
    group: null,
    active_tab: 0,
    username: "kitadmin",
    password: "admin",
    email: "mouylengheng25@gmail.com",
    confirm_password: "Mouyl3ngKPMS",
    editedItem: {
      email: "",
    },
  }),
  computed: {
    margin() {
      switch (this.$vuetify.breakpoint.name) {
        case "xs":
          return "mt-0";
        case "sm":
          return "mt-0";
        default:
          return "mt-16 pr-10";
      }
    },
    display() {
      switch (this.$vuetify.breakpoint.name) {
        case "xs":
          return "none !important";
        case "sm":
          return "none !important";
        default:
          return "flex !important";
      }
    },
    hidden() {
      switch (this.$vuetify.breakpoint.name) {
        case "xs":
          return "flex !important";
        case "sm":
          return "flex !important";
        default:
          return "none !important";
      }
    },
    width() {
      switch (this.$vuetify.breakpoint.name) {
        case "xl":
          return "30%";
        case "lg":
          return "40%";
        case "md":
          return "50%";
        case "sm":
          return "70%";
        default:
          "50%";
      }
    },
  },
  methods: {
    closeDrawer() {
      this.drawer = false;
    },
    async login() {
      try {
        this.active_tab = 0;
        await this.$axios({
          method: "post",
          url: "/login",
          data: {
            username: this.username,
            password: this.password,
          },
        }).then((res) => {
          console.log("Successfully authenticated", res);
          setTimeout(() => {
            // we simulate the async request with timeout.
            const auth = res.data.tokens.access_token;
            this.$store.commit("setAuth", auth); // mutating to store for client rendering
            this.$store.commit("setUser", res.data.user);
            Cookie.set("auth", auth); // saving token in cookie for server rendering
            Cookie.set("user", res.data.user);
            this.$router.push("/");
          }, 1000);
        });
      } catch (err) {
        console.log(err);
      }
    },
    async signup() {
      try {
        this.active_tab = 0;
        await this.$axios({
          method: "post",
          url: "/create_user",
          data: {
            email: this.email,
            username: this.username,
            password: this.password,
            confirm_password: this.confirm_password,
          },
        }).then((res) => {
          setTimeout(() => {
            this.snackbar = true;
          }, 5000);
          console.log("Successfully Registered", res);
        });
      } catch (err) {
        console.log(err);
      }
    },

    async submitResetPW() {
      await this.$axios({
        method: "put",
        url: "/forget_password",
        data: {
          email_reset: this.editedItem.email_reset,
        },
      }).then((res) => {
        this.snackbarForgetpw = true;
        this.dialog = false;
      });
    },
  },
  watch: {
    group() {
      this.drawer = false;
    },
  },
  components: {
    Subtitle,
  },
};
</script>

<style>
button.v-icon.notranslate.v-icon--link.mdi.mdi-close.theme--light {
  font-size: 15px !important;
}
div.v-input.theme--light.v-input--selection-controls.v-input--checkbox {
  margin-top: 0px;
  padding-top: 0px;
}
label.v-label.theme--light {
  font-size: 14px;
}
.width-calc {
  width: calc(100% - 50px);
}
@font-face {
  font-family: "Boku";
  src: url("@/assets/font/Boku.otf");
}
</style>