<template>
    <v-card-text tile class="d-flex align-center justify-center">
        <v-row class="d-flex">
            <v-col md="5" sm="4" class="justify-start d-flex pa-0 flex-column pr-2" style="border-right:1px solid gray;">
                <div class="grey--text font-weight-medium text-center text--darken-2 text-truncate">{{ data.main }}</div>
                <div class="text-h5 mt-3 text-center font-weight-medium text-truncate" style="color:#5E80AD">{{ data.main_data }}</div>
            </v-col>
            <v-col md="7" sm="8" class="pa-0" style="min-width:120px">
                <v-row class="mx-0 pl-1" style="border-bottom:1px solid gray;">
                    <v-col md="7" class="justify-center d-flex text-truncate">
                        <div class="caption grey--text text--darken-1">{{ data.tab_1 }}</div>
                    </v-col>
                    <v-col md="5" class="justify-center d-flex text-truncate">
                        <div class="caption grey--text text--darken-1">{{ data.tab_2 }}</div>
                    </v-col>
                </v-row>
                <v-row class="ma-0 mt-2 pl-1">
                    <v-col md="7" class="justify-center d-flex text-truncate">
                        <div class="subtitle-2 grey--text text--darken-1">{{ data.tab_1_data }}</div>
                    </v-col>
                    <v-col md="5" class="justify-center d-flex text-truncate">
                        <div class="subtitle-2 grey--text text--darken-1">{{ data.tab_2_data }}</div>
                    </v-col>
                </v-row>
            </v-col>
        </v-row>
    </v-card-text>
</template>
<script>
    export default {
        props: {
            data: {
                type: Object
            }
        }
    };
</script>