<template>
  <v-card width="100%" tile outlined style="border-top: 3px solid #5a90bf">
    <!-- <v-select
        class="align-center justify-center pb-6"
        :items="pages"
        item-text="name"
        dense
        outlined
        :value="itemsPerPage"
        transition="slide-y-reverse-transition"
        style="width: 150px"
        :hide-details="true"
        @change="itemsPerPage = parseInt($event, 10)"
      >
      </v-select> -->
    <v-data-table
      :headers="headers"
      :items="body"
      :single-expand="singleExpand"
      :expanded.sync="expanded"
      show-expand
      :header-props="{ 'sort-icon': 'mdi-chevron-up' }"
      hide-default-footer=""
      class="px-0"
      :search="search"
      :page.sync="page"
      :items-per-page="itemsPerPage"
      @page-count="pageCount = $event"
    >
      <template v-slot:[`item.data-table-expand`]="{ expand, isExpanded }">
        <v-icon @click="expand(!isExpanded)"
          >mdi-text-box-search-outline</v-icon
        >
      </template>

      <template v-slot:[`item.next_actions`]>
        <v-btn
          small
          depressed
          color="primary"
          width="100px"
          class="text-capitalize font-weight-regular"
          >Complete</v-btn
        >
      </template>

      <template v-slot:[`item.is_alumni`]>
        <v-checkbox dense hide-details="" color="primary"></v-checkbox>
      </template>

      <template v-slot:[`item.range`]="{ index }">
        <div>
          {{ index + 1 }}
        </div>
      </template>

      <template v-slot:expanded-item="{ headers }">
        <td :colspan="headers.length">
          <div class="d-flex justify-space-between align-center px-10">
            <div class="d-flex justify-space-between pl-5 py-3">
              <div class="py-3">
                <div class="pb-2">
                  <span class="font-weight-bold pr-5">Project ID:</span>
                  <span>QD-BP-01</span>
                </div>
                <div class="pt-2">
                  <span class="font-weight-bold pr-5">Category:</span>
                  <span>KIT Internal</span>
                </div>
              </div>
              <div class="py-3 pl-16">
                <div class="pb-2">
                  <span class="font-weight-bold pr-5">Project Advisor:</span>
                  <span>Mr. Visith</span>
                </div>
                <div class="pt-2">
                  <span class="font-weight-bold pr-5">Project Leader:</span>
                  <span>Heng Mouyleng</span>
                </div>
              </div>
            </div>
            <div>
              <v-btn
                width="160"
                to="/project/view/723"
                outlined
                text
                class="grey--text text--darken-2 text-capitalize"
              >
                <span class="pr-2"><v-icon>mdi-eye-outline</v-icon></span>
                <span>Preview</span>
              </v-btn>
              <v-btn
                outlined
                width="100"
                class="white--text primary text-capitalize"
              >
                <span>Edit</span>
              </v-btn>
              <v-btn
                outlined
                width="120"
                class="white--text red lighten-2 text-capitalize"
              >
                <span>Remove</span>
              </v-btn>
            </div>
          </div>
        </td>
      </template>
    </v-data-table>
    <v-card color="grey lighten-3" outlined tile>
      <v-card-text class="pa-0 py-2 pa-2 d-flex align-center justify-center">
        <div class="body-2 pl-2">
          Display 1 to {{ itemsPerPage }} of {{ totalItems }} Entries
        </div>
        <v-spacer></v-spacer>
        <div>
          <v-pagination
            :total-visible="7"
            v-model="page"
            :length="pageCount"
          ></v-pagination>
        </div>
      </v-card-text>
    </v-card>
  </v-card>
</template>

<script>
export default {
  props: {
    headers: { type: Array },
    body: { type: Array },
    search: { type: String },
  },
  data: () => ({
    expanded: [],
    singleExpand: false,
    page: 1,
    pageCount: 0,
    itemsPerPage: 10,
    pages: [5, 10, 20, 25],
    toggle_exclusive: undefined,
  }),
  computed: {
    totalItems() {
      return this.body.length;
    },
  },
  methods: {
    sumField(key) {
      // sum data in give key (property)
      return this.body.reduce((a, b) => a + (b[key] || 0), 0);
    },
  },
};
</script>

<style>
td,
th {
  border-right: 1px solid #d1d1d1 !important;
}
.v-data-table__expanded.v-data-table__expanded__content {
  box-shadow: none !important;
}
.pagination {
  display: inline-block;
}

.v-input__slot {
  align-items: center;
  justify-content: center;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
.v-pagination__item .v-pagination__item--active .primary {
  background-color: #e3e3e3 !important;
  border-color: #b8b8b8 !important;
  color: #606060 !important;
  font-size: 18px;
}

.v-pagination__item {
  border-radius: 0;
  font-size: 1rem;
  height: 43px;
  width: 54px;
  margin: 0;
  min-width: 34px;
  border: 1px solid #b8b8b8;
  /* padding: 0 3px; */
  text-decoration: none;
  transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
  box-shadow: none;
}
.v-pagination__navigation {
  box-shadow: none;
  border-radius: 0;
  display: inline-flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 1px solid #b8b8b8;
  height: 43px;
  width: 54px;
}
</style>
