<template>
  <v-card outlined tile style="border-top: 3px solid #5a90bf;">
    <v-row class="pa-0">
      <v-col md='9' :style="'display:'+display">
        <v-row class="px-16">
          <v-col>
            <v-tabs class="d-flex pa-0 py-4 pt-5" hide-slider color="#5E80AD" v-model="active_tab">
              <v-tab class="text-capitalize" :key="tab.index">
                <div class="d-flex align-center justify-start">
                  <div class="pa-0 title">Unassigned Student</div>
                </div>
              </v-tab>
              <v-tab class="text-capitalize" :key="tab.index">
                <div class="d-flex align-center justify-start">
                  <div class="pa-0 title">Ranking Percentage</div>
                </div>
              </v-tab>
            </v-tabs>
          </v-col>
          <v-col cols='5' class="d-flex justify-end align-center">
            <v-select
              prepend-inner-icon="mdi-domain"
              class="subtitle-1 grey--text text--darken-1"
              flat
              solo
              v-show="active_tab === 0"
              hide-details="true"
              :items="depList"
              item-text="name" item-value="id" 
              v-model='selectedDep'
              v-on:change='onSelectDep'
              label="Department"
            >
            </v-select>
            <v-select
              prepend-inner-icon="mdi-domain"
              class="subtitle-1 grey--text text--darken-1"
              flat
              solo
              v-show="active_tab === 1"
              hide-details="true"
              :items="depList_ranking"
              item-text="name" item-value="id" 
              v-model='selectedDep_ranking'
              v-on:change='onSelectDepRanking'
              label="Department"
            >
            </v-select>
            <v-select
              prepend-inner-icon="mdi-domain"
              class="subtitle-1 grey--text text--darken-1"
              flat
              solo
              v-show="active_tab === 1"
              hide-details="true"
              :items="batchList"
              v-on:change='onSelectBatch'
              v-model="selectedBatch"
              item-text="name" item-value="id" 
              label="Batch"
            >
            </v-select>
          </v-col>
        </v-row>
        <div class="px-16 mx-2 mb-8" v-show="active_tab === 0">
          <v-card-title class="caption px-5 font-weight-bold">
            <v-row>
              <v-col md="4" class="d-flex justify-bottom pa-0 grey--text text--darken-2"><span>All KIT Students</span></v-col>
              <v-col md="4" class="d-flex justify-end pa-0 caption"><span class="grey--text text--darken-2 pr-1">Assigned:</span>{{ overall.unassigned.total_students - overall.unassigned.total_unassigned_student }}</v-col>
              <v-col md="4" class="d-flex justify-end pa-0 caption"><span class="grey--text text--darken-2 pr-1">Unassigned:</span>{{ overall.unassigned.total_unassigned_student }}</v-col>
            </v-row>
          </v-card-title>
          <v-card-actions class="pt-0">
            <v-progress-linear
              height="8"
              background-color="rgb(217, 95, 2)"
              :value='100 - overall.unassigned.unassigned_rate'
              color='rgb(52, 152, 219)'
            ></v-progress-linear>
          </v-card-actions>
        </div>
        <div class="px-16 mx-2 mb-8" v-show="active_tab === 1">
          <v-card-title class="caption px-5 font-weight-bold">
            <v-row>
              <v-col md="4" class="d-flex justify-bottom pa-0 grey--text text--darken-2"><span>All KIT Students</span></v-col>
              <v-col md="2" class="d-flex justify-end pa-0 caption"><span class="grey--text text--darken-2 pr-1">Rank S:</span>{{ overall.ranking.total_rank_S }}</v-col>
              <v-col md="2" class="d-flex justify-end pa-0 caption"><span class="grey--text text--darken-2 pr-1">Rank A:</span>{{ overall.ranking.total_rank_A }}</v-col>
              <v-col md="2" class="d-flex justify-end pa-0 caption"><span class="grey--text text--darken-2 pr-1">Rank B:</span>{{ overall.ranking.total_rank_B }}</v-col>
              <v-col md="2" class="d-flex justify-end pa-0 caption"><span class="grey--text text--darken-2 pr-1">Rank C:</span>{{ overall.ranking.total_rank_C }}</v-col>
            </v-row>
          </v-card-title>
          <v-card-actions class="pt-0">
            <v-progress-linear
              height="8"
              background-color="rgb(217, 95, 2)"
              :value='100 - overall.ranking.total_rank_C_rate'
              color='rgb(52, 152, 219)'
            ></v-progress-linear>
          </v-card-actions>
        </div>
        <div class="hello pb-5" v-show="active_tab === 0" ref="paretochart"></div>
        <div class="hello" v-show="active_tab === 1" ref="chartdiv"></div>
      </v-col>
      <v-col md='3'>
        <v-card-text tile style="border-left:1px solid #ddd;background-color:#FAFAFA;height:100%" class="pa-0">
          <Tooltip />
        </v-card-text>
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
import Tooltip from "~/components/graph/donut_graph.vue";

export default {
  data: () => ({
    pareto: null,
    chartdiv: null,
    depList: [],
    depList_ranking: [{
      name: 'All Departments',
      id: 0,
    }],
    batchList: [],
    selectedDep: {
      name: 'Software Engineering',
      id: 1
    },
    selectedDep_ranking: {
      name: 'All Department',
      id: 0
    },
    selectedBatch: { },
    overall: {
      unassigned: {},
      ranking: {}
    },
    tab: [
      { index: 0, name: 'unassigned' },
      { index: 1, name: 'percentage' }
    ],
    active_tab: 0
  }),

  methods: {
    async getOverall() {
      const {departments} = await this.$axios.$get(`/departments`);
      this.depList = departments;
      this.depList_ranking = this.depList_ranking.concat(departments);
      this.overall.unassigned = await this.$axios.$get(`/home/kpi/unassigned_student`);
      this.overall.ranking = await this.$axios.$get(`/home/kpi/ranking_percentage?department=0`);
      // console.log(this.overall.unassigned)
    },
    async onSelectDep(dep_id){
      let data = await this.$axios.$get(`/home/kpi/unassigned_student?department=${dep_id}`)
      for (let batch in data.unassigned_students_batch_wise) {
        data.unassigned_students_batch_wise[batch]['batch_assigned_rate']=100-data.unassigned_students_batch_wise[batch].batch_unassigned_rate
      }
      // console.log('Select',data)
      await this.drawPareto(data.unassigned_students_batch_wise)
    },
    async onSelectDepRanking(dep_id){
      let batch = await this.$axios.$get(`/student/get_non_alumni_batches/${dep_id}`);
      this.batchList = [{
        name: 'All Batches',
        id: 0
      }].concat(batch) 
      this.selectedBatch = {
        name: 'All Batches',
        id: 0
      }
      console.log(this.batchList, batch)
      let data = await this.$axios.$get(`/home/kpi/ranking_percentage?department=${dep_id}`);
      let chartData = [];
      for (let index in data.rank_A){
        chartData.push({
          semester:data.rank_A[index].label, 
          rank_s:data.rank_S[index].y, 
          rank_c:data.rank_C[index].y, 
          rank_b:data.rank_B[index].y, 
          rank_a:data.rank_A[index].y
        })
      }
      await this.drawChartDiv(chartData)
    },
    async onSelectBatch(b_id){
      let data = await this.$axios.$get(`/home/kpi/ranking_percentage?department=${this.selectedDep.id}&batch=${b_id}`);
      let chartData = [];
      for (let index in data.rank_A){
        chartData.push({
          semester:data.rank_A[index].label, 
          rank_s:data.rank_S[index].y, 
          rank_c:data.rank_C[index].y, 
          rank_b:data.rank_B[index].y, 
          rank_a:data.rank_A[index].y
        })
      }
      await this.drawChartDiv(chartData)
    },
    async drawPareto(data){
      let { am4core, am4charts } = this.$am4core();
      let pareto = am4core.create(this.$refs.paretochart, am4charts.XYChart);
      pareto.paddingLeft = 70;
      pareto.paddingRight = 70;
      pareto.legend = new am4charts.Legend()
      pareto.legend.position = 'bottom'
      pareto.legend.paddingBottom = 20
      pareto.legend.labels.template.maxWidth = 95

      var xAxis = pareto.xAxes.push(new am4charts.CategoryAxis())
      xAxis.dataFields.category = 'batch_name'
      xAxis.renderer.cellStartLocation = 0.1
      xAxis.renderer.cellEndLocation = 0.9
      xAxis.renderer.grid.template.location = 0;

      var yAxis = pareto.yAxes.push(new am4charts.ValueAxis());
      yAxis.min = 0;
      yAxis.max = 100;

      pareto.data = data;

      function createSeriesP(value, name) {
        var series = pareto.series.push(new am4charts.ColumnSeries())
        series.dataFields.valueY = value;
        series.dataFields.categoryX = 'batch_name'
        series.name = name
        series.tooltipText = '{categoryX}'
        series.events.on("hidden", arrangeColumns);
        series.events.on("shown", arrangeColumns);

        var bullet = series.bullets.push(new am4charts.LabelBullet())
        bullet.interactionsEnabled = false
        bullet.dy = 20;
        bullet.label.text = '{valueY}'
        bullet.label.fill = am4core.color('#ffffff')

        return series;
      }

      createSeriesP('batch_assigned_rate', 'Unassigned Student');
      createSeriesP('batch_unassigned_rate', 'Unassigned Student');

      function arrangeColumns() {
        var series = pareto.series.getIndex(0);
        var w = 1 - xAxis.renderer.cellStartLocation - (1 - xAxis.renderer.cellEndLocation);
        if (series.dataItems.length > 1) {
          var x0 = xAxis.getX(series.dataItems.getIndex(0), "categoryX");
          var x1 = xAxis.getX(series.dataItems.getIndex(1), "categoryX");
          var delta = ((x1 - x0) / pareto.series.length) * w;
          if (am4core.isNumber(delta)) {
            var middle = pareto.series.length / 2;

            var newIndex = 0;
            pareto.series.each(function(series) {
              if (!series.isHidden && !series.isHiding) {
                series.dummyData = newIndex;
                newIndex++;
              }
              else {
                series.dummyData = pareto.series.indexOf(series);
              }
            })
            var visibleCount = newIndex;
            var newMiddle = visibleCount / 2;
            
            pareto.series.each(function(series) {
              var trueIndex = pareto.series.indexOf(series);
              var newIndex = series.dummyData;

              var dx = (newIndex - trueIndex + middle - newMiddle) * delta

              series.animate({ property: "dx", to: dx }, series.interpolationDuration, series.interpolationEasing);
              series.bulletsContainer.animate({ property: "dx", to: dx }, series.interpolationDuration, series.interpolationEasing);
            })
          }
        }
      }
      return pareto
    },
    async drawChartDiv(data){
      let { am4core, am4charts } = this.$am4core();
      let ranking = am4core.create(this.$refs.chartdiv, am4charts.XYChart);
      let valueAxisProY = ranking.yAxes.push(new am4charts.ValueAxis());
      let categoryAxisPro = ranking.xAxes.push(new am4charts.CategoryAxis());
      categoryAxisPro.dataFields.category = "semester";
      categoryAxisPro.renderer.minGridDistance = 50;
      let labelPro = categoryAxisPro.renderer.labels.template;
      labelPro.truncate = true;
      labelPro.maxWidth = 120;
      ranking.paddingRight = 20;
      ranking.data = data;    
      ranking.cursor = new am4charts.XYCursor();
      ranking.paddingLeft = 70;
      ranking.paddingRight = 70;

      function createSeries(field, name, color) {
        var series = ranking.series.push(new am4charts.LineSeries());
        series.dataFields.valueY = field;
        series.dataFields.categoryX = name;
        series.strokeWidth = 2;
        series.stroke = am4core.color(color);
        series.tooltipText = (field[0].toUpperCase()+field.substring(1, field.length-1)+field[field.length-1].toUpperCase()).replace('_',' ')+": [b]{valueY}";
        series.tooltip.getFillFromObject = false;
        series.tooltip.background.fill = am4core.color(color);
        series.tooltip.background.strokeWidth = 0;
        series.legendSettings.labelText = "Rank: "+field[field.length-1].toUpperCase()+"[/]";

        var bullet = series.bullets.push(new am4charts.CircleBullet());
        bullet.fill = am4core.color(color);
        bullet.stroke = am4core.color('#fff');
        bullet.strokeWidth = 2;
        bullet.events.on("hit", function(ev) {
          // alert("Clicked on " + ev.target.dataItem.dateX + ": " + ev.target.dataItem.valueY);
        });
        let circle = bullet.createChild(am4core.Circle);
        circle.radius = 1;
        circle.fill = am4core.color("#fff");
        circle.strokeWidth = 1;
      }

      createSeries("rank_s", "semester", "#61c0bf");
      createSeries("rank_c", "semester", "#ffb037");
      createSeries("rank_b", "semester", "#a6b1e1");
      createSeries("rank_a", "semester", "#6794dc");

      ranking.legend = new am4charts.Legend();
      ranking.legend.paddingTop = 20;
    }
  },

  props: {
    project_data: {
      type: Array
    },
  },
  computed: {
    display () {
      switch (this.$vuetify.breakpoint.name) {
        case 'xs': return 'none !important'
        case 'sm': return 'none !important'
        case 'md': return 'block !important'
        case 'lg': return 'block !important'
        case 'xl': return 'block !important'
      }
    }
  },
  mounted() {
    this.getOverall()
    this.onSelectDep(1)
    this.onSelectDepRanking(0)

    // Ranking Chart
      
  },

  beforeDestroy() {
    if (this.pareto) {
      this.pareto.dispose();
    }
    if (this.chartdiv) {
      this.chartdiv.dispose();
    }
  }, 

  components: {
    Tooltip
  },
};
</script>

<style scoped>

.hello {
  width: 100%;
  height: 442px;
}
.amcharts-chart-div a {display:none !important;}
</style>