<template>
  <v-card outlined tile style="border-top: 3px solid #75A6D0;">
    <v-row class="pa-0">
      <v-col md='12' class="d-flex justify-space-between">
        <v-main class="pa-10 pt-5">
            <v-row>
                <v-col cols="12" lg="7" md="7" class="mt-5">
                    <v-row>
                        <v-col cols="12" lg="5" md="5" sm="5" :style="'max-width:'+pixel+'px; min-width:'+pixel+'px'">
                            <img :src="company.profile" width="100%" style="border-radius:5px; border: 0.5px solid #D6D6D6">
                        </v-col>
                        <v-col cols="12" lg="7" md="7" sm="7" class="grey--text text--darken-1 text-truncate" >
                            <div class="caption">COMPANY NAME / DESCRIPTION</div>
                            <div class="text-h5 font-weight-medium" style="color:#5E80AD">
                                {{ company.name }}
                                <p class="caption grey--text text--darken-1 text-truncate" style="width:250px">{{ company.description }}</p>
                            </div>
                            <div class="caption mt-4">CHAIRMAN</div>
                            <div class="text-h6 font-weight-medium">{{ company.vice_chairman }}</div>
                            <v-row>
                                <v-col cols="auto" class="pr-12">
                                    <div class="caption mt-4">CEO</div>
                                    <div class="text-h6 font-weight-medium">{{ company.president.name }}</div>
                                </v-col>
                            </v-row>
                        </v-col>
                    </v-row>
                </v-col>
                <v-col cols="12" lg="5" md="5" class="grey--text text--darken-2 mt-5">
                    <div class="caption pb-2 mb-1" style="border-bottom:1px solid #A0A0A0">CONTACT INFORMATION</div>
                    <div class="text-h6 font-weight-medium ">{{ company.address }}</div>
                    <div class="body-2 font-weight-medium mb-5 text-lowercase">{{ company.email }}</div>
                    <div class="d-flex justify-space-between">
                        <div class="caption">Phone Number: </div>
                        <div class="caption">{{ company.phone }}</div>
                    </div>
                    <div class="d-flex justify-space-between">
                        <div class="caption">Website: </div>
                        <div class="caption">{{ company.website }}</div>
                    </div>
                    <div class="d-flex justify-space-between">
                        <div class="caption">LinkedIn: </div>
                        <div class="caption">{{ company.linkedin }}</div>
                    </div>
                    <div class="d-flex justify-space-between">
                        <div class="caption">Facebook: </div>
                        <div class="caption">{{ company.facebook }}</div>
                    </div>
                </v-col>
            </v-row>
            <v-row class="d-flex align-end mt-12">
                <v-col cols="7" class="pr-10" :style="'display:'+info">
                    <v-card tile outlined style="background-color:#FAFAFA;width:100%;" class="d-flex flex-column py-5 justify-center">
                        <div style="height:200px;" class="align-center justify-center">
                            <div class="pl-3 d-flex pr-10 py-2" style="width:100%;">
                                <v-col md="3" class="justify-center d-flex pa-0" style="border-right:1px solid gray">
                                    <div class="ml-0 d-flex flex-column">
                                        <div class="subtitle-2 grey--text text--darken-1">Projects</div>
                                        <div class="text-h4 mt-3 text-center" style="color:#278A79">{{ company.active_project.project }}</div>
                                    </div>
                                </v-col>
                                <v-col md="9" class="pa-0 grey--text text--darken-1">
                                    <v-row class="mx-0" style="border-bottom:1px solid gray">
                                        <v-col md="6" class="justify-center d-flex">
                                            <div class="body-2">Working Hour</div>
                                        </v-col>
                                        <v-col md="6" class="justify-center d-flex">
                                            <div class="body-2 ">Actual</div>
                                        </v-col>
                                    </v-row>
                                    <v-row class="ma-0 mt-2">
                                        <v-col md="6" class="justify-center d-flex">
                                            <div class="text-h6 ">432</div>
                                        </v-col>
                                        <v-col md="6" class="justify-center d-flex">
                                            <div class="text-h6">133.8</div>
                                        </v-col>
                                    </v-row>
                                </v-col>
                            </div>
                            <!-- <div class="pl-3 d-flex pr-10 py-2" style="width:100%;">
                                <v-col md="3" class="justify-center d-flex pa-0" style="border-right:1px solid gray">
                                    <div class="ml-0 d-flex flex-column">
                                        <div class="subtitle-2 grey--text text--darken-1">Approved</div>
                                        <div class="text-h4 mt-3 text-center" style="color:#278A79">{{ company.approved_project.project }}</div>
                                    </div>
                                </v-col>
                                <v-col md="9" class="pa-0 grey--text text--darken-1">
                                    <v-row class="mx-0" style="border-bottom:1px solid gray">
                                        <v-col md="6" class="justify-center d-flex">
                                            <div class="body-2">Actual</div>
                                        </v-col>
                                        <v-col md="6" class="justify-center d-flex">
                                            <div class="body-2 ">Acquired</div>
                                        </v-col>
                                    </v-row>
                                    <v-row class="ma-0 mt-2">
                                        <v-col md="6" class="justify-center d-flex">
                                            <div class="text-h6 ">753</div>
                                        </v-col>
                                        <v-col md="6" class="justify-center d-flex">
                                            <div class="text-h6">123</div>
                                        </v-col>
                                    </v-row>
                                </v-col>
                            </div> -->
                        </div>
                    </v-card>
                </v-col>
                <v-col cols="12" lg="5" md="5" sm="12">
                    <div class="caption pb-2 grey--text text--darken-2" style="border-bottom:1px solid #A0A0A0;">COMPANY SIGNATURE</div>
                    <v-img position="center bottom" class="font-weight-medium d-flex align-center text-center" :src="company.profile" gradient="to top right, rgba(255,255,255,.92), rgba(255,255,255,.92)" style="height:200px;">
                        <div v-resize-text="{ratio:0.6}" style="font-family:Safiar Signature !important;" class="pb-2">{{ company.president.name }}</div>
                    </v-img>
                    <div class="text-right text-uppercase caption font-weight-regular">President of {{ company.name }}</div>
                </v-col>
            </v-row>
        </v-main>
        <!-- <v-card-text tile :style="'border-left:1px solid #ddd;background-color:#FAFAFA;height:100%;width:320px;display:'+display" class="pa-0">
          <Skillset :user='company' style="height:450px"/>
          <Participation title="Participation Rate" :participation='company.date.index1' style="height:420px"/>
        </v-card-text> -->
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
// import Participation from "~/components/graph/participation_tooltip.vue";

export default {
    props: {
        company: {
            type: Object
        }
    },
    computed: {
        display () {
            switch (this.$vuetify.breakpoint.name) {
                default: return 'none !important'
                case 'xl': return 'block !important'
            }
        },
        info () {
            switch (this.$vuetify.breakpoint.name) {
                case 'xs': return 'none !important'
                case 'sm': return 'none !important'
                default: return 'block !important'
            }
        },
        pixel () {
            switch (this.$vuetify.breakpoint.name) {
                case 'xs': return 'auto'
                default: return '225'
            }
        }
    },
    data: () => ({
    }),
    components: {
        // Participation
    },
    directives: {
    },
    
};
</script>

<style scoped>
</style>