<template>
  <v-card outlined tile style="border-top: 3px solid #75A6D0;">
    <v-row class="pa-0">
      <v-col md='12' class="d-flex justify-space-between">
        <v-main class="pa-10 pt-5">
            <v-row>
                <v-col cols="12" lg="8" md="8" class="mt-5">
                    <v-row>
                        <v-col cols="12" lg="5" md="5" sm="5" :style="'max-width:'+pixel+'px; min-width:'+pixel+'px'">
                            <img :src="company.profile" width="100%" style="border-radius:5px; border: 0.5px solid #D6D6D6">
                        </v-col>
                        <v-col cols="12" lg="7" md="7" sm="7" class="grey--text text--darken-1 text-truncate" >
                            <div class="caption">COMPANY NAME / DESCRIPTION</div>
                            <div class="text-h5 font-weight-medium" style="color:#5E80AD">
                                {{ company.name }}
                                <p class="caption grey--text text--darken-1 text-truncate" style="width:250px">{{ company.description }}</p>
                            </div>
                            <div class="caption mt-4">VICE CHAIRMAN</div>
                            <div class="text-h6 font-weight-medium">{{ company.vice_chairman }}</div>
                            <v-row>
                                <v-col cols="auto" class="pr-12">
                                    <div class="caption mt-4">PRESIDENT</div>
                                    <div class="text-h6 font-weight-medium">{{ company.president.name }}</div>
                                </v-col>
                                <v-col cols="auto">
                                    <div class="caption mt-4">RANK</div>
                                    <div class="text-h6 font-weight-medium" style="color:#CA2882;">{{ company.president.rank.replace('Rank ','') }}</div>
                                </v-col>
                            </v-row>
                        </v-col>
                    </v-row>
                </v-col>
                <v-col cols="12" lg="4" md="4" class="grey--text text--darken-2 mt-5">
                    <div class="caption pb-2 mb-1" style="border-bottom:1px solid #A0A0A0">CONTACT INFORMATION</div>
                    <div class="text-h5 font-weight-medium">{{ company.borey + ', ' + company.room }}</div>
                    <div class="body-2 font-weight-medium mb-5 text-lowercase">{{ company.email }}@kit.edu.kh</div>
                    <div class="d-flex justify-space-between">
                        <div class="caption">Phone Number: </div>
                        <div class="caption">{{ company.phone }}</div>
                    </div>
                    <div class="d-flex justify-space-between">
                        <div class="caption">Website: </div>
                        <div class="caption">{{ company.website }}</div>
                    </div>
                    <div class="d-flex justify-space-between">
                        <div class="caption">LinkedIn: </div>
                        <div class="caption">{{ company.linkedin }}</div>
                    </div>
                    <div class="d-flex justify-space-between">
                        <div class="caption">Facebook: </div>
                        <div class="caption">{{ company.facebook }}</div>
                    </div>
                </v-col>
            </v-row>
            <v-row class="d-flex align-end mt-12">
                <v-col cols="12" md='8' :class="padding" :style="'display:'+info">
                    <v-card tile outlined style="background-color:#FAFAFA;width:100%;height:250px" class="d-flex flex-column pa-5">
                        <v-row>
                            <v-col cols='12' md='4'>
                                <div class="body-1 font-weight-bold pb-1 grey--text text--darken-2">
                                   <v-icon medium left> mdi-target </v-icon> Company Mission
                                </div>
                                <v-divider class="pb-3"></v-divider>
                                <div class="caption grey--text text--darken-1" style="height:180px;overflow:scroll;text-align: justify;">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                </div>
                            </v-col>
                            <v-col cols='12' md='4'>
                                <div class="body-1 font-weight-bold pb-1 grey--text text--darken-2">
                                   <v-icon medium left> mdi-eye </v-icon> Company Vision
                                </div>
                                <v-divider class="pb-3"></v-divider>
                                <div class="caption grey--text text--darken-1" style="height:180px;overflow:scroll;text-align: justify;">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                </div>
                            </v-col>
                            <v-col cols='12' md='4'>
                            
                                <div class="body-1 font-weight-bold pb-1 grey--text text--darken-2">
                                   <v-icon medium left> mdi-office-building </v-icon> Company Definition
                                </div>
                                <v-divider class="pb-3"></v-divider>
                                <div class="caption grey--text text--darken-1" style="height:180px;overflow:scroll;text-align: justify;">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                </div>
                            </v-col>
                        </v-row>
                    </v-card>
                </v-col>
                <v-col cols="12" lg="4" md="4" sm="12">
                    <div class="caption pb-2 grey--text text--darken-2" style="border-bottom:1px solid #A0A0A0;">COMPANY SIGNATURE</div>
                    <v-img position="center bottom" class="font-weight-medium d-flex align-center text-center" :src="company.profile" gradient="to top right, rgba(255,255,255,.92), rgba(255,255,255,.92)" style="height:200px;">
                        <div v-resize-text="{ratio:0.6}" style="font-family:Safiar Signature !important;" class="pb-2">{{ company.president.name }}</div>
                    </v-img>
                    <div class="text-right text-uppercase caption font-weight-regular">President of {{ company.name }}</div>
                </v-col>
            </v-row>
        </v-main>
        <v-card-text tile :style="'border-left:1px solid #ddd;background-color:#FAFAFA;height:100%;width:320px;display:'+display" class="pa-0">
          <Participation title="Participation Rate" :participation='company.date.index1' style="height:420px"/>
        </v-card-text>
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
import Participation from "~/components/graph/participation_tooltip.vue";

export default {
    props: {
        company: {
            type: Object
        }
    },
    computed: {
        display () {
            switch (this.$vuetify.breakpoint.name) {
                default: return 'none !important'
                case 'xl': return 'block !important'
                case 'lg': return 'block !important'
            }
        },
        info () {
            switch (this.$vuetify.breakpoint.name) {
                case 'xs': return 'none !important;'
                default: return 'block !important;'
            }
        },
        padding () {
            switch (this.$vuetify.breakpoint.name) {
                case 'sm': return 'pr-0'
                case 'xs': return 'pr-0'
                default: return 'pr-10'
            }
        },
        pixel () {
            switch (this.$vuetify.breakpoint.name) {
                case 'xs': return 'auto'
                default: return '225'
            }
        }
    },
    data: () => ({
    }),
    components: {
        Participation
    },
    directives: {
    },
    
};
</script>

<style scoped>
</style>