<template>
  <v-card outlined tile style="border-top: 3px solid #5a90bf;">
    <v-row class="pa-0">
      <v-col md='9' :style="'display:'+display">
        <v-tabs class="d-flex pl-16 pa-0 py-4 pt-5" hide-slider color="#5E80AD" v-model="active_tab">
          <v-tab class="text-capitalize" :key="tab.index">
            <div class="d-flex align-center justify-start">
              <div class="pa-0 title">{{ tabname }} Wise</div>
              <div class="pl-4 body-2 align-start grey--text text--darken-1">Point Projection</div>
            </div>
          </v-tab>
          <v-tab class="text-capitalize" :key="tab.index">
            <div class="d-flex align-center justify-start">
              <div class="pa-0 title">Semester Wise</div>
              <div class="pl-4 body-2 align-start grey--text text--darken-1">Point Projection</div>
            </div>
          </v-tab>
        </v-tabs>
        <v-tabs-items class="px-12">
          <div class="hello" v-show="active_tab === 0" ref="projectChart"></div>
          <div class="hello" v-show="active_tab === 1" ref="semesterChart"></div>
        </v-tabs-items>
      </v-col>
      <v-col md='3' style="height:570px">
        <v-card-text tile style="border-left:1px solid #ddd;background-color:#FAFAFA;height:100%" class="pa-0">
          <Skillset title='Skillset' :user='users' :skills='skillset_data' style="height:360px"/>
        </v-card-text>
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
import Skillset from "~/components/graph/skillset.vue";

export default {
  props: {
    project_data: {
      type: Array
    },
    users: {
      type: Object
    },
    tabname: {
      type: String
    },
    semester_data: {
      type: Array
    },
    skillset_data: {
      type: Array
    }
  },
  data: () => ({
    tab: [
      { index: 0, name: 'unassigned' },
      { index: 1, name: 'percentage' }
    ],
    active_tab: 0
  }),
  computed: {
    display () {
      switch (this.$vuetify.breakpoint.name) {
        case 'xs': return 'none !important'
        case 'sm': return 'none !important'
        case 'md': return 'block !important'
        case 'lg': return 'block !important'
        case 'xl': return 'block !important'
      }
    }
  },
  mounted() {
    let project_data = this.project_data;
    console.log(this.project_data);
    let semester_data = this.semester_data;
    let {
      am4core,
      am4charts,
    } = this.$am4core();

    let project = am4core.create(this.$refs.projectChart, am4charts.XYChart);
    let valueAxisProY = project.yAxes.push(new am4charts.ValueAxis());
    let categoryAxisPro = project.xAxes.push(new am4charts.CategoryAxis());
    categoryAxisPro.dataFields.category = "project_name";
    categoryAxisPro.renderer.minGridDistance = 50;
    let labelPro = categoryAxisPro.renderer.labels.template;
    labelPro.truncate = true;
    labelPro.maxWidth = 120;
    project.paddingRight = 20;
    project.data = project_data;    
    project.cursor = new am4charts.XYCursor();

    let semester = am4core.create(this.$refs.semesterChart, am4charts.XYChart);
    let valueAxisSemY = semester.yAxes.push(new am4charts.ValueAxis());
    let categoryAxisSem = semester.xAxes.push(new am4charts.CategoryAxis());
    categoryAxisSem.dataFields.category = "title";
    categoryAxisSem.renderer.minGridDistance = 50;
    let labelSem = categoryAxisSem.renderer.labels.template;
    labelSem.truncate = true;
    labelSem.maxWidth = 120;
    semester.paddingRight = 20;
    semester.data = semester_data;
    semester.cursor = new am4charts.XYCursor();

    function createSeries(field, name, color) {
      var series = project.series.push(new am4charts.LineSeries());
      series.dataFields.valueY = field;
      series.dataFields.categoryX = name;
      series.strokeWidth = 2;
      series.stroke = am4core.color(color);
      series.tooltipText = field[0].toUpperCase()+field.slice(1)+": [b]{valueY}";
      series.tooltip.getFillFromObject = false;
      series.tooltip.background.fill = am4core.color(color);
      series.tooltip.background.strokeWidth = 0;

      var bullet = series.bullets.push(new am4charts.CircleBullet());
      bullet.fill = am4core.color(color);
      bullet.stroke = am4core.color("#fff");
      bullet.strokeWidth = 1;
      bullet.events.on("hit", function(ev) {
        // alert("Clicked on " + ev.target.dataItem.dateX + ": " + ev.target.dataItem.valueY);
      });
    }

    function createSeriesSem(field, name, color) {
      var series = semester.series.push(new am4charts.LineSeries());
      series.dataFields.valueY = field;
      series.dataFields.categoryX = name;
      series.strokeWidth = 2;
      series.stroke = am4core.color(color);
      series.tooltipText = field[0].toUpperCase()+field.slice(1)+": [b]{valueY}";
      series.tooltip.getFillFromObject = false;
      series.tooltip.background.fill = am4core.color(color);
      series.tooltip.background.strokeWidth = 0;

      var bullet = series.bullets.push(new am4charts.CircleBullet());
      bullet.fill = am4core.color(color);
      bullet.stroke = am4core.color("#fff");
      bullet.strokeWidth = 1;
      bullet.events.on("hit", function(ev) {
        // alert("Clicked on " + ev.target.dataItem.dateX + ": " + ev.target.dataItem.valueY);
      });
    }

    createSeries("actual", "project_name", "#D95F02");
    createSeries("propose", "project_name", "#34495E");
    createSeries("acquire", "project_name", "#3498DB");

    createSeriesSem("actual", "title", "#D95F02");
    createSeriesSem("propose", "title", "#34495E");
    createSeriesSem("acquire", "title", "#3498DB");
    
    this.project = project;
    this.semester = semester;
  },

  beforeDestroy() {
    if (this.project) {
      this.project.dispose();
    }
    if (this.semester) {
      this.semester.dispose();
    }
  }, 
  
  components: {
    Skillset
  },
};
</script>

<style scoped>

.hello {
  width: 100%;
  height: 420px;
}
.amcharts-chart-div a {display:none !important;}
</style>