<template>
  <v-container class="py-5 ba-0">
    <v-card-title class="py-0 pt-2">
      <div class="title px-3 py-0 text-h6 font-weight-medium text-truncate" style="color:#5E80AD;">
        Project Status
        <span class="text-body-2 pl-1">Percentage</span>
      </div>
      <v-row class="pt-1">
        <v-col>
          <v-select 
          class="batchSelector caption" 
          background-color='#fafafa' hide-details="true" 
          label='Month' dense flat solo
          :items='monthList'
          item-text="name" item-value="id"
          v-model="selectedMonth"
          v-on:change='onSelectMonth'
          ></v-select>
        </v-col>
        <v-col>
          <v-select class="batchSelector caption" 
          background-color='#fafafa' hide-details="true" 
          label='Year' dense flat solo
          :items='yearList'
          item-text="name" item-value="id"
          v-model="selectedYear"
          v-on:change='onSelectYear'
          ></v-select>
        </v-col>
      </v-row>
    </v-card-title>
    <v-main class="mt-3">
      <div class="hello" ref="chartdiv"></div>
    </v-main>
  </v-container>
</template>

<script>
export default {
  data: ()=> ({
    chart: null,
    monthNames: ["January", "February", "March", "April", "May", "June",
      "July", "August", "September", "October", "November", "December"
    ],
    yearList: [],
    monthList: [],
    selectedMonth: {},
    selectedYear: {},
  }),
  methods: {
    async onSelectMonth(month) {
      const {monthly_register_project} = await this.$axios.$get(`/home/kpi/month_register_project?month=${month}&year=${this.selectedYear.id}`);
      const {ongoing_project} = await this.$axios.$get(`/home/kpi/ongoing_project`);
      const {projects} = await this.$axios.$get(`/home/kpi/ongoing_project`);
      const {monthly_close_project} = await this.$axios.$get(`/home/kpi/monthly_close_project?month=${month}&year=${this.selectedYear.id}`);
      let specData = [
        {
          "category": "New Register",
          "value": monthly_register_project,
        },
        {
          "category": "Ongoing",
          "value": ongoing_project,
        },
        {
          "category": "Close",
          "value": monthly_close_project,
          "fill":"#dedede"
        }
      ]
      let sumData = [{
        "category": "New Register + Ongoing",
        "value": monthly_register_project + ongoing_project
      }, {
        "category": "Completed",
        "value": monthly_close_project,
        "labelDisabled":true
      }];
      
      return this.drawDonut(sumData, specData);
    },
    async onSelectYear(year) {
      const {monthly_register_project} = await this.$axios.$get(`/home/kpi/month_register_project?month=${this.selectedMonth}&year=${year}`);
      const {ongoing_project} = await this.$axios.$get(`/home/kpi/ongoing_project`);
      const {projects} = await this.$axios.$get(`/home/kpi/ongoing_project`);
      const {monthly_close_project} = await this.$axios.$get(`/home/kpi/monthly_close_project?month=${this.selectedMonth}&year=${year}`);
      let specData = [
        {
          "category": "New Register",
          "value": monthly_register_project,
        },
        {
          "category": "Ongoing",
          "value": ongoing_project,
        },
        {
          "category": "Close",
          "value": monthly_close_project,
          "fill":"#dedede"
        }
      ]
      let sumData = [{
        "category": "New Register + Ongoing",
        "value": monthly_register_project + ongoing_project
      }, {
        "category": "Completed",
        "value": monthly_close_project,
        "labelDisabled":true
      }];
      return this.drawDonut(sumData, specData);
    },
    async drawDonut(tData, sData) {
      let {
        am4core,
        am4charts,
      } = this.$am4core();

      let chart = am4core.create(this.$refs.chartdiv, am4charts.PieChart);
      chart.innerRadius = am4core.percent(20);
      
      chart.legend = new am4charts.Legend();
      chart.legend.valueLabels.template.text = " {value.percent.formatNumber('#.0')}% ({value})";
      chart.legend.valueLabels.template.width = 50;
      chart.legend.valueLabels.template.align = "right";
      chart.legend.valueLabels.template.textAlign = "end";
      chart.legend.paddingTop = 20;
      chart.legend.paddingBottom = 50;
      chart.legend.position = 'bottom';
      chart.legend.maxColumns = 1;

      var pieSeries = chart.series.push(new am4charts.PieSeries());
      pieSeries.dataFields.value = "value";
      pieSeries.dataFields.category = "category";
      pieSeries.slices.template.stroke = am4core.color("#fff");
      pieSeries.innerRadius = 5;
      pieSeries.slices.template.fillOpacity = 0.5;
      pieSeries.labels.template.disabled = true;

      pieSeries.slices.template.propertyFields.disabled = "labelDisabled";
      pieSeries.labels.template.propertyFields.disabled = "labelDisabled";
      pieSeries.ticks.template.propertyFields.disabled = "labelDisabled";
      pieSeries.ticks.template.disabled = true;
      pieSeries.hiddenInLegend = true;

      pieSeries.data = tData;

      pieSeries.slices.template.states.getKey("hover").properties.shiftRadius = 0;
      pieSeries.slices.template.states.getKey("hover").properties.scale = 1;

      var pieSeries2 = chart.series.push(new am4charts.PieSeries());
      pieSeries2.dataFields.value = "value";
      pieSeries2.dataFields.category = "category";
      pieSeries2.slices.template.states.getKey("hover").properties.shiftRadius = 0;
      pieSeries2.slices.template.states.getKey("hover").properties.scale = 1;
      pieSeries2.slices.template.propertyFields.fill = "fill";
      pieSeries2.labels.template.disabled = true

      pieSeries2.legendSettings.labelText = "{category}: ";

      pieSeries2.data = sData;

      pieSeries.adapter.add("innerRadius", function(innerRadius, target){
        return am4core.percent(40);
      })

      pieSeries2.adapter.add("innerRadius", function(innerRadius, target){
        return am4core.percent(60);
      })

      pieSeries.adapter.add("radius", function(innerRadius, target){
        return am4core.percent(100);
      })

      pieSeries2.adapter.add("radius", function(innerRadius, target){
        return am4core.percent(80);
      })

      return chart;
    }
  },
  mounted() {
    this.chart.dispose();
    let d = new Date()
    this.selectedYear = {
      name: d.getFullYear(),
      id: d.getFullYear()
    }
    this.selectedMonth = {
      name: this.monthNames[d.getMonth()],
      id: d.getMonth()
    }
    let index = 1
    for (let name of this.monthNames){
      this.monthList.push({
        name: name,
        id: index
      })
      index+= 1
    }
    for (let i =2014; i <= d.getFullYear(); i++) {
      this.yearList.push({
        name: i,
        id: i
      })
      index+= 1
    }
    this.chart = this.onSelectMonth(this.selectedMonth)
  },

  beforeDestroy() {
    if (this.chart) {
      this.chart.dispose();
    }
  }, 
};


</script>

<style scoped>
.hello {
  width: 100%;
  height: 460px;
}
</style>