<template>
  <v-container class="pa-5 ba-0">
    <v-card-title class="py-0 pt-2" style="padding: 0 20px 0 20px">
      <v-card-text class="subtitle-1 font-weight-medium grey--text text--darken-2 pa-0">
        Heng Mouyleng
      </v-card-text>
      <div class="caption grey--text text--darken-1" style="width:100%;margin-top:-5px">Rank C</div>
      <div class="title px-0 py-2 text-h5 font-weight-medium" style="color:#5E80AD;">
        Semester 3
      </div>
    </v-card-title>
    <v-main class="mt-3">
      <div v-for="item in items" :key="item.index" class="px-3">
        <v-card-title class="caption px-5 pt-6">
          <v-row>
            <v-col md="8" class="d-flex justify-bottom pa-0 grey--text text--darken-2"><span>{{ item.title }}</span></v-col>
            <v-col md="4" class="d-flex justify-end pa-0 caption"><span>{{ item.point }}</span></v-col>
          </v-row>
        </v-card-title>
        <v-card-actions class="pt-1">
          <v-progress-linear
            height="6"
            background-color="grey lighten-2"
            :value='item.percent'
            :color=item.color
          ></v-progress-linear>
        </v-card-actions>
      </div>
    </v-main>
    <div class="text-center d-flex justify-center align-end" style="height:110px">
      <v-btn text rounded fab>
        <v-icon color="grey">mdi-chevron-double-up</v-icon>
      </v-btn>
    </div>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    items: [
        {
          title: "Estimate Point",
          point: "62.87",
          percent: 100,
          color: '#4ECCD1'
        },{
          title: "Target Point",
          point: "47.25",
          percent: 100,
          color: '#B7B7B7'
        },{
          title: "Actual Point",
          point: "38.24",
          percent: 100,
          color: '#F29423'
        },{
          title: "Propose Point",
          point: "30.00",
          percent: 100,
          color: '#CA2882'
        },{
          title: "Acquired Point",
          point: "49.60",
          percent: 100,
          color: '#5151D3'
        }
    ],
  })
};
</script>

<style scoped>
</style>