<template>
  <div class="d-flex justify-space-between pr-15" style="width:100%;">
    <div class="ml-0 d-flex flex-column grey--text text--darken-2" v-for="item in items" :key="item.index">
      <div class="subtitle-2">{{ item.headText }}</div>
      <div class="text-h4" :style="'color:'+item.color">{{ item.num }}</div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    items: {
      type: Array
    }
  },
};
</script>

<style scoped>
</style>