<template>
  <v-container class="pa-5 ma-0">
    <v-row>
      <v-col cols='8'>
        <v-card-title class="py-0 pt-2" style="padding: 0 20px 0 20px">
          <v-card-text class="subtitle-1 font-weight-medium grey--text text--darken-2 pa-0 ma-0">
            {{ title }}
          </v-card-text>
          <div class="caption grey--text text--darken-1" style="width:100%;margin-top:-5px">{{ participation.date }}</div>
        </v-card-title>
      </v-col>
      <v-col cols='4'>
        <v-select class="batchSelector caption" :items="items" background-color='#fafafa' hide-details="true" label='' dense flat solo></v-select>
      </v-col>
    </v-row>
    <div class="title px-4 py-2 text-h4 font-weight-medium" style="color:#5E80AD;">
        {{ participation.percentage }}
      </div>
    <v-main class="mt-3" style="overflow-y:scroll; height:100%">
      <div v-for="participation in participation.member" :key="participation.index" class="px-3">
        <v-card-title class="caption px-5 pt-7">
          <v-row>
            <v-col md="8" class="d-flex justify-bottom pa-0 grey--text text--darken-2"><span>{{ participation.name }}</span></v-col>
            <v-col md="4" class="d-flex justify-end pa-0 caption"><span>{{ participation.point }}</span></v-col>
          </v-row>
        </v-card-title>
        <v-card-actions class="pt-1">
          <v-progress-linear
            height="6"
            background-color="grey lighten-2"
            :value='participation.percent'
            :color=participation.color
          ></v-progress-linear>
        </v-card-actions>
      </div>
    </v-main>
  </v-container>
</template>

<script>
export default {
  props: {
    title:{
      type: String
    },
    participation: {
      type: Object
    }
  },
  data: () => ({
  })
};
</script>

<style scoped>
</style>