<template>
  <v-card outlined tile style="border-top: 3px solid #5a90bf">
    <v-row class="pa-0">
      <v-col :style="'display:' + display">
        <v-card-text
          class="d-flex justify-space-between pt-8 pl-16 title font-weight-regular"
        >
          <div class="font-weight-medium grey--text text--darken-2">Project Participation Progress</div>
          <div class="d-flex justify-space-around">
            <v-select 
              class="batchSelector caption" 
              style="width: 120px" 
              :items="tWeeks" 
              v-model='selectedWeek'
              v-on:change='onSelectWeek'
              background-color='#fafafa' hide-details="true" 
              item-text="name" item-value="id" 
              dense flat solo
            ></v-select>
          </div>
        </v-card-text>
        <v-card-text class="py-2 pb-10">
          <div class="hello" ref="chartdiv"></div>
        </v-card-text>
      </v-col>
      <v-col md="3" :style="'display:'+hidden">
        <v-card-text
          tile
          style="border-left:1px solid #ddd;background-color:#FAFAFA;height:100%;width:100%;"
          class="pa-0"
        >
          <v-container class="pa-5 ma-0" style="height:420px">
            <v-row>
              <v-col cols='8'>
                <v-card-title class="py-0 pt-2" style="padding: 0 20px 0 20px">
                  <v-card-text class="subtitle-1 font-weight-medium grey--text text--darken-2 pa-0 ma-0">
                    Participation Rate
                  </v-card-text>
                  <div class="caption grey--text text--darken-1" style="width:100%;margin-top:-5px">{{ selectedDay.name }}</div>
                </v-card-title>
              </v-col>
              <v-col cols='4'>
                <v-select 
                  class="batchSelector caption" 
                  :items="tDays" 
                  item-text="name" item-value="id" 
                  v-model='selectedDay'
                  v-on:change='onSelectDay'
                  background-color='#fafafa' hide-details="true" 
                  label='' dense flat solo
                ></v-select>
              </v-col>
            </v-row>
            <div class="title px-4 py-2 text-h4 font-weight-medium" style="color:#5E80AD;">
                {{ selectedDay.percentage }} %
              </div>
            <v-main class="mt-3" style="overflow-y:scroll; height:100%">
              <div v-for="participator in selectedDay.data" :key="participator.index" class="px-3">
                <v-card-title class="caption px-5 pt-7">
                  <v-row>
                    <v-col md="8" class="d-flex justify-bottom pa-0 grey--text text--darken-2"><span>{{ participator.name }}</span></v-col>
                    <v-col md="4" class="d-flex justify-end pa-0 caption"><span>{{ participator.report }}</span></v-col>
                  </v-row>
                </v-card-title>
                <v-card-actions class="pt-1">
                  <v-progress-linear
                    height="6"
                    background-color="grey lighten-2"
                    :value='participator.percentage'
                    color=primary
                  ></v-progress-linear>
                </v-card-actions>
              </div>
            </v-main>
          </v-container>
        </v-card-text>
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
import Tooltip from "~/components/graph/graph_tooltip.vue";

export default {
  props: {
    project: {
      type: Object
    },
    project_id: {
      type: String
    }
  },
  data: () => ({
    chart_data: null,
    chart: null,
    selectedWeek: null,
    selectedDay: [],
    tWeeks : [],
    tDays : [],
    items: [
      { title: "Overall" },
      { title: "Day" },
      { title: "Week" },
      { title: "Month" },
    ],
  }),
  computed: {
    display() {
      switch (this.$vuetify.breakpoint.name) {
        case "xs":
          return "none !important";
        case "sm":
          return "block !important";
        case "md":
          return "block !important";
        case "lg":
          return "block !important";
        case "xl":
          return "block !important";
      }
    },
    hidden() {
      switch (this.$vuetify.breakpoint.name) {
        case "xs":
          return "none !important";
        case "sm":
          return "none !important";
        case "md":
          return "none !important";
        case "lg":
          return "block !important";
        case "xl":
          return "block !important";
      }
    },
  },
  methods: {
    async getSpecWeek(pj_id, wk_id) {
      console.log('Select Week', wk_id)
      let tWeeks = await this.$axios.$get(
        `/project/members/report_vs_daily_session/${pj_id}?week_number=${wk_id}`
      );
      for (let week in tWeeks.all_weeks) {
        const item = {
          name: tWeeks.all_weeks[Object.keys(tWeeks.all_weeks)[week-1]],
          id: week
        }
        this.tWeeks.push(item)
      }
      for (let currWeek in tWeeks) {
        this.selectedWeek = {
          name: currWeek,
          id: currWeek.replace('WEEK ', ''),
          data: tWeeks[Object.keys(tWeeks)[0]],
          day: []
        }
        break
      }
      return this.selectedWeek
    },
    async getCurrWeek(pj_id) {
      let tWeeks = await this.$axios.$get(
        `/project/members/report_vs_daily_session/${pj_id}`
      );
      for (let week in tWeeks.all_weeks) {
        const item = {
          name: tWeeks.all_weeks[Object.keys(tWeeks.all_weeks)[week-1]],
          id: week
        }
        this.tWeeks.push(item)
      }
      for (let currWeek in tWeeks) {
        this.selectedWeek = {
          name: currWeek,
          id: currWeek.replace('WEEK ', ''),
          data: tWeeks[Object.keys(tWeeks)[0]],
          day: []
        }
        break
      }
      return this.selectedWeek
    },

    async onSelectWeek(el) {
      this.tDays = []
      this.getSpecWeek(this.project_id, el).then(
        (data)=>{
          this.getChartData(data).then(
            (data)=>{
              this.selectedDay = {
                name: this.tDays[this.tDays.length-1].name,
                id: this.tDays[this.tDays.length-1].id,
                data: data.week[this.tDays.length-1].members,
                percentage: data.week[this.tDays.length-1].percentage
              }
              // console.log("Select Day", this.selectedDay.name)
              // console.log("Return Data", this.selectedDay.percentage)
              return this.drawChart(data.week);
            }
          )
        }
      )
    },

    async onSelectDay(el) {
      this.selectedDay = {
        name: this.tDays[el-1].name,
        id: this.tDays[el-1].id,
        data: this.selectedWeek.day[el-1].members,
        percentage: this.chart_data.week[el-1].percentage
      }
      // console.log("Select Day", this.selectedDay.name)
      // console.log("Return Data", this.selectedDay.percentage)
      console.log("Return Data", this.selectedDay.data)
    },

    async getChartData(weeks){
      // console.log('Week', weeks)
      let data = {
        week: [],
      }
      let index = 0
      for (const date in weeks.data) {
        index += 1
        let report = 0
        let total = 0

        let day = {
          date: date + '',
          percentage: 0,
          value: report,
          members: []
        }
        let loop = 0
        for (const session of weeks.data[Object.keys(weeks.data)[index-1]].report_session){
          let total_session = weeks.data[Object.keys(weeks.data)[index-1]].daily_session
          let member = {
            name: session.member,
            percentage: session.session / total_session[loop].session * 100,
            report: session.session,
            total: total_session[loop].session
          }
          report += session.session
          total += total_session[loop].session
          console.log(session.member, member.report, member.total)

          day.members.push(member)
          loop += 1
        }

        if (report > 0) {
          if (total > 0) {
            day.percentage = report / total * 100
            
          } else {
            day.percentage = 100 + report
          }
        } else {
          if (total > 0) {
            day.percentage = report / total * 100
          } else {
            day.percentage = 0
          }
        }
        data.week.push(day)
        const item = {
          name: date,
          id: index
        }
        this.tDays.push(item)
      }
      this.selectedWeek.day = data.week
      this.chart_data = data
      return data
    },

    async drawChart(data) {
      let { am4core, am4charts } = this.$am4core();

      let chart = am4core.create(this.$refs.chartdiv, am4charts.XYChart);

      chart.paddingLeft = 30;

      chart.data = data;
      // console.log('Chart data',chart.data)

      let categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
      categoryAxis.dataFields.category = "date"; 

      let valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
      valueAxis.tooltip.disabled = true;
      valueAxis.renderer.minWidth = 35;

      let series = chart.series.push(new am4charts.LineSeries());
      series.dataFields.categoryX = "date";
      series.dataFields.valueY = "percentage";

      // series.tooltipText = "{valueY.value}";
      chart.cursor = new am4charts.XYCursor();

      series.tooltipText = "{categoryX}: [bold]{valueY}%[/]" + " ({openValueY}{value})"

      var bullet = series.bullets.push(new am4charts.CircleBullet());
      bullet.disabled = true;
      bullet.propertyFields.disabled = "disabled";

      var secondCircle = bullet.createChild(am4core.Circle);
      secondCircle.radius = 4;

      bullet.events.on("inited", function(event){
        animateBullet(event.target.circle);
      })

      function animateBullet(bullet) {
        var animation = bullet.animate([{ property: "scale", from: 1, to: 5 }, { property: "opacity", from: 1, to: 0 }], 1000, am4core.ease.circleOut);
        animation.events.on("animationended", function(event){
          animateBullet(event.target.object);
        })
      }
      return chart;
    }
  },
  mounted() {
    this.getCurrWeek(this.project_id).then(
      (data)=>{
        this.getChartData(data).then(
          (data)=>{
            this.selectedDay = {
              name: this.tDays[this.tDays.length-1].name,
              id: this.tDays[this.tDays.length-1].id,
              data: data.week[this.tDays.length-1].members,
              percentage: data.week[this.tDays.length-1].percentage
            }
            return this.drawChart(data.week);
          }
        )
      }
    )
  },

  beforeDestroy() {
    if (this.chart) {
      this.chart.dispose();
    }
  },

  components: {
    Tooltip
  },
};
</script>

<style>
.hello {
  width: 100%;
  height: 455px;
}
.amcharts-chart-div a {
  display: none !important;
}
.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat)
  > .v-input__control
  > .v-input__slot {
  box-shadow: none;
}
</style>