<template>
  <v-card outlined tile style="border-top: 3px solid #75A6D0;">
    <v-row class="pa-0">
      <v-col md='12' class="d-flex justify-space-between">
        <v-main class="pa-10 pt-5">
            <v-row>
                <v-col cols="12" lg="8" md="8" class="mt-5">
                    <v-row>
                        <v-col cols="12" lg="5" md="5" sm="5" :style="'max-width:'+pixel+'px; min-width:'+pixel+'px'">
                            <img :src="require(`~/assets/profile/${users.profile_pic}`)" width="100%" style="border-radius:5px">
                        </v-col>
                        <v-col cols="12" lg="7" md="7" sm="7" class="grey--text text--darken-1 text-truncate" >
                            <div class="caption">FULL NAME</div>
                            <div class="text-h5 font-weight-medium" style="color:#5E80AD">{{ users.username}}</div>
                            <div class="caption mt-6">COMPANY / POSITION</div>
                            <div class="text-h6 font-weight-medium">
                                {{ findCompany(users.student.company_members, non_vc).company.name }}'s {{ findCompany(users.student.company_members, non_vc).role }}
                            </div>
                            <v-row>
                                <v-col cols="auto">
                                    <div class="caption mt-6">BATCH / DEPARTMENT</div>
                                    <div class="text-h6 font-weight-medium">{{ users.student.batch.name }}</div>
                                </v-col>
                                <v-col cols="auto">
                                    <div class="caption mt-6">RANK</div>
                                    <div class="text-h6 font-weight-medium" style="color:#CA2882;">{{ users.student.rank.code }}</div>
                                </v-col>
                            </v-row>
                        </v-col>
                    </v-row>
                </v-col>
                <v-col cols="12" lg="4" md="4" class="grey--text text--darken-2 mt-5">
                    <div class="caption pb-2 mb-1" style="border-bottom:1px solid #A0A0A0">CONTACT INFORMATION</div>
                    <div class="text-h5 font-weight-medium text-truncate" style="width:300px">{{ users.address }}</div>
                    <div class="body-2 font-weight-medium mb-5">{{ users.email }}</div>
                    <div class="d-flex justify-space-between">
                        <div class="caption">Phone Number: </div>
                        <div class="caption">{{ users.phone }}</div>
                    </div>
                    <div class="d-flex justify-space-between">
                        <div class="caption">Github: </div>
                        <div class="caption">{{ users.github }}</div>
                    </div>
                    <div class="d-flex justify-space-between">
                        <div class="caption">AtCoder: </div>
                        <div class="caption">{{ users.atcoder }}</div>
                    </div>
                    <div class="d-flex justify-space-between">
                        <div class="caption">Test Date: </div>
                        <div class="caption">{{ users.student.test_date }}</div>
                    </div>
                    <div class="d-flex justify-space-between">
                        <div class="caption">Test Score: </div>
                        <div class="caption">{{ users.student.test_score }}</div>
                    </div>
                </v-col>
            </v-row>
            <v-row class="d-flex align-end mt-12">
                <v-col cols="8" class="pr-10" :style="'display:'+info">
                    <v-card tile outlined style="background-color:#FAFAFA;width:100%;" class="d-flex flex-column py-5">
                        <div style="height:310px;overflow-y:scroll">
                            <div class="pl-3 d-flex pr-10 py-2" style="width:100%;" v-for="semester in semesters" :key="semester.index">
                                <v-col md="3" class="justify-center d-flex pa-0" style="border-right:1px solid gray">
                                    <div class="ml-0 d-flex flex-column">
                                        <div class="subtitle-2 grey--text text--darken-1">Semester</div>
                                        <div class="text-h4 mt-3 text-center" style="color:#278A79">{{ semester.title.replace('Semester ','') }}</div>
                                    </div>
                                </v-col>
                                <v-col md="9" class="pa-0 grey--text text--darken-1">
                                    <v-row class="mx-0" style="border-bottom:1px solid gray">
                                        <v-col md="3" class="justify-center d-flex">
                                            <div class="body-2">Rank</div>
                                        </v-col>
                                        <v-col md="3" class="justify-center d-flex">
                                            <div class="body-2">Hour</div>
                                        </v-col>
                                        <v-col md="3" class="justify-center d-flex">
                                            <div class="body-2 ">Acquired</div>
                                        </v-col>
                                        <v-col md="3" class="justify-center d-flex">
                                            <div class="body-2 ">Target</div>
                                        </v-col>
                                    </v-row>
                                    <v-row class="ma-0 mt-2">
                                        <v-col md="3" class="justify-center d-flex">
                                            <div class="text-h6 ">{{ semester.rank.replace('Rank ', '') }}</div>
                                        </v-col>
                                        <v-col md="3" class="justify-center d-flex">
                                            <div class="text-h6 ">{{ semester.working }}</div>
                                        </v-col>
                                        <v-col md="3" class="justify-center d-flex">
                                            <div class="text-h6">{{ semester.acquire }}</div>
                                        </v-col>
                                        <v-col md="3" class="justify-center d-flex">
                                            <div class="text-h6">{{ semester.target }}</div>
                                        </v-col>
                                    </v-row>
                                </v-col>
                            </div>
                        </div>
                    </v-card>
                </v-col>
                <v-col cols="12" lg="4" md="4" sm="12">
                    <div class="caption pb-2 grey--text text--darken-2" style="border-bottom:1px solid #A0A0A0">COMPANY SIGNATURE</div>
                    <v-img position="center bottom" class="font-weight-medium d-flex align-center text-center" :src="require(`~/assets/company/${findCompany(users.student.company_members, non_vc).company.logo}`)" gradient="to top right, rgba(255,255,255,.92), rgba(255,255,255,.92)" style="height:200px;">
                        <div v-resize-text="{ratio:0.5}" style="font-family:Safiar Signature !important;" class="pb-2">{{ findCompany(users.student.company_members, non_vc).company.president.name }}</div>
                    </v-img>
                        <div class="text-right text-uppercase caption font-weight-regular">President of {{ findCompany(users.student.company_members, non_vc).company.code }}</div>
                </v-col>
            </v-row>
        </v-main>
        <v-card-text tile :style="'border-left:1px solid #ddd;background-color:#FAFAFA;height:100%;width:320px;display:'+display" class="pa-0">
          <Skillset title='Skillset' :user='users' :skills='skills' style="height:550px"/>
        </v-card-text>
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
import Skillset from "~/components/graph/skillset.vue";

export default {
    props: {
        skills: { type : Array },
        semesters: { type: Array },
        users: { type: Object },
        non_vc: { type: Object }
    },
    methods: {
        findCompany (companylist, nonvc) {
            if (companylist.length < 1) {
                return nonvc
            }else {
                for (let company in companylist) {
                    if (companylist[company].status == 'Active') {
                        return companylist[company]
                    }
                }
                return nonvc
            }
        },
    },
    computed: {
        display () {
            switch (this.$vuetify.breakpoint.name) {
                default: return 'none !important'
                case 'xl': return 'block !important'
            }
        },
        info () {
            switch (this.$vuetify.breakpoint.name) {
                case 'xs': return 'none !important'
                case 'sm': return 'none !important'
                default: return 'block !important'
            }
        },
        pixel () {
            switch (this.$vuetify.breakpoint.name) {
                case 'xs': return 'auto'
                default: return '225'
            }
        }
    },
    data: () => ({
    }),
    components: {
        Skillset
    },
    directives: {
    }
};
</script>

<style scoped>
</style>
