<template>
  <v-container class="pa-5 ba-0">
    <v-card-title class="py-0 pt-2" style="padding: 0 20px 0 20px">
      <v-card-text class="subtitle-1 font-weight-medium grey--text text--darken-2 pa-0">
        {{ user.username }}
      </v-card-text>
      <div class="caption grey--text text--darken-1" style="width:100%;margin-top:-5px">{{ user.student.rank.name }}</div>
      <div class="title px-0 py-2 text-h5 font-weight-medium" style="color:#5E80AD;">
        {{ title }}
      </div>
    </v-card-title>
    <v-main class="mt-3" style="overflow-y:scroll; height:100%">
      <div v-for="skill in skills" :key="skill.index" class="px-3">
        <v-card-title class="caption px-5 pt-7">
          <v-row>
            <v-col md="8" class="d-flex justify-bottom pa-0 grey--text text--darken-2 text-truncate"><span>{{ skill.title }}</span></v-col>
            <v-col md="4" class="d-flex justify-end pa-0 caption"><span>{{ skill.point }}</span></v-col>
          </v-row>
        </v-card-title>
        <v-card-actions class="pt-1">
          <v-progress-linear
            height="6"
            background-color="grey lighten-2"
            :value='skill.percent'
            :color=skill.color
          ></v-progress-linear>
        </v-card-actions>
      </div>
    </v-main>
  </v-container>
</template>

<script>
export default {
  props: {
    title:{
      type: String
    },
    skills: {
      type: Array
    },
    user: {
      type: Object
    }
  },
  data: () => ({
  })
};
</script>

<style scoped>
</style>