<template>
  <v-container fluid class="px-0">
    <v-row class="pt-14 px-3" justify="start" align="center">
      <v-col class="pa-0">
        <div class="text-left">
          <Title :items="route" />
        </div>
      </v-col>
      <v-col class="pa-0">
        <div class="d-flex justify-end">
          <DialogStudent
            class="pr-2"
            v-if="$store.state.user.role == 'ADMIN'"
          />
          <PageButton title="Card" route="/student/student_card" />
        </div>
      </v-col>
    </v-row>
    <v-row justify="center" align="start" class="px-0 mt-10">
      <v-col cols="12" lg="2" md="3" sm="5" class="py-1">
        <Subtitle
          title="All KIT Students"
          icon="mdi-card-account-details-outline"
        />
      </v-col>
      <v-col cols="12" lg="3" md="9" sm="7" class="py-1">
        <Search v-model="search" />
      </v-col>
      <v-col cols="12" lg="3" md="4" sm="6" class="py-1">
        <div class="d-flex flex-row align-center justify-end">
          <div class="body-2 grey--text text--darken-3">
            Department<span class="px-1">:</span>
          </div>
          <v-card-actions
            align="center"
            justify="center"
            class="body-2 pl-5 pa-0 pr-0"
            style="width: 100%"
          >
            <v-combobox
              class="
                align-center
                justify-center
                pa-0
                subtitle-2
                font-weight-regular
              "
              :items="departments"
              v-model="selectedDepartment"
              v-on:change="onSelectDepartment"
              item-text="name"
              item-value="id"
              dense
              outlined
              solo
              label="Select Department"
              transition="slide-y-reverse-transition"
              overflow
              return-object
              hide-details="true"
            ></v-combobox>
          </v-card-actions>
        </div>
      </v-col>
      <v-col cols="12" lg="2" md="4" sm="6" class="py-1">
        <div class="d-flex flex-row align-center justify-end">
          <div class="body-2 grey--text text--darken-3">
            Batch<span class="px-1">:</span>
          </div>
          <v-card-actions
            align="center"
            justify="center"
            class="body-2 pl-5 pa-0 pr-0"
            style="width: 100%"
          >
            <v-combobox
              class="
                align-center
                justify-center
                pa-0
                subtitle-2
                font-weight-regular
              "
              :items="batches"
              v-model="selectedBatch"
              v-on:change="onSelectBatch"
              item-text="name"
              item-value="id"
              dense
              outlined
              solo
              label="Select Batch"
              transition="slide-y-reverse-transition"
              overflow
              return-object
              hide-details="true"
            ></v-combobox>
          </v-card-actions>
        </div>
      </v-col>
      <v-col cols="12" lg="2" md="4" sm="12" class="py-1">
        <div class="d-flex flex-row align-center justify-end">
          <div class="body-2 grey--text text--darken-3">
            Per Page<span class="px-1">:</span>
          </div>
          <v-card-actions
            align="center"
            justify="center"
            class="body-2 pl-5 pa-0 pr-0"
            style="width: 100%"
          >
            <v-select
              class="align-center justify-center pa-0 subtitle-2"
              :items="pages"
              item-text="name"
              item-value="id"
              dense
              outlined
              :value="itemsPerPage"
              v-on:change="onSelectPage"
              transition="slide-y-reverse-transition"
              :hide-details="true"
              @change="itemsPerPage = parseInt($event, 10)"
            >
            </v-select>
          </v-card-actions>
        </div>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-card
          width="100%"
          tile
          outlined
          style="border-top: 3px solid #5a90bf"
        >
          <v-data-table
            :headers="headers"
            :items="students_list"
            :single-expand="singleExpand"
            :expanded.sync="expanded"
            show-expand
            :header-props="{ 'sort-icon': 'mdi-chevron-up' }"
            hide-default-footer=""
            class="px-0"
            :search="search"
            :page.sync="currentPage"
            :items-per-page="itemsPerPage"
          >
            <template
              v-slot:[`item.data-table-expand`]="{ expand, isExpanded }"
            >
              <v-icon @click="expand(!isExpanded)"
                >mdi-text-box-search-outline</v-icon
              >
            </template>

            <template v-slot:[`item.next_actions`]>
              <v-btn
                small
                depressed
                color="primary"
                width="100px"
                class="text-capitalize font-weight-regular"
                >Complete</v-btn
              >
            </template>

            <template v-slot:[`item.range`]="{ index }">
              <div>
                {{ index + 1 }}
              </div>
            </template>
          </v-data-table>
          <v-card color="grey lighten-3" outlined tile>
            <v-card-text
              class="pa-0 py-2 pa-2 d-flex align-center justify-center"
            >
              <div class="body-2 pl-2">
                Display 1 to {{ itemsPerPage }} of {{ totalItems }} Entries
              </div>
              <v-spacer></v-spacer>
              <div>
                <v-pagination
                  :total-visible="7"
                  v-model="currentPage"
                  :length="pageCount"
                  @input="handlePageChange"
                ></v-pagination>
              </div>
            </v-card-text>
          </v-card>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Title from "~/components/title/user_friendly.vue";
import Subtitle from "~/components/card/subtitle.vue";
import Search from "~/components/input/search.vue";
import Page from "~/components/selector/label_selector.vue";
import PageButton from "~/components/button/page-button.vue";
import DialogStudent from "~/components/dialog/dialog-student.vue";
export default {
  data() {
    return {
      expanded: [],
      totalItems: 0,
      search: "",
      singleExpand: false,
      currentPage: 1,
      pageCount: 0,
      itemsPerPage: 10,
      pages: [10, 20, 50, 100],
      toggle_exclusive: undefined,
      students_list: [],
      batches: [],
      departments: [],
      selectedBatch: null,
      department_id: null,
      selectedDepartment: null,
      route: [{ text: "Student" }, { text: "Student_List" }],
      headers: [
        { text: "", value: "range", width: "3%", align: "center" },
        { text: "Student Name", value: "name", width: "15%" },
        { text: "Gender", value: "gender", width: "7%" },
        { text: "Rank", value: "rank.name", width: "7%" },
        { text: "Roll Number", value: "roll_number", width: "15%" },
        { text: "Department", value: "department.name", width: "15%" },
        { text: "Batch", value: "batch.name", width: "10%" },
        { text: "User", value: "user.username", width: "15%" },
        {
          text: "Is Alumni?",
          value: "is_alumni",
          width: "7%",
          align: "center",
        },
        {
          text: "Details",
          value: "data-table-expand",
          width: "3%",
          align: "center",
        },
      ],
    };
  },
  mounted() {
    this.getDepartments();
    this.getBatches(); // number 1 is department_id
    this.getStudents(1, 1);
    // this.onSelectPage();
  },
  methods: {
    handlePageChange(value) {
      this.currentPage = value;
      this.getStudents(this.selectedDepartment.id, this.selectedBatch.id);
      console.log("This Is Pagination", this.currentPage);
    },
    async getStudents(dep_id, b_id) {
      let { students_list, page, pages, total } = await this.$axios.$get(
        `/student/students/paginate_card?department=${dep_id}&batch=${b_id}&per_page=${this.itemsPerPage}&page=${this.currentPage}`
      );

      this.pageCount = pages;
      this.totalItems = total;
      this.page = page;
      console.log("====", pages, this.currentPage);
      this.students_list = students_list;
    },

    async getBatches() {
      let { batches } = await this.$axios.$get(`/batches`);
      let dep_id = this.selectedDepartment.id;

      var filterBatchByDepartment = batches.filter(function (e) {
        return e.department.id == dep_id;
      });
      this.batches = filterBatchByDepartment;
      this.selectedBatch = {
        name: filterBatchByDepartment[0].name,
        id: filterBatchByDepartment[0].id,
      };
    },

    async onSelectDepartment(el) {
      this.selectedDepartment.id = el.id;
      console.log(this.selectedBatch.id);
      await this.getBatches();
      this.getStudents(el.id, this.selectedBatch.id);
    },

    onSelectBatch(el) {
      //el : selected element
      this.getStudents(this.selectedDepartment.id, el.id);
      console.log("-----", el);
    },

    onSelectPage(el) {
      this.itemsPerPage = el;
      console.log("_+_+_+_", this.itemsPerPage);
      this.getStudents(this.selectedDepartment.id, this.selectedBatch.id);
    },

    async getDepartments() {
      let departments = await this.$axios.$get(
        "/select_option/all_departments_list"
      );
      this.selectedDepartment = {
        name: departments[0].name,
        id: departments[0].id,
      };
      this.departments = departments;
      // console.log(this.selectedDepartment.id);
    },

    sumField(key) {
      // sum data in give key (property)
      return this.students_list.reduce((a, b) => a + (b[key] || 0), 0);
    },
  },
  computed: {},
  components: {
    Title,
    Subtitle,
    Search,
    Page,
    PageButton,
    DialogStudent,
  },
};
</script>

<style>
td,
th {
  border-right: 1px solid #d1d1d1 !important;
}
.v-data-table__expanded.v-data-table__expanded__content {
  box-shadow: none !important;
}
.pagination {
  display: inline-block;
}

.v-input__slot {
  align-items: center;
  justify-content: center;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
.v-pagination__item .v-pagination__item--active .primary {
  background-color: #e3e3e3 !important;
  border-color: #b8b8b8 !important;
  color: #606060 !important;
  font-size: 18px;
}

.v-pagination__item {
  border-radius: 0;
  font-size: 1rem;
  height: 43px;
  width: 54px;
  margin: 0;
  min-width: 34px;
  border: 1px solid #b8b8b8;
  /* padding: 0 3px; */
  text-decoration: none;
  transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
  box-shadow: none;
}
.v-pagination__navigation {
  box-shadow: none;
  border-radius: 0;
  display: inline-flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 1px solid #b8b8b8;
  height: 43px;
  width: 54px;
}
</style>
