<template>
  <v-container fluid class="px-0">
    <v-row class="pt-14 px-3" justify="start" align="center">
      <v-col class="pa-0">
        <div class="text-left">
          <Title :items="route" />
        </div>
      </v-col>
    </v-row>
    <v-row justify="center" align="start" class="px-0 mt-10">
      <v-col cols="12" lg="2" md="3" sm="3" class="py-1">
        <Subtitle
          title="Students Availability"
          icon="mdi-account-settings-outline"
        />
      </v-col>
      <v-col cols="12" lg="4" md="5" sm="8" class="py-1">
        <Search v-model="search" />
      </v-col>
      <v-col cols="12" lg="3" md="4" class="py-1">
        <div class="d-flex flex-row align-center justify-end">
          <div class="body-2 grey--text text--darken-3">
            Availability<span class="px-1">:</span>
          </div>
          <v-card-actions
            align="center"
            justify="center"
            class="body-2 pl-5 pa-0 pr-0"
            style="width: 100%"
          >
            <v-combobox
              class="
                align-center
                justify-center
                pa-0
                subtitle-2
                font-weight-regular
              "
              :items="availability"
              v-model="selectedAvailability"
              item-text="name"
              item-value="id"
              dense
              outlined
              solo
              label="Select Department"
              transition="slide-y-reverse-transition"
              overflow
              return-object
              hide-details="true"
            ></v-combobox>
          </v-card-actions>
        </div>
      </v-col>
      <v-col cols="12" lg="3" md="3" class="py-1">
        <div class="d-flex flex-row align-center justify-end">
          <div class="body-2 grey--text text--darken-3">
            Department<span class="px-1">:</span>
          </div>
          <v-card-actions
            align="center"
            justify="center"
            class="body-2 pl-5 pa-0 pr-0"
            style="width: 100%"
          >
            <v-combobox
              class="
                align-center
                justify-center
                pa-0
                subtitle-2
                font-weight-regular
              "
              :items="departments"
              v-model="selectedDepartment"
              item-text="name"
              item-value="id"
              dense
              outlined
              solo
              label="Select Department"
              transition="slide-y-reverse-transition"
              overflow
              return-object
              hide-details="true"
            ></v-combobox>
          </v-card-actions>
        </div>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <!-- <Datatable :headers="headers" :body="body" :search="search"/>
         -->
        <v-card
          width="100%"
          tile
          outlined
          style="border-top: 3px solid #5a90bf"
        >
          <v-data-table
            :headers="headers"
            :items="body"
            :single-expand="singleExpand"
            :expanded.sync="expanded"
            show-expand
            :header-props="{ 'sort-icon': 'mdi-chevron-up' }"
            hide-default-footer=""
            class="px-0 truncate"
            :search="search"
            :page.sync="page"
            :items-per-page="itemsPerPage"
            @page-count="pageCount = $event"
          >
            <template
              v-slot:[`item.data-table-expand`]="{ expand, isExpanded }"
            >
              <v-icon @click="expand(!isExpanded)"
                >mdi-text-box-search-outline</v-icon
              >
            </template>

            <template v-slot:[`item.range`]="{ index }">
              <div>
                {{ index + 1 }}
              </div>
            </template>

            <template v-slot:expanded-item="{ headers }">
              <td :colspan="headers.length">
                <div class="d-flex justify-space-between align-center px-10">
                  <div class="d-flex justify-space-between pl-5 py-3">
                    <div class="py-3">
                      <div class="pb-2">
                        <span class="font-weight-bold pr-5"
                          >Active Projects:</span
                        >
                        <span>5</span>
                      </div>
                      <div class="pt-2">
                        <span class="font-weight-bold pr-5"
                          >Approved Projects:</span
                        >
                        <span>20</span>
                      </div>
                    </div>
                    <div class="py-3 pl-16">
                      <div class="pb-2">
                        <span class="font-weight-bold pr-5"
                          >Active Members:</span
                        >
                        <span>6</span>
                      </div>
                      <div class="pt-2">
                        <span class="font-weight-bold pr-5"
                          >Inactive Members:</span
                        >
                        <span>4</span>
                      </div>
                    </div>
                  </div>
                  <div>
                    <v-btn
                      width="130"
                      to="/mains/company/4"
                      outlined
                      text
                      class="grey--text text--darken-2 text-capitalize"
                    >
                      <span class="pr-2"><v-icon>mdi-eye-outline</v-icon></span>
                      <span>Preview</span>
                    </v-btn>
                    <v-btn
                      outlined
                      width="100"
                      class="white--text primary text-capitalize"
                    >
                      <span>Edit</span>
                    </v-btn>
                    <v-btn
                      outlined
                      width="120"
                      class="white--text red lighten-2 text-capitalize"
                    >
                      <span>Remove</span>
                    </v-btn>
                  </div>
                </div>
              </td>
            </template>
          </v-data-table>
          <v-card color="grey lighten-3" outlined tile>
            <v-card-text
              class="pa-0 py-2 pa-2 d-flex align-center justify-center"
            >
              <div class="body-2 pl-2">
                Display 1 to {{ itemsPerPage }} of {{ totalItems }} Entries
              </div>
              <v-spacer></v-spacer>
              <div>
                <v-pagination
                  :total-visible="7"
                  v-model="page"
                  :length="pageCount"
                ></v-pagination>
              </div>
            </v-card-text>
          </v-card>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Title from "~/components/title/user_friendly.vue";
import Subtitle from "~/components/card/subtitle.vue";
import Search from "~/components/input/search.vue";
import Page from "~/components/selector/label_selector.vue";
import Student from "~/components/card/student_card.vue";
import Datatable from "~/components/datatable/table.vue";
export default {
  middleware: "authenticated",
  computed: {
    justify() {
      switch (this.$vuetify.breakpoint.name) {
        case "xs":
          return "around";
        case "sm":
          return "around";
        case "md":
          return "between";
        case "lg":
          return "between";
        case "xl":
          return "between";
      }
    },
    totalItems() {
      return this.body.length;
    },
  },
  mounted() {
    this.getDepartments();
  },
  methods: {
    async getDepartments() {
      let departments = await this.$axios.$get(
        "/select_option/all_departments_list"
      );
      this.departments = departments;
    },
  },
  data: () => ({
    errorPage: false,
    expanded: [],
    singleExpand: false,
    page: 1,
    pageCount: 0,
    itemsPerPage: 10,
    pages: [10, 20, 50, 100],
    search: "",
    batches: [],
    departments: [],
    selectedDepartment: null,
    selectedAvailability: null,
    availability: [
      { name: "Current Available" },
      { name: "Available in 1 month" },
      { name: "Available in 2 month" },
      { name: "In overdue project" },
    ],
    route: [{ text: "Student" }, { text: "Student Availability" }],
    headers: [
      { text: "", value: "id", width: "3%", align: "center" },
      { text: "Student Name", value: "student_name", width: "15%" },
      { text: "Gender", value: "gender", width: "7%" },
      { text: "Department", value: "department", width: "15%" },
      { text: "Batch", value: "batch", width: "10%" },
      { text: "Rank", value: "rank", width: "7%" },
      { text: "Roll Number", value: "roll_number", width: "15%" },
      { text: "Company", value: "company", width: "15%" },
      {
        text: "Details",
        value: "data-table-expand",
        width: "3%",
        align: "center",
      },
    ],
    body: [
      {
        id: 1,
        value: false,
        student_name: "Akihiro Ohtani",
        gender: "M",
        department: "Software Engineering",
        batch: "Batch 5 SE",
        rank: "Rank C",
        roll_number: "SE180001",
        company: "",
      },
      {
        id: 2,
        value: false,
        student_name: "Chea Chansineath",
        gender: "M",
        department: "Software Engineering",
        batch: "Batch 8 SE",
        rank: "Rank B",
        roll_number: "1101901083",
        company: "Compass",
      },
      {
        id: 3,
        value: false,
        student_name: "Chhoeurn Sokheng",
        gender: "F",
        department: "Software Engineering",
        batch: "Batch 8 SE",
        rank: "Rank B",
        roll_number: "1101901084",
        company: "",
      },
      {
        id: 4,
        value: false,
        student_name: "E Sokmean",
        gender: "F",
        department: "Software Engineering",
        batch: "Batch 8 SE",
        rank: "Rank B",
        roll_number: "1101901023",
        company: "Compass",
      },
    ],
  }),
  components: {
    Title,
    Subtitle,
    Search,
    Page,
    Student,
    Datatable,
  },
};
</script>

<style lang="scss" scoped>
</style>