<template>
  <v-container fluid class="px-0">
    <v-row class="pt-14 px-3" justify="start" align="center">
      <v-col class="pa-0">
        <div class="text-left">
          <Title :items="route" />
        </div>
      </v-col>
      <v-col class="pa-0">
        <div class="d-flex justify-end">
          <DialogStudent
            class="pr-2"
            v-if="$store.state.user.role == 'ADMIN'"
          />
          <PageButton title="List" route="/student/student_list" />
        </div>
      </v-col>
    </v-row>
    <v-row justify="center" align="start" class="px-0 mt-10">
      <v-col cols="12" lg="2" md="3" sm="5" class="py-1">
        <Subtitle
          title="All KIT Students"
          icon="mdi-card-account-details-outline"
        />
      </v-col>
      <v-col cols="12" lg="3" md="9" sm="7" class="py-1">
        <Search v-model="search" />
      </v-col>
      <v-col cols="12" lg="3" md="4" sm="6" class="py-1">
        <div class="d-flex flex-row align-center justify-end">
          <div class="body-2 grey--text text--darken-3">
            Department<span class="px-1">:</span>
          </div>
          <v-card-actions
            align="center"
            justify="center"
            class="body-2 pl-5 pa-0 pr-0"
            style="width: 100%"
          >
            <v-combobox
              class="
                align-center
                justify-center
                pa-0
                subtitle-2
                font-weight-regular
              "
              :items="departments"
              v-model="selectedDepartment"
              v-on:change="onSelectDepartment"
              item-text="name"
              item-value="id"
              dense
              outlined
              solo
              label="Select Department"
              transition="slide-y-reverse-transition"
              overflow
              return-object
              hide-details="true"
            ></v-combobox>
          </v-card-actions>
        </div>
      </v-col>
      <v-col cols="12" lg="2" md="4" sm="6" class="py-1">
        <div class="d-flex flex-row align-center justify-end">
          <div class="body-2 grey--text text--darken-3">
            Batch<span class="px-1">:</span>
          </div>
          <v-card-actions
            align="center"
            justify="center"
            class="body-2 pl-5 pa-0 pr-0"
            style="width: 100%"
          >
            <v-combobox
              class="
                align-center
                justify-center
                pa-0
                subtitle-2
                font-weight-regular
              "
              :items="batches"
              v-model="selectedBatch"
              v-on:change="onSelectBatch"
              item-text="name"
              item-value="id"
              dense
              outlined
              solo
              label="Select Batch"
              transition="slide-y-reverse-transition"
              overflow
              return-object
              hide-details="true"
            ></v-combobox>
          </v-card-actions>
        </div>
      </v-col>
      <v-col cols="12" lg="2" md="4" sm="12" class="py-1">
        <div class="d-flex flex-row align-center justify-end">
          <div class="body-2 grey--text text--darken-3">
            Per Page<span class="px-1">:</span>
          </div>
          <v-card-actions
            align="center"
            justify="center"
            class="body-2 pl-5 pa-0 pr-0"
            style="width: 100%"
          >
            <v-select
              class="align-center justify-center pa-0 subtitle-2"
              :items="pages"
              item-text="name"
              item-value="id"
              dense
              outlined
              :value="itemsPerPage"
              v-on:change="onSelectPage"
              transition="slide-y-reverse-transition"
              :hide-details="true"
              @change="itemsPerPage = parseInt($event, 10)"
            >
            </v-select>
          </v-card-actions>
        </div>
      </v-col>
    </v-row>
    <v-row :class="'mt-8 px-3 d-flex justify-space-' + justify">
      <div
        v-for="student in data"
        :key="student.index"
        style="width: 18.9%; min-width: 300px"
        class="mb-6"
      >
        <Student :item="student" />
      </div>
    </v-row>
    <v-row justify="end" align="start" class="px-3 py-3">
      <v-pagination
        :total-visible="7"
        v-model="currentPage"
        :length="pageCount"
        @input="handlePageChange"
      ></v-pagination>
    </v-row>
  </v-container>
</template>

<script>
import Title from "~/components/title/user_friendly.vue";
import Subtitle from "~/components/card/subtitle.vue";
import Search from "~/components/input/search.vue";
import Page from "~/components/selector/label_selector.vue";
import Student from "~/components/card/student_card.vue";
import PageButton from "~/components/button/page-button.vue";
import DialogStudent from "~/components/dialog/dialog-student.vue";

export default {
  middleware: "authenticated",
  data: () => ({
    pageCount: 0,
    data: [],
    search: "",
    itemsPerPage: 10,
    currentPage: 1,
    pages: [10, 20, 50, 100],
    batches: [],
    departments: [],
    selectedBatch: null,
    department_id: null,
    selectedDepartment: null,
    route: [{ text: "Student" }, { text: "Student Card" }],
  }),
  mounted() {
    this.getDepartments();
    this.getBatches(); // number 1 is department_id
    this.getStudents(1, 1);
  },
  methods: {
    handlePageChange(value) {
      this.data = [];
      this.currentPage = value;
      this.getStudents(this.selectedDepartment.id, this.selectedBatch.id);
      console.log("This Is Pagination", this.currentPage);
    },

    async getStudents(dep_id, b_id) {
      let { students_list, page, pages } = await this.$axios.$get(
        `/student/students/paginate_card?department=${dep_id}&batch=${b_id}&per_page=${this.itemsPerPage}&page=${this.currentPage}`
      );

      this.pageCount = pages;
      this.page = page;
      console.log("====", pages, this.currentPage);

      for (const s of students_list) {
        const student = {
          id: s.user.id,
          title: s.name,
          alumini: true,
          subtitle: `Graduate ${s.batch.end_date.slice(0, 4)}`,
          student_id: s.roll_number,
          img: require(`~/assets/profile/${s.user.profile_pic}`),
          president: "Huy Sophanna",
          batch: s.batch.name,
          rank: s.rank.name,
          color:
            s.department.name === "Software Engineering"
              ? "#75A6D0"
              : "#D2575B",
          // TM #D2575B, SE #75A6D0
          project: {
            main: "In Progress",
            main_data: "1",
            tab_1: "Estimate",
            tab_1_data: "2420",
            tab_2: "Actual",
            tab_2_data: "454",
          },
          approve: {
            main: "Approved",
            main_data: "12",
            tab_1: "Actual",
            tab_1_data: "420",
            tab_2: "Acquired",
            tab_2_data: "203",
          },
          complete: {
            main: "Completed",
            main_data: "12",
            tab_1: "Actual",
            tab_1_data: "420",
            tab_2: "Acquired",
            tab_2_data: "0",
          },
        };
        this.data.push(student);
      }
    },

    async getBatches() {
      let { batches } = await this.$axios.$get(`/batches`);
      let dep_id = this.selectedDepartment.id;

      var filterBatchByDepartment = batches.filter(function (e) {
        return e.department.id == dep_id;
      });
      this.batches = filterBatchByDepartment;
      this.selectedBatch = {
        name: filterBatchByDepartment[0].name,
        id: filterBatchByDepartment[0].id,
      };
    },

    async onSelectDepartment(el) {
      this.data = [];
      this.selectedDepartment.id = el.id;
      console.log(this.selectedBatch.id);
      await this.getBatches();
      this.getStudents(el.id, this.selectedBatch.id);
    },

    onSelectBatch(el) {
      //el : selected element
      this.data = [];
      this.getStudents(this.selectedDepartment.id, el.id);
    },

    onSelectPage(el) {
      this.data = [];
      this.itemsPerPage = el;
      console.log("_+_+_+_", this.itemsPerPage);
      this.getStudents(this.selectedDepartment.id, this.selectedBatch.id);
    },

    async getDepartments() {
      let departments = await this.$axios.$get(
        "/select_option/all_departments_list"
      );
      this.selectedDepartment = {
        name: departments[0].name,
        id: departments[0].id,
      };
      this.departments = departments;
    },
  },
  computed: {
    justify() {
      switch (this.$vuetify.breakpoint.name) {
        case "xs":
          return "around";
        case "sm":
          return "around";
        case "md":
          return "between";
        case "lg":
          return "between";
        case "xl":
          return "between";
      }
    },
  },

  components: {
    Title,
    Subtitle,
    Search,
    Page,
    Student,
    PageButton,
    DialogStudent,
  },
};
</script>

<style>
.pagination {
  display: inline-block;
}

.v-input__slot {
  align-items: center;
  justify-content: center;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
.v-pagination__item .v-pagination__item--active .primary {
  background-color: #e3e3e3 !important;
  border-color: #b8b8b8 !important;
  color: #606060 !important;
  font-size: 18px;
}

.v-pagination__item {
  border-radius: 0;
  font-size: 1rem;
  height: 43px;
  width: 54px;
  margin: 0;
  min-width: 34px;
  border: 1px solid #b8b8b8;
  /* padding: 0 3px; */
  text-decoration: none;
  transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
  box-shadow: none;
}
.v-pagination__navigation {
  box-shadow: none;
  border-radius: 0;
  display: inline-flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 1px solid #b8b8b8;
  height: 43px;
  width: 54px;
}
</style>