<template>
  <div class="d-flex align-center justify-space-between">
    <span class="body-2 grey--text text--darken-3 pb-2" :style="'width:'+width">
      {{ title }}<span class="px-1">:</span>
    </span>
      <v-combobox
        class="tag-input align-center justify-center py-0"
        :items="select_combo"
        :label="label_field"
        dense
        solo
        elevation="0"
        :multiple="multiple_select"
        chips
        deletable-chips
        hide-details="true"
        outlined
        transition="slide-y-reverse-transition"
      ></v-combobox>
  </div>
</template>

<script>
export default {
  props: {
    multiple_select: String,
    width: String,
    label_field: String,
    title: String,
    select_combo: {
      type: Array,
    },
  },
};
</script>

<style>
.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat) > .v-input__control > .v-input__slot {
  box-shadow: none;
}
.tag-input span.v-chip {
  background-color: #5192d3;
  color: #fff;
  font-size:1em;
  padding-left:7px;
}
</style>