<template>
  <div class="d-flex flex-row align-center justify-end">
    <div class="body-2 grey--text text--darken-3" :style="'width:'+width">{{ title }}<span class="px-1">:</span></div>
    <v-card-actions align="center" justify="center" class="body-2 pl-5 pa-0 pr-0" style="width:100%">
      <v-select
        class="align-center justify-center pa-0 subtitle-2"
        :items="select_list"
        v-model="defaultSelect"
        item-text="name"
        item-value="id"
        dense
        outlined
        :label="select_label"
        transition="slide-y-reverse-transition"
        overflow
        return-object
        hide-details="true"
      ></v-select>
    </v-card-actions>
  </div>
</template>

<script>
    export default {
        props: {
          select_label: {
            type: String
          },
          defaultSelect: {
            type: Object
          },
          title: {
            type: String
          },
          select_list: {
            type: Array,
          },
          width: {
            type: String
          }
        }
    }
</script>