<template>
  <div class="align-center">
    <v-row>
      <v-col class="">
        <v-card
          class="member_scroll"
          outlined
          width="100%"
          height="300"
          elevation="0"
          style="border-top: 3px solid #5a90bf"
        >
          <v-card-actions class="px-0 py-1">
            <v-list-item-group
              id="addmembers"
              style="opacity: 0.6; width: 100%"
              :item-height="200"
              three-line
              class="scroll_item"
            >
              <template>
                <v-list-item
                  style="width: 100% !important"
                  v-for="item in selectedStudent"
                  :key="item.index"
                  :value="item.id"
                >
                  <v-list-item-avatar class="mr-5" size="70">
                    <v-img
                      :src="
                        require(`~/assets/profile/${item.user.profile_pic}`)
                      "
                    ></v-img>
                  </v-list-item-avatar>
                  <v-list-item-content>
                    <v-list-item-title>
                      {{ item.name }}
                    </v-list-item-title>
                    <v-list-item-subtitle class="subtitle-2">
                      <div class="font-weight-regular">
                        {{ item.batch.name }}
                      </div>
                      <!-- <div class="black--text dark"> {{ item.company_members[0].company.name }}</div> -->
                      <!-- <div class="black--text dark">{{ item.role }}</div> -->
                    </v-list-item-subtitle>
                  </v-list-item-content>
                  <v-list-item-action class="pr-3">
                    <v-btn icon @click="removeItem(item)">
                      <v-icon>mdi-close</v-icon>
                    </v-btn>
                  </v-list-item-action>
                </v-list-item>
              </template>
            </v-list-item-group>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
    <v-row class="my-0">
      <v-col class="d-flex justify-space-between">
        <v-card height="42px" width="100%" outlined class="d-flex mr-3">
          <v-card tile outlined width="30%" height="40px">
            <v-card-actions class="py-2 align-center justify-center"
              >Member
            </v-card-actions>
          </v-card>
          <v-card-title class="pa-0" style="width: 100%">
            <v-combobox
              multiple
              dense
              style="width: 100%"
              v-model="selectedStudent"
              append-icon
              chips
              deletable-chips
              solo
              color="primary"
              :items="studentsWithInfo"
              item-text="name"
              item-value="id"
              return-object
              class="tag-input"
            >
            </v-combobox>
          </v-card-title>
        </v-card>
        <v-btn
          width="Auto"
          depressed
          height="42px"
          color="text-capitalize white--text primary"
          @click="addMember()"
        >
          Add
        </v-btn>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  data: () => ({
    studentsWithInfo: [],
    selectedStudent: null,
  }),
  mounted() {
    this.getStudentsWithInfo();
  },
  methods: {
    removeItem(item) {
      this.selectedStudent.splice(item, 1);
    },
    addMember() {
      addmembers.style.opacity = "1";
    },
    async getStudentsWithInfo() {
      let studentsWithInfo = await this.$axios.$get(
        "/select_option/all_students_with_info"
      );
      this.studentsWithInfo = studentsWithInfo;
    },
  },
};
</script>

<style>
.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat)
  > .v-input__control
  > .v-input__slot {
  box-shadow: none;
}
.tag-input span.v-chip {
  background-color: #5293d4;
  color: rgb(44, 44, 44);
  font-size: 1em;
  padding-left: 7px;
}
.member_scroll {
  border-top: 3px solid #42a5f5;
}

.role.Project_Coordinator::after {
  border-right: 5px solid #f18900 !important;
  height: 85px;
}

.role.Technical_Advisor::after {
  border-right: 5px solid #cf6464 !important;
  height: 85px;
}

.role.Project_Leader::after {
  border-right: 5px solid #6481cf !important;
  height: 85px;
}

.scroll_item {
  height: 280px;
  border: 1px soild black;
  overflow-y: scroll; /* Add the ability to scroll */
}
.scroll_item::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll_item {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
</style>