<template>
  <v-app light>
    <v-app-bar class="white mx-0" elevate-on-scroll fixed height="80px">
      <v-avatar class="mx-3">
        <img src="../assets/logo/KPMS.png" />
      </v-avatar>
      <v-spacer></v-spacer>

      <v-toolbar-items class="pa-0 hidden-md-and-down">
        <v-menu
          left
          bottom
          light
          offset-y
          full-height
          open-on-click
          v-for="dropdown in dropdowns"
          :key="dropdown.index"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              class="text-capitalize font-weight-regular"
              v-bind="attrs"
              v-on="on"
              button
              text
              tile
            >
              <span>{{ dropdown.title }}</span>
            </v-btn>
          </template>
          <v-list dense>
            <v-list-item
              v-for="child in dropdown.ele"
              :key="child.text"
              :to="child.route"
            >
              <v-list-item-title v-if="isAdmin">{{
                child.text
              }}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
        <v-menu light offset-y open-on-click>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              class="
                text-capitalize
                justify-space-around
                font-weight-regular
                text-left
              "
              v-bind="attrs"
              v-on="on"
              button
              width="280"
              x-large
              text
              tile
            >
              <img
                :src="require(`~/assets/profile/${$store.state.user.profile}`)"
                class="d-flex rounded-circle pa-1"
                width="50px"
                style="border: 1px solid #e6e6e6"
              />
              <div class="d-flex flex-column text-left px-3">
                <small class="text-left body-1"
                  >{{ $store.state.user.username }}
                </small>
                <v-spacer></v-spacer>
                <span class="font-weight-light text-lowercase body-2">{{
                  $store.state.user.email
                }}</span>
              </div>
            </v-btn>
          </template>

          <v-list dense>
            <v-list-item
              v-for="item in items"
              :key="item.text"
              :to="item.route"
            >
              <v-list-item-title class="d-flex align-center justify-center">
                <span>{{ item.text }}</span>
                <v-spacer></v-spacer>
                <v-list-item-icon align-self="flex-start">
                  <v-icon size="20">{{ item.icon }}</v-icon>
                </v-list-item-icon>
              </v-list-item-title>
            </v-list-item>
            <v-list-item @click="logout">
              <v-list-item-title class="d-flex align-center justify-center">
                <span>Logout</span>
                <v-spacer></v-spacer>
                <v-list-item-icon align-self="flex-start">
                  <v-icon size="20">mdi-logout</v-icon>
                </v-list-item-icon>
              </v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </v-toolbar-items>
      <v-btn icon class="mx-3">
        <v-icon small>mdi-information</v-icon>
      </v-btn>
    </v-app-bar>
    <v-app-bar
      class="hidden-lg-and-up white mx-0"
      elevate-on-scroll
      fixed
      height="80px"
    >
      <v-avatar class="mx-3">
        <img src="../assets/logo/KPMS.png" alt="" />
      </v-avatar>
      <v-spacer></v-spacer>
      <v-app-bar-nav-icon
        class="hidden-lg-and-up mx-2"
        @click.stop="drawer = !drawer"
      ></v-app-bar-nav-icon>
    </v-app-bar>
    <v-navigation-drawer
      class="hidden-lg-and-up"
      :width="350"
      right
      v-model="drawer"
      absolute
      temporary
      style="position: fixed; top: 0; right: 0; overflow-y: scroll"
    >
      <v-row align="center" justify="center">
        <v-card flat elevation="0" v-for="user in users" :key="user.index">
          <v-card-title class="pt-12 align-center justify-center">
            <img
              :src="$store.state.user.profile"
              class="d-flex rounded-circle pa-1"
              width="100px"
              style="border: 1px solid #e6e6e6"
            />
          </v-card-title>
          <v-card-text>
            <div class="d-flex flex-column text-center">
              <small class="text-center body-1">{{
                $store.state.user.username
              }}</small>
              <v-spacer></v-spacer>
              <span class="font-weight-light text-lowercase body-2">{{
                $store.state.user.email
              }}</span>
            </div>
          </v-card-text>
        </v-card>
      </v-row>

      <v-row class="py-0" align="center" justify="center">
        <v-card-actions v-for="item in items" :key="item.text">
          <v-btn :to="item.route" icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-btn>
        </v-card-actions>
      </v-row>

      <v-list class="pt-3 px-8">
        <v-divider class="py-1"></v-divider>
        <v-list-group
          v-for="dropdown in dropdowns"
          :key="dropdown.index"
          no-action
          append-icon="mdi-chevron-right"
        >
          >
          <template v-slot:activator>
            <v-list-item-content>
              <v-list-item-title>{{ dropdown.title }}</v-list-item-title>
            </v-list-item-content>
          </template>

          <v-list-item
            v-for="child in dropdown.ele"
            :key="child.text"
            :to="child.route"
          >
            <v-list-item-content>
              <v-list-item-title>{{ child.text }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-group>
      </v-list>
    </v-navigation-drawer>
    <v-main class="ma-5">
      <v-container fluid>
        <nuxt />
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
const Cookie = process.client ? require("js-cookie") : undefined;

export default {
  data: () => {
    const dropdowns = [
      {
        title: "Dashboard",
        icon: "mdi-chart-areaspline",
        ele: [
          {
            text: "Student Dashboard",
            route: "/dashboard/student_dashboard/155",
          },
          // { text: "Batch Dashboard", route: "/dashboard/batch_dashboard" },
          // {
          //   text: "Admin Dashboard",
          //   route: "/dashboard/admin_dashboard",
          // },
          // {
          //   text: "Admin Student Dashboard",
          //   route: "/dashboard/admin_student_dashboard",
          // },
        ],
      },
      {
        title: "Project",
        icon: "mdi-alpha-p-box-outline",
        ele: [
          { text: "Project", route: "/project/projects" },
          // { text: "Category", route: "/project/categories" },
          // { text: "Sub Category", route: "/project/sub_categories" },
          // { text: "Status", route: "/project/statuses" },
          // { text: "Skill", route: "/project/skills" },
        ],
      },
      {
        title: "Task",
        icon: "mdi-briefcase-outline",
        ele: [
          { text: "Task", route: "/task/tasks" },
          { text: "Daily report", route: "/task/daily_reports" },
          // { text: "Status", route: "/task/statuses" },
        ],
      },
      {
        title: "Student",
        icon: "mdi-school-outline",
        ele: [
          { text: "Student", route: "/student/student_card" },
          { text: "Summary", route: "/student/summaries" },

          // { text: "Summary", route: "/student/summaries" },
          // { text: "Rank", route: "/student/ranks" },
          // { text: "Charge Table", route: "/student/charge_tables" },
          // { text: "Charge Type", route: "/student/charge_types" },
          // {
          //   text: "Student Availability",
          //   route: "/student/students_availability",
          // },
        ],
      },
      {
        title: "Mains",
        icon: "mdi-alpha-m-box-outline",
        ele: [
          { text: "Companies", route: "/mains/company_card" },
          { text: "Client Companies", route: "/mains/client_company" },
          { text: "Semesters", route: "/mains/semesters" },
          // { text: "Department", route: "/mains/departments" },
          // { text: "Batches", route: "/mains/batches" },
          // { text: "Semesters", route: "/mains/semesters" },
          // { text: "Users", route: "/mains/users" },
        ],
      },
    ];
    return {
      drawer: false,
      group: null,
      dropdowns,
      items: [
        {
          icon: "mdi-account-circle",
          text: "Profile",
          route: "/profile/student/150",
        },
        { icon: "mdi-information", text: "Help", route: "/help" },
        { icon: "mdi-account-group", text: "About Us", route: "/about_us" },
        // { icon: "mdi-logout", text: "Log Out", click: "logout" },
      ],
      users: [
        {
          img: require("~/assets/default/profile.png"),
          first_name: "Adminstrator",
          last_name: "",
          email: "adminstrator@kit.edu.kh",
        },
      ],
    };
  },
  methods: {
    logout() {
      Cookie.remove("auth");
      Cookie.remove("user");
      this.$store.commit("setAuth", null);
      this.$store.commit("setUser", null);
      this.$router.push("/login");
    },

    isAdmin() {
      if (this.$store.state.user.role == "ADMIN") {
        this.dropdowns.push(
          {
            title: "General",
            icon: "mdi-cogs",
            ele: [
              { text: "Point Value", route: "/general/point_values" },
              {
                text: "Average Internship Hours",
                route: "/general/average_internship_hours",
              },
              {
                text: "Targeted Point Value",
                route: "/general/targeted_point",
              },
              {
                text: "Intern Session Detail",
                route: "/general/intern_session_detail",
              },
              {
                text: "Update Acquired Point Manually",
                route: "/general/update_acquired_point_maually",
              },
              // { text: "Importing data", route: "/general/importing_data" },
            ],
          },
          {
            title: "Stakeholders",
            icon: "mdi-account-group-outline",
            ele: [
              { text: "Stakeholder", route: "/stakeholder/stakeholders" },
              { text: "Tasks", route: "/stakeholder/stakeholder-task" },
              { text: "Speciaties", route: "/stakeholder/specialties" },
              { text: "Summaries", route: "/stakeholder/summaries" },
            ],
          },
          {
            title: "Competitions",
            icon: "mdi-trophy-award",
            ele: [
              { text: "Competition", route: "/competition/competitions" },
              { text: "Summary", route: "/competition/summary" },
            ],
          }
        );
        this.dropdowns.forEach((dropdown) => {
          if (dropdown.title === "Dashboard") {
            dropdown.ele.push(
              { text: "Batch Dashboard", route: "/dashboard/batch_dashboard" },
              { text: "Admin Dashboard", route: "/dashboard/admin_dashboard" },
              {
                text: "Admin Student Dashboard",
                route: "/dashboard/admin_student_dashboard",
              }
            );
          } else if (dropdown.title === "Project") {
            dropdown.ele.push(
              { text: "Category", route: "/project/categories" },
              { text: "Sub Category", route: "/project/sub_categories" },
              { text: "Status", route: "/project/statuses" },
              { text: "Skill", route: "/project/skills" }
            );
          } else if (dropdown.title === "Student") {
            dropdown.ele.push(
              { text: "Rank", route: "/student/ranks" },
              { text: "Charge Table", route: "/student/charge_tables" },
              { text: "Charge Type", route: "/student/charge_types" },
              {
                text: "Student Availability",
                route: "/student/students_availability",
              }
            );
          } else if (dropdown.title === "Task") {
            dropdown.ele.push({ text: "Status", route: "/task/statuses" });
          } else if (dropdown.title === "Mains") {
            dropdown.ele.push(
              { text: "Department", route: "/mains/departments" },
              { text: "Batches", route: "/mains/batches" },
              { text: "Users", route: "/mains/users" }
            );
          }
        });
      } else if (this.$store.state.user.role == "STAKEHOLDER") {
        this.dropdowns.push({
          title: "Competitions",
          icon: "mdi-trophy-award",
          ele: [
            { text: "Competition", route: "/competition/competitions" },
            { text: "Summary", route: "/competition/summary" },
          ],
        });
        this.dropdowns.forEach((dropdown) => {
          if (dropdown.title === "Student") {
            dropdown.ele.push({
              text: "Student Availability",
              route: "/student/students_availability",
            });
          } else if (dropdown.title === "Project") {
            dropdown.ele.push({ text: "Skill", route: "/project/skills" });
          }
        });
        return true;
      } else if (this.$store.state.user.role == "VC_PRESIDENT") {
        this.dropdowns.forEach((dropdown) => {
          if (dropdown.title === "Project") {
            dropdown.ele.push({ text: "Skill", route: "/project/skills" });
          }
        });
      }
    },
  },
  mounted() {
    this.isAdmin();
  },
  watch: {
    group() {
      this.drawer = false;
    },
  },
};
</script>
<style lang="scss">
html {
  font-family: "Roboto", sans-serif !important;
}
div {
  font-family: "Roboto", sans-serif !important;
}
</style>
