<template>
  <div style="margin: 0px; height: 100%" id="full">
    <div
      style="position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px"
    ></div>
    <Nuxt />
  </div>
</template>

<script>
export default {};
</script>

<style>
html {
  background-color: white;
}
</style>