<template>
  <div style="height: 100% !important; margin: 0px" class="pt-16">
    <div
      style="
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-color: white;
      "
    >
      <v-container fluid>
        <v-row align="center" justify="center">
          <div class="">
            <div class="display-4 font-weight-bold align-center justify-center">
              403
            </div>
            <h2 class="align-center justify-center">Access Denied</h2>
            <p>Full authentication is required to access this resource.</p>
            <v-btn
              class="text-capitalize"
              elevation="0"
              small
              outlined
              text
              depressed
              @click="to"
            >
              Go back</v-btn
            >
          </div>
        </v-row>
      </v-container>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    to() {
      this.$router.go(-1);
    },
  },
  data() {
    return {
      pageNotFound: "404 Not Found",
      otherError: "An error occurred",
    };
  },
};
</script>

<style>
</style>
