<template>
  <div style="height: 100% !important; margin: 0px" class="pt-16">
    <div
      style="
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-color: white;
      "
    >
      <v-container fluid>
        <v-row align="center" justify="center">
          <div class="">
            <div class="display-4 font-weight-bold align-center justify-center">
              404
            </div>
            <h2 class="align-center justify-center">
              Sorry but we couldn't find this page
            </h2>
            <p>This page you are looking for does not exist</p>
            <v-btn
              class="text-capitalize"
              elevation="0"
              small
              outlined
              text
              depressed
              @click="to"
            >
              Go back</v-btn
            >
          </div>
        </v-row>
      </v-container>
    </div>
  </div>
</template>