<template>
  <v-container fluid class="px-0">
    <v-row
      class="d-flex justify-space-between pt-14 px-3"
      justify="start"
      align="center"
    >
      <v-col class="pa-0">
        <div class="text-left">
          <Title :items="route" />
        </div>
      </v-col>
      <v-col class="pa-0">
        <div class="d-flex justify-end">
          <Dialog class="pr-2" v-if="$store.state.user.role == 'ADMIN'" />
          <PageButton title="List" route="/mains/client_company/list" />
        </div>
      </v-col>
    </v-row>
    <v-row justify="center" align="start" class="px-0 py-3 mb-2 mt-8">
      <v-col cols="12" lg="2" md="3" sm="4" class="py-1">
        <Subtitle title="Client Companies" icon="mdi-domain" />
      </v-col>
      <v-col cols="12" lg="10" md="9" sm="8" class="py-1">
        <Search />
      </v-col>
    </v-row>
    <v-row :class="'mt-0 px-3 d-flex justify-space-' + justify">
      <div
        v-for="company in data"
        :key="company.index"
        style="width: 18.9%; min-width: 300px"
        class="mb-6"
      >
        <Company :item="company" />
      </div>
    </v-row>
  </v-container>
</template>

<script>
import Title from "~/components/title/user_friendly.vue";
import Subtitle from "~/components/card/subtitle.vue";
import Search from "~/components/input/search.vue";
import Company from "~/components/card/client_card.vue";
import Dialog from "~/components/dialog/client-company.vue";
import PageButton from "~/components/button/page-button.vue";
export default {
  middleware: "authenticated",
  async asyncData({ $axios }) {
    const search = "";
    const { client_companies } = await $axios.$get(
      `/company/client_companies`,
      {
        data: {
          search: "",
        },
      }
    );
    console.log("+=+=+=+=+=+=+", client_companies);
    const data = [];
    for (const c of client_companies) {
      const company = {
        id: c.id,
        title: c.name,
        subtitle: c.description,
        img: require(`~/assets/client_company/${c.logo}`),
        // member: `Member ${c.company_members.length}`,
        project_count: `Project ${c.projects.length}`,
        color: "#75A6D0",
        project: {
          main: "In Progress",
          main_data: "1",
          tab_1: "Estimate",
          tab_1_data: "2420",
          tab_2: "Actual",
          tab_2_data: "454",
        },
        complete: {
          main: "Completed",
          main_data: "12",
          tab_1: "Actual",
          tab_1_data: "420",
          tab_2: "Acquired",
          tab_2_data: "0",
        },
        ceo: {
          role: "President",
          company: c.ceo ? c.ceo : "N/A",
          subtitle: "Batch 3 SE",
          company_abbreviation: c.name.match(/\b([A-Za-z])/g).join(""),
          // logo: require(`~/assets/profile/${c.}`),
        },
      };
      data.push(company);
    }
    return { data, client_companies, search };
  },
  computed: {
    justify() {
      switch (this.$vuetify.breakpoint.name) {
        case "xs":
          return "around";
        case "sm":
          return "around";
        case "md":
          return "between";
        case "lg":
          return "between";
        case "xl":
          return "between";
      }
    },
  },
  data: () => ({
    //   data: [
    //   {
    //     title: "DynamiXD",
    //     subtitle: "DynamiXD connect your world!",
    //     img: require("~/assets/company/DXD.jpeg"),
    //     member: "Member 28",
    //     project_count: "Project 4",
    //     color: "#75A6D0",
    //     project: {
    //       main: "In Progress",
    //       main_data: "1",
    //       tab_1: "Estimate",
    //       tab_1_data: "2420",
    //       tab_2: "Actual",
    //       tab_2_data: "454",
    //     },
    //     complete: {
    //       main: "Completed",
    //       main_data: "12",
    //       tab_1: "Actual",
    //       tab_1_data: "420",
    //       tab_2: "Acquired",
    //       tab_2_data: "0",
    //     },
    //     president: {
    //       role: "President",
    //       company: "In Darasith",
    //       subtitle: "Batch 6 SE",
    //       company_abbreviation: "DXD",
    //       logo: require("~/assets/profile/1101801052.jpeg"),
    //     },
    //   },
    // ],
    route: [
      {
        text: "Mains",
      },
      {
        text: "Client Company",
      },
    ],
  }),
  components: {
    Title,
    Subtitle,
    Search,
    Company,
    Dialog,
    PageButton,
  },
};
</script>

<style lang="scss" scoped>
</style>
