<template>
  <v-container fluid class="px-0">
    <v-row class="pt-14 pb-4" justify="start" align="center">
      <v-col class="py-0">
        <div class="text-left">
          <Title :items="items" />
        </div>
      </v-col>
    </v-row>
    <v-row justify="end" align="start" class="pt-3">
      <v-col cols="12" lg="3" class="py-1">
        <TextCard title="Established Date" :subtitle="companies.est_date" />
      </v-col>
    </v-row>
    <v-row justify="center" align="start">
      <v-col>
        <Profile :company="companies" />
      </v-col>
    </v-row>
    <!-- <v-row :style="'display:' + display">
      <v-col>
        <Info :items="info" />
      </v-col>
    </v-row> -->
    <v-row class="mt-4">
      <v-col cols="12" lg="2" md="3" class="py-1">
        <Subtitle title="Project" icon="mdi-alpha-p-box-outline" />
      </v-col>
      <v-col cols="12" lg="5" md="9" class="py-1">
        <Search v-model="search" />
      </v-col>
      <v-spacer></v-spacer>
      <v-col cols="12" lg="2" md="6" class="py-1">
        <Page
          width="120px"
          title="Per Page"
          :select_list="pages"
          :defaultSelect="selectedPage"
        />
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <Datatable :headers="headers" :search="search" :body="body" />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Title from "~/components/title/user_friendly.vue";
import Subtitle from "~/components/card/subtitle.vue";
import Skillset from "~/components/card/skillset.vue";
import Profile from "~/components/graph/clientprofile.vue";
import Search from "~/components/input/search.vue";
import Page from "~/components/selector/label_selector.vue";
import Datatable from "~/components/datatable/table.vue";
import TextCard from "~/components/card/text_card";
// import Info from "~/components/graph/graph_info.vue";
export default {
  middleware: "authenticated",
  async asyncData({ $axios }) {
    const search = "";
    const { client_companies } = await $axios.$get(
      `/company/client_companies`,
      {
        data: {
          search: "",
        },
      }
    );
    console.log("--------------------", client_companies);
    const companies = {
      id: client_companies[0].id,
      name: client_companies[0].name,
      description: client_companies[0].description,
      vice_chairman: "N/A",
      president: {
        name: client_companies[0].ceo,
      },
        active_project: {
          project: client_companies[0].projects.length
        },
      //   approved_project: {
      //     project: approved_projects
      //   },
      est_date: client_companies[0].established_date,
      phone: client_companies[0].phone,
      address: client_companies[0].address,
      website: client_companies[0].website,
      linkedin: client_companies[0].linkedin,
      facebook: client_companies[0].facebook ? client_companies[0].name : "N/A",
      company_abbreviation: "ICC",
      profile: require(`~/assets/client_company/${client_companies[0].logo}`),
      email: client_companies[0].email,
      point: {
        working: 6901,
        estimate: 501.9,
        actual: 301.9,
        propose: 201.1,
        acquire: 500,
      },
    };
    return { companies };
  },
  computed: {
    display() {
      switch (this.$vuetify.breakpoint.name) {
        case "xs":
          return "none !important";
        case "sm":
          return "none !important";
        case "md":
          return "none !important";
        case "lg":
          return "block !important";
        case "xl":
          return "block !important";
      }
    },
    hidden() {
      switch (this.$vuetify.breakpoint.name) {
        case "xs":
          return "none !important";
        case "sm":
          return "block !important";
        case "md":
          return "block !important";
        case "lg":
          return "block !important";
        case "xl":
          return "block !important";
      }
    },
  },
  data: () => ({
    search: "",
    company: [],
    selectedPage: { id: 10, name: "10" },
    pages: [
      { id: 10, name: "10" },
      { id: 20, name: "20" },
      { id: 50, name: "50" },
      { id: 100, name: "100" },
    ],
    items: [
      {
        text: "Mains",
      },
      {
        text: "Client Company",
      },
      {
        text: "View",
      },
    ],
    headers: [
      { text: "", value: "range", width: "3%", align: "center" },
      { text: "Project Name", value: "name", width: "24%", align: "left" },
      { text: "Project Leader", value: "project_leader", width: "10%" },
      { text: "Actual Point", value: "actual_point", width: "10%" },
      { text: "Acquire", value: "acquire_point", width: "10%" },
      { text: "Start Date", value: "start_date", width: "10%" },
      { text: "End Date", value: "end_date", width: "10%" },
      { text: "Deadline", value: "deadline", width: "10%" },
      { text: "Status", value: "status.name", width: "10%" },
      {
        text: "Details",
        value: "data-table-expand",
        width: "3%",
        align: "center",
      },
    ],
    body: [
      {
        name: "KIT Point Management System 5.0",
        actual_point: 93.44,
        acquire_point: 0.0,
        start_date: "2020-12-16",
        end_date: "None",
        deadline: "2021-06-16",
        status: {
          name: "In Progress",
        },
      },
      {
        name: "Admin Management Support",
        actual_point: 12.37,
        acquire_point: 0.0,
        start_date: "2021-03-22",
        end_date: "None",
        deadline: "2021-06-22",
        status: {
          name: "In Progress",
        },
      },
    ],
  }),
  components: {
    Title,
    Subtitle,
    Skillset,
    Profile,
    Search,
    Page,
    Datatable,
    TextCard,
    // Info,
  },
};
</script>

<style lang="scss" scoped>
</style>
