<template>
  <v-container fluid class="px-0">
    <v-row class="pt-14 px-3" justify="start" align="center">
      <v-col class="pa-0">
        <div class="text-left">
          <Title :items="route" />
        </div>
      </v-col>
      <v-col class="pa-0">
        <div class="d-flex justify-end">
          <CompetitionView class="pr-2" />
          <v-btn
            width="auto"
            meduim
            depressed
            color="text-capitalize white--text primary"
            @click="addCompetition()"
          >
            Add Competition
          </v-btn>
        </div>
      </v-col>
    </v-row>
    <v-row
      justify="center"
      align="start"
      class="d-flex justify-space-between px-0 mt-10"
    >
      <v-col cols="12" lg="2" md="3" sm="5" class="py-1">
        <Subtitle title="All Competitions" icon="mdi-trophy-outline" />
      </v-col>
      <v-col cols="12" lg="8" md="9" sm="7" class="py-1">
        <Search v-model="search" />
      </v-col>
      <v-col cols="12" lg="2" md="12" class="py-1">
        <div class="d-flex flex-row align-center justify-end">
          <div
            class="body-2 grey--text text--darken-3"
            :style="'width:' + width"
          >
            Per Page<span class="px-1">:</span>
          </div>
          <v-card-actions
            align="center"
            justify="center"
            class="body-2 pl-5 pa-0 pr-0"
            style="width: 100%"
          >
            <v-select
              class="align-center justify-center pa-0 subtitle-2"
              :items="pages"
              item-text="name"
              item-value="id"
              dense
              outlined
              :value="itemsPerPage"
              transition="slide-y-reverse-transition"
              :hide-details="true"
              @change="itemsPerPage = parseInt($event, 10)"
            >
            </v-select>
          </v-card-actions>
        </div>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-card
          width="100%"
          tile
          outlined
          style="border-top: 3px solid #5a90bf"
        >
          <v-snackbar
            rounded="pill"
            width="40px"
            v-model="snackbarAdd"
            :timeout="timeout"
            color="#578DD2"
          >
            <div class="px-16">
              <v-icon color="white" class="px-6">mdi-check-circle</v-icon>
              Competition Added !!!
            </div>
          </v-snackbar>
          <v-snackbar
            rounded="pill"
            width="40px"
            v-model="snackbarUpdate"
            :timeout="timeout"
            color="#578DD2"
          >
            <div class="px-16">
              <v-icon color="white" class="px-6">mdi-check-circle</v-icon>
              Competition Updated !!!
            </div>
          </v-snackbar>
          <v-snackbar
            rounded="pill"
            width="40px"
            v-model="snackbarDelete"
            :timeout="timeout"
            color="#D45252"
          >
            <div class="px-16">
              <v-icon color="white" class="px-6">mdi-check-circle</v-icon>
              Competition Deleted !!!
            </div>
          </v-snackbar>
          <v-data-table
            :headers="headers"
            :items="competitions"
            :header-props="{ 'sort-icon': 'mdi-chevron-up' }"
            hide-default-footer
            class="px-0"
            :search="search"
            :page.sync="page"
            :items-per-page="itemsPerPage"
            @page-count="pageCount = $event"
          >
            <template v-slot:top>
              <v-dialog v-model="dialog" :max-width="width">
                <v-card tile outlined>
                  <v-card-title class="px-10 pt-10">
                    <div style="font-size: 22px; color: #627080">
                      Create New Competition
                      <div
                        style="font-size: 14px"
                        class="py-0 font-weight-regular"
                      >
                        Register Competition Form
                      </div>
                    </div>
                  </v-card-title>
                  <v-card-text class="pt-4 px-7">
                    <v-container fluid>
                      <v-form ref="form" v-model="valid">
                        <v-row class="d-flex justify-space-between">
                          <v-col md="6" cols="12" class="py-2 px-5 pr-2">
                            <div class="caption">Competition Name</div>
                            <v-card
                              height="40px"
                              width="100%"
                              outlined
                              class="d-flex"
                              style="border: 1px solid grey"
                            >
                              <v-card-title class="py-0 pr-0">
                                <v-icon
                                  class="pr-3"
                                  size="20"
                                  style="border-right: 1px solid grey"
                                  >mdi-trophy</v-icon
                                >
                              </v-card-title>
                              <v-card-title
                                class="pa-0 px-0"
                                style="width: 100%"
                              >
                                <v-text-field
                                  type="text"
                                  class="
                                    subtitle-1
                                    align-start
                                    justify-center
                                    width-calc
                                    py-0
                                    grey--text
                                    text--darken-1
                                  "
                                  dense
                                  clearable
                                  solo
                                  :rules="rules.nameRules"
                                  required
                                  label="Competition Name"
                                  style="outline: none; width: 100%"
                                  v-model="editedItem.name"
                                  :counter="150"
                                ></v-text-field>
                              </v-card-title>
                            </v-card>
                          </v-col>
                          <v-col md="6" cols="12" class="py-2 px-5 pl-2">
                            <div class="caption">Code</div>
                            <v-card
                              height="40px"
                              width="100%"
                              outlined
                              class="d-flex"
                              style="border: 1px solid grey"
                            >
                              <v-card-title class="py-0 pr-0">
                                <v-icon
                                  class="pr-3"
                                  size="20"
                                  style="border-right: 1px solid grey"
                                  >mdi-code-tags</v-icon
                                >
                              </v-card-title>
                              <v-card-title
                                class="pa-0 px-0"
                                style="width: 100%"
                              >
                                <v-text-field
                                  type="text"
                                  class="
                                    subtitle-1
                                    align-start
                                    justify-center
                                    width-calc
                                    py-0
                                    grey--text
                                    text--darken-1
                                  "
                                  dense
                                  clearable
                                  solo
                                  :rules="rules.codeRules"
                                  required
                                  label="Code"
                                  style="outline: none; width: 100%"
                                  v-model="editedItem.code"
                                  :counter="20"
                                ></v-text-field>
                              </v-card-title>
                            </v-card>
                          </v-col>
                        </v-row>
                        <v-row class="d-flex justify-space-between">
                          <v-col md="6" cols="12" class="py-2 px-5 pr-2">
                            <div class="caption">Competition Description</div>
                            <v-card
                              height="40px"
                              width="100%"
                              outlined
                              class="d-flex"
                              style="border: 1px solid grey"
                            >
                              <v-card-title class="py-0 pr-0">
                                <v-icon
                                  class="pr-3"
                                  size="20"
                                  style="border-right: 1px solid grey"
                                  >mdi-file-document-edit-outline</v-icon
                                >
                              </v-card-title>
                              <v-card-title
                                class="pa-0 px-0"
                                style="width: 100%"
                              >
                                <v-text-field
                                  type="text"
                                  class="
                                    subtitle-1
                                    align-start
                                    justify-center
                                    width-calc
                                    py-0
                                    grey--text
                                    text--darken-1
                                  "
                                  dense
                                  clearable
                                  solo
                                  :rules="rules.descriptionRules"
                                  required
                                  label="Competition Description"
                                  style="outline: none; width: 100%"
                                  v-model="editedItem.description"
                                  :counter="500"
                                ></v-text-field>
                              </v-card-title>
                            </v-card>
                          </v-col>
                          <v-col md="6" cols="12" class="py-2 px-5 pl-2">
                            <div class="caption">Acquire Point</div>
                            <v-card
                              height="40px"
                              width="100%"
                              outlined
                              class="d-flex"
                              style="border: 1px solid grey"
                            >
                              <v-card-title class="py-0 pr-0">
                                <v-icon
                                  class="pr-3"
                                  size="20"
                                  style="border-right: 1px solid grey"
                                  >mdi-star</v-icon
                                >
                              </v-card-title>
                              <v-card-title
                                class="pa-0 px-0"
                                style="width: 100%"
                              >
                                <v-text-field
                                  class="
                                    subtitle-1
                                    align-start
                                    justify-center
                                    width-calc
                                    py-0
                                    grey--text
                                    text--darken-1
                                  "
                                  dense
                                  clearable
                                  solo
                                  :rules="rules.acquirePointRules"
                                  required
                                  label="Acquire Point"
                                  style="outline: none; width: 100%"
                                  v-model="editedItem.acquire_point"
                                  :counter="5"
                                ></v-text-field>
                              </v-card-title>
                            </v-card>
                          </v-col>
                        </v-row>
                        <v-row>
                          <v-col md="6" cols="12" class="py-2 px-5 pr-2">
                            <div class="caption font-weight-regular">
                              Skills
                            </div>
                            <v-card
                              height="40px"
                              width="100%"
                              outlined
                              class="d-flex"
                              style="border: 1px solid grey"
                            >
                              <v-card-title class="py-0 pr-0">
                                <v-icon
                                  class="pr-3"
                                  size="20"
                                  style="border-right: 1px solid grey"
                                  >mdi-table-cog</v-icon
                                >
                              </v-card-title>
                              <v-card-title
                                class="pa-0 px-0"
                                style="width: 100%"
                              >
                                <v-combobox
                                  class="
                                    align-center
                                    justify-center
                                    pa-0
                                    subtitle-2
                                    font-weight-regular
                                  "
                                  :items="skill_list"
                                  v-model="editedItem.skill_list"
                                  label="Select Skills"
                                  item-text="name"
                                  item-value="id"
                                  dense
                                  solo
                                  elevation="0"
                                  multiple
                                  return-object
                                  transition="slide-y-reverse-transition"
                                  clearable
                                  required
                                  :rules="rules.skillRules"
                                  hide-selected
                                ></v-combobox>
                              </v-card-title>
                            </v-card>
                          </v-col>
                          <v-col md="6" cols="12" class="py-2 px-5 pl-2">
                            <div class="caption font-weight-regular">
                              Coordinator
                            </div>
                            <v-card
                              height="40px"
                              width="100%"
                              outlined
                              class="d-flex"
                              style="border: 1px solid grey"
                            >
                              <v-card-title class="py-0 pr-0">
                                <v-icon
                                  class="pr-3"
                                  size="20"
                                  style="border-right: 1px solid grey"
                                  >mdi-account-outline</v-icon
                                >
                              </v-card-title>
                              <v-card-title
                                class="pa-0 px-0"
                                style="width: 100%"
                              >
                                <v-combobox
                                  class="
                                    align-center
                                    justify-center
                                    pa-0
                                    subtitle-2
                                    font-weight-regular
                                  "
                                  :items="coordinators"
                                  v-model="editedItem.coordinator"
                                  item-text="name"
                                  item-value="id"
                                  dense
                                  hide-selected
                                  solo
                                  label="Select Coordinator"
                                  transition="slide-y-reverse-transition"
                                  overflow
                                  return-object
                                  clearable
                                  required
                                  :rules="[
                                    (v) => !!v || 'Coordinator is required',
                                  ]"
                                ></v-combobox>
                              </v-card-title>
                            </v-card>
                          </v-col>
                        </v-row>
                        <v-row>
                          <v-col md="6" cols="12" class="py-2 px-5 pr-2">
                            <v-row class="pt-2">
                              <v-col class="py-1 px-3">
                                <div class="caption font-weight-regular">
                                  Participants
                                </div>
                                <v-combobox
                                  class="
                                    subtitle-1
                                    align-start
                                    justify-center
                                    width-calc
                                    py-0
                                    grey--text
                                    text--darken-1
                                  "
                                  :items="members_list"
                                  label="Select Participants"
                                  v-model="editedItem.member_list"
                                  dense
                                  solo
                                  elevation="0"
                                  multiple
                                  chips
                                  deletable-chips
                                  height="110"
                                  outlined
                                  item-text="name"
                                  item-value="value"
                                  return-object
                                  transition="slide-y-reverse-transition"
                                  required
                                  clearable
                                  hide-selected
                                  :rules="rules.membersRules"
                                ></v-combobox>
                                <div>{{ editedItem.member_list }}</div>
                              </v-col>
                            </v-row>
                          </v-col>
                          <v-col cols="12" md="6">
                            <v-row>
                              <v-col class="py-2 px-5 pl-3">
                                <div class="caption">Start Date</div>
                                <v-card
                                  height="40px"
                                  width="100%"
                                  outlined
                                  class="d-flex"
                                  style="border: 1px solid grey"
                                >
                                  <v-card-title class="py-0 pr-0">
                                    <v-icon
                                      class="pr-3"
                                      size="20"
                                      style="border-right: 1px solid grey"
                                      >mdi-calendar</v-icon
                                    >
                                  </v-card-title>
                                  <v-card-title
                                    class="pa-0 px-0"
                                    style="width: 100%"
                                  >
                                    <v-menu
                                      v-model="menu"
                                      :close-on-content-click="false"
                                      :nudge-right="40"
                                      transition="scale-transition"
                                      offset-y
                                      min-width="auto"
                                    >
                                      <template
                                        v-slot:activator="{ on, attrs }"
                                      >
                                        <v-text-field
                                          v-model="editedItem.start_date"
                                          clearable
                                          dense
                                          class="
                                            bg-white
                                            border
                                            py-0
                                            rounded
                                            subtitle-2
                                            font-weight-regular
                                          "
                                          solo
                                          label="Start Date"
                                          v-bind="attrs"
                                          v-on="on"
                                          required
                                          :rules="[
                                            (v) =>
                                              !!v || 'Start date is required',
                                          ]"
                                        ></v-text-field>
                                      </template>
                                      <v-date-picker
                                        v-model="editedItem.start_date"
                                        @input="menu = false"
                                      ></v-date-picker>
                                    </v-menu>
                                  </v-card-title>
                                </v-card>
                              </v-col>
                            </v-row>
                            <v-row>
                              <v-col class="py-2 px-5 pl-3 pt-1">
                                <div class="caption">End Date</div>
                                <v-card
                                  height="40px"
                                  width="100%"
                                  outlined
                                  class="d-flex"
                                  style="border: 1px solid grey"
                                >
                                  <v-card-title class="py-0 pr-0">
                                    <v-icon
                                      class="pr-3"
                                      size="20"
                                      style="border-right: 1px solid grey"
                                      >mdi-calendar</v-icon
                                    >
                                  </v-card-title>
                                  <v-card-title
                                    class="pa-0 px-0"
                                    style="width: 100%"
                                  >
                                    <v-menu
                                      v-model="menu"
                                      :close-on-content-click="false"
                                      :nudge-right="40"
                                      transition="scale-transition"
                                      offset-y
                                      min-width="auto"
                                    >
                                      <template
                                        v-slot:activator="{ on, attrs }"
                                      >
                                        <v-text-field
                                          v-model="editedItem.end_date"
                                          clearable
                                          dense
                                          class="
                                            bg-white
                                            border
                                            py-0
                                            rounded
                                            subtitle-2
                                            font-weight-regular
                                          "
                                          solo
                                          label="End Date"
                                          v-bind="attrs"
                                          v-on="on"
                                          required
                                          :rules="[
                                            (v) =>
                                              !!v || 'End date is required',
                                          ]"
                                        ></v-text-field>
                                      </template>
                                      <v-date-picker
                                        v-model="editedItem.end_date"
                                        @input="menu = false"
                                      ></v-date-picker>
                                    </v-menu>
                                  </v-card-title>
                                </v-card>
                              </v-col>
                            </v-row>
                          </v-col>
                        </v-row>
                        <v-row>
                          <v-col class="py-0 px-5">
                            <div class="caption font-weight-regular">
                              Vice Chairman Remarks
                            </div>
                            <v-textarea
                              class="pa-0 ma-0 subtitle-2 font-weight-regular"
                              solo
                              outlined
                              height="88"
                              name="input-7-4"
                              maxlength="150"
                              counter="150"
                              label="Vice Chairman Remarks"
                              v-model="editedItem.vice_chairman_remark"
                            ></v-textarea>
                          </v-col>
                        </v-row>
                        <v-row>
                          <v-col class="py-0 pt-6 px-5">
                            <v-card
                              width="100%"
                              tile
                              outlined
                              style="border-top: 3px solid #5a90bf"
                            >
                              <v-data-table
                                :headers="competitionHeaders"
                                :items="competitionBody"
                                hide-default-footer
                                class="px-0"
                              >
                              </v-data-table>
                            </v-card>
                          </v-col>
                        </v-row>
                        <v-row>
                          <v-col class="pt-7">
                            <div class="d-flex align-center justify-end">
                              <div class="pr-2">
                                <v-btn
                                  width="120"
                                  depressed
                                  color="text-capitalize white--text primary"
                                  @click="save"
                                  :disabled="!valid"
                                >
                                  Save
                                </v-btn>
                              </div>
                              <div>
                                <v-btn
                                  width="120"
                                  depressed
                                  color="text-capitalize white--text secondary"
                                  @click="close"
                                >
                                  Cancel
                                </v-btn>
                              </div>
                            </div>
                          </v-col>
                        </v-row>
                      </v-form>
                    </v-container>
                  </v-card-text>
                </v-card>
              </v-dialog>
              <v-dialog v-model="dialogDelete" :max-width="widthDelete">
                <v-card tile outlined class="py-3">
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-icon color="secondary" size="120"
                      >mdi-alert-rhombus-outline</v-icon
                    >
                    <v-spacer></v-spacer>
                  </v-card-actions>
                  <v-card-title class="px-11 pt-5 align-center justify-center">
                    <div style="font-size: 22px; color: #627080">
                      Are you sure you want to delete?
                    </div>
                    <div
                      style="font-size: 15px; color: #627080"
                      class="py-0 font-weight-regular"
                    >
                      Do you really want to delete this? This process cannot be
                      undone !!!
                    </div>
                  </v-card-title>

                  <v-card-actions class="py-4">
                    <v-spacer></v-spacer>
                    <v-btn
                      depressed
                      color="#D45252"
                      width="100"
                      class="white--text text-capitalize font-weight-regular"
                      @click="deleteCompetitionConfirm"
                      >Delete</v-btn
                    >
                    <v-btn
                      depressed
                      color="#578DD2"
                      width="100"
                      class="white--text text-capitalize font-weight-regular"
                      @click="closeDelete"
                      >Cancel</v-btn
                    >

                    <v-spacer></v-spacer>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </template>

            <template v-slot:[`item.range`]="{ index }">
              <div>
                {{ index + 1 }}
              </div>
            </template>

            <template v-slot:[`item.actions`]="{ item }">
              <div class="align-center d-flex justify-center">
                <v-btn
                  @click="previewCompetition(item)"
                  small
                  depressed
                  outlined
                  color="#707070"
                  width="auto"
                  class="text-capitalize font-weight-regular"
                >
                  <v-icon small class="pr-1">mdi-file-eye</v-icon>
                  <div>Preview</div>
                </v-btn>
                <v-spacer></v-spacer>
                <v-btn
                  width="auto"
                  small
                  color="#578DD2"
                  depressed
                  class="white--text text-capitalize font-weight-regular"
                  @click="editCompetition(item)"
                >
                  Edit
                </v-btn>
                <v-spacer></v-spacer>
                <v-btn
                  @click="deleteCompetition(item)"
                  small
                  depressed
                  color="#D45252"
                  width="auto"
                  class="white--text text-capitalize font-weight-regular"
                >
                  Remove
                </v-btn>
              </div>
            </template>
          </v-data-table>
          <v-card color="grey lighten-3" outlined tile>
            <v-card-text
              class="pa-0 py-2 pa-2 d-flex align-center justify-center"
            >
              <div class="body-2 pl-2">
                Display 1 to {{ itemsPerPage }} of {{ totalItems }} Entries
              </div>
              <v-spacer></v-spacer>
              <div>
                <v-pagination
                  :total-visible="7"
                  v-model="page"
                  :length="pageCount"
                ></v-pagination>
              </div>
            </v-card-text>
          </v-card>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Title from "~/components/title/user_friendly.vue";
import Subtitle from "~/components/card/subtitle.vue";
import Search from "~/components/input/search.vue";
import Page from "~/components/selector/label_selector.vue";
import SelectMember from "~/components/selector/multi-selector.vue";
import InputIcon from "~/components/input/input-icon.vue";
import CompetitionView from "~/components/dialog/competition-view.vue";
export default {
  middleware: "authenticated",
  data: () => ({
    valid: true,
    rules: {
      nameRules: [
        (v) => !!v || "Competition Name is required",
        (v) =>
          (v && v.length <= 150) || "Category must be less than 50 characters",
      ],
      codeRules: [
        (v) => !!v || "Code is required",
        (v) => (v && v.length <= 20) || "Code must be less than 20 characters",
      ],
      acquirePointRules: [
        (v) => !!v || "Acquire Point is required",
        (v) => (v && v.match(/[0-9]/g)) || "Score must be number",
        (v) =>
          (v && v.length <= 5) || "Acquire Point must be less than 5 digits",
      ],
      descriptionRules: [
        (v) => !!v || "Description is required",
        (v) =>
          (v && v.length <= 500) ||
          "Description must be less than 500 characters",
      ],
      skillRules: [(v) => v.length > 0 || "Skill is required"],
      membersRules: [(v) => v.length > 0 || "Members is required"],
    },
    menu: false,
    timeout: 3000,
    snackbarAdd: false,
    snackbarUpdate: false,
    snackbarDelete: false,
    coordinators: [],
    stakeholders: [],
    skill_list: [],
    members_list: [],
    search: "",
    page: 1,
    acquired_point: 6,
    pageCount: 0,
    dialog: false,
    dialogDelete: false,
    editedIndex: -1,
    editedItem: {
      id: "",
      name: "",
      code: "",
      description: "",
      coordinator: { id: "" },
      vice_chairman_remark: "",
      member_list: [],
      skill_list: [],
      acquire_point: "",
      start_date: new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
        .toISOString()
        .substr(0, 10),
      end_date: new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
        .toISOString()
        .substr(0, 10),
    },
    defaultItem: {
      name: "",
      code: "",
      description: "",
      coordinator: { id: "" },
      vice_chairman_remark: "",
      member_list: [],
      skill_list: [],
      acquire_point: "",
      start_date: new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
        .toISOString()
        .substr(0, 10),
      end_date: new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
        .toISOString()
        .substr(0, 10),
    },
    itemsPerPage: 10,
    pages: [10, 20, 50, 100],
    toggle_exclusive: undefined,
    route: [{ text: "Competition" }, { text: "Competitions" }],
    competitionHeaders: [
      { text: "Participant Name", value: "name", width: "35%" },
      { text: "Semester", value: "semester", width: "40%" },
      { text: "Acquire Point", value: "acquired_point", width: "25%" },
    ],
    competitionBody: [
      // {
      //   name: "Udam Visal",
      //   semester: "Semester 4",
      //   acquired_point: 6
      // }
    ],
    competitions: [],
    headers: [
      { text: "", value: "range", width: "3%", align: "center" },
      { text: "Competition Name", value: "name", width: "24%" },
      { text: "Start Date", value: "start_date", width: "10%" },
      { text: "End Date", value: "end_date", width: "10%" },
      {
        text: "Participant",
        value: "competition_summaries.length",
        width: "10%",
      },
      { text: "Acquire Point", value: "acquire_point", width: "10%" },
      {
        text: "Actions",
        value: "actions",
        width: "3%",
        align: "center",
      },
    ],
  }),
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Create New" : "Update";
    },
    formSubtitle() {
      return this.editedIndex === -1 ? "Register" : "Update";
    },
    width() {
      switch (this.$vuetify.breakpoint.name) {
        case "lg":
          return "70%";
        case "xl":
          return "60%";
        case "md":
          return "70%";
        case "sm":
          return "70%";
        default:
          "100%";
      }
    },
    widthDelete() {
      switch (this.$vuetify.breakpoint.name) {
        case "lg":
          return "40%";
        case "xl":
          return "40%";
        case "md":
          return "50%";
        case "sm":
          return "70%";
        default:
          "50%";
      }
    },
    totalItems() {
      return this.competitions.length;
    },
  },
  mounted() {
    this.getParticipants();
    this.getSkills();
    this.getCoordinators();
    this.getCompetitions();
    this.formatDate();
  },
  methods: {
    formatDate(d) {
      let date = new Date(d),
        month = "" + (date.getMonth() + 1),
        day = "" + date.getDate(),
        year = date.getFullYear();

      if (month.length < 2) month = "0" + month;
      if (day.length < 2) day = "0" + day;
      return [month, day, year].join("/");
    },

    async getCompetitions() {
      let { competitions } = await this.$axios.$get(
        "/competition/competitions"
      );
      this.competitions = competitions;
    },

    //get select members
    async getParticipants() {
      let member_list = await this.$axios.$get(
        "/select_option/all_students_list"
      );
      this.members_list = member_list;
    },
    async getSkills() {
      let skill_list = await this.$axios.$get("/select_option/all_skills_list");
      this.skill_list = skill_list;
    },
    async getCoordinators() {
      let coordinators = await this.$axios.$get(
        "/select_option/all_stakeholders_list"
      );
      console.log("===", coordinators);
      this.coordinators = coordinators;
    },

    sumField(key) {
      // sum data in give key (property)
      return this.competitions.reduce((a, b) => a + (b[key] || 0), 0);
    },

    async deleteCompetitionConfirm() {
      await this.$axios({
        method: "delete",
        url: `/competition/delete${this.editedItem.id}`,
      }).then((res) => {
        this.competitions.splice(this.editedIndex, 1);
      });
      this.closeDelete();
      this.snackbarDelete = true;
    },

    addCompetition() {
      this.editedIndex = -1;
      this.dialog = true;
      this.editedItem = Object.assign({});
    },

    editCompetition(item) {
      this.editedIndex = this.competitions.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteCompetition(item) {
      this.editedIndex = this.competitions.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },

    async save() {
      let skills = [];
      for (let i of this.editedItem.skill_list) {
        console.log(i, "------");
        skills.push(i.id);
      }
      let members = [];
      for (let i of this.editedItem.member_list) {
        console.log(i, "------");
        members.push(i.id);
      }
      if (this.editedIndex > -1) {
        Object.assign(this.competitions[this.editedIndex], this.editedItem);
        await this.$axios({
          method: "put",
          url: `/competition/${this.editedItem.id}`,
          data: {
            name: this.editedItem.name,
            code: this.editedItem.code,
            description: this.editedItem.description,
            coordinator: this.editedItem.coordinator.id,
            vice_chairman_remark: this.editedItem.vice_chairman_remark,
            member: this.editedItem.member,
            skill: skills,
            acquire_point: this.editedItem.acquire_point,
            start_date: this.formatDate(this.editedItem.start_date),
            end_date: this.formatDate(this.editedItem.end_date),
          },
        }).then((res) => {
          this.snackbarUpdate = true;
        });
      } else {
        this.competitions.push(this.editedItem);
        await this.$axios({
          method: "post",
          url: "/competition/create",
          data: {
            name: this.editedItem.name,
            code: this.editedItem.code,
            description: this.editedItem.description,
            coordinator: this.editedItem.coordinator.id,
            vice_chairman_remark: this.editedItem.vice_chairman_remark,
            member: members,
            skill: skills,
            acquire_point: this.editedItem.acquire_point,
            start_date: this.formatDate(this.editedItem.start_date),
            end_date: this.formatDate(this.editedItem.end_date),
          },
        }).then((res) => {
          this.getCompetitions();
          this.snackbarAdd = true;
        });
      }
      this.close();
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },
    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },
  },
  components: {
    Title,
    Subtitle,
    Search,
    Page,
    SelectMember,
    InputIcon,
    CompetitionView,
  },
};
</script>

<style>
button.v-icon.notranslate.v-icon--link.mdi.mdi-close.theme--light {
  font-size: 15px !important;
}
td,
th {
  border-right: 1px solid #d1d1d1 !important;
}
.v-data-table__expanded.v-data-table__expanded__content {
  box-shadow: none !important;
}
.pagination {
  display: inline-block;
}

.v-input__slot {
  align-items: center;
  justify-content: center;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
.v-pagination__item .v-pagination__item--active .primary {
  background-color: #e3e3e3 !important;
  border-color: #b8b8b8 !important;
  color: #606060 !important;
  font-size: 18px;
}

.v-pagination__item {
  border-radius: 0;
  font-size: 1rem;
  height: 43px;
  width: 54px;
  margin: 0;
  min-width: 34px;
  border: 1px solid #b8b8b8;
  /* padding: 0 3px; */
  text-decoration: none;
  transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
  box-shadow: none;
}
.v-pagination__navigation {
  box-shadow: none;
  border-radius: 0;
  display: inline-flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 1px solid #b8b8b8;
  height: 43px;
  width: 54px;
}
</style>
