<template>
  <v-container fluid class="px-0">
    <v-row class="pt-14 px-3" justify="start" align="center">
      <v-col class="pa-0">
        <div class="text-left">
          <Title :items="route" />
        </div>
      </v-col>
    </v-row>
    <v-row
      justify="center"
      align="start"
      class="d-flex justify-space-between px-0 mt-10"
    >
      <v-col cols="12" lg="2" md="3" sm="5" class="py-1">
        <Subtitle title="Competition's summaries" icon="mdi-trophy-outline" />
      </v-col>
      <v-col cols="12" lg="8" md="9" sm="7" class="py-1">
        <Search v-model="search" />
      </v-col>
      <v-col cols="12" lg="2" md="12" class="py-1">
        <div class="d-flex flex-row align-center justify-end">
          <div
            class="body-2 grey--text text--darken-3"
            :style="'width:' + width"
          >
            Per Page<span class="px-1">:</span>
          </div>
          <v-card-actions
            align="center"
            justify="center"
            class="body-2 pl-5 pa-0 pr-0"
            style="width: 100%"
          >
            <v-select
              class="align-center justify-center pa-0 subtitle-2"
              :items="pages"
              item-text="name"
              item-value="id"
              dense
              outlined
              :value="itemsPerPage"
              transition="slide-y-reverse-transition"
              :hide-details="true"
              @change="itemsPerPage = parseInt($event, 10)"
            >
            </v-select>
          </v-card-actions>
        </div>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-card
          width="100%"
          tile
          outlined
          style="border-top: 3px solid #5a90bf"
        >
          <v-snackbar
            rounded="pill"
            width="40px"
            v-model="snackbarDelete"
            :timeout="timeout"
            color="#D45252"
          >
            <div class="px-16">
              <v-icon color="white" class="px-6">mdi-check-circle</v-icon>
              Competition Summary Deleted !!!
            </div>
          </v-snackbar>
          <v-data-table
            :headers="headers"
            :items="competition_summaries"
            :header-props="{ 'sort-icon': 'mdi-chevron-up' }"
            hide-default-footer
            class="px-0"
            :search="search"
            :page.sync="page"
            :items-per-page="itemsPerPage"
            @page-count="pageCount = $event"
          >
            <template v-slot:top>
              <v-dialog v-model="dialogDelete" :max-width="width">
                <v-card tile outlined class="py-3">
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-icon color="secondary" size="120"
                      >mdi-alert-rhombus-outline</v-icon
                    >
                    <v-spacer></v-spacer>
                  </v-card-actions>
                  <v-card-title class="px-11 pt-5 align-center justify-center">
                    <div style="font-size: 22px; color: #627080">
                      Are you sure you want to delete?
                    </div>
                    <div
                      style="font-size: 15px; color: #627080"
                      class="py-0 font-weight-regular"
                    >
                      Do you really want to delete this? This process cannot be
                      undone !!!
                    </div>
                  </v-card-title>

                  <v-card-actions class="py-4">
                    <v-spacer></v-spacer>
                    <v-btn
                      depressed
                      color="#D45252"
                      width="100"
                      class="white--text text-capitalize font-weight-regular"
                      @click="deleteStudentSummaryConfirm"
                      >Delete</v-btn
                    >
                    <v-btn
                      depressed
                      color="#578DD2"
                      width="100"
                      class="white--text text-capitalize font-weight-regular"
                      @click="closeDelete"
                      >Cancel</v-btn
                    >

                    <v-spacer></v-spacer>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </template>

            <template v-slot:[`item.actions`]="{ item }">
              <div class="d-flex">
                <v-btn
                  @click="deleteStudentSummary(item)"
                  small
                  depressed
                  color="#D45252"
                  width="auto"
                  class="white--text text-capitalize font-weight-regular"
                >
                  Delete
                </v-btn>
              </div>
            </template>

            <template v-slot:[`item.range`]="{ index }">
              <div>
                {{ index + 1 }}
              </div>
            </template>
          </v-data-table>
          <v-card color="grey lighten-3" outlined tile>
            <v-card-text
              class="pa-0 py-2 pa-2 d-flex align-center justify-center"
            >
              <div class="body-2 pl-2">
                Display 1 to {{ itemsPerPage }} of {{ totalItems }} Entries
              </div>
              <v-spacer></v-spacer>
              <div>
                <v-pagination
                  :total-visible="7"
                  v-model="page"
                  :length="pageCount"
                ></v-pagination>
              </div>
            </v-card-text>
          </v-card>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Title from "~/components/title/user_friendly.vue";
import Subtitle from "~/components/card/subtitle.vue";
import Search from "~/components/input/search.vue";
export default {
  middleware: "authenticated",
  data: () => ({
    search: "",
    dialogDelete: false,
    snackbarDelete: false,
    timeout: 3000,
    singleExpand: false,
    page: 1,
    pageCount: 0,
    itemsPerPage: 10,
    pages: [10, 20, 50, 100],
    toggle_exclusive: undefined,
    editedIndex: -1,
    editedItem: {
      id: "",
    },
    defaultItem: {
      id: "",
    },
    route: [{ text: "Competition" }, { text: "Summaries" }],
    competition_summaries: [],
    headers: [
      { text: "", value: "range", width: "3%", align: "center" },
      { text: "Competition Name", value: "competition.name", width: "34%" },
      { text: "Student", value: "student.name", width: "15%" },
      { text: "Semester", value: "semester.name", width: "10%" },
      { text: "Department", value: "department.name", width: "15%" },
      { text: "Batch", value: "batch.name", width: "10%" },
      { text: "Point", value: "acquire_point", width: "10%" },
      { text: "Actions", value: "actions", width: "3%", align: "center" },
    ],
  }),
  computed: {
    width() {
      switch (this.$vuetify.breakpoint.name) {
        case "lg":
          return "40%";
        case "xl":
          return "40%";
        case "md":
          return "50%";
        case "sm":
          return "70%";
        default:
          "50%";
      }
    },
    totalItems() {
      return this.competition_summaries.length;
    },
  },
  mounted() {
    this.getCompetitionSummaries();
  },
  methods: {
    async getCompetitionSummaries() {
      let { competition_summaries } = await this.$axios.$get(
        `/competition/summary`
      );
      this.competition_summaries = competition_summaries;
    },

    async deleteStudentSummaryConfirm() {
      await this.$axios({
        method: "delete",
        url: `/competition/summary/delete${this.editedItem.id}`,
      }).then((res) => {
        this.competition_summaries.splice(this.editedIndex, 1);
        console.log("Competition Summary Deleted", res);
      });
      this.closeDelete();
      this.snackbarDelete = true;
    },
    deleteStudentSummary(item) {
      this.editedIndex = this.competition_summaries.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },
    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },
  },
  components: {
    Title,
    Subtitle,
    Search,
  },
};
</script>

<style>
td,
th {
  border-right: 1px solid #d1d1d1 !important;
}
.v-data-table__expanded.v-data-table__expanded__content {
  box-shadow: none !important;
}
.pagination {
  display: inline-block;
}

.v-input__slot {
  align-items: center;
  justify-content: center;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
.v-pagination__item .v-pagination__item--active .primary {
  background-color: #e3e3e3 !important;
  border-color: #b8b8b8 !important;
  color: #606060 !important;
  font-size: 18px;
}

.v-pagination__item {
  border-radius: 0;
  font-size: 1rem;
  height: 43px;
  width: 54px;
  margin: 0;
  min-width: 34px;
  border: 1px solid #b8b8b8;
  /* padding: 0 3px; */
  text-decoration: none;
  transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
  box-shadow: none;
}
.v-pagination__navigation {
  box-shadow: none;
  border-radius: 0;
  display: inline-flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 1px solid #b8b8b8;
  height: 43px;
  width: 54px;
}
</style>
