<template>
  <v-container fluid class="px-0">
    <v-row class="pt-14 px-3" justify="start" align="center">
      <v-col class="pa-0">
        <div class="text-left">
          <Title :items="route" />
        </div>
      </v-col>
      <v-col class="pa-0">
        <div class="d-flex justify-end">
          <v-btn
            width="150"
            medium
            depressed
            color="text-capitalize white--text primary"
            @click="dialog = true"
          >
            Add Stakeholder
          </v-btn>
        </div>
      </v-col>
    </v-row>
    <v-row
      justify="center"
      align="start"
      class="d-flex justify-space-between px-0 mt-10"
    >
      <v-col cols="12" lg="2" md="3" sm="5" class="py-1">
        <Subtitle title="All stakeholders in KIT" icon="mdi-account-tie" />
      </v-col>
      <v-col cols="12" lg="8" md="9" sm="7" class="py-1">
        <Search v-model="search" />
      </v-col>
      <v-col cols="12" lg="2" md="12" class="py-1">
        <div class="d-flex flex-row align-center justify-end">
          <div
            class="body-2 grey--text text--darken-3"
            :style="'width:' + width"
          >
            Per Page<span class="px-1">:</span>
          </div>
          <v-card-actions
            align="center"
            justify="center"
            class="body-2 pl-5 pa-0 pr-0"
            style="width: 100%"
          >
            <v-select
              class="align-center justify-center pa-0 subtitle-2"
              :items="pages"
              item-text="name"
              item-value="id"
              dense
              outlined
              :value="itemsPerPage"
              transition="slide-y-reverse-transition"
              :hide-details="true"
              @change="itemsPerPage = parseInt($event, 10)"
            >
            </v-select>
          </v-card-actions>
        </div>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-card
          width="100%"
          tile
          outlined
          style="border-top: 3px solid #5a90bf"
        >
          <v-snackbar
            rounded="pill"
            width="40px"
            v-model="snackbar"
            :timeout="timeout"
            color="#578DD2"
          >
            <div class="px-16">
              <v-icon color="white" class="px-6">mdi-check-circle</v-icon>
              Sub-category Updated !!!
            </div>
          </v-snackbar>
          <v-snackbar
            rounded="pill"
            width="40px"
            v-model="snackbarDelete"
            :timeout="timeout"
            color="#D45252"
          >
            <div class="px-16">
              <v-icon color="white" class="px-6">mdi-check-circle</v-icon>
              Sub-category Deleted !!!
            </div>
          </v-snackbar>
          <v-data-table
            :headers="headers"
            :items="stakeholders"
            hide-default-footer
            class="px-0"
            :search="search"
            :page.sync="page"
            :items-per-page="itemsPerPage"
            @page-count="pageCount = $event"
          >
            <template v-slot:top>
              <v-dialog v-model="dialog" :max-width="width">
                <v-card tile outlined>
                  <v-card-title class="px-11 pt-8">
                    <div style="font-size: 22px; color: #627080">
                      Create New Stakeholder
                      <div
                        style="font-size: 14px"
                        class="py-0 font-weight-regular"
                      >
                        Register Stakeholder Form
                      </div>
                    </div>
                  </v-card-title>
                  <v-card-text class="pt-3 px-7">
                    <v-container fluid>
                      <v-form ref="form" v-model="valid">
                        <v-row :class="'d-flex flex-' + flex">
                          <v-col md="6" cols="12" class="py-2 px-5 pr-2">
                            <div class="caption">Batch</div>
                            <v-card
                              height="40px"
                              width="100%"
                              outlined
                              class="d-flex"
                              style="border: 1px solid grey"
                            >
                              <v-card-title class="py-0 pr-0">
                                <v-icon
                                  class="pr-3"
                                  size="20"
                                  style="border-right: 1px solid grey"
                                  >mdi-pencil</v-icon
                                >
                              </v-card-title>
                              <v-card-title
                                class="pa-0 px-0"
                                style="width: 100%"
                              >
                                <v-text-field
                                  type="text"
                                  class="
                                    subtitle-1
                                    align-start
                                    justify-center
                                    width-calc
                                    py-0
                                    grey--text
                                    text--darken-1
                                  "
                                  dense
                                  clearable
                                  solo
                                  :rules="rules.nameRules"
                                  required
                                  label="Stakeholder Name"
                                  style="outline: none; width: 100%"
                                  v-model="editedItem.name"
                                  :counter="50"
                                ></v-text-field>
                              </v-card-title>
                            </v-card>
                          </v-col>
                          <v-col md="6" cols="12" class="py-2 px-5 pl-2">
                            <div class="caption">User</div>
                            <v-card
                              height="40px"
                              width="100%"
                              outlined
                              class="d-flex"
                              style="border: 1px solid grey"
                            >
                              <v-card-title class="py-0 pr-0">
                                <v-icon
                                  class="pr-3"
                                  size="20"
                                  style="border-right: 1px solid grey"
                                  >mdi-account-group-outline</v-icon
                                >
                              </v-card-title>
                              <v-card-title
                                class="pa-0 px-0"
                                style="width: 100%"
                              >
                                <v-combobox
                                  class="
                                    align-center
                                    justify-center
                                    pa-0
                                    subtitle-2
                                    font-weight-regular
                                  "
                                  :items="users"
                                  v-model="selectedUser"
                                  item-text="username"
                                  item-value="id"
                                  dense
                                  solo
                                  label="Select User"
                                  transition="slide-y-reverse-transition"
                                  overflow
                                  return-object
                                  hide-selected
                                  clearable
                                  required
                                  :rules="[(v) => !!v || 'User is required']"
                                ></v-combobox>
                              </v-card-title>
                            </v-card>
                          </v-col>
                        </v-row>
                        <v-row>
                          <v-col lg="6" md="6" cols="12" class="py-2 px-5 pr-2">
                            <!-- <InputIcon
                            input_type="number"
                            input_icons="mdi-currency-usd"
                            :max_length="20"
                            v-model="charge_rate"
                            input_label="Charge Rate"
                          /> -->
                            <!-- <div>{{ charge_rate }}</div> -->
                            <div class="caption">Charge Rate</div>
                            <v-card
                              height="40px"
                              width="100%"
                              outlined
                              class="d-flex"
                              style="border: 1px solid grey"
                            >
                              <v-card-title class="py-0 pr-0">
                                <v-icon
                                  class="pr-3"
                                  size="20"
                                  style="border-right: 1px solid grey"
                                  >mdi-currency-usd</v-icon
                                >
                              </v-card-title>
                              <v-card-title
                                class="pa-0 px-0"
                                style="width: 100%"
                              >
                                <v-text-field
                                  class="
                                    subtitle-1
                                    align-start
                                    justify-center
                                    width-calc
                                    py-0
                                    grey--text
                                    text--darken-1
                                  "
                                  dense
                                  clearable
                                  solo
                                  :rules="rules.chargeRateRules"
                                  required
                                  label="Charge Rate"
                                  style="outline: none; width: 100%"
                                  v-model="editedItem.charge_rate"
                                  :counter="5"
                                ></v-text-field>
                              </v-card-title>
                            </v-card>
                          </v-col>
                          <v-col lg="6" md="6" cols="12" class="py-2 px-5 pl-2">
                            <div class="caption">Specialty</div>
                            <v-card
                              height="40px"
                              width="100%"
                              outlined
                              class="d-flex"
                              style="border: 1px solid grey"
                            >
                              <v-card-title class="py-0 pr-0">
                                <v-icon
                                  class="pr-3"
                                  size="20"
                                  style="border-right: 1px solid grey"
                                  >mdi-briefcase-variant-outline</v-icon
                                >
                              </v-card-title>
                              <v-card-title
                                class="pa-0 px-0"
                                style="width: 100%"
                              >
                                <v-combobox
                                  class="
                                    align-center
                                    justify-center
                                    pa-0
                                    subtitle-2
                                    font-weight-regular
                                  "
                                  :items="specialties"
                                  v-model="selectedSpecialty"
                                  item-text="name"
                                  item-value="id"
                                  dense
                                  solo
                                  label="Select Specialty"
                                  transition="slide-y-reverse-transition"
                                  overflow
                                  return-object
                                  hide-selected
                                  clearable
                                  required
                                  :rules="[
                                    (v) => !!v || 'Specialty is required',
                                  ]"
                                ></v-combobox>
                              </v-card-title>
                            </v-card>
                          </v-col>
                        </v-row>
                        <v-row class="flex-row">
                          <v-col class="px-5 py-4" style="max-width: 240px">
                            <v-btn-toggle group v-model="btnToggle">
                              <div class="pr-2">
                                <v-card
                                  width="100"
                                  height="100"
                                  outlined
                                  elevation="0"
                                >
                                  <v-btn
                                    width="100"
                                    height="100"
                                    :value="1"
                                    text
                                    color="primary"
                                    depressed
                                    @click="buttonClicked('M')"
                                  >
                                    <v-icon color="grey" size="60"
                                      >mdi-gender-male</v-icon
                                    >
                                  </v-btn>
                                </v-card>
                              </div>
                              <div class="pl-2">
                                <v-card
                                  width="100"
                                  height="100"
                                  outlined
                                  elevation="0"
                                >
                                  <v-btn
                                    width="100"
                                    height="100"
                                    :value="2"
                                    text
                                    depressed
                                    color="#E4187A"
                                    @click="buttonClicked('F')"
                                  >
                                    <v-icon color="grey" size="60"
                                      >mdi-gender-female</v-icon
                                    >
                                  </v-btn>
                                </v-card>
                              </div>
                            </v-btn-toggle>
                          </v-col>
                          <v-col class="py-4 px-5 pl-3">
                            <v-row class="py-3 px-3">
                              <v-card
                                height="40px"
                                width="100%"
                                outlined
                                class="d-flex"
                                style="border: 1px solid grey"
                              >
                                <v-card-title class="py-0 pr-0">
                                  <v-icon
                                    class="pr-3"
                                    size="20"
                                    style="border-right: 1px solid grey"
                                    >mdi-office-building-marker-outline</v-icon
                                  >
                                </v-card-title>
                                <v-card-title
                                  class="pa-0 px-0"
                                  style="width: 100%"
                                >
                                  <v-combobox
                                    class="
                                      align-center
                                      justify-center
                                      pa-0
                                      subtitle-2
                                      font-weight-regular
                                    "
                                    :items="domains"
                                    v-model="selectedDomain"
                                    item-text="name"
                                    item-value="id"
                                    dense
                                    solo
                                    label="Select Domain"
                                    transition="slide-y-reverse-transition"
                                    overflow
                                    return-object
                                    hide-selected
                                    clearable
                                    required
                                    :rules="[
                                      (v) => !!v || 'Domain is required',
                                    ]"
                                  ></v-combobox>
                                </v-card-title>
                              </v-card>
                            </v-row>
                            <v-row class="px-3 pt-2">
                              <v-card
                                height="40px"
                                width="100%"
                                outlined
                                class="d-flex"
                                style="border: 1px solid grey"
                              >
                                <v-card-title class="py-0 pr-0">
                                  <v-icon
                                    class="pr-3"
                                    size="20"
                                    style="border-right: 1px solid grey"
                                    >mdi-office-building-outline</v-icon
                                  >
                                </v-card-title>
                                <v-card-title
                                  class="pa-0 px-0"
                                  style="width: 100%"
                                >
                                  <v-combobox
                                    class="
                                      align-center
                                      justify-center
                                      pa-0
                                      subtitle-2
                                      font-weight-regular
                                    "
                                    :items="departments"
                                    v-model="selectedDepartment"
                                    item-text="name"
                                    item-value="id"
                                    dense
                                    solo
                                    label="Select Department"
                                    transition="slide-y-reverse-transition"
                                    overflow
                                    return-object
                                    hide-selected
                                    clearable
                                    required
                                    :rules="[
                                      (v) => !!v || 'Department is required',
                                    ]"
                                  ></v-combobox>
                                </v-card-title>
                              </v-card>
                            </v-row>
                          </v-col>
                        </v-row>
                        <v-row>
                          <v-col class="pa-5 px-3">
                            <div class="d-flex align-center justify-end">
                              <div>
                                <v-btn
                                  width="120"
                                  depressed
                                  color="text-capitalize white--text primary"
                                  @click="save"
                                  :disabled="!valid"
                                >
                                  Save
                                </v-btn>
                              </div>
                              <div class="px-2">
                                <v-btn
                                  width="120"
                                  depressed
                                  color="text-capitalize white--text red lighten-2"
                                  @click="dialog = false"
                                >
                                  Cancel
                                </v-btn>
                              </div>
                            </div>
                          </v-col>
                        </v-row>
                      </v-form>
                    </v-container>
                  </v-card-text>
                </v-card>
              </v-dialog>
              <v-dialog v-model="dialogDelete" :max-width="widthDelete">
                <v-card tile outlined class="py-3">
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-icon color="secondary" size="120"
                      >mdi-alert-rhombus-outline</v-icon
                    >
                    <v-spacer></v-spacer>
                  </v-card-actions>
                  <v-card-title class="px-11 pt-5 align-center justify-center">
                    <div style="font-size: 22px; color: #627080">
                      Are you sure you want to delete?
                    </div>
                    <div
                      style="font-size: 15px; color: #627080"
                      class="py-0 font-weight-regular"
                    >
                      Do you really want to delete this? This process cannot be
                      undone !!!
                    </div>
                  </v-card-title>

                  <v-card-actions class="py-4">
                    <v-spacer></v-spacer>
                    <v-btn
                      depressed
                      color="#D45252"
                      width="100"
                      class="white--text text-capitalize font-weight-regular"
                      @click="deleteSubCategoryConfirm"
                      >Delete</v-btn
                    >
                    <v-btn
                      depressed
                      color="#578DD2"
                      width="100"
                      class="white--text text-capitalize font-weight-regular"
                      @click="closeDelete"
                      >Cancel</v-btn
                    >

                    <v-spacer></v-spacer>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </template>
            <template v-slot:[`item.actions`]="{ item }">
              <div class="d-flex">
                <v-btn
                  width="auto"
                  small
                  color="#578DD2"
                  depressed
                  class="white--text text-capitalize font-weight-regular"
                  @click="dialog = true"
                >
                  Edit
                </v-btn>
                <v-spacer></v-spacer>
                <v-btn
                  @click="deleteSubCategory(item)"
                  small
                  depressed
                  color="#D45252"
                  width="auto"
                  class="white--text text-capitalize font-weight-regular"
                >
                  Delete
                </v-btn>
              </div>
            </template>

            <template v-slot:[`item.range`]="{ index }">
              <div>
                {{ index + 1 }}
              </div>
            </template>
          </v-data-table>
          <v-card color="grey lighten-3" outlined tile>
            <v-card-text
              class="pa-0 py-2 pa-2 d-flex align-center justify-center"
            >
              <div class="body-2 pl-2">
                Display 1 to {{ itemsPerPage }} of {{ totalItems }} Entries
              </div>
              <v-spacer></v-spacer>
              <div>
                <v-pagination
                  :total-visible="7"
                  v-model="page"
                  :length="pageCount"
                ></v-pagination>
              </div>
            </v-card-text>
          </v-card>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Title from "~/components/title/user_friendly.vue";
import Subtitle from "~/components/card/subtitle.vue";
import Search from "~/components/input/search.vue";
import InputIcon from "~/components/input/input-icon.vue";
export default {
  data: () => ({
    valid: true,
    rules: {
      nameRules: [
        (v) => !!v || "Stakholder Name is required",
        (v) =>
          (v && v.length <= 50) ||
          "Stakeholder must be less than 50 characters",
      ],
      chargeRateRules: [
        (v) => !!v || "Charge Rate is required",
        (v) => (v && v.match(/[0-9]/g)) || "Charge Rate must be number",
        (v) => (v && v.length <= 5) || "Charge Rate must be less than 5 digits",
      ],
    },
    timeout: 3000,
    search: "",
    name: "",
    charge_rate: "",
    snackbar: false,
    snackbarDelete: false,
    batches: [],
    departments: [],
    domains: [],
    specialties: [],
    users: [],
    selectedUser: null,
    selectedDepartment: null,
    selectedDomain: null,
    selectedBatch: null,
    selectedSpecialty: null,
    btnToggle: [1, 2],
    page: 1,
    pageCount: 0,
    dialog: false,
    dialogDelete: false,
    editedIndex: -1,
    editedItem: {
      name: "",
      user: { id: "" },
      charge_rate: "",
      specialty: { id: "" },
      gender: "",
      domain: { id: "" },
      department: { id: "" },
    },
    defaultItem: {
      name: "",
      user: { id: "" },
      charge_rate: "",
      specialty: { id: "" },
      gender: "",
      domain: { id: "" },
      department: { id: "" },
    },
    itemsPerPage: 10,
    pages: [10, 20, 50, 100],
    toggle_exclusive: undefined,
    route: [{ text: "Stakeholder" }, { text: "Stakeholders" }],
    stakeholders: [],
    headers: [
      { text: "", value: "range", width: "3%", align: "center" },
      { text: "Stakeholder Name", value: "name", width: "24%" },
      { text: "Gender", value: "gender", width: "10%" },
      { text: "Domain", value: "domain", width: "10%" },
      { text: "Specialty", value: "specialty.name", width: "15%" },
      { text: "Department", value: "department.name", width: "15%" },
      { text: "User", value: "user.username", width: "10%" },
      { text: "Actions", value: "actions", width: "3%", align: "center" },
    ],
  }),
  computed: {
    totalItems() {
      return this.stakeholders.length;
    },
    width() {
      switch (this.$vuetify.breakpoint.name) {
        case "lg":
          return "60%";
        case "xl":
          return "50%";
        default:
          "100%";
      }
    },
    flex() {
      switch (this.$vuetify.breakpoint.name) {
        case "sm":
          return "column";
        default:
          "row";
      }
    },
    widthDelete() {
      switch (this.$vuetify.breakpoint.name) {
        case "lg":
          return "40%";
        case "xl":
          return "40%";
        case "md":
          return "50%";
        case "sm":
          return "70%";
        default:
          "50%";
      }
    },
  },
  mounted() {
    this.getUsers();
    this.getSpecialties();
    this.getDepartments();
    this.getDomains();
    this.getStakeholders();
  },
  methods: {
    //get Stakholders Datatable
    async getStakeholders() {
      try {
        let { stakeholders } = await this.$axios.$get(
          "/stakeholder/stakeholders"
        );
        this.stakeholders = stakeholders;
      } catch (e) {
        if (e.response.status === 403) {
          return this.$nuxt.error({ statusCode: 403 });
        } else {
          return this.$nuxt.error({ statusCode: 404 });
        }
      }
    },

    // get Users select list items
    async getUsers() {
      let users = await this.$axios.$get("/select_option/all_users_list");
      this.users = users;
    },

    // get Domains select list items
    async getDomains() {
      let domains = await this.$axios.$get("/select_option/all_domains_list");
      this.domains = domains;
    },

    // get Specialties select list items
    async getSpecialties() {
      let specialties = await this.$axios.$get(
        "/select_option/all_specialties_list"
      );
      this.specialties = specialties;
    },

    // get Departments select list items
    async getDepartments() {
      let departments = await this.$axios.$get(
        "/select_option/all_departments_list"
      );
      this.departments = departments;
    },

    //
    async deleteSubCategoryConfirm() {
      await this.$axios({
        method: "delete",
        url: `/stakeholder/delete${this.editedItem.id}`,
      }).then((res) => {
        this.stakeholders.splice(this.editedIndex, 1);
      });
      this.closeDelete();
      this.snackbarDelete = true;
    },
    editSubCategory(item) {
      this.editedIndex = this.stakeholders.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },
    deleteSubCategory(item) {
      this.editedIndex = this.stakeholders.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },
    async save() {
      await this.$axios({
        method: "put",
        url: `/stakeholder/${this.editedItem.id}`,
        data: {
          id: this.editedItem.id,
          name: this.editedItem.name,
          code: this.editedItem.code,
        },
      }).then((res) => {});

      Object.assign(this.stakeholders[this.editedIndex], this.editedItem);
      this.close();
      this.snackbar = true;
    },
    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },
    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },
  },
  components: {
    Title,
    Subtitle,
    Search,
    InputIcon,
  },
};
</script>

<style>
button.v-icon.notranslate.v-icon--link.mdi.mdi-close.theme--light {
  font-size: 15px !important;
}
td,
th {
  border-right: 1px solid #d1d1d1 !important;
}
.v-data-table__expanded.v-data-table__expanded__content {
  box-shadow: none !important;
}
.pagination {
  display: inline-block;
}

.v-input__slot {
  align-items: center;
  justify-content: center;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
.v-pagination__item .v-pagination__item--active .primary {
  background-color: #e3e3e3 !important;
  border-color: #b8b8b8 !important;
  color: #606060 !important;
  font-size: 18px;
}

.v-pagination__item {
  border-radius: 0;
  font-size: 1rem;
  height: 43px;
  width: 54px;
  margin: 0;
  min-width: 34px;
  border: 1px solid #b8b8b8;
  /* padding: 0 3px; */
  text-decoration: none;
  transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
  box-shadow: none;
}
.v-pagination__navigation {
  box-shadow: none;
  border-radius: 0;
  display: inline-flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 1px solid #b8b8b8;
  height: 43px;
  width: 54px;
}
</style>
