<template>
  <v-container fluid class="px-0">
    <v-row
      class="d-flex justify-space-between pt-14 px-3"
      justify="start"
      align="center"
    >
      <v-col class="pa-0">
        <div class="text-left">
          <Title :items="route" />
        </div>
      </v-col>
      <v-col class="pa-0">
        <div class="d-flex justify-end">
          <Dialog class="pr-2"/>
          <PageButton title="List" route="/mains/company_list"/>
        </div>
      </v-col>
    </v-row>
    <v-row justify="center" align="start" class="px-0 py-3 mb-2 mt-8">
      <v-col cols="12" lg="2" md="3" sm="4" class="py-1">
        <Subtitle :title="company_no" icon="mdi-account" />
      </v-col>
      <v-col cols="12" lg="7" md="6" sm="4" class="py-1">
        <Search v-model="search"/>
      </v-col>
      <v-col cols="12" lg="3" md="2" sm="4" class="py-1">
        <Category title="Category" :select_list="company_categories" :defaultSelect="selectedCategory"/>
      </v-col>
    </v-row>
    <v-row :class="'mt-0 px-3 d-flex justify-space-' + justify">
      <div
        v-for="company in data"
        :key="company.index"
        style="width: 18.9%; min-width: 300px"
        class="mb-6"
      >
        <Company :item="company" />
      </div>
    </v-row>
  </v-container>
</template>

<script>
import Title from "~/components/title/user_friendly.vue";
import Subtitle from "~/components/card/subtitle.vue";
import Search from "~/components/input/search.vue";
import Page from "~/components/selector/label_selector.vue";
import Company from "~/components/card/company_card.vue";
import Dialog from "~/components/dialog/dialog-company.vue";
import PageButton from "~/components/button/page-button.vue";
import Category from "~/components/selector/label_selector.vue";
export default {
  middleware: "authenticated",
  async asyncData({ $axios }) {
    const category = 1;
    const search = '';
    const {companies}  = await $axios.$get(`/company/companies:${category}`, {
      // data: {
      //   category: category,
      //   search: search
      // }
    });
    // console.log("=========", companies)
    const {company_categories} = await $axios.$get(`/company/categories`);
    const company_no = `Companies: ${companies.length}`;
    const data = [];
    company_categories.push({id: 0, name: "All Categories"});
    const selectedCategory = {id: 0, name: "All Categories"};
    for (const c of companies) {
      const company = {
        id: c.id,
        title: c.name,
        subtitle: c.description,
        img: require(`~/assets/company/${c.logo}`),
        member: `Member ${c.company_members.length}`,
        project_count: `Project ${c.projects.length}`,
        color: "#75A6D0",
        project: {
          main: "In Progress",
          main_data: "1",
          tab_1: "Estimate",
          tab_1_data: "2420",
          tab_2: "Actual",
          tab_2_data: "454",
        },
        complete: {
          main: "Completed",
          main_data: "12",
          tab_1: "Actual",
          tab_1_data: "420",
          tab_2: "Acquired",
          tab_2_data: "0",
        },
        president: {
          role: "President",
          company: c.president? c.president.name : "N/A",
          subtitle: "Batch 3 SE",
          company_abbreviation: c.code,
          // company_abbreviation: c.name.match(/\b([A-Za-z])/g).join(''),
          img: require(`~/assets/profile/${c.president? c.president.user.profile_pic : "default.jpg"}`),
        },
      };
    data.push(company)
    };
    return {data, company_no, company_categories, selectedCategory}
  },
  computed: {
    justify() {
      switch (this.$vuetify.breakpoint.name) {
        case "xs":
          return "around";
        case "sm":
          return "around";
        case "md":
          return "between";
        case "lg":
          return "between";
        case "xl":
          return "between";
      }
    },
  },
  data: () => ({
    route: [
      {
        text: "Mains",
      },
      {
        text: "Company",
      },
    ],
  }),
  components: {
    Title,
    Subtitle,
    Search,
    Page,
    Company,
    Dialog,
    PageButton,
    Category
  },
};
</script>

<style lang="scss" scoped>
</style>
