<template>
  <v-container fluid class="px-0">
    <v-row
      class="pt-14 px-3 d-flex justify-space-between"
      justify="start"
      align="center"
    >
      <v-col class="pa-0">
        <div class="text-left">
          <Title :items="route" />
        </div>
      </v-col>
      <v-col class="pa-0">
        <div class="d-flex justify-end">
          <Dialog class="pr-2" />
          <PageButton title="Card" route="/mains/company_card" />
        </div>
      </v-col>
    </v-row>
    <v-row justify="center" align="start" class="px-0 mt-10">
      <v-col cols="12" lg="2" md="3" sm="4" class="py-1">
        <Subtitle title="Companies: 32" icon="mdi-office-building" />
      </v-col>
      <v-col cols="12" lg="5" md="9" sm="8" class="py-1">
        <Search v-model="search" />
      </v-col>
      <v-col cols="12" lg="3" md="7" sm="6" class="py-1">
        <div class="d-flex flex-row align-center justify-end">
          <div class="body-2 grey--text text--darken-3">
            Category<span class="px-1">:</span>
          </div>
          <v-card-actions
            align="center"
            justify="center"
            class="body-2 pl-5 pa-0 pr-0"
            style="width: 100%"
          >
            <v-combobox
              class="
                align-center
                justify-center
                pa-0
                subtitle-2
                font-weight-regular
              "
              :items="categories"
              v-model="selectedCategory"
              item-text="name"
              item-value="id"
              dense
              outlined
              solo
              label="Select Batch"
              transition="slide-y-reverse-transition"
              overflow
              return-object
              hide-details="true"
            ></v-combobox>
          </v-card-actions>
        </div>
      </v-col>
      <v-col cols="12" lg="2" md="5" sm="6" class="py-1">
        <div class="d-flex flex-row align-center justify-end">
          <div class="body-2 grey--text text--darken-3">
            Per Page<span class="px-1">:</span>
          </div>
          <v-card-actions
            align="center"
            justify="center"
            class="body-2 pl-5 pa-0 pr-0"
            style="width: 100%"
          >
            <v-select
              class="align-center justify-center pa-0 subtitle-2"
              :items="pages"
              item-text="name"
              item-value="id"
              dense
              outlined
              :value="itemsPerPage"
              transition="slide-y-reverse-transition"
              :hide-details="true"
              @change="itemsPerPage = parseInt($event, 10)"
            >
            </v-select>
          </v-card-actions>
        </div>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-card
          width="100%"
          tile
          outlined
          style="border-top: 3px solid #5a90bf"
        >
          <v-data-table
            :headers="headers"
            :items="companies"
            :single-expand="singleExpand"
            :expanded.sync="expanded"
            show-expand
            :header-props="{ 'sort-icon': 'mdi-chevron-up' }"
            hide-default-footer=""
            class="px-0 truncate"
            :search="search"
            :page.sync="page"
            :items-per-page="itemsPerPage"
            @page-count="pageCount = $event"
          >
            <template
              v-slot:[`item.data-table-expand`]="{ expand, isExpanded }"
            >
              <v-icon @click="expand(!isExpanded)"
                >mdi-text-box-search-outline</v-icon
              >
            </template>

            <template v-slot:[`item.range`]="{ index }">
              <div>
                {{ index + 1 }}
              </div>
            </template>

            <template v-slot:expanded-item="{ headers }">
              <td :colspan="headers.length">
                <div class="d-flex justify-space-between align-center px-10">
                  <div class="d-flex justify-space-between pl-5 py-3">
                    <div class="py-3">
                      <div class="pb-2">
                        <span class="font-weight-bold pr-5"
                          >Active Projects:</span
                        >
                        <span>5</span>
                      </div>
                      <div class="pt-2">
                        <span class="font-weight-bold pr-5"
                          >Approved Projects:</span
                        >
                        <span>20</span>
                      </div>
                    </div>
                    <div class="py-3 pl-16">
                      <div class="pb-2">
                        <span class="font-weight-bold pr-5"
                          >Active Members:</span
                        >
                        <span>6</span>
                      </div>
                      <div class="pt-2">
                        <span class="font-weight-bold pr-5"
                          >Inactive Members:</span
                        >
                        <span>4</span>
                      </div>
                    </div>
                  </div>
                  <div>
                    <v-btn
                      width="130"
                      to="/mains/company/4"
                      outlined
                      text
                      class="grey--text text--darken-2 text-capitalize"
                    >
                      <span class="pr-2"><v-icon>mdi-eye-outline</v-icon></span>
                      <span>Preview</span>
                    </v-btn>
                    <v-btn
                      outlined
                      width="100"
                      class="white--text primary text-capitalize"
                    >
                      <span>Edit</span>
                    </v-btn>
                    <v-btn
                      outlined
                      width="120"
                      class="white--text red lighten-2 text-capitalize"
                    >
                      <span>Remove</span>
                    </v-btn>
                  </div>
                </div>
              </td>
            </template>
          </v-data-table>
          <v-card color="grey lighten-3" outlined tile>
            <v-card-text
              class="pa-0 py-2 pa-2 d-flex align-center justify-center"
            >
              <div class="body-2 pl-2">
                Display 1 to {{ itemsPerPage }} of {{ totalItems }} Entries
              </div>
              <v-spacer></v-spacer>
              <div>
                <v-pagination
                  :total-visible="7"
                  v-model="page"
                  :length="pageCount"
                ></v-pagination>
              </div>
            </v-card-text>
          </v-card>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Title from "~/components/title/user_friendly.vue";
import Subtitle from "~/components/card/subtitle.vue";
import Search from "~/components/input/search.vue";
import Page from "~/components/selector/label_selector.vue";
import Student from "~/components/card/student_card.vue";
import Dialog from "~/components/dialog/dialog-company.vue";
import PageButton from "~/components/button/page-button.vue";
import Category from "~/components/selector/label_selector.vue";
export default {
  middleware: "authenticated",
  async asyncData({ $axios }) {
    // const company = await this.$axios({
    //   method: "get",
    //   url: '/company/companies',
    //   data: {
    //     category: this.category,
    //     search: this.search
    //   }
    // });
    // console.log('--------------------',company)

    const category = 1;
    const search = "";
    const { companies } = await $axios.$get(`/company/companies:${category}`, {
      // param: {
      //   category: category,
      //   search: search,
      // },
    });
    const { company_categories } = await $axios.$get(`/company/categories`);
    console.log("--------------------", companies);
    company_categories.push({ id: 0, name: "All Categories" });
    const selectedCategory = { id: 0, name: "All Categories" };
    return { companies, selectedCategory, company_categories };
  },
  computed: {
    totalItems() {
      return this.companies.length;
    },
    justify() {
      switch (this.$vuetify.breakpoint.name) {
        case "xs":
          return "around";
        case "sm":
          return "around";
        case "md":
          return "between";
        case "lg":
          return "between";
        case "xl":
          return "between";
      }
    },
  },
  data: () => ({
    expanded: [],
    singleExpand: false,
    page: 1,
    pageCount: 0,
    itemsPerPage: 10,
    pages: [10, 20, 50, 100],
    toggle_exclusive: undefined,
    category: 1,
    search: "",
    selectedCategory: null,
    categories: [],
    companies: [],
    route: [{ text: "Mains" }, { text: "Company_List" }],
    headers: [
      { text: "", value: "range", width: "3%", align: "center" },
      { text: "Company Name", value: "name", width: "24%" },
      { text: "Vice Chairman", value: "vice_chairman.name", width: "10%" },
      { text: "President", value: "president.name", width: "10%" },
      { text: "Established Date", value: "established_date", width: "15%" },
      { text: "Company Definition", value: "definition", width: "30%" },
      {
        text: "Details",
        value: "data-table-expand",
        width: "3%",
        align: "center",
      },
    ],
  }),
  mounted() {
    this.getCompanyCategories();
  },
  methods: {
    async getCompanyCategories() {
      let categories = await this.$axios.$get(
        "/select_option/all_company_categories_list"
      );
      this.categories = categories;
    },
  },
  components: {
    Title,
    Subtitle,
    Search,
    Page,
    Student,
    Dialog,
    PageButton,
    Category,
  },
};
</script>

<style>
td,
th {
  border-right: 1px solid #d1d1d1 !important;
}
.v-data-table__expanded.v-data-table__expanded__content {
  box-shadow: none !important;
}
.pagination {
  display: inline-block;
}

.v-input__slot {
  align-items: center;
  justify-content: center;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
.v-pagination__item .v-pagination__item--active .primary {
  background-color: #e3e3e3 !important;
  border-color: #b8b8b8 !important;
  color: #606060 !important;
  font-size: 18px;
}

.v-pagination__item {
  border-radius: 0;
  font-size: 1rem;
  height: 43px;
  width: 54px;
  margin: 0;
  min-width: 34px;
  border: 1px solid #b8b8b8;
  /* padding: 0 3px; */
  text-decoration: none;
  transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
  box-shadow: none;
}
.v-pagination__navigation {
  box-shadow: none;
  border-radius: 0;
  display: inline-flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 1px solid #b8b8b8;
  height: 43px;
  width: 54px;
}
</style>