<template>
  <!-- <v-container fluid class="px-0">
    <v-row>
        <Datatable :headers="headers" :body="batches"/>
    </v-row>
  </v-container> -->

  <v-container fluid class="px-0">
    <v-row class="pt-14 px-3" justify="start" align="center">
      <v-col class="pa-0">
        <div class="text-left">
          <Title :items="route" />
        </div>
      </v-col>
      <v-col class="pa-0">
        <div
          class="d-flex justify-end"
          v-if="$store.state.user.role == 'ADMIN'"
        >
          <v-btn
            width="auto"
            meduim
            depressed
            color="text-capitalize white--text primary"
            @click="dialog = true"
          >
            Add Semester
          </v-btn>
        </div>
      </v-col>
    </v-row>
    <v-row
      justify="center"
      align="start"
      class="d-flex justify-space-between px-0 mt-10"
    >
      <v-col cols="12" lg="2" md="3" sm="5" class="py-1">
        <Subtitle
          title="All Semesters in KIT"
          icon="mdi-calendar-multiple-check"
        />
      </v-col>
      <v-col cols="12" lg="3" md="9" sm="7" class="py-1">
        <Search v-model="search" />
      </v-col>
      <v-col cols="12" lg="3" md="4" sm="12" class="py-1">
        <div class="d-flex flex-row align-center justify-end">
          <div class="body-2 grey--text text--darken-3">
            Department<span class="px-1">:</span>
          </div>
          <v-card-actions
            align="center"
            justify="center"
            class="body-2 pl-5 pa-0 pr-0"
            style="width: 100%"
          >
            <v-combobox
              class="
                align-center
                justify-center
                pa-0
                subtitle-2
                font-weight-regular
              "
              :items="departments"
              v-model="selectedDepartment"
              v-on:change="onSelectDepartment"
              item-text="name"
              item-value="id"
              dense
              outlined
              solo
              label="Select Department"
              transition="slide-y-reverse-transition"
              overflow
              return-object
              hide-details="true"
            ></v-combobox>
          </v-card-actions>
        </div>
      </v-col>
      <v-col cols="12" lg="2" md="4" sm="6" class="py-1">
        <div class="d-flex flex-row align-center justify-end">
          <div class="body-2 grey--text text--darken-3">
            Batch<span class="px-1">:</span>
          </div>
          <v-card-actions
            align="center"
            justify="center"
            class="body-2 pl-5 pa-0 pr-0"
            style="width: 100%"
          >
            <v-combobox
              class="
                align-center
                justify-center
                pa-0
                subtitle-2
                font-weight-regular
              "
              :items="batches"
              v-model="selectedBatch"
              v-on:change="onSelectBatch"
              item-text="name"
              item-value="id"
              dense
              outlined
              solo
              label="Select Batch"
              transition="slide-y-reverse-transition"
              overflow
              return-object
              hide-details="true"
            ></v-combobox>
          </v-card-actions>
        </div>
      </v-col>
      <v-col cols="12" lg="2" md="4" sm="6" class="py-1">
        <div class="d-flex flex-row align-center justify-end">
          <div
            class="body-2 grey--text text--darken-3"
            :style="'width:' + width"
          >
            Per Page<span class="px-1">:</span>
          </div>
          <v-card-actions
            align="center"
            justify="center"
            class="body-2 pl-5 pa-0 pr-0"
            style="width: 100%"
          >
            <v-select
              class="align-center justify-center pa-0 subtitle-2"
              :items="pages"
              item-text="name"
              item-value="id"
              dense
              outlined
              :value="itemsPerPage"
              transition="slide-y-reverse-transition"
              :hide-details="true"
              @change="itemsPerPage = parseInt($event, 10)"
            >
            </v-select>
          </v-card-actions>
        </div>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-card
          width="100%"
          tile
          outlined
          style="border-top: 3px solid #5a90bf"
        >
          <v-snackbar
            rounded="pill"
            width="40px"
            v-model="snackbarAdd"
            :timeout="timeout"
            color="#578DD2"
          >
            <div class="px-16">
              <v-icon color="white" class="px-6">mdi-check-circle</v-icon>
              Rank Added !!!
            </div>
          </v-snackbar>
          <v-snackbar
            rounded="pill"
            width="40px"
            v-model="snackbarUpdate"
            :timeout="timeout"
            color="#578DD2"
          >
            <div class="px-16">
              <v-icon color="white" class="px-6">mdi-check-circle</v-icon>
              Rank Updated !!!
            </div>
          </v-snackbar>
          <v-snackbar
            rounded="pill"
            width="40px"
            v-model="snackbarDelete"
            :timeout="timeout"
            color="#D45252"
          >
            <div class="px-16">
              <v-icon color="white" class="px-6">mdi-check-circle</v-icon>
              Semester Deleted !!!
            </div>
          </v-snackbar>
          <v-data-table
            :headers="headers"
            :items="semesters"
            hide-default-footer
            class="px-0"
            :search="search"
            :page.sync="page"
            :items-per-page="itemsPerPage"
            @page-count="pageCount = $event"
          >
            <template v-slot:top>
              <v-dialog v-model="dialog" :max-width="width">
                <v-card tile outlined>
                  <v-card-title class="px-10 pt-10">
                    <div style="font-size: 22px; color: #627080">
                      Register Semester
                      <div
                        style="font-size: 14px"
                        class="py-0 font-weight-regular"
                      >
                        Create New Semester
                      </div>
                    </div>
                  </v-card-title>
                  <v-card-text class="pt-3 px-7">
                    <v-container fluid>
                      <v-form ref="form" v-model="valid">
                        <v-row class="d-flex justify-space-between">
                          <v-col md="6" cols="12" class="py-1 px-5 pr-2">
                            <div class="caption">Semester Name</div>
                            <v-card
                              height="40px"
                              width="100%"
                              outlined
                              class="d-flex"
                              style="border: 1px solid grey"
                            >
                              <v-card-title class="py-0 pr-0">
                                <v-icon
                                  class="pr-3"
                                  size="20"
                                  style="border-right: 1px solid grey"
                                  >mdi-pencil</v-icon
                                >
                              </v-card-title>
                              <v-card-title
                                class="pa-0 px-0"
                                style="width: 100%"
                              >
                                <v-text-field
                                  type="text"
                                  class="
                                    subtitle-1
                                    align-start
                                    justify-center
                                    width-calc
                                    py-0
                                    grey--text
                                    text--darken-1
                                  "
                                  dense
                                  clearable
                                  solo
                                  :rules="rules.nameRules"
                                  required
                                  label="Semester Name"
                                  style="outline: none; width: 100%"
                                  v-model="editedItem.name"
                                  :counter="50"
                                ></v-text-field>
                              </v-card-title>
                            </v-card>
                          </v-col>
                          <v-col md="6" cols="12" class="py-1 px-5 pl-2">
                            <div class="caption">Code</div>
                            <v-card
                              height="40px"
                              width="100%"
                              outlined
                              class="d-flex"
                              style="border: 1px solid grey"
                            >
                              <v-card-title class="py-0 pr-0">
                                <v-icon
                                  class="pr-3"
                                  size="20"
                                  style="border-right: 1px solid grey"
                                  >mdi-code-tags</v-icon
                                >
                              </v-card-title>
                              <v-card-title
                                class="pa-0 px-0"
                                style="width: 100%"
                              >
                                <v-text-field
                                  type="text"
                                  class="
                                    subtitle-1
                                    align-start
                                    justify-center
                                    width-calc
                                    py-0
                                    grey--text
                                    text--darken-1
                                  "
                                  dense
                                  clearable
                                  solo
                                  :rules="rules.codeRules"
                                  required
                                  label="Code"
                                  style="outline: none; width: 100%"
                                  v-model="editedItem.code"
                                  :counter="10"
                                ></v-text-field>
                              </v-card-title>
                            </v-card>
                          </v-col>
                        </v-row>
                        <v-row>
                          <v-col md="6" cols="12" class="py-1 px-3">
                            <div class="caption">Start Date</div>
                            <v-card
                              height="40px"
                              width="100%"
                              outlined
                              class="d-flex"
                              style="border: 1px solid grey"
                            >
                              <v-card-title class="py-0 pr-0">
                                <v-icon
                                  class="pr-3"
                                  size="20"
                                  style="border-right: 1px solid grey"
                                  >mdi-calendar</v-icon
                                >
                              </v-card-title>
                              <v-card-title
                                class="pa-0 px-0"
                                style="width: 100%"
                              >
                                <v-menu
                                  ref="menu1"
                                  v-model="menu1"
                                  :close-on-content-click="false"
                                  transition="scale-transition"
                                  offset-y
                                  max-width="290px"
                                  min-width="auto"
                                >
                                  <template v-slot:activator="{ on, attrs }">
                                    <v-text-field
                                      v-model="dateFormatted"
                                      label="Date"
                                      outlined
                                      dense
                                      v-bind="attrs"
                                      @blur="date = parseDate(dateFormatted)"
                                      v-on="on"
                                    ></v-text-field>
                                  </template>
                                  <v-date-picker
                                    v-model="date"
                                    no-title
                                    @input="menu1 = false"
                                  ></v-date-picker>
                                </v-menu>
                                <!-- <v-date-picker
                                v-model="start_date"
                                style="width: 100%"
                              >
                                <template v-slot="{ inputValue, inputEvents }">
                                  <v-text-field
                                    hide-details="true"
                                    solo
                                    dense
                                    class="
                                      bg-white
                                      border
                                      py-0
                                      rounded
                                      subtitle-2
                                      font-weight-regular
                                    "
                                    :value="inputValue"
                                    v-on="inputEvents"
                                  >
                                  </v-text-field>
                                </template>
                              </v-date-picker> -->
                              </v-card-title>
                            </v-card>
                          </v-col>
                          <v-col md="6" cols="12" class="py-1 px-3">
                            <div class="caption">End Date</div>
                            <v-card
                              height="40px"
                              width="100%"
                              outlined
                              class="d-flex"
                              style="border: 1px solid grey"
                            >
                              <v-card-title class="py-0 pr-0">
                                <v-icon
                                  class="pr-3"
                                  size="20"
                                  style="border-right: 1px solid grey"
                                  >mdi-calendar</v-icon
                                >
                              </v-card-title>
                              <v-card-title
                                class="pa-0 px-0"
                                style="width: 100%"
                              >
                                <v-date-picker
                                  v-model="end_date"
                                  style="width: 100%"
                                >
                                  <template
                                    v-slot="{ inputValue, inputEvents }"
                                  >
                                    <v-text-field
                                      hide-details="true"
                                      solo
                                      dense
                                      class="
                                        bg-white
                                        border
                                        py-0
                                        rounded
                                        subtitle-2
                                        font-weight-regular
                                      "
                                      :value="inputValue"
                                      v-on="inputEvents"
                                    >
                                    </v-text-field>
                                  </template>
                                </v-date-picker>
                              </v-card-title>
                            </v-card>
                          </v-col>
                        </v-row>
                        <v-row align="center">
                          <v-col md="6" cols="12" class="py-1 px-3">
                            <div class="caption">Department</div>
                            <v-card
                              height="40px"
                              width="100%"
                              outlined
                              class="d-flex"
                              style="border: 1px solid grey"
                            >
                              <v-card-title class="py-0 pr-0">
                                <v-icon
                                  class="pr-3"
                                  size="20"
                                  style="border-right: 1px solid grey"
                                  >mdi-office-building-outline</v-icon
                                >
                              </v-card-title>
                              <v-card-title
                                class="pa-0 px-0"
                                style="width: 100%"
                              >
                                <v-combobox
                                  class="
                                    align-center
                                    justify-center
                                    pa-0
                                    subtitle-2
                                    font-weight-regular
                                  "
                                  :items="departments"
                                  v-model="selectedDepartment"
                                  item-text="name"
                                  item-value="id"
                                  dense
                                  solo
                                  label="Select Department"
                                  transition="slide-y-reverse-transition"
                                  overflow
                                  return-object
                                  clearable
                                  hide-selected
                                  required
                                  :rules="[
                                    (v) => !!v || 'Charge Type is required',
                                  ]"
                                ></v-combobox>
                              </v-card-title>
                            </v-card>
                          </v-col>
                          <v-col md="6" cols="12" class="py-1 px-3">
                            <div class="caption">Batch</div>
                            <v-card
                              height="40px"
                              width="100%"
                              outlined
                              class="d-flex"
                              style="border: 1px solid grey"
                            >
                              <v-card-title class="py-0 pr-0">
                                <v-icon
                                  class="pr-3"
                                  size="20"
                                  style="border-right: 1px solid grey"
                                  >mdi-family-tree</v-icon
                                >
                              </v-card-title>
                              <v-card-title
                                class="pa-0 px-0"
                                style="width: 100%"
                              >
                                <v-combobox
                                  class="
                                    align-center
                                    justify-center
                                    pa-0
                                    subtitle-2
                                    font-weight-regular
                                  "
                                  :items="batches"
                                  v-model="selectedBatch"
                                  item-text="name"
                                  item-value="id"
                                  dense
                                  solo
                                  label="Select Batch"
                                  transition="slide-y-reverse-transition"
                                  overflow
                                  return-object
                                  hide-selected
                                  clearable
                                  required
                                  :rules="[
                                    (v) => !!v || 'Charge Type is required',
                                  ]"
                                ></v-combobox>
                              </v-card-title>
                            </v-card>
                          </v-col>
                        </v-row>
                        <v-row>
                          <v-col class="pt-5">
                            <div class="d-flex align-center justify-end">
                              <div class="pr-2">
                                <v-btn
                                  width="100"
                                  depressed
                                  color="text-capitalize white--text primary"
                                  @click="save"
                                  :disabled="!valid"
                                >
                                  Save
                                </v-btn>
                              </div>
                              <div>
                                <v-btn
                                  width="100"
                                  depressed
                                  color="text-capitalize white--text red lighten-2"
                                  @click="dialog = false"
                                >
                                  Cancel
                                </v-btn>
                              </div>
                            </div>
                          </v-col>
                        </v-row>
                      </v-form>
                    </v-container>
                  </v-card-text>
                </v-card>
              </v-dialog>
              <v-dialog v-model="dialogDelete" :max-width="width">
                <v-card tile outlined class="py-3">
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-icon color="secondary" size="120"
                      >mdi-alert-rhombus-outline</v-icon
                    >
                    <v-spacer></v-spacer>
                  </v-card-actions>
                  <v-card-title class="px-11 pt-5 align-center justify-center">
                    <div style="font-size: 22px; color: #627080">
                      Are you sure you want to delete?
                    </div>
                    <div
                      style="font-size: 15px; color: #627080"
                      class="py-0 font-weight-regular"
                    >
                      Do you really want to delete this? This process cannot be
                      undone !!!
                    </div>
                  </v-card-title>

                  <v-card-actions class="py-4">
                    <v-spacer></v-spacer>
                    <v-btn
                      depressed
                      color="#D45252"
                      width="100"
                      class="white--text text-capitalize font-weight-regular"
                      @click="deleteRankConfirm"
                      >Delete</v-btn
                    >
                    <v-btn
                      depressed
                      color="#578DD2"
                      width="100"
                      class="white--text text-capitalize font-weight-regular"
                      @click="closeDelete"
                      >Cancel</v-btn
                    >

                    <v-spacer></v-spacer>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </template>
            <template v-slot:[`item.actions`]="{ item }">
              <div class="d-flex">
                <v-btn
                  width="auto"
                  small
                  color="#578DD2"
                  depressed
                  class="white--text text-capitalize font-weight-regular"
                  @click="editRank(item)"
                >
                  Edit
                </v-btn>
                <v-spacer></v-spacer>
                <v-btn
                  @click="deleteRank(item)"
                  small
                  depressed
                  color="#D45252"
                  width="auto"
                  class="white--text text-capitalize font-weight-regular"
                >
                  Delete
                </v-btn>
              </div>
            </template>

            <template v-slot:[`item.range`]="{ index }">
              <div>
                {{ index + 1 }}
              </div>
            </template>
          </v-data-table>
          <v-card color="grey lighten-3" outlined tile>
            <v-card-text
              class="pa-0 py-2 pa-2 d-flex align-center justify-center"
            >
              <div class="body-2 pl-2">
                Display 1 to {{ itemsPerPage }} of {{ totalItems }} Entries
              </div>
              <v-spacer></v-spacer>
              <div>
                <v-pagination
                  :total-visible="7"
                  v-model="page"
                  :length="pageCount"
                ></v-pagination>
              </div>
            </v-card-text>
          </v-card>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Title from "~/components/title/user_friendly.vue";
import Subtitle from "~/components/card/subtitle.vue";
import Search from "~/components/input/search.vue";
import InputIcon from "~/components/input/input-icon.vue";
import DatePicker from "~/components/input/date-picker.vue";
export default {
  data: (vm) => ({
    valid: true,
    rules: {
      nameRules: [
        (v) => !!v || "Semester Name is required",
        (v) =>
          (v && v.length <= 50) || "Semester must be less than 50 characters",
      ],
      codeRules: [
        (v) => !!v || "Code is required",
        (v) => (v && v.length <= 10) || "Code must be less than 10 characters",
      ],
    },
    date: new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
      .toISOString()
      .substr(0, 10),
    dateFormatted: "",
    menu1: false,
    start_date: new Date().toLocaleDateString(),
    end_date: new Date().toLocaleDateString(),
    batches: [],
    departments: [],
    semesters: [],
    selectedBatch: null,
    selectedDepartment: null,
    search: "",
    timeout: 3000,
    snackbarAdd: false,
    snackbarUpdate: false,
    snackbarDelete: false,
    singleExpand: false,
    page: 1,
    pageCount: 0,
    dialog: false,
    dialogDelete: false,
    editedIndex: -1,
    editedItem: {
      id: "",
      name: "",
      code: "",
      start_date: "",
      end_date: "",
      department: { id: "" },
      batch: { id: "" },
    },
    defaultItem: {
      name: "",
      code: "",
      start_date: "",
      end_date: "",
      department: { id: "" },
      batch: { id: "" },
    },
    itemsPerPage: 10,
    pages: [10, 20, 50, 100],
    toggle_exclusive: undefined,
    route: [{ text: "Mains" }, { text: "All semesters in KIT" }],
    headers: [
      { text: "", value: "id", width: "3%", align: "center" },
      { text: "Semester Name", value: "name", width: "14%" },
      { text: "Code", value: "code", width: "15%" },
      { text: "Batch", value: "batches.name", width: "15%" },
      { text: "Department", value: "departments.name", width: "20%" },
      { text: "Start date", value: "start_date", width: "15%" },
      { text: "End date", value: "end_date", width: "15%" },
      { text: "Actions", value: "actions", width: "3%", align: "center" },
    ],
  }),
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Create New" : "Update";
    },
    formSubtitle() {
      return this.editedIndex === -1 ? "Register" : "Update";
    },
    totalItems() {
      return this.semesters.length;
    },
    width() {
      switch (this.$vuetify.breakpoint.name) {
        case "lg":
          return "40%";
        case "xl":
          return "40%";
        case "md":
          return "50%";
        case "sm":
          return "70%";
        default:
          "50%";
      }
    },
  },
  mounted() {
    this.getDepartments();
    this.getBatches();
    this.getSemesters();
  },
  methods: {
    async getSemesters() {
      let departments = await this.$axios({
        method: "GET",
        url: `/semesters`,
      });
      console.log("====", departments.data.departments);
    },
    async getBatches() {
      let { batches } = await this.$axios.$get("/batches");
      let dep_id = this.selectedDepartment.id;

      var filterBatchByDepartment = batches.filter(function (e) {
        return e.department.id == dep_id;
      });
      this.batches = filterBatchByDepartment;
      this.selectedBatch = {
        name: filterBatchByDepartment[0].name,
        id: filterBatchByDepartment[0].id,
      };
    },

    async onSelectDepartment(el) {
      this.selectedDepartment.id = el.id;
      await this.getBatches();
      // this.getStudents(el.id, this.selectedBatch.id);
    },

    onSelectBatch(el) {
      //el : selected element
      // this.getStudents(this.selectedDepartment.id, el.id);
    },

    async getDepartments() {
      let departments = await this.$axios.$get(
        "/select_option/all_departments_list"
      );
      this.selectedDepartment = {
        name: departments[0].name,
        id: departments[0].id,
      };
      this.departments = departments;
    },

    async deleteRankConfirm() {
      await this.$axios({
        method: "delete",
        url: `/student/rank/delete${this.editedItem.id}`,
      }).then((res) => {
        this.semesters.splice(this.editedIndex, 1);
      });
      this.closeDelete();
      this.snackbarDelete = true;
    },

    editRank(item) {
      this.editedIndex = this.semesters.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },
    deleteRank(item) {
      this.editedIndex = this.semesters.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },
    async save() {
      this.$refs.form.validate();
      //Update Semester
      if (this.editedIndex > -1) {
        Object.assign(this.semesters[this.editedIndex], this.editedItem);
        await this.$axios({
          method: "put",
          url: `/student/rank/${this.editedItem.id}`,
          data: {
            id: this.editedItem.id,
            name: this.editedItem.name,
            code: this.editedItem.code,
            description: this.editedItem.description,
          },
        }).then((res) => {
          this.snackbarUpdate = true;
        });
      } else {
        this.semesters.push(this.editedItem);
        await this.$axios({
          method: "post",
          url: "/student/rank/create",
          data: {
            name: this.editedItem.name,
            code: this.editedItem.code,
            description: this.editedItem.description,
          },
        }).then((res) => {
          this.snackbarAdd = true;
        });
      }

      this.close();
    },
    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },
    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },
  },

  components: {
    Title,
    Subtitle,
    Search,
    InputIcon,
    DatePicker,
  },
};
</script>

<style>
button.v-icon.notranslate.v-icon--link.mdi.mdi-close.theme--light {
  font-size: 15px !important;
}
td,
th {
  border-right: 1px solid #d1d1d1 !important;
}
.v-data-table__expanded.v-data-table__expanded__content {
  box-shadow: none !important;
}
.pagination {
  display: inline-block;
}

.v-input__slot {
  align-items: center;
  justify-content: center;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
.v-pagination__item .v-pagination__item--active .primary {
  background-color: #e3e3e3 !important;
  border-color: #b8b8b8 !important;
  color: #606060 !important;
  font-size: 18px;
}

.v-pagination__item {
  border-radius: 0;
  font-size: 1rem;
  height: 43px;
  width: 54px;
  margin: 0;
  min-width: 34px;
  border: 1px solid #b8b8b8;
  /* padding: 0 3px; */
  text-decoration: none;
  transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
  box-shadow: none;
}
.v-pagination__navigation {
  box-shadow: none;
  border-radius: 0;
  display: inline-flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 1px solid #b8b8b8;
  height: 43px;
  width: 54px;
}
</style>