<template>
  <v-container fluid class="px-0">
    <v-row class="pt-14 px-3" justify="start" align="center">
      <v-col class="pa-0">
        <div class="text-left">
          <Title :items="route" />
        </div>
      </v-col>
      <v-col class="pa-0">
        <div class="d-flex justify-end">
          <Dialog />
        </div>
      </v-col>
    </v-row>
    <v-row
      justify="center"
      align="start"
      class="d-flex justify-space-between px-0 mt-10"
    >
      <v-col cols="12" lg="2" md="3" sm="5" class="py-1">
        <Subtitle title="Daily Reports" icon="mdi-calendar" />
      </v-col>
      <v-col cols="12" lg="8" md="9" sm="7" class="py-1">
        <Search v-model="search" />
      </v-col>
      <v-col cols="12" lg="2" md="12" class="py-1">
        <div class="d-flex flex-row align-center justify-end">
          <div class="body-2 grey--text text--darken-3">
            Per Page<span class="px-1">:</span>
          </div>
          <v-card-actions
            align="center"
            justify="center"
            class="body-2 pl-5 pa-0 pr-0"
            style="width: 100%"
          >
            <v-select
              class="align-center justify-center pa-0 subtitle-2"
              :items="pages"
              item-text="name"
              item-value="id"
              dense
              outlined
              :value="itemsPerPage"
              transition="slide-y-reverse-transition"
              :hide-details="true"
              @change="itemsPerPage = parseInt($event, 10)"
            >
            </v-select>
          </v-card-actions>
        </div>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-card
          width="100%"
          tile
          outlined
          style="border-top: 3px solid #5a90bf"
        >
          <v-data-table
            :headers="headers"
            :items="body"
            :single-expand="singleExpand"
            :expanded.sync="expanded"
            show-expand
            :header-props="{ 'sort-icon': 'mdi-chevron-up' }"
            hide-default-footer=""
            class="px-0"
            :search="search"
            :page.sync="page"
            :items-per-page="itemsPerPage"
            @page-count="pageCount = $event"
          >
            <template
              v-slot:[`item.data-table-expand`]="{ expand, isExpanded }"
            >
              <v-icon @click="expand(!isExpanded)"
                >mdi-text-box-search-outline</v-icon
              >
            </template>

            <template v-slot:[`item.next_actions`]>
              <v-btn
                small
                depressed
                color="primary"
                width="100px"
                class="text-capitalize font-weight-regular"
                >Complete</v-btn
              >
            </template>

            <template v-slot:[`item.range`]="{ index }">
              <div>
                {{ index + 1 }}
              </div>
            </template>
          </v-data-table>
          <v-card color="grey lighten-3" outlined tile>
            <v-card-text
              class="pa-0 py-2 pa-2 d-flex align-center justify-center"
            >
              <div class="body-2 pl-2">
                Display 1 to {{ itemsPerPage }} of {{ totalItems }} Entries
              </div>
              <v-spacer></v-spacer>
              <div>
                <v-pagination
                  :total-visible="7"
                  v-model="page"
                  :length="pageCount"
                ></v-pagination>
              </div>
            </v-card-text>
          </v-card>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Title from "~/components/title/user_friendly.vue";
import Subtitle from "~/components/card/subtitle.vue";
import Search from "~/components/input/search.vue";
import Student from "~/components/card/student_card.vue";
import Dialog from "~/components/dialog/report-dialog.vue";
export default {
  computed: {
    justify() {
      switch (this.$vuetify.breakpoint.name) {
        case "xs":
          return "around";
        case "sm":
          return "around";
        case "md":
          return "between";
        case "lg":
          return "between";
        case "xl":
          return "between";
      }
    },
  },
  data: () => ({
    expanded: [],
    singleExpand: false,
    page: 1,
    search: "",
    itemsPerPage: 10,
    pages: [10, 20, 50, 100],
    route: [{ text: "Tasks" }, { text: "Daily Reports" }],
    headers: [
      { text: "", value: "id", width: "3%", align: "center" },
      { text: "Student Name", value: "student_name", width: "17%" },
      { text: "Date", value: "date", width: "7%" },
      { text: "Session", value: "session", width: "7%" },
      { text: "Batch", value: "batch", width: "7%" },
      { text: "Description", value: "description", width: "17%" },
      { text: "Task", value: "task", width: "17%" },
      { text: "Project", value: "project", width: "17%" },
      { text: "Is approved?", value: "is_approved", width: "7%" },
      {
        text: "Details",
        value: "data-table-expand",
        width: "3%",
        align: "center",
      },
    ],
    body: [
      {
        id: 1,
        value: false,
        student_name: "Seng Sophal",
        date: "2021-04-20",
        session: 5,
        batch: "Batch 8 SE",
        description: "do the trail and self checking",
        task: "Training for Polygon",
        project:
          "A2A Digital Data annotation BAOBABU for members(2021/4-2021/9)",
        is_approved: false,
      },
      {
        id: 2,
        value: false,
        student_name: "Seng Sophal",
        date: "2021-04-20",
        session: 5,
        batch: "Batch 8 SE",
        description: "do the trail and self checking",
        task: "Training for Polygon",
        project:
          "A2A Digital Data annotation BAOBABU for members(2021/4-2021/9)",
        is_approved: false,
      },
      {
        id: 3,
        value: false,
        student_name: "Chhour Thaisan",
        date: "2021-04-20",
        session: 5,
        batch: "Batch 8 SE",
        description: "Conducted Vuex to project - Build Courses List...",
        task: "Maintenance Wordpress Platform (thementor.me)",
        project: "TheMentor Phase 2",
        is_approved: false,
      },
    ],
  }),
  components: {
    Title,
    Subtitle,
    Search,
    Student,
    Dialog,
  },
};
</script>

<style lang="scss" scoped>
</style>