<template>
  <v-container fluid class="px-0">
    <v-row class="pt-14 px-3" justify="start" align="center">
      <v-col class="pa-0">
        <div class="text-left">
          <Title :items="route" />
        </div>
      </v-col>
      <v-col class="pa-0">
        <div class="d-flex justify-end">
          <TaskView class="pr-2" />
          <Dialog />
        </div>
      </v-col>
    </v-row>
    <v-row justify="center" align="start" class="px-0 mt-10">
      <v-col cols="12" lg="2" md="3" sm="3" class="py-1">
        <Subtitle title="Project Tasks" icon="mdi-briefcase-account-outline" />
      </v-col>
      <v-col cols="12" lg="5" md="9" sm="8" class="py-1">
        <Search v-model="search" />
      </v-col>
      <v-col cols="12" lg="3" md="8" class="py-1">
        <div class="d-flex flex-row align-center justify-end">
          <div class="body-2 grey--text text--darken-3">
            Task Status<span class="px-1">:</span>
          </div>
          <v-card-actions
            align="center"
            justify="center"
            class="body-2 pl-5 pa-0 pr-0"
            style="width: 100%"
          >
            <v-combobox
              class="align-center justify-center pa-0 subtitle-2 font-weight-regular"
              :items="statuses"
              v-model="selectedStatus"
              v-on:change="onSelectTaskStatus"
              item-text="name"
              item-value="id"
              dense
              outlined
              solo
              label="Select Task Status"
              transition="slide-y-reverse-transition"
              overflow
              return-object
              hide-details="true"
            ></v-combobox>
          </v-card-actions>
        </div>
      </v-col>
      <v-col cols="12" lg="2" md="4" class="py-1">
        <div class="d-flex flex-row align-center justify-end">
          <div class="body-2 grey--text text--darken-3">
            Per Page<span class="px-1">:</span>
          </div>
          <v-card-actions
            align="center"
            justify="center"
            class="body-2 pl-5 pa-0 pr-0"
            style="width: 100%"
          >
            <v-select
              class="align-center justify-center pa-0 subtitle-2"
              :items="pages"
              v-model="selectedPage"
              v-on:change = "onSelectPage"
              item-text="name"
              item-value="id"
              dense
              outlined
              transition="slide-y-reverse-transition"
              :hide-details="true"
            >
            </v-select>
          </v-card-actions>
        </div>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-card
          width="100%"
          tile
          outlined
          style="border-top: 3px solid #5a90bf"
        >
          <v-data-table
            :headers="headers"
            :items="body"
            :header-props="{ 'sort-icon': 'mdi-chevron-up' }"
            hide-default-footer=""
            class="px-0"
            :search="search"
            :page.sync="page"
            :items-per-page="itemsPerPage"
            @page-count="pageCount = $event"
          >
            <template v-slot:[`item.range`]="{ index }">
              <div>
                {{ index + 1 }}
              </div>
            </template>

            <template v-slot:[`item.actions`]="{ item }">
              <div class="align-center d-flex justify-center">
                <v-btn
                  @click="deleteCategory(item)"
                  small
                  depressed
                  outlined
                  color="#707070"
                  width="auto"
                  class="text-capitalize font-weight-regular"
                >
                  <v-icon small class="pr-1">mdi-file-eye</v-icon>
                  <div>Preview</div>
                </v-btn>
                <v-spacer></v-spacer>
                <v-btn
                  width="auto"
                  small
                  color="#578DD2"
                  depressed
                  class="white--text text-capitalize font-weight-regular"
                  @click="editChargeType(item)"
                >
                  Edit
                </v-btn>
                <v-spacer></v-spacer>
                <v-btn
                  @click="deleteCategory(item)"
                  small
                  depressed
                  color="#D45252"
                  width="auto"
                  class="white--text text-capitalize font-weight-regular"
                >
                  Remove
                </v-btn>
              </div>
            </template>
          </v-data-table>
          <v-card color="grey lighten-3" outlined tile>
            <v-card-text
              class="pa-0 py-2 pa-2 d-flex align-center justify-center"
            >
              <div class="body-2 pl-2">
                Display 1 to {{ itemsPerPage }} of {{ totalItems }} Entries
              </div>
              <v-spacer></v-spacer>
              <div>
                <v-pagination
                  :total-visible="7"
                  v-model="page"
                  :length="pageCount"
                ></v-pagination>
              </div>
            </v-card-text>
          </v-card>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Title from "~/components/title/user_friendly.vue";
import Subtitle from "~/components/card/subtitle.vue";
import Search from "~/components/input/search.vue";
import Page from "~/components/selector/label_selector.vue";
import Student from "~/components/card/student_card.vue";
import TaskView from "~/components/dialog/task-view.vue";
import Dialog from "~/components/dialog/task-dialog.vue";
export default {
  middleware: "authenticated",
  data: () => ({
    search: "",
    page: 1,
    pageCount: 0,
    itemsPerPage: 10,
    selectedPage: null,
    pages: [10, 20, 50, 100],
    toggle_exclusive: undefined,
    selectedStatus: null,
    route: [{ text: "Task" }, { text: "Tasks" }],
    statuses: [],
    headers: [
      { text: "", value: "id", width: "3%", align: "center" },
      { text: "Task Name", value: "task_name", width: "14%" },
      { text: "Status", value: "status", width: "10%" },
      { text: "Assigned to", value: "assigned_to", width: "15%" },
      { text: "Start Date", value: "start_date", width: "10%" },
      { text: "Deadline", value: "deadline", width: "10%" },
      { text: "End date", value: "end_date", width: "10%" },
      { text: "Project Name", value: "project_name", width: "15%" },
      { text: "Actions", value: "actions", width: "3%", align: "center" },
    ],
    body: [
      {
        id: 1,
        value: false,
        task_name: "Event Preparation and Operation",
        status: "In Progress",
        assigned_to: "Chea Rika",
        start_date: "2021-03-01",
        end_date: "2021-05-04",
        deadline: "2021-04-01",
        project_name: "Kirirom Global Forum - May",
      },
      {
        id: 2,
        value: false,
        task_name: "Event Preparation and Operation",
        status: "In Progress",
        assigned_to: "Khlok Sonita",
        start_date: "2021-03-26",
        end_date: "2021-05-04",
        deadline: "2021-04-01",
        project_name: "Kirirom Global Forum - May",
      },
      {
        id: 3,
        value: false,
        task_name: "Event Preparation and Operation",
        status: "In Progress",
        assigned_to: "Sun Kimhong",
        start_date: "2021-03-01",
        end_date: "2021-05-04",
        deadline: "None",
        project_name: "Kirirom Global Forum - May",
      },
      {
        id: 4,
        value: false,
        task_name: "Event Preparation and Operation",
        status: "In Progress",
        assigned_to: "Ay Norakmolika",
        start_date: "2021-03-01",
        end_date: "2021-05-04",
        deadline: "None",
        project_name: "Kirirom Global Forum - May",
      },
      {
        id: 5,
        value: false,
        task_name: "Event Preparation and Operation",
        status: "In Progress",
        assigned_to: "Yumi Nakahara",
        start_date: "2021-03-01",
        end_date: "2021-05-04",
        deadline: "None",
        project_name: "Kirirom Global Forum - May",
      },
    ],
  }),
  computed: {
    totalItems() {
      return this.body.length;
    },
  },
  mounted() {
    this.getTaskStatuses();
    this.onSelectPage();
  },
  methods: {
    onSelectPage (){
      // const test_data = this.$axios({
      //   url:'',
      //   method: 'POST',
      //   data: {
      //     page: this.selectedPage
      //   },
      // });
      // console.log('----------',test_data);
      console.log("+++++++", this.selectedPage)
    },

    onSelectTaskStatus() {
      const selectStatus = this.$axios({
        url:'',
        method: 'POST',
        data: {
          page: this.selectedStatus
        },
      });
      // console.log('----------',selectStatus);
      console.log("+++++++", this.selectedStatus)
    },

    async getTaskStatuses() {
      let statuses = await this.$axios.$get(
        "/select_option/all_task_statuses_list"
      );
      this.statuses = statuses;
    },

    
    sumField(key) {
      // sum data in give key (property)
      return this.body.reduce((a, b) => a + (b[key] || 0), 0);
    },
  },
  components: {
    Title,
    Subtitle,
    Search,
    Page,
    Student,
    TaskView,
    Dialog,
  },
};
</script>

<style>
td,
th {
  border-right: 1px solid #d1d1d1 !important;
}
.v-data-table__expanded.v-data-table__expanded__content {
  box-shadow: none !important;
}
.pagination {
  display: inline-block;
}

.v-input__slot {
  align-items: center;
  justify-content: center;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
.v-pagination__item .v-pagination__item--active .primary {
  background-color: #e3e3e3 !important;
  border-color: #b8b8b8 !important;
  color: #606060 !important;
  font-size: 18px;
}

.v-pagination__item {
  border-radius: 0;
  font-size: 1rem;
  height: 43px;
  width: 54px;
  margin: 0;
  min-width: 34px;
  border: 1px solid #b8b8b8;
  /* padding: 0 3px; */
  text-decoration: none;
  transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
  box-shadow: none;
}
.v-pagination__navigation {
  box-shadow: none;
  border-radius: 0;
  display: inline-flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 1px solid #b8b8b8;
  height: 43px;
  width: 54px;
}
</style>
