<template>
  <v-container fluid class="px-0">
    <v-row class="pt-14 px-3" justify="start" align="center">
      <v-col class="pa-0">
        <div class="text-left">
          <Title :title='projects.name' :items="items" />
        </div>
      </v-col>
      <v-col class="pa-0">
        <div class="d-flex justify-end">
          <PageButton title="OPPM" :route="route"/>
        </div>
      </v-col>
    </v-row>
    <v-row justify="center" align="start" class="px-0 mt-10">
      <v-col cols="12" lg="2" class="py-1">
        <Subtitle :title="projects.company" icon="mdi-domain" />
      </v-col>
      <v-col cols="12" lg="7" class="py-1">
        <Skillset :title='projects.code' :skills='skills'/>
      </v-col>
      <v-col cols="12" lg="3" class="py-1">
        <TextCard title="Project Status" :subtitle="projects.status"/>
      </v-col>
    </v-row>
    <v-row justify="center" align="start">
      <v-col lg="12" md="12" class="py-3">
        <ProjectInfo :project='projects'/>
      </v-col>
    </v-row>
    <v-row justify="center" align="start">
      <v-col cols="12" lg="3" md="12" class="my-1">
        <Member :member="members" :member_count='member_count'/>
      </v-col>
      <v-col cols="12" lg="9" md="12" class="my-1">
        <v-row>
          <v-col>
            <Participation :project='projects' :project_id='pj_id'/>
          </v-col>
        </v-row>
        <v-row :style="'display:'+display">
          <v-col>
            <Info :items='info'/>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-row justify="center" align="start" class="px-0">
      <v-col cols="12" lg="2" md="3" sm="4" class="py-1">
        <Subtitle title="KIT Projects" icon="mdi-account" />
      </v-col>
      <v-col cols="12" lg="5" md="9" sm="8" class="py-1">
        <Search v-model="search"/>
      </v-col>
      <v-col cols="12" lg="3" md="8" class="py-1">
        <Page title="Student Report:" />
      </v-col>
      <v-col cols="12" lg="2" md="4" class="py-1">
        <Page width="120px" title="Per Page" :select_list="pages" :defaultSelect="selectedPage"/>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <Datatable :headers="headers" :body="project.tasks" :search="search"/>
      </v-col>
    </v-row>
    
  </v-container>
</template>

<script>
import Title from "~/components/title/page_title.vue";
import Subtitle from "~/components/card/subtitle.vue";
import Skillset from "~/components/card/skillset.vue";
import Overall from "~/components/card/overall.vue";
import Dashboard from "~/components/graph/dashboard.vue";
import Info from "~/components/graph/graph_info.vue";
import Search from "~/components/input/search.vue";
import Page from "~/components/selector/label_selector.vue";
import Datatable from "~/components/datatable/table.vue";
import Member from "~/components/card/member.vue";
import Participation from '~/components/graph/participation_rate.vue';
import TextCard from "~/components/card/text_card.vue";
import ProjectInfo from '~/components/card/project_info.vue';
import PageButton from "~/components/button/page-button.vue";
export default {
  middleware: "authenticated",
  async asyncData({ $axios, params }) {
    const {project} = await $axios.$get(`/project/view/${params.slug}`);
    const pj_id = `${params.slug}`;
    const {tasks} = await $axios.$get(`/project/view/${params.slug}`);
    // console.log('----------',participation);

    const members = [];

    const coordinator = {
        names: project.coordinator_details.name,
        title: project.coordinator_details.specialty.name,
        company: 'Stakeholder',
        role: 'Project_Coordinator',
        img: require(`~/assets/profile/${project.coordinator_details.user.profile_pic}`),
    }
    members.push(coordinator);

    for (const a of project.advisers) {
      if (project.coordinator_details.name != a.name) {
        const adviser = {
            names: a.name,
            title: a.specialty.name,
            company: 'Stakeholder',
            role: 'Technical_Advisor',
            img: require(`~/assets/profile/${a.user.profile_pic}`),
        }
        members.push(adviser);
      }
    };

    const leader = {
        names: project.project_leader.name,
        title: project.project_leader.batch.name,
        company: project.project_leader.company_members.length!=0 ? project.project_leader.company_members[0].company.name : "",
        role: 'Project_Leader',
        img: require(`~/assets/profile/${project.project_leader.user.profile_pic}`),
    }
    members.push(leader);

    for (const m of project.members) {
      if (project.project_leader.name != m.name) {
        const member = {
          id: 0,
          names: m.name,
          title: m.batch.name,
          company: m.company_members.length!=0 ? m.company_members[0].company.name : "",
          role: "Member",
          img: require(`~/assets/profile/${m.user.profile_pic}`),
        }
        members.push(member);
      }
    };

    const member_count = {
      management: project.advisers.length,
      active: project.members.length
    }

    const skills = [];
    for (const i of project.skills) {
      const skill = {
          title: i.name,
          point: "62.87 %",
          percent: 62.87,
          color: '#64CF96'
        };
      skills.push(skill)
    };

    const projects = {
      name: project.name,
      rank: 'Nov 21, 2020',
      code: project.code,
      company: project.company.name,
      status: project.status.name,
      client_company: {
        name: project.client_company.name,
        logo: require(`~/assets/company/${project.client_company.logo}`),
      },
      date: {
        index1:{
          date: '2020-11-21',
          percentage: '69.75%',
          member: [
            {
              name: "Lay Songheng",
              point: "62.87 %",
              percent: 62.87,
              color: '#64CF96'
            },{
              name: "Soun Senghout",
              point: "47.25 %",
              percent: 47.25,
              color: '#64CF96'
            },{
              name: "Chheng Pisey",
              point: "38.24 %",
              percent: 38.24,
              color: '#64CF96'
            },{
              name: "Phal Norakrattanak",
              point: "30.00 %",
              percent: 30,
              color: '#64CF96'
            },{
              name: "Kung Leakhana",
              point: "49.60 %",
              percent: 49.60,
              color: '#64CF96'
            },{
              name: "Srey Chan Reaksmey",
              point: "90.60 %",
              percent: 90.60,
              color: '#64CF96'
            }
          ],
        },
      },
      internal: 'KIT Internal',
      category: project.categories[0].name,
      subcategory: project.sub_categories[0].name,
      objective: project.objective,
      // members: [
      //   {
      //     id: 0,
      //     names: "Hiki Okamoto",
      //     title: "Vice Chairman of vKirirom",
      //     company: "Strategic Planner",
      //     role: "Project_Coordinator",
      //     img: require("~/assets/default/profile.png"),
      //   },
      //   {
      //     id: 1,
      //     names: "Leo Fernandez",
      //     title: "Vice President of KIT",
      //     company: "Big Data",
      //     role: "Technical_Advisor",
      //     img: require("~/assets/default/profile.png"),
      //   },
      //   {
      //     id: 2,
      //     names: "Lay Songheng",
      //     title: "Batch 6 DSE",
      //     company: "DGK",
      //     role: "Project_Leader",
      //     img: require("~/assets/default/profile.png"),
      //   },
      //   {
      //     id: 3,
      //     names: "Soun Senghout",
      //     title: "Batch 6 DSE",
      //     company: "Non-Virtual Company",
      //     role: "Team Member",
      //     img: require("~/assets/default/profile.png"),
      //   },
      //   {
      //     id: 4,
      //     names: "Chheng Pisey",
      //     title: "Batch 2 ILHM",
      //     company: "vKiFlex (Tourism Management)",
      //     role: "Team Member",
      //     img: require("~/assets/default/profile.png"),
      //   },
      //   {
      //     id: 5,
      //     names: "Phal Norakrattanak",
      //     title: "Batch 8 DSE",
      //     company: "DGK",
      //     role: "Team Member",
      //     img: require("~/assets/default/profile.png"),
      //   },
      //   {
      //     id: 6,
      //     names: "Kung Leakhana",
      //     title: "Batch 8 DSE",
      //     company: "DGK",
      //     role: "Team Member",
      //     img: require("~/assets/default/profile.png"),
      //   },
      //   {
      //     id: 7,
      //     names: "Srey Chan Reaksmey",
      //     title: "Batch 1 ILHM",
      //     company: "vKiFlex (Tourism Management)",
      //     role: "Team Member",
      //     img: require("~/assets/default/profile.png"),
      //   },
      // ],
      startdate: project.start_date,
      deadline: project.deadline,
    };
    const info = [
      {
        headText: "Working Hour",
        num: 16901
      }, {
        headText: "Actual KIT Point",
        num: project.actual_point,
        color: "#E68618",
      }, {
        headText: "Project Est. Point",
        num: project.estimate_point
      }, {
        headText: "Propose Point",
        num: project.propose_point,
        color: "#CA2882"
      }, {
        headText: "Acquire Point",
        num: project.acquire_point,
        color: "#5151D3"
      }, {
        headText: "Advisor Cost",
        num: project.adviser_cost
      }, {
        headText: "Contingency",
        num: project.contingency
      }
    ];
    return {project, projects, info, tasks, skills, members, member_count, pj_id}
  },
  computed: {
    display() {
      switch (this.$vuetify.breakpoint.name) {
        case "xs":
          return "none !important";
        case "sm":
          return "none !important";
        case "md":
          return "none !important";
        case "lg":
          return "flex !important";
        case "xl":
          return "flex !important";
      }
    },
  },
  data: () => ({
    search : '',
    selectedPage: {id: 10, name:"10"},
    pages: [
      {id: 10, name:"10"},
      {id: 20, name:"20"},
      {id: 50, name:"50"},
      {id: 100, name:"100"}
    ],
    route: "https://drive.google.com/file/d/1fy-hpJJI9QQtabBIoo0eM5XERAVQ84oR/view?usp=sharing",
    items: [
      {
        text: "Project",
      },
      {
        text: "Project",
      },
      {
        text: "QD-BP-01",
      },
    ],
    headers: [
      { text: "", value: "range", width: "2%", align: "center" },
      { text: "Task Name", value: "name", width: "34%" },
      { text: "Assign to", value: "Assign_to.name", width: "15%" },
      { text: "Actual Hour", value: "actual_hour", width: "10%" },
      { text: "Status", value: "task_status.name", width: "10%" },
      { text: "Start Date", value: "start_date", width: "10%" },
      { text: "Deadline", value: "deadline", width: "10%" },
      {
        text: "Details",
        value: "data-table-expand",
        width: "3%",
        align: "center",
      },
    ],
    body: [],
  }),
  components: {
    Title,
    Subtitle,
    Skillset,
    Overall,
    Dashboard,
    Info,
    Search,
    Page,
    Datatable,
    Member,
    Participation,
    TextCard,
    ProjectInfo,
    PageButton
  },
};
</script>

<style lang="scss" scoped>
</style>