<template>
  <div>
    <v-date-picker v-model="date">
      <template v-slot="{ inputValue, inputEvents }">
        <div class="d-flex justify-space-between">
          <span class="pt-2 pr-4" :style="'width:'+width">{{ title }}</span>
          <v-text-field
            outlined
            hide-details="true"
            dense
            class="bg-white border py-0 rounded subtitle-2"
            :value="inputValue"
            v-on="inputEvents"
            style="width:100%"
          >
          </v-text-field>
        </div>
      </template>
    </v-date-picker>
  </div>
</template>

<script>
export default {
  props: {
    width: { type : String },
    title: { type : String },
  },
  data() {
    return {
      date: new Date(),
    };
  },
};
</script>

<style lang="scss" scoped>
</style>