<template>
  <div>
    <v-card
      outlined
      height="165"
      width="165"
      class="image-input"
      :style="{ 'background-image': `url(${imageData})` }"
      @click="chooseImage"
    >
      <v-card-actions class="align-center justify-center">
        <span v-if="!imageData" class="placeholder">
          <img width="140" height="140" :src="img" />
        </span>
        <input
          class="file-input"
          ref="fileInput"
          type="file"
          accept=".png, .jpg, .jpeg"
          @input="onSelectFile"
        />
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
export default {
    props: {
        img: {
            type: String
        }
    },
  data: () => ({
    imageData: null,
  }),
  methods: {
    chooseImage() {
      this.$refs.fileInput.click();
    },

    onSelectFile() {
      const input = this.$refs.fileInput;
      const files = input.files;
      if (files && files[0]) {
        const reader = new FileReader();
        reader.onload = (e) => {
          this.imageData = e.target.result;
        };
        reader.readAsDataURL(files[0]);
        this.$emit("input", files[0]);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.file-input {
  display: none;
}
</style>