<template>
  <div>
    <v-card height="40px" width="100%" outlined class="d-flex" style="border: 1px solid grey">
      <v-card-title class="py-0 pr-0">
          <v-icon class="pr-3" size="20" style="border-right: 1px solid grey"
        >{{input_icons}}</v-icon
      >
      </v-card-title>
      <v-card-title class="pa-0 px-3" style="width: 100%">
        <!-- <v-text-field 
        class="grey--text subtitle-2"
        :type="input_type"
        dense
        :value='value'
        :label="input_label"
        v-model="input_data"
        solo
        :maxlength="max_length">
        </v-text-field> -->
        <input
        :type="input_type"
          class="subtitle-2 align-start justify-center width-calc py-0 grey--text text--darken-1"
          :placeholder="input_label"
          style="outline: none"
          :value="value"
          v-on:input="$emit('input', $event.target.value)"
        />
      </v-card-title>
    </v-card>
  </div>
</template>

<script>
export default {
    props: {
        input_type: { type : String },
        input_data: { type : String },
        value: { type : String },
        input_label: { type : String },
        input_icons : { type: String },
        max_length: { type: Number } ,
    },
    data() {
      return {
        search : ''
      }
    },
};
</script>

<style lang="scss" scoped>
</style>