<template>
  <div>
    <v-card
      class="d-flex"
      width="100%"
      height="38"
      outlined
      style="border: 0.5px solid #d1d0ce !important"
    >
      <v-card-text class="d-flex pa-0 align-center justify-center">
        <Subtitle title="Search" style="width: 100px" />
        <v-spacer></v-spacer>
        <input
          class="align-start justify-center width-calc py-0 pl-3 grey--text text--darken-1"
          style="outline: none"
          :value="value"
          v-on:input="$emit('input', $event.target.value)"
        />
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import Subtitle from "~/components/card/subtitle.vue";

export default {
  props: {
    value: { type : String }
  },
  data: () => ({
    search: ""
  }),
  components: {
    Subtitle,
  },
};
</script>

<style lang="scss" scoped>
.width-calc {
  width: calc(100% - 100px);
}
</style>