<template>
  <v-dialog v-model="dialog" width="500">
    <template v-slot:activator="{ attrs, on }">
      <v-card v-bind="attrs" v-on="on"
        class="lighten-3 grey--text text--darken-2 d-flex px-4 pr-2 align-center justify-space-between"
        outlined
        align="left"
        height="84"
        style="
          border: 0.5px solid #d1d0ce !important;
          font-family: 'Helvetica Neue';
          background-color: #f6f6f6;
        "
      >
        <div class="ma-0" >
          <div class="d-flex align-center justify-center px-0">
            <v-col class="justify-start align-center d-flex px-0 mr-8">
              <img
                :src="require(`~/assets/profile/${data.profile_pic}`)"
                class="rounded-circle pa-1"
                width="60px"
                style="border: 1px solid #e6e6e6"
              />
            </v-col>
            <v-col class="pa-0">
              <v-row>
                <div class="text-truncate ma-0 font-weight-medium body-2">
                  {{ data.username }}
                </div>
              </v-row>
              <v-row class="caption text-truncate">
                {{ data.student.batch.name }}
              </v-row>
              <v-row class="font-weight-medium caption text-truncate" v-for="companylist in data.student.company_members" :key="companylist.index">
                <div v-if="companylist.status == 'Active'">
                  {{ companylist.role }} of {{ companylist.company.name }}
                </div>
              </v-row>
            </v-col>
          </div>
        </div>
        <v-icon color="grey" class="pr-3">mdi-magnify</v-icon>
      </v-card>
    </template>
    <v-card>
      <v-card-title class="body-1 font-weight-regular title grey--text text--darken-2">
        Enter Student Name
      </v-card-title>
      <v-card-actions class="pa-5 pt-0">
        <v-card height="42px" width="100%" outlined class="d-flex">
          <v-card-title class="py-0 pr-0">
            <v-icon class="pr-2">
              mdi-account
            </v-icon>
          </v-card-title>
          <v-card-title class="pa-0 subtitle-2">
            <v-combobox
              class="tag-input align-center justify-center pa-0 subtitle-2"
              :items="select_combo"
              label="Search"
              dense
              solo
              :autofocus='true'
              elevation="0"
              transition="slide-y-reverse-transition"
              :style="'width:'+ search +'px;'"
            ></v-combobox>
          </v-card-title>
        </v-card>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import Profile from "~/components/card/profile.vue";

export default {
  computed: {
    search () {
      switch (this.$vuetify.breakpoint.name) {
        case 'xs': return '360'
        default: return '410'
      }
    },
  },
  props: {
    select_combo: {
      type: Array
    },
    data: {
      type: Object
    }
  },
  data: () => ({
    dialog: false,
  }),
  components: {
    Profile,
  },
};
</script>

<style >
.width-calc {
  width: calc(100% - 100px);
}
.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat)
  > .v-input__control
  > .v-input__slot {
  box-shadow: none;
}
</style>