<template>
    <v-textarea
    class="pa-0 ma-0 subtitle-2"
      solo
      outlined
      height="88"
      name="input-7-4"
      maxlength="200"
      hide-details='none'
      :label="textarea_label"
    ></v-textarea>
</template>

<script>
export default {
    props: {
        textarea_label: String,
    }
};
</script>

<style lang="scss" scoped>
</style>