<template>
    <v-text-field 
        outlined 
        class="subtitle-2"
        dense 
        solo
        hide-details="true"
        maxlength="50"
        :value='value'
        :label="label_field">
    </v-text-field>
</template>

<script>
export default {
    props: {
        value: String,
        label_field: String,
    }
};
</script>

<style lang="scss" scoped>
</style>