<template>
  <v-container fluid class="px-0">
    <v-row class="pt-14 px-3" justify="start" align="center">
      <v-col class="pa-0">
        <div class="text-left">
          <Title :items="route" />
        </div>
      </v-col>
    </v-row>
    <v-row
      justify="center"
      align="start"
      class="d-flex justify-space-between px-0 mt-10"
    >
      <v-col cols="12" lg="2" md="3" sm="5" class="py-1">
        <Subtitle
          title="Average Intern Hours"
          icon="mdi-briefcase-clock-outline"
        />
      </v-col>
      <v-col cols="12" lg="8" md="9" sm="7" class="py-1">
        <Search v-model="search" />
      </v-col>
      <v-col cols="12" lg="2" md="12" class="py-1">
        <div class="d-flex flex-row align-center justify-end">
          <div
            class="body-2 grey--text text--darken-3"
            :style="'width:' + width"
          >
            Per Page<span class="px-1">:</span>
          </div>
          <v-card-actions
            align="center"
            justify="center"
            class="body-2 pl-5 pa-0 pr-0"
            style="width: 100%"
          >
            <v-select
              class="align-center justify-center pa-0 subtitle-2"
              :items="pages"
              item-text="name"
              item-value="id"
              dense
              outlined
              :value="itemsPerPage"
              transition="slide-y-reverse-transition"
              :hide-details="true"
              @change="itemsPerPage = parseInt($event, 10)"
            >
            </v-select>
          </v-card-actions>
        </div>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-card
          width="100%"
          tile
          outlined
          style="border-top: 3px solid #5a90bf"
        >
          <v-snackbar
            rounded="pill"
            width="40px"
            v-model="snackbarUpdate"
            :timeout="timeout"
            color="#578DD2"
          >
            <div class="px-16">
              <v-icon color="white" class="px-6">mdi-check-circle</v-icon>
              Average Intern Hour Updated !!!
            </div>
          </v-snackbar>
          <v-data-table
            :headers="headers"
            :items="average_intern_hour"
            hide-default-footer
            class="px-0"
            :search="search"
            :page.sync="page"
            :items-per-page="itemsPerPage"
            @page-count="pageCount = $event"
          >
            <template v-slot:top>
              <v-dialog v-model="dialog" :max-width="width">
                <v-card tile outlined>
                  <v-card-title class="px-10 pt-10">
                    <div style="font-size: 22px; color: #627080">
                      Update Average Intern Session
                      <div
                        style="font-size: 14px"
                        class="py-0 font-weight-regular"
                      >
                        Update Average Intern Session Form
                      </div>
                    </div>
                  </v-card-title>
                  <v-card-text class="pt-4 px-7">
                    <v-container fluid>
                      <v-form ref="form" v-model="valid">
                        <v-row class="d-flex justify-space-between">
                          <v-col md="12" cols="12" class="py-2 px-5">
                            <div class="caption">Average Intern Session</div>
                            <v-card
                              height="40px"
                              width="100%"
                              outlined
                              class="d-flex"
                              style="border: 1px solid grey"
                            >
                              <v-card-title class="py-0 pr-0">
                                <v-icon
                                  class="pr-3"
                                  size="20"
                                  style="border-right: 1px solid grey"
                                  >mdi-clock-outline</v-icon
                                >
                              </v-card-title>
                              <v-card-title
                                class="pa-0 px-0"
                                style="width: 100%"
                              >
                                <v-text-field
                                  class="
                                    subtitle-1
                                    align-start
                                    justify-center
                                    width-calc
                                    py-0
                                    grey--text
                                    text--darken-1
                                  "
                                  dense
                                  clearable
                                  solo
                                  :rules="rules.internHourRules"
                                  required
                                  label="Average Intern Session"
                                  style="outline: none; width: 100%"
                                  v-model="editedItem.intern_hour"
                                  :counter="5"
                                ></v-text-field>
                              </v-card-title>
                            </v-card>
                          </v-col>
                        </v-row>
                        <v-row class="pt-3">
                          <v-col class="pa-5 px-5">
                            <div class="d-flex align-center justify-end">
                              <div class="pr-2">
                                <v-btn
                                  width="100"
                                  depressed
                                  color="text-capitalize white--text primary"
                                  @click="dialog = false"
                                  :disabled="!valid"
                                >
                                  Save
                                </v-btn>
                              </div>
                              <div>
                                <v-btn
                                  width="100"
                                  depressed
                                  color="text-capitalize white--text red lighten-2"
                                  @click="dialog = false"
                                >
                                  Cancel
                                </v-btn>
                              </div>
                            </div>
                          </v-col>
                        </v-row>
                      </v-form>
                    </v-container>
                  </v-card-text>
                </v-card>
              </v-dialog>
            </template>
            <template v-slot:[`item.actions`]="{ item }">
              <div class="d-flex">
                <v-btn
                  width="auto"
                  small
                  color="#578DD2"
                  depressed
                  class="white--text text-capitalize font-weight-regular"
                  @click="editAverageInternHour(item)"
                >
                  Edit
                </v-btn>
              </div>
            </template>

            <template v-slot:[`item.range`]="{ index }">
              <div>
                {{ index + 1 }}
              </div>
            </template>
          </v-data-table>
          <v-card color="grey lighten-3" outlined tile>
            <v-card-text
              class="pa-0 py-2 pa-2 d-flex align-center justify-center"
            >
              <div class="body-2 pl-2">
                Display 1 to {{ itemsPerPage }} of {{ totalItems }} Entries
              </div>
              <v-spacer></v-spacer>
              <div>
                <v-pagination
                  :total-visible="7"
                  v-model="page"
                  :length="pageCount"
                ></v-pagination>
              </div>
            </v-card-text>
          </v-card>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Title from "~/components/title/user_friendly.vue";
import Subtitle from "~/components/card/subtitle.vue";
import Search from "~/components/input/search.vue";
import Page from "~/components/selector/label_selector.vue";
export default {
  data: () => ({
    valid: true,
    rules: {
      internHourRules: [
        (v) => !!v || "Intern Hour is required",
        (v) => (v && v.match(/[0-9]/g)) || "Intern Hour must be number",
        (v) => (v && v.length <= 5) || "Intern Hour must be less than 5 digits",
      ],
    },
    timeout: 3000,
    search: "",
    snackbarUpdate: false,
    page: 1,
    pageCount: 0,
    dialog: false,
    editedIndex: -1,
    editedItem: {
      id: "",
      intern_hour: "",
    },
    defaultItem: {
      intern_hour: "",
    },
    itemsPerPage: 10,
    pages: [10, 20, 50, 100],
    toggle_exclusive: undefined,
    route: [{ text: "General" }, { text: "Average Intenship Hour" }],
    average_intern_hour: [],
    headers: [
      { text: "", value: "range", width: "3%", align: "center" },
      { text: "Year", value: "year", width: "54%" },
      {
        text: "Intern Hour per week",
        value: "intern_hour_per_week",
        width: "40%",
      },
      { text: "Actions", value: "actions", width: "3%", align: "center" },
    ],
  }),
  computed: {
    totalItems() {
      return this.average_intern_hour.length;
    },
    width() {
      switch (this.$vuetify.breakpoint.name) {
        case "lg":
          return "30%";
        case "xl":
          return "30%";
        case "md":
          return "50%";
        case "sm":
          return "70%";
        default:
          "50%";
      }
    },
  },
  mounted() {
    // this.getBatches();
    // this.getDepartments();
    this.getAverageInternHour();
  },
  methods: {
    async getAverageInternHour() {
      try {
        let { average_intern_hour } = await this.$axios.$get(
          "/average_intern_hour"
        );
        this.average_intern_hour = average_intern_hour;
      } catch (e) {
        if (e.response.status === 403) {
          return this.$nuxt.error({ statusCode: 403 });
        } else {
          return this.$nuxt.error({ statusCode: 404 });
        }
      }
    },

    // async getBatches() {
    //   let { batches } = await this.$axios.$get("/batches");
    //   this.batches = batches;
    // },
    // async getDepartments() {
    //   let { departments } = await this.$axios.$get(
    //     "/select_option/all_departments_list"
    //   );
    //   this.departments = departments;
    // },

    editAverageInternHour(item) {
      this.editedIndex = this.average_intern_hour.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },
    async save() {
      this.$refs.form.validate();
      //Update Average Intern Hour
      Object.assign(
        this.average_intern_hour[this.editedIndex],
        this.editedItem
      );
      await this.$axios({
        method: "put",
        url: `/update/average_intern_hour/${this.editedItem.id}`,
        data: {
          id: this.editedItem.id,
          name: this.editedItem.intern_hour,
        },
      }).then((res) => {
        console.log("Average Intern Hour Edited", res);
        this.snackbarUpdate = true;
      });
      this.close();
    },
    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },
  },
  components: {
    Title,
    Subtitle,
    Search,
    Page,
  },
};
</script>

<style>
button.v-icon.notranslate.v-icon--link.mdi.mdi-close.theme--light {
  font-size: 15px !important;
}
td,
th {
  border-right: 1px solid #d1d1d1 !important;
}
.v-data-table__expanded.v-data-table__expanded__content {
  box-shadow: none !important;
}
.pagination {
  display: inline-block;
}

.v-input__slot {
  align-items: center;
  justify-content: center;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
.v-pagination__item .v-pagination__item--active .primary {
  background-color: #e3e3e3 !important;
  border-color: #b8b8b8 !important;
  color: #606060 !important;
  font-size: 18px;
}

.v-pagination__item {
  border-radius: 0;
  font-size: 1rem;
  height: 43px;
  width: 54px;
  margin: 0;
  min-width: 34px;
  border: 1px solid #b8b8b8;
  /* padding: 0 3px; */
  text-decoration: none;
  transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
  box-shadow: none;
}
.v-pagination__navigation {
  box-shadow: none;
  border-radius: 0;
  display: inline-flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 1px solid #b8b8b8;
  height: 43px;
  width: 54px;
}
</style>
