<template>
  <v-container fluid class="px-0">
    <v-row class="pt-14 px-3" justify="start" align="center">
      <v-col class="pa-0">
        <div class="text-left">
          <Title :items="route" />
        </div>
      </v-col>
      <v-col class="pa-0">
        <div class="d-flex justify-end">
          <v-btn
            width="auto"
            meduim
            depressed
            color="text-capitalize white--text primary"
            @click="dialog = true"
          >
            Add Intern Session
          </v-btn>
        </div>
      </v-col>
    </v-row>
    <v-row justify="center" align="start" class="px-0 mt-10">
      <v-col cols="12" lg="2" md="3" sm="4" class="py-1">
        <Subtitle
          title="Intern Session Details"
          icon="mdi-briefcase-clock-outline"
        />
      </v-col>
      <v-col cols="12" lg="5" md="5" sm="8" class="py-1">
        <Search v-model="search" />
      </v-col>
      <v-col cols="12" lg="3" md="6" sm="6" class="py-1">
        <div class="d-flex flex-row align-center justify-end">
          <div class="body-2 grey--text text--darken-3">
            Department<span class="px-1">:</span>
          </div>
          <v-card-actions
            align="center"
            justify="center"
            class="body-2 pl-5 pa-0 pr-0"
            style="width: 100%"
          >
            <v-combobox
              class="
                align-center
                justify-center
                pa-0
                subtitle-2
                font-weight-regular
              "
              :items="departments"
              v-model="selectedDepartment"
              item-text="name"
              item-value="id"
              dense
              outlined
              solo
              label="Select Department"
              transition="slide-y-reverse-transition"
              overflow
              return-object
              hide-details="true"
            ></v-combobox>
          </v-card-actions>
        </div>
      </v-col>
      <v-col cols="12" lg="2" md="6" sm="6" class="py-1">
        <div class="d-flex flex-row align-center justify-end">
          <div class="body-2 grey--text text--darken-3">
            Batch<span class="px-1">:</span>
          </div>
          <v-card-actions
            align="center"
            justify="center"
            class="body-2 pl-5 pa-0 pr-0"
            style="width: 100%"
          >
            <v-combobox
              class="
                align-center
                justify-center
                pa-0
                subtitle-2
                font-weight-regular
              "
              :items="batches"
              v-model="selectedBatch"
              item-text="name"
              item-value="id"
              dense
              outlined
              solo
              label="Select Batch"
              transition="slide-y-reverse-transition"
              overflow
              return-object
              hide-details="true"
            ></v-combobox>
          </v-card-actions>
        </div>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-card
          width="100%"
          tile
          outlined
          style="border-top: 3px solid #5a90bf"
        >
          <v-snackbar
            rounded="pill"
            width="40px"
            v-model="snackbar"
            :timeout="timeout"
            color="#578DD2"
          >
            <div class="px-16">
              <v-icon color="white" class="px-6">mdi-check-circle</v-icon>
              Task Status Updated !!!
            </div>
          </v-snackbar>
          <v-data-table
            :headers="headers"
            :items="data"
            hide-default-footer
            class="px-0"
            :search="search"
            :page.sync="page"
            :items-per-page="itemsPerPage"
            @page-count="pageCount = $event"
          >
            <template v-slot:top>
              <v-dialog v-model="dialog" :max-width="width">
                <v-card tile outlined>
                  <v-card-title class="px-10 pt-10">
                    <div style="font-size: 22px; color: #627080">
                      Create New Targeted Point
                      <div
                        style="font-size: 14px"
                        class="py-0 font-weight-regular"
                      >
                        Register Targeted Point Form
                      </div>
                    </div>
                  </v-card-title>
                  <v-card-text class="pt-6 px-7">
                    <v-container fluid>
                      <v-row class="d-flex justify-space-between">
                        <v-col md="6" cols="12" class="py-2 px-5">
                          <v-card
                            height="40px"
                            width="100%"
                            outlined
                            class="d-flex"
                            style="border: 1px solid grey"
                          >
                            <v-card-title class="py-0 pr-0">
                              <v-icon
                                class="pr-3"
                                size="20"
                                style="border-right: 1px solid grey"
                                >mdi-domain</v-icon
                              >
                            </v-card-title>
                            <v-card-title class="pa-0 px-0" style="width: 100%">
                              <v-combobox
                                class="
                                  align-center
                                  justify-center
                                  pa-0
                                  subtitle-2
                                  font-weight-regular
                                "
                                :items="departments"
                                v-model="selectedDepartment"
                                v-on:change="onSelectDepartment"
                                item-text="name"
                                item-value="id"
                                dense
                                solo
                                label="Select Department"
                                transition="slide-y-reverse-transition"
                                overflow
                                return-object
                                hide-details="true"
                              ></v-combobox>
                            </v-card-title>
                          </v-card>
                        </v-col>
                        <v-col md="6" cols="12" class="py-2 px-5">
                          <v-card
                            height="40px"
                            width="100%"
                            outlined
                            class="d-flex"
                            style="border: 1px solid grey"
                          >
                            <v-card-title class="py-0 pr-0">
                              <v-icon
                                class="pr-3"
                                size="20"
                                style="border-right: 1px solid grey"
                                >mdi-domain</v-icon
                              >
                            </v-card-title>
                            <v-card-title class="pa-0 px-0" style="width: 100%">
                              <v-combobox
                                class="
                                  align-center
                                  justify-center
                                  pa-0
                                  subtitle-2
                                  font-weight-regular
                                "
                                :items="batches"
                                v-model="selectedBatch"
                                v-on:change="onSelectBatch"
                                item-text="name"
                                item-value="id"
                                dense
                                solo
                                label="Select Batch"
                                transition="slide-y-reverse-transition"
                                overflow
                                return-object
                                hide-details="true"
                              ></v-combobox>
                            </v-card-title>
                          </v-card>
                        </v-col>
                      </v-row>
                      <v-row class="d-flex justify-space-between">
                        <v-col md="3" cols="12" class="py-2 px-5">
                          <div>
                            <div class="caption">Semester 1:</div>
                            <InputIcon
                              input_type="number"
                              input_icons="mdi-star-outline"
                              :max_length="20"
                              input_label="Price"
                            />
                          </div>
                        </v-col>
                        <v-col md="3" cols="12" class="py-2 px-5">
                          <div>
                            <div class="caption">Semester 2:</div>
                            <InputIcon
                              input_type="number"
                              input_icons="mdi-star-outline"
                              :max_length="20"
                              input_label="Price"
                            />
                          </div>
                        </v-col>
                        <v-col md="3" cols="12" class="py-2 px-5">
                          <div>
                            <div class="caption">Semester 3:</div>
                            <InputIcon
                              input_type="number"
                              input_icons="mdi-star-outline"
                              :max_length="20"
                              input_label="Price"
                            />
                          </div>
                        </v-col>
                        <v-col md="3" cols="12" class="py-2 px-5">
                          <div>
                            <div class="caption">Semester 4:</div>
                            <InputIcon
                              input_type="number"
                              input_icons="mdi-star-outline"
                              :max_length="20"
                              input_label="Price"
                            />
                          </div>
                        </v-col>
                      </v-row>
                      <v-row class="d-flex justify-space-between">
                        <v-col md="3" cols="12" class="py-2 px-5">
                          <div>
                            <div class="caption">Semester 5:</div>
                            <InputIcon
                              input_type="number"
                              input_icons="mdi-star-outline"
                              :max_length="20"
                              input_label="Price"
                            />
                          </div>
                        </v-col>
                        <v-col md="3" cols="12" class="py-2 px-5">
                          <div>
                            <div class="caption">Semester 6:</div>
                            <InputIcon
                              input_type="number"
                              input_icons="mdi-star-outline"
                              :max_length="20"
                              input_label="Price"
                            />
                          </div>
                        </v-col>
                        <v-col md="3" cols="12" class="py-2 px-5">
                          <div>
                            <div class="caption">Semester 7:</div>
                            <InputIcon
                              input_type="number"
                              input_icons="mdi-star-outline"
                              :max_length="20"
                              input_label="Price"
                            />
                          </div>
                        </v-col>
                        <v-col md="3" cols="12" class="py-2 px-5">
                          <div>
                            <div class="caption">Semester 8:</div>
                            <InputIcon
                              input_type="number"
                              input_icons="mdi-star-outline"
                              :max_length="20"
                              input_label="Price"
                            />
                          </div>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col class="pa-5 px-5">
                          <div class="d-flex align-center justify-end">
                            <div class="pr-2">
                              <v-btn
                                width="100"
                                depressed
                                color="text-capitalize white--text primary"
                                @click="dialog = false"
                              >
                                Add
                              </v-btn>
                            </div>
                            <div>
                              <v-btn
                                width="100"
                                depressed
                                color="text-capitalize white--text red lighten-2"
                                @click="dialog = false"
                              >
                                Cancel
                              </v-btn>
                            </div>
                          </div>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-card-text>
                </v-card>
              </v-dialog>
            </template>
            <template v-slot:[`item.actions`]="{ item }">
              <div class="d-flex">
                <v-btn
                  width="auto"
                  small
                  color="#578DD2"
                  depressed
                  class="white--text text-capitalize font-weight-regular"
                  @click="editTaskStatus(item)"
                >
                  Edit
                </v-btn>
              </div>
            </template>

            <template v-slot:[`item.range`]="{ index }">
              <div>
                {{ index + 1 }}
              </div>
            </template>
          </v-data-table>
          <v-card color="grey lighten-3" outlined tile>
            <v-card-text
              class="pa-0 py-2 pa-2 d-flex align-center justify-center"
            >
              <div class="body-2 pl-2">
                Display 1 to {{ itemsPerPage }} of {{ totalItems }} Entries
              </div>
              <v-spacer></v-spacer>
              <div>
                <v-pagination
                  :total-visible="7"
                  v-model="page"
                  :length="pageCount"
                ></v-pagination>
              </div>
            </v-card-text>
          </v-card>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Title from "~/components/title/user_friendly.vue";
import Subtitle from "~/components/card/subtitle.vue";
import Search from "~/components/input/search.vue";
import Page from "~/components/selector/label_selector.vue";
export default {
  data: () => ({
    timeout: 3000,
    search: "",
    snackbar: false,
    departments: [],
    department_id: null,
    batches: [],
    selectedDepartment: null,
    selectedBatch: null,
    page: 1,
    pageCount: 0,
    dialog: false,
    editedIndex: -1,
    editedItem: {
      name: "",
    },
    defaultItem: {
      name: "",
    },
    itemsPerPage: 10,
    pages: [10, 20, 50, 100],
    toggle_exclusive: undefined,
    route: [{ text: "General" }, { text: "KIT Intern Session Detail" }],
    data: [],
    headers: [
      { text: "", value: "id", width: "3%", align: "center" },
      { text: "Semester 1", value: "semester1", width: "10%" },
      { text: "Semester 2", value: "semester2", width: "10%" },
      { text: "Semester 3", value: "semester3", width: "10%" },
      { text: "Semester 4", value: "semester4", width: "10%" },
      { text: "Semester 5", value: "semester5", width: "10%" },
      { text: "Semester 6", value: "semester6", width: "10%" },
      { text: "Semester 7", value: "semester7", width: "10%" },
      { text: "Semester 8", value: "semester8", width: "10%" },
      {
        text: "Actions",
        value: "actions",
        width: "3%",
        align: "center",
      },
    ],
  }),
  computed: {
    totalItems() {
      return this.data.length;
    },
    width() {
      switch (this.$vuetify.breakpoint.name) {
        case "lg":
          return "75%";
        case "xl":
          return "60%";
        case "md":
          return "90%";
        default:
          "50%";
      }
    },
  },
  mounted() {
    this.getDepartments();
    this.getBatches();
    this.getInternSession(1, 1);
  },
  methods: {
    async getInternSession(dep_id, b_id) {
      console.log("student-----", dep_id, b_id);
      const { data } = await this.$axios({
        method: "POST",
        url: "/intern_session_detail_datatable",
        data: {
          department: dep_id,
          batch: b_id,
        },
      });
      this.data = data;
    },

    async getBatches() {
      let { batches } = await this.$axios.$get(`/batches`);
      let dep_id = this.selectedDepartment.id;

      var filterBatchByDepartment = batches.filter(function (e) {
        return e.department.id == dep_id;
      });
      this.batches = filterBatchByDepartment;
      this.selectedBatch = {
        name: filterBatchByDepartment[0].name,
        id: filterBatchByDepartment[0].id,
      };
    },

    async onSelectDepartment(el) {
      this.selectedDepartment.id = el.id;
      console.log(this.selectedBatch.id);
      await this.getBatches();
      this.getInternSession(el.id, this.selectedBatch.id);
    },

    onSelectBatch(el) {
      //el : selected element
      this.getInternSession(this.selectedDepartment.id, el.id);
      // console.log("-----", el);
    },

    async getDepartments() {
      let departments = await this.$axios.$get(
        "/select_option/all_departments_list"
      );
      this.selectedDepartment = {
        name: departments[0].name,
        id: departments[0].id,
      };
      this.departments = departments;
    },

    editTaskStatus(item) {
      this.editedIndex = this.data.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },
    async save() {
      await this.$axios({
        method: "put",
        url: `/task/status/${this.editedItem.id}`,
        data: {
          id: this.editedItem.id,
          name: this.editedItem.name,
        },
      }).then((res) => {
        console.log("Task Status Edited", res);
      });

      Object.assign(this.data[this.editedIndex], this.editedItem);
      this.close();
      this.snackbar = true;
    },
    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },
  },
  components: {
    Title,
    Subtitle,
    Search,
    Page,
  },
};
</script>

<style>
button.v-icon.notranslate.v-icon--link.mdi.mdi-close.theme--light {
  font-size: 15px !important;
}
td,
th {
  border-right: 1px solid #d1d1d1 !important;
}
.v-data-table__expanded.v-data-table__expanded__content {
  box-shadow: none !important;
}
.pagination {
  display: inline-block;
}

.v-input__slot {
  align-items: center;
  justify-content: center;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
.v-pagination__item .v-pagination__item--active .primary {
  background-color: #e3e3e3 !important;
  border-color: #b8b8b8 !important;
  color: #606060 !important;
  font-size: 18px;
}

.v-pagination__item {
  border-radius: 0;
  font-size: 1rem;
  height: 43px;
  width: 54px;
  margin: 0;
  min-width: 34px;
  border: 1px solid #b8b8b8;
  /* padding: 0 3px; */
  text-decoration: none;
  transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
  box-shadow: none;
}
.v-pagination__navigation {
  box-shadow: none;
  border-radius: 0;
  display: inline-flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 1px solid #b8b8b8;
  height: 43px;
  width: 54px;
}
</style>
