<template>
  <v-container fluid class="px-0">
    <v-row class="pt-14 px-3" justify="start" align="center">
      <v-col class="pa-0">
        <div class="text-left">
          <Title :items="route" />
        </div>
      </v-col>
    </v-row>
    <v-row justify="center" align="start" class="px-0 mt-10">
      <v-col cols="12" lg="2" md="3" sm="4" class="py-1">
        <Subtitle title="Update Acquired Point Manually" icon="mdi-account" />
      </v-col>
      <v-col cols="12" lg="8" md="5" sm="8" class="py-1">
        <Search v-model="search" />
      </v-col>
      <v-col cols="12" lg="2" md="12" class="py-1">
        <div class="d-flex flex-row align-center justify-end">
          <div
            class="body-2 grey--text text--darken-3"
            :style="'width:' + width"
          >
            Per Page<span class="px-1">:</span>
          </div>
          <v-card-actions
            align="center"
            justify="center"
            class="body-2 pl-5 pa-0 pr-0"
            style="width: 100%"
          >
            <v-select
              class="align-center justify-center pa-0 subtitle-2"
              :items="pages"
              item-text="name"
              item-value="id"
              dense
              outlined
              :value="itemsPerPage"
              transition="slide-y-reverse-transition"
              :hide-details="true"
              @change="itemsPerPage = parseInt($event, 10)"
            >
            </v-select>
          </v-card-actions>
        </div>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-card
          width="100%"
          tile
          outlined
          style="border-top: 3px solid #5a90bf"
        >
          <v-snackbar
            rounded="pill"
            width="40px"
            v-model="snackbarAdd"
            :timeout="timeout"
            color="#578DD2"
          >
            <div class="px-16">
              <v-icon color="white" class="px-6">mdi-check-circle</v-icon>
              Batch Added !!!
            </div>
          </v-snackbar>
          <v-snackbar
            rounded="pill"
            width="40px"
            v-model="snackbarUpdate"
            :timeout="timeout"
            color="#578DD2"
          >
            <div class="px-16">
              <v-icon color="white" class="px-6">mdi-check-circle</v-icon>
              Batch Updated !!!
            </div>
          </v-snackbar>
          <v-snackbar
            rounded="pill"
            width="40px"
            v-model="snackbarDelete"
            :timeout="timeout"
            color="#D45252"
          >
            <div class="px-16">
              <v-icon color="white" class="px-6">mdi-check-circle</v-icon>
              Batch Deleted !!!
            </div>
          </v-snackbar>
          <v-data-table
            :headers="headers"
            :items="approved_projects"
            hide-default-footer
            class="px-0"
            :search="search"
            :page.sync="page"
            :items-per-page="itemsPerPage"
            @page-count="pageCount = $event"
          >
            <template v-slot:top>
              <v-dialog v-model="dialog" :max-width="width">
                <v-card tile outlined>
                  <v-card-title class="px-10 pt-10">
                    <div style="font-size: 22px; color: #627080">
                      Register Batch
                      <div
                        style="font-size: 14px"
                        class="py-0 font-weight-regular"
                      >
                        Create New Batch
                      </div>
                    </div>
                  </v-card-title>
                  <v-card-text class="pt-4 px-7">
                    <v-container fluid>
                      <v-row class="d-flex justify-space-between"> </v-row>
                      <v-row> </v-row>
                      <v-row align="center"> </v-row>
                      <v-row>
                        <v-col class="pt-5">
                          <div class="d-flex align-center justify-end">
                            <div class="pr-2">
                              <v-btn
                                width="100"
                                depressed
                                color="text-capitalize white--text primary"
                                @click="save"
                              >
                                Add
                              </v-btn>
                            </div>
                            <div>
                              <v-btn
                                width="100"
                                depressed
                                color="text-capitalize white--text red lighten-2"
                                @click="close"
                              >
                                Cancel
                              </v-btn>
                            </div>
                          </div>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-card-text>
                </v-card>
              </v-dialog>
              <v-dialog v-model="dialogDelete" :max-width="width">
                <v-card tile outlined class="py-3">
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-icon color="secondary" size="120"
                      >mdi-alert-rhombus-outline</v-icon
                    >
                    <v-spacer></v-spacer>
                  </v-card-actions>
                  <v-card-title class="px-11 pt-5 align-center justify-center">
                    <div style="font-size: 22px; color: #627080">
                      Are you sure you want to delete?
                    </div>
                    <div
                      style="font-size: 15px; color: #627080"
                      class="py-0 font-weight-regular"
                    >
                      Do you really want to delete this? This process cannot be
                      undone !!!
                    </div>
                  </v-card-title>

                  <v-card-actions class="py-4">
                    <v-spacer></v-spacer>
                    <v-btn
                      depressed
                      color="#D45252"
                      width="100"
                      class="white--text text-capitalize font-weight-regular"
                      @click="deleteBatchConfirm"
                      >Delete</v-btn
                    >
                    <v-btn
                      depressed
                      color="#578DD2"
                      width="100"
                      class="white--text text-capitalize font-weight-regular"
                      @click="closeDelete"
                      >Cancel</v-btn
                    >

                    <v-spacer></v-spacer>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </template>
            <template v-slot:[`item.actions`]="{ item }">
              <div class="d-flex">
                <v-btn
                  width="auto"
                  small
                  color="#578DD2"
                  depressed
                  class="white--text text-capitalize font-weight-regular"
                  @click="editBatch(item)"
                >
                  Edit
                </v-btn>
                <v-spacer></v-spacer>
                <v-btn
                  @click="deleteBatch(item)"
                  small
                  depressed
                  color="#D45252"
                  width="auto"
                  class="white--text text-capitalize font-weight-regular"
                >
                  Delete
                </v-btn>
              </div>
            </template>

            <template v-slot:[`item.range`]="{ index }">
              <div>
                {{ index + 1 }}
              </div>
            </template>
          </v-data-table>
          <v-card color="grey lighten-3" outlined tile>
            <v-card-text
              class="pa-0 py-2 pa-2 d-flex align-center justify-center"
            >
              <div class="body-2 pl-2">
                Display 1 to {{ itemsPerPage }} of {{ totalItems }} Entries
              </div>
              <v-spacer></v-spacer>
              <div>
                <v-pagination
                  :total-visible="7"
                  v-model="page"
                  :length="pageCount"
                ></v-pagination>
              </div>
            </v-card-text>
          </v-card>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Title from "~/components/title/user_friendly.vue";
import Subtitle from "~/components/card/subtitle.vue";
import Search from "~/components/input/search.vue";
import Page from "~/components/selector/label_selector.vue";
import Student from "~/components/card/student_card.vue";
import Datatable from "~/components/datatable/table.vue";
export default {
  middleware: "authenticated",
  data: () => ({
    search: "",
    approved_projects: [],
    selectedPage: { id: 10, name: "10" },
    pages: [
      { id: 10, name: "10" },
      { id: 20, name: "20" },
      { id: 50, name: "50" },
      { id: 100, name: "100" },
    ],
    route: [{ text: "General" }, { text: "Update Acquired Point Manually" }],
    headers: [
      { text: "", value: "range", width: "3%", align: "center" },
      { text: "Name", value: "name", width: "44%" },
      { text: "Code", value: "code", width: "10%" },
      { text: "Acquire Point", value: "acquire_point", width: "10%" },
      { text: "Start date", value: "start_date", width: "10%" },
      { text: "Deadline", value: "deadline", width: "10%" },
      { text: "End date", value: "end_date", width: "10%" },
      { text: "Details", value: "actions", width: "3%", align: "center" },
    ],
    body: [],
  }),
  // async asyncData ({$axios}) {
  //     const {approved_projects}  = await $axios.$get('/get/all/approved/projects')
  //     console.log('--------------------',approved_projects)
  //     return { approved_projects }
  //   },
  mounted: {},
  methods: {
    async getManuallyUpdateAcquiredPoint() {
      try {
        let { approved_projects } = await $axios.$get(
          "/get/all/approved/projects"
        );
        this.approved_projects = approved_projects;
      } catch (e) {
        if (e.response.status === 403) {
          return this.$nuxt.error({ statusCode: 403 });
        } else {
          return this.$nuxt.error({ statusCode: 404 });
        }
      }
    },
  },
  computed: {
    justify() {
      switch (this.$vuetify.breakpoint.name) {
        case "xs":
          return "around";
        case "sm":
          return "around";
        case "md":
          return "between";
        case "lg":
          return "between";
        case "xl":
          return "between";
      }
    },
  },

  components: {
    Title,
    Subtitle,
    Search,
    Page,
    Student,
    Datatable,
  },
};
</script>

<style lang="scss" scoped>
</style>