<template>
  <v-container fluid class="px-0">
    <v-row class="pt-14 px-3" justify="start" align="center">
      <v-col class="pa-0">
        <div class="text-left">
          <Title :items="items" />
        </div>
      </v-col>
      <v-col class="pa-0">
        <div class="d-flex justify-end">
          <DialogProfile class="pr-2" :user="user" :borey="borey" />
          <v-dialog v-model="dialogPassword" :max-width="width">
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                width="170"
                meduim
                depressed
                color="text-capitalize white--text secondary"
                v-bind="attrs"
                v-on="on"
              >
                Change Password
              </v-btn>
            </template>
            <v-card tile outlined class="py-3">
              <v-card-title class="px-11">
                <div style="font-size: 22px; color: #627080">
                  Change Password
                  <div style="font-size: 14px" class="py-0 font-weight-regular">
                    Change Password Form
                  </div>
                </div>
              </v-card-title>
              <v-card-text>
                <v-container fluid>
                  <v-form ref="form" v-model="valid">
                    <v-row class="px-2" v-if="$store.state.user.role == 'USER'">
                      <v-col>
                        <div class="caption">Old Password</div>
                        <v-card
                          height="40px"
                          width="100%"
                          outlined
                          class="d-flex"
                          style="border: 1px solid grey"
                        >
                          <v-card-title class="py-0 pr-0">
                            <v-icon
                              class="pr-3"
                              size="20"
                              style="border-right: 1px solid grey"
                              >mdi-lock-outline</v-icon
                            >
                          </v-card-title>
                          <v-card-title class="pa-0 px-0" style="width: 100%">
                            <v-text-field
                              class="
                                subtitle-1
                                align-start
                                justify-center
                                width-calc
                                py-0
                                grey--text
                                text--darken-1
                              "
                              dense
                              clearable
                              solo
                              @click:append="showPassword = !showPassword"
                              :append-icon="
                                showPassword ? 'mdi-eye' : 'mdi-eye-off'
                              "
                              :type="showPassword ? 'text' : 'password'"
                              :rules="rules.passwordRules"
                              required
                              label="Old Password"
                              style="outline: none; width: 100%"
                              v-model="editedItem.old_pw"
                              counter
                            ></v-text-field>
                          </v-card-title>
                        </v-card>
                      </v-col>
                    </v-row>
                    <v-row class="px-2">
                      <v-col>
                        <div class="caption">Password</div>
                        <v-card
                          height="40px"
                          width="100%"
                          outlined
                          class="d-flex"
                          style="border: 1px solid grey"
                        >
                          <v-card-title class="py-0 pr-0">
                            <v-icon
                              class="pr-3"
                              size="20"
                              style="border-right: 1px solid grey"
                              >mdi-lock-outline</v-icon
                            >
                          </v-card-title>
                          <v-card-title class="pa-0 px-0" style="width: 100%">
                            <v-text-field
                              class="
                                subtitle-1
                                align-start
                                justify-center
                                width-calc
                                py-0
                                grey--text
                                text--darken-1
                              "
                              dense
                              clearable
                              solo
                              @click:append="showPassword = !showPassword"
                              :append-icon="
                                showPassword ? 'mdi-eye' : 'mdi-eye-off'
                              "
                              :type="showPassword ? 'text' : 'password'"
                              :rules="rules.passwordRules"
                              required
                              label="Password"
                              style="outline: none; width: 100%"
                              v-model="editedItem.new_pw"
                              counter
                            ></v-text-field>
                          </v-card-title>
                        </v-card>
                      </v-col>
                    </v-row>
                    <v-row class="px-2">
                      <v-col>
                        <div class="caption">Confirm Password</div>
                        <v-card
                          height="40px"
                          width="100%"
                          outlined
                          class="d-flex"
                          style="border: 1px solid grey"
                        >
                          <v-card-title class="py-0 pr-0">
                            <v-icon
                              class="pr-3"
                              size="20"
                              style="border-right: 1px solid grey"
                              >mdi-lock-outline</v-icon
                            >
                          </v-card-title>
                          <v-card-title class="pa-0 px-0" style="width: 100%">
                            <v-text-field
                              class="
                                subtitle-1
                                align-start
                                justify-center
                                width-calc
                                py-0
                                grey--text
                                text--darken-1
                              "
                              dense
                              clearable
                              solo
                              @click:append="
                                showConfirmPassword = !showConfirmPassword
                              "
                              :append-icon="
                                showConfirmPassword ? 'mdi-eye' : 'mdi-eye-off'
                              "
                              :type="showConfirmPassword ? 'text' : 'password'"
                              :rules="[required, min8, matchingPassword]"
                              required
                              label="Confirm Password"
                              style="outline: none; width: 100%"
                              v-model="editedItem.conf_new_pw"
                              counter
                            ></v-text-field>
                          </v-card-title>
                        </v-card>
                      </v-col>
                    </v-row>
                    <v-row class="pt-7">
                      <v-col class="pa-0 px-5">
                        <div class="d-flex align-center justify-end">
                          <div class="pr-2">
                            <v-btn
                              width="100"
                              depressed
                              color="text-capitalize white--text primary"
                              @click="savePassword"
                              :disabled="!valid"
                            >
                              Save
                            </v-btn>
                          </div>
                          <div>
                            <v-btn
                              width="100"
                              depressed
                              color="text-capitalize white--text red lighten-2"
                              @click="dialogPassword = false"
                            >
                              Cancel
                            </v-btn>
                          </div>
                        </div>
                      </v-col>
                    </v-row>
                  </v-form>
                </v-container>
              </v-card-text>
            </v-card>
          </v-dialog>
        </div>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-snackbar
          width="40px"
          v-model="snackbar"
          :timeout="timeout"
          color="#578DD2"
        >
          <div class="px-10">
            <v-icon color="white" class="px-2">mdi-check-circle</v-icon>
            Password is changed !!!
          </div>
        </v-snackbar>
      </v-col>
    </v-row>
    <v-row justify="center" align="start">
      <v-col cols="12" lg="9" md="12" class="my-1">
        <v-row>
          <v-col>
            <Profile
              :users="user"
              :semesters="semesters"
              :skills="skills"
              :non_vc="companies"
            />
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="12" lg="3" md="12" class="my-1" :style="'display:' + hidden">
        <Overall :data="overall_point" :semester_data="working_hours" />
      </v-col>
    </v-row>
    <v-row class="mt-4">
      <v-col cols="12" lg="2" md="3" sm="3" class="py-1">
        <v-select
          outlined
          dense
          class="subtitle-2 font-weight-regular"
          hide-details="true"
          :items="selector"
          item-text="name"
          item-value="id"
          v-model="selected"
          prepend-inner-icon="mdi-account-outline"
        ></v-select>
      </v-col>
      <v-col cols="12" lg="8" md="7" sm="9" class="py-1">
        <Search v-model="search" />
      </v-col>
      <v-col cols="12" lg="2" md="2" sm="12" class="py-1">
        <Page
          width="120px"
          title="Per Page"
          :select_list="pages"
          :defaultSelect="selectedPage"
        />
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <Datatable :headers="headers" :body="body" :search="search" />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Title from "~/components/title/user_friendly.vue";
import Subtitle from "~/components/card/subtitle.vue";
import Overall from "~/components/card/overall.vue";
import Profile from "~/components/graph/profile.vue";
import Search from "~/components/input/search.vue";
import Page from "~/components/selector/label_selector.vue";
import Datatable from "~/components/datatable/table.vue";
import DialogProfile from "~/components/dialog/dialog-profile.vue";
import Password from "~/components/dialog/password.vue";

export default {
  middleware: "authenticated",
  async asyncData({ $axios, params }) {
    const { user } = await $axios.$get(`/student/profile/${params.slug}`);
    const { company } = await $axios.$get(`/company/view/13`);
    const working_hour = await $axios.$get(
      `/student/student/working/hour/api/${user.student.id}`
    ); //student_id
    const overall_points = await $axios.$get(
      `/student/overall/point/api/${user.student.id}`
    );
    const skill = await $axios.$get(`/student/skill_set_capacity/${user.id}`);
    const semester_wise = await $axios.$get(
      `/student/semester/wise/point/api/${user.student.id}`
    );
    console.log("-=-=-=-=-=-=-=-=-=-", semester_wise);
    const companies = {
      category: company.company_category.name,
      vice_chairman: company.vice_chairman.name,
      description: company.description,
      company: {
        name: company.name,
        code: "NVC",
        logo: company.logo,
        president: {
          name: company.president.name,
          rank: company.president.rank.name,
        },
      },
      role: "Member",
    };
    const semesters = [];
    for (const s in semester_wise.semesters) {
      const sem = {
        title: semester_wise.semesters[s],
        rank: semester_wise.rank[s],
        acquire: semester_wise.acquire[s],
        working: "0",
        color: "#FFF",
        target: semester_wise.target[s],
      };
      semesters.push(sem);
    }
    const skills = [];
    for (const [key, value] of Object.entries(skill.skill_set)) {
      const s = {
        title: key,
        point: `${((value / skill.max_skill_capacity) * 100).toFixed(2)} %`,
        percent: ((value / skill.max_skill_capacity) * 100).toFixed(2),
        color: "#26B99A",
      };
      skills.push(s);
    }
    const overall_point = [
      {
        point: "Actual",
        value: overall_points.actual[0],
      },
      {
        point: "Propose",
        value: overall_points.propose[0],
      },
      {
        point: "Acquire",
        value: overall_points.acquire[0],
      },
    ];
    const working_hours = [];
    for (const wh of working_hour) {
      const semester = {
        title: wh.semester,
        report: wh.report_session,
        average: wh.average_hour,
        percent: (wh.actual_hour / wh.average_hour) * 100,
        color: wh.actual_hour > wh.average_hour / 2 ? "#5a90bf" : "#D95F02",
      };
      working_hours.push(semester);
    }
    return { user, working_hours, overall_point, semesters, skills, companies };
  },
  computed: {
    display() {
      switch (this.$vuetify.breakpoint.name) {
        case "xs":
          return "none !important";
        case "sm":
          return "none !important";
        case "md":
          return "none !important";
        case "lg":
          return "none !important";
        case "xl":
          return "block !important";
      }
    },
    hidden() {
      switch (this.$vuetify.breakpoint.name) {
        case "xs":
          return "none !important";
        case "sm":
          return "block !important";
        case "md":
          return "block !important";
        case "lg":
          return "block !important";
        case "xl":
          return "block !important";
      }
    },
    width() {
      switch (this.$vuetify.breakpoint.name) {
        case "lg":
          return "40%";
        case "xl":
          return "40%";
        case "md":
          return "50%";
        case "sm":
          return "70%";
        default:
          "50%";
      }
    },
  },
  data: () => ({
    showPassword: true,
    showConfirmPassword: true,
    password: "",
    valid: true,
    rules: {
      passwordRules: [
        (v) => !!v || "Password is required",
        (v) =>
          (v && v.length >= 8) || "Use 8 characters or more for your password",
      ],
      confirmPasswordRules: [
        (v) => !!v || "Confirm Password is required",
        (v) =>
          (v && v.length >= 8) ||
          "Confirm Password must be 8 characters or greater",
        (v) => v === this.pw1 || "Passwords do not match",
      ],
    },
    dialogPassword: false,
    snackbar: false,
    timeout: 3000,
    editedItem: {
      old_pw: "",
      new_pw: "",
      conf_new_pw: "",
    },
    defaultItem: {
      old_pw: "",
      new_pw: "",
      conf_new_pw: "",
    },
    selected: { name: "Point Summary", id: 1 },
    selector: [
      { name: "Point Summary", id: 1 },
      { name: "Project Working on", id: 2 },
    ],
    search: "",
    selectedPage: { id: 10, name: "10" },
    pages: [
      { id: 10, name: "10" },
      { id: 20, name: "20" },
      { id: 50, name: "50" },
      { id: 100, name: "100" },
    ],
    borey: [
      { name: "Borey R (Jasmine)" },
      { name: "Borey V" },
      { name: "Borey M" },
    ],
    allRoles: [],
    items: [{ text: "Profile" }, { text: "1101801021" }],
    headers: [
      { text: "", value: "id", width: "3%", align: "center" },
      {
        text: "Project Name",
        value: "project_name",
        width: "44%",
        align: "left",
      },
      { text: "Estimate", value: "estimate_point", width: "10%" },
      { text: "Actual", value: "actual_point", width: "10%" },
      { text: "Propose", value: "propose_point", width: "10%" },
      { text: "Acquire", value: "acquire_point", width: "10%" },
      { text: "Semester", value: "semester", width: "10%" },
      {
        text: "Details",
        value: "data-table-expand",
        width: "3%",
        align: "center",
      },
    ],
    body: [
      {
        id: 1,
        project_name: "Extra Session Batch 1",
        estimate_point: "2.75",
        actual_point: "2.04",
        propose_point: "2.04",
        acquire_point: "2.56",
        semester: "Semester 1",
      },
    ],
  }),
  methods: {
    async savePassword() {
      this.$refs.form.validate();
      if (this.$store.state.user.role == "ADMIN") {
        await this.$axios({
          method: "put",
          url: `/change_password/${this.$store.state.user.id}`,
          data: {
            new_pw: this.editedItem.new_pw,
            conf_new_pw: this.editedItem.conf_new_pw,
          },
        }).then((res) => {
          this.snackbar = true;
        });
      } else {
        await this.$axios({
          method: "put",
          url: `/change_password/${this.$store.state.user.id}`,
          data: {
            old_pw: this.editedItem.old_pw,
            new_pw: this.editedItem.new_pw,
            conf_new_pw: this.editedItem.conf_new_pw,
          },
        }).then((res) => {
          this.snackbar = true;
        });
      }
      this.dialogPassword = false;
    },

    //Validation on confirm Password
    required(value) {
      if (value) {
        return true;
      } else {
        return "Confirm Password is required.";
      }
    },
    min8(value) {
      if (value && value.length >= 8) {
        return true;
      } else {
        return "Confirm Password must be 8 characters or greater";
      }
    },
    matchingPassword() {
      if (this.editedItem.new_pw === this.editedItem.conf_new_pw) {
        return true;
      } else {
        return "Passwords does not match.";
      }
    },
  },
  components: {
    Title,
    Subtitle,
    Overall,
    Profile,
    Search,
    Page,
    Datatable,
    DialogProfile,
    Password,
  },
};
</script>

<style lang="scss" scoped>
</style>
