<template>
  <v-container fluid class="px-0">
    <v-row class="pt-14 px-3" justify="start" align="center">
      <v-col class="pa-0">
        <div class="text-left">
          <Title :items="route" />
        </div>
      </v-col>
      <v-col class="pa-0">
        <div class="d-flex justify-end">
          <Project class="pr-2" />
          <PageButton title="Export" />
        </div>
      </v-col>
    </v-row>
    <v-row justify="center" align="start" class="px-0 mt-10">
      <v-col cols="12" lg="2" md="3" sm="4" class="py-1">
        <Subtitle
          title="KIT Projects"
          icon="mdi-file-document-multiple-outline"
        />
      </v-col>
      <v-col cols="12" lg="3" md="9" sm="8" class="py-1">
        <Search v-model="search" />
      </v-col>
      <v-col cols="12" lg="3" md="4" sm="6" class="py-1">
        <div class="d-flex flex-row align-center justify-end">
          <div class="body-2 grey--text text--darken-3">
            Companies<span class="px-1">:</span>
          </div>
          <v-card-actions
            align="center"
            justify="center"
            class="body-2 pl-5 pa-0 pr-0"
            style="width: 100%"
          >
            <v-combobox
              class="align-center justify-center pa-0 subtitle-2 font-weight-regular"
              :items="companies"
              v-model="selectedCompany"
              item-text="name"
              item-value="id"
              dense
              outlined
              solo
              label="Select Batch"
              transition="slide-y-reverse-transition"
              overflow
              return-object
              hide-details="true"
            ></v-combobox>
          </v-card-actions>
        </div>
      </v-col>
      <v-col cols="12" lg="2" md="4" sm="6" class="py-1">
        <div class="d-flex flex-row align-center justify-end">
          <div class="body-2 grey--text text--darken-3">
            Project Statuses<span class="px-1">:</span>
          </div>
          <v-card-actions
            align="center"
            justify="center"
            class="body-2 pl-5 pa-0 pr-0"
            style="width: 100%"
          >
            <v-combobox
              class="align-center justify-center pa-0 subtitle-2 font-weight-regular"
              :items="projectStatuses"
              v-model="selectedStatus"
              item-text="name"
              item-value="id"
              dense
              outlined
              solo
              label="Select Batch"
              transition="slide-y-reverse-transition"
              overflow
              return-object
              hide-details="true"
            ></v-combobox>
          </v-card-actions>
        </div>
      </v-col>
      <v-col cols="12" lg="2" md="4" class="py-1">
        <div class="d-flex flex-row align-center justify-end">
          <div class="body-2 grey--text text--darken-3">
            Per Page<span class="px-1">:</span>
          </div>
          <v-card-actions
            align="center"
            justify="center"
            class="body-2 pl-5 pa-0 pr-0"
            style="width: 100%"
          >
            <v-select
              class="align-center justify-center pa-0 subtitle-2 font-weight-regular"
              :items="pages"
              item-text="name"
              item-value="id"
              dense
              outlined
              :value="itemsPerPage"
              transition="slide-y-reverse-transition"
              :hide-details="true"
              @change="itemsPerPage = parseInt($event, 10)"
            >
            </v-select>
          </v-card-actions>
        </div>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <Datatable :headers="headers" :body="body" :search="search" />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Title from "~/components/title/user_friendly.vue";
import Subtitle from "~/components/card/subtitle.vue";
import Search from "~/components/input/search.vue";
import Page from "~/components/selector/label_selector.vue";
import Student from "~/components/card/student_card.vue";
import Datatable from "~/components/datatable/table.vue";
import Project from "~/components/dialog/project.vue";
import PageButton from "~/components/button/page-button.vue";
export default {
  middleware: "authenticated",
  async asyncData({ $axios }) {
    const { companies } = await $axios.$get(`/project/projects`);
    const { statuses } = await $axios.$get(`/project/statuses`);
    companies.push({ id: 0, name: "All companies" });
    const selectedCompany = { id: 0, name: "All companies" };
    const selectedStatus = { id: 3, name: "In Progress" };
    return { companies, selectedCompany, statuses, selectedStatus };
  },
  computed: {
    justify() {
      switch (this.$vuetify.breakpoint.name) {
        case "xs":
          return "around";
        case "sm":
          return "around";
        case "md":
          return "between";
        case "lg":
          return "between";
        case "xl":
          return "between";
      }
    },
  },
  data: () => ({
    search: "",
    companies: [],
    projectStatuses: [],
    selectedCompany: null,
    selectedStatus: null,
    pageCount: 0,
    itemsPerPage: 10,
    pages: [10, 20, 50, 100],
    route: [{ text: "Project" }, { text: "Project List" }],
    headers: [
      { text: "", value: "id", width: "3%", align: "center" },
      { text: "Project Name", value: "project_name", width: "24%" },
      { text: "Company", value: "company", width: "10%" },
      { text: "Status", value: "status", width: "10%" },
      { text: "Start Date", value: "start_date", width: "10%" },
      { text: "Actual", value: "actual", width: "10%" },
      { text: "Estimate", value: "estimate", width: "10%" },
      {
        text: "Next Actions",
        value: "next_actions",
        width: "10%",
        align: "center",
      },
      { text: "Deadline", value: "deadline", width: "10%" },
      {
        text: "Details",
        value: "data-table-expand",
        width: "3%",
        align: "center",
      },
    ],
    body: [
      {
        id: 1,
        value: false,
        project_name: "VR Vocabulary",
        company: "Len of Reality",
        status: "In Progress",
        start_date: "2021-03-01",
        actual: "123",
        estimate: "150",
        next_actions: "Complete",
        deadline: "2021-04-01",
      },
      {
        id: 2,
        value: false,
        project_name: "Content Creation",
        company: "DGK",
        status: "In Progress",
        start_date: "2021-03-01",
        actual: "123",
        estimate: "150",
        next_actions: "Complete",
        deadline: "2021-04-01",
      },
      {
        id: 3,
        value: false,
        project_name: "A2A Development Social Media Marketing",
        company: "A2A Digial",
        status: "In Progress",
        start_date: "2021-03-01",
        actual: "123",
        estimate: "150",
        next_actions: "Complete",
        deadline: "2021-04-01",
      },
      {
        id: 4,
        value: false,
        project_name: "Admin Management Support",
        company: "Incubation Center",
        status: "In Progress",
        start_date: "2021-03-01",
        actual: "123",
        estimate: "150",
        next_actions: "Complete",
        deadline: "2021-04-01",
      },
    ],
  }),
  mounted() {
    this.getCompanies();
    this.getProjectStatuses();
  },
  methods: {
    async getCompanies() {
      let companies = await this.$axios.$get(
        "/select_option/all_companies_list"
      );
      this.companies = companies;
    },
    async getProjectStatuses() {
      let projectStatuses = await this.$axios.$get(
        "/select_option/all_project_statuses_list"
      );
      this.projectStatuses = projectStatuses;
    },
  },
  components: {
    Title,
    Subtitle,
    Search,
    Page,
    Student,
    Datatable,
    Project,
    PageButton,
  },
};
</script>

<style lang="scss" scoped>
</style>