<template>
  <v-btn
    width="100"
    outlined
    text
    class="white--text secondary text-capitalize"
    :to="route"
  >
  {{ title }}
  </v-btn>
</template>

<script>
export default {
  props: {
    title: {
      type: String
    },
    route: {
      type: String
    }
  }
};
</script>

<style lang="scss" scoped>
</style>