<template>
  <div>
    <v-btn
      width="150"
      meduim
      depressed
      color="text-capitalize white--text primary"
      @click="dialog = true"
    >
      Register
    </v-btn>
    <v-dialog v-model="dialog" :max-width="width">
      <v-card tile outlined class="py-3">
        <v-card-title class="px-9 pt-5">
          <div style="font-size: 22px; color: #627080">
            Client Company Registration
            <div style="font-size: 14px" class="py-0 font-weight-regular">
              Registration Form
            </div>
          </div>
        </v-card-title>
        <v-card-text>
          <v-container fluid>
            <v-row>
              <v-col class="mx-3 py-3" style="max-width: 160px">
                <v-row class="flex-column">
                  <v-col class="px-0 py-2">
                    <ImageUpload
                      :img="require('~/assets/company/companies.png')"
                    />
                  </v-col>
                </v-row>
              </v-col>
              <v-col>
                <v-row>
                  <v-col cols="12" lg="5" md="8" class="pa-2 pb-0 px-3">
                    <v-text-field
                      outlined
                      type="text"
                      class="
                        subtitle-2
                        font-weight-regular
                        grey--text
                        text--darken-1
                      "
                      dense
                      solo
                      label="Company Name"
                      v-model="editedItem.name"
                      :counter="100"
                      required
                      clearable
                      :rules="rules.nameRules"
                    >
                    </v-text-field>
                  </v-col>
                  <v-col class="pa-2 pb-0 px-3">
                    <v-text-field
                      outlined
                      type="text"
                      class="
                        subtitle-2
                        font-weight-regular
                        grey--text
                        text--darken-1
                      "
                      dense
                      solo
                      label="CEO Name"
                      v-model="editedItem.ceo"
                      prepend-inner-icon="mdi-account-tie"
                      :counter="100"
                      required
                      clearable
                      :rules="rules.ceoRules"
                    >
                    </v-text-field>
                  </v-col>

                  <v-col cols="12" lg="4" class="pa-2 px-3">
                    <DatePicker width="300px" title="Established Date:" />
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="6" class="pa-0 px-3">
                    <v-textarea
                      solo
                      outlined
                      clearable
                      height="110"
                      name="input-7-4"
                      :counter="300"
                      class="
                        subtitle-2
                        font-weight-regular
                        grey--text
                        text--darken-1
                      "
                      label="Company Description"
                      required
                      :rules="rules.descriptionRules"
                    ></v-textarea>
                  </v-col>
                  <v-col cols="6" class="pa-0 px-3">
                    <v-textarea
                      solo
                      outlined
                      clearable
                      height="110"
                      name="input-7-4"
                      :counter="100"
                      class="
                        subtitle-2
                        font-weight-regular
                        grey--text
                        text--darken-1
                      "
                      label="Company Slogan"
                      required
                      :rules="rules.sloganRules"
                    ></v-textarea>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
            <v-row>
              <v-col lg="6" md="6" sm="12" class="py-1 px-3">
                <div class="caption">Address</div>
                <v-card
                  height="40px"
                  width="100%"
                  outlined
                  class="d-flex"
                  style="border: 1px solid grey"
                >
                  <v-card-title class="py-0 pr-0">
                    <v-icon
                      class="pr-3"
                      size="20"
                      style="border-right: 1px solid grey"
                      >mdi-office-building-marker</v-icon
                    >
                  </v-card-title>
                  <v-card-title class="pa-0 px-0" style="width: 100%">
                    <v-text-field
                      type="text"
                      class="
                        subtitle-1
                        align-start
                        justify-center
                        width-calc
                        py-0
                        grey--text
                        text--darken-1
                      "
                      dense
                      clearable
                      solo
                      maxlength="100"
                      label="Address"
                      style="outline: none; width: 100%"
                      v-model="editedItem.address"
                      :counter="200"
                    ></v-text-field>
                  </v-card-title>
                </v-card>
              </v-col>
              <v-col lg="6" md="6" sm="12" class="py-1 px-3">
                <div class="caption">Email</div>
                <v-card
                  height="40px"
                  width="100%"
                  outlined
                  class="d-flex"
                  style="border: 1px solid grey"
                >
                  <v-card-title class="py-0 pr-0">
                    <v-icon
                      class="pr-3"
                      size="20"
                      style="border-right: 1px solid grey"
                      >mdi-email-box</v-icon
                    >
                  </v-card-title>
                  <v-card-title class="pa-0 px-0" style="width: 100%">
                    <v-text-field
                      type="text"
                      class="
                        subtitle-1
                        align-start
                        justify-center
                        width-calc
                        py-0
                        grey--text
                        text--darken-1
                      "
                      dense
                      clearable
                      solo
                      maxlength="50"
                      label="Email"
                      style="outline: none; width: 100%"
                      v-model="editedItem.email"
                      :counter="50"
                    ></v-text-field>
                  </v-card-title>
                </v-card>
              </v-col>
            </v-row>
            <v-row>
              <v-col lg="6" md="6" sm="12" class="py-2 px-3">
                <div class="caption">Website</div>
                <v-card
                  height="40px"
                  width="100%"
                  outlined
                  class="d-flex"
                  style="border: 1px solid grey"
                >
                  <v-card-title class="py-0 pr-0">
                    <v-icon
                      class="pr-3"
                      size="20"
                      style="border-right: 1px solid grey"
                      >mdi-earth</v-icon
                    >
                  </v-card-title>
                  <v-card-title class="pa-0 px-0" style="width: 100%">
                    <v-text-field
                      type="text"
                      class="
                        subtitle-1
                        align-start
                        justify-center
                        width-calc
                        py-0
                        grey--text
                        text--darken-1
                      "
                      dense
                      clearable
                      solo
                      maxlength="100"
                      label="Website"
                      style="outline: none; width: 100%"
                      v-model="editedItem.website"
                      :counter="100"
                    ></v-text-field>
                  </v-card-title>
                </v-card>
              </v-col>
              <v-col lg="6" md="6" sm="12" class="py-2 px-3">
                <div class="caption">Phone Number</div>
                <v-card
                  height="40px"
                  width="100%"
                  outlined
                  class="d-flex"
                  style="border: 1px solid grey"
                >
                  <v-card-title class="py-0 pr-0">
                    <v-icon
                      class="pr-3"
                      size="20"
                      style="border-right: 1px solid grey"
                      >mdi-phone</v-icon
                    >
                  </v-card-title>
                  <v-card-title class="pa-0 px-0" style="width: 100%">
                    <v-text-field
                      type="number"
                      class="
                        subtitle-1
                        align-start
                        justify-center
                        width-calc
                        py-0
                        grey--text
                        text--darken-1
                      "
                      dense
                      clearable
                      solo
                      maxlength="15"
                      label="Phone Number"
                      style="outline: none; width: 100%"
                      v-model="editedItem.phone_number"
                      :counter="15"
                    ></v-text-field>
                  </v-card-title>
                </v-card>
              </v-col>
            </v-row>
            <v-row>
              <v-col lg="6" md="6" sm="12" class="py-1 px-3">
                <div class="caption">LinkedIn</div>
                <v-card
                  height="40px"
                  width="100%"
                  outlined
                  class="d-flex"
                  style="border: 1px solid grey"
                >
                  <v-card-title class="py-0 pr-0">
                    <v-icon
                      class="pr-3"
                      size="20"
                      style="border-right: 1px solid grey"
                      >mdi-linkedin</v-icon
                    >
                  </v-card-title>
                  <v-card-title class="pa-0 px-0" style="width: 100%">
                    <v-text-field
                      type="text"
                      class="
                        subtitle-1
                        align-start
                        justify-center
                        width-calc
                        py-0
                        grey--text
                        text--darken-1
                      "
                      dense
                      clearable
                      solo
                      maxlength="50"
                      label="LinkedIn"
                      style="outline: none; width: 100%"
                      v-model="editedItem.linkedin"
                      :counter="50"
                    ></v-text-field>
                  </v-card-title>
                </v-card>
              </v-col>
              <v-col lg="6" md="6" sm="12" class="py-1 px-3">
                <div class="caption">Facebook</div>
                <v-card
                  height="40px"
                  width="100%"
                  outlined
                  class="d-flex"
                  style="border: 1px solid grey"
                >
                  <v-card-title class="py-0 pr-0">
                    <v-icon
                      class="pr-3"
                      size="20"
                      style="border-right: 1px solid grey"
                      >mdi-facebook</v-icon
                    >
                  </v-card-title>
                  <v-card-title class="pa-0 px-0" style="width: 100%">
                    <v-text-field
                      type="text"
                      class="
                        subtitle-1
                        align-start
                        justify-center
                        width-calc
                        py-0
                        grey--text
                        text--darken-1
                      "
                      dense
                      clearable
                      solo
                      maxlength="50"
                      label="Facebook"
                      style="outline: none; width: 100%"
                      v-model="editedItem.facebook"
                      :counter="50"
                    ></v-text-field>
                  </v-card-title>
                </v-card>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="mt-5 pt-5">
                <div class="d-flex align-center justify-end">
                  <div class="pr-2">
                    <v-btn
                      width="120"
                      depressed
                      color="text-capitalize white--text primary"
                    >
                      Register
                    </v-btn>
                  </div>
                  <div>
                    <v-btn
                      width="100"
                      depressed
                      color="text-capitalize white--text secondary"
                    >
                      Cancel
                    </v-btn>
                  </div>
                </div>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import DatePicker from "../input/date-picker.vue";
import ImageUpload from "../input/image-upload.vue";
export default {
  data: () => ({
    valid: true,
    rules: {
      nameRules: [
        (v) => !!v || "Company Name is required",
        (v) =>
          (v && v.length <= 100) || "Company must be less than 100 characters",
      ],
      ceoRules: [
        (v) => !!v || "ceo is required",
        (v) => (v && v.length <= 100) || "ceo must be less than 100 characters",
      ],
      descriptionRules: [
        (v) => !!v || "Company Definition is required",
        (v) =>
          (v && v.length <= 300) ||
          "Company Definition must be less than 300 characters",
      ],
      sloganRules: [
        (v) => !!v || "Company Slogan is required",
        (v) =>
          (v && v.length <= 100) ||
          "Company Slogan must be less than 100 characters",
      ],
    },
    stakeholders: [],
    dialog: false,
    users: [],
    chairman: [
      "Byota Ishihara",
      "Hicki Okamato",
      "Takashi Izuka",
      "Ryota Ishahara",
      "Kenzaburo Bekku",
      "Sam Visith",
      "Leo Fernandez",
      "Dinesh Kumar",
      "Vignesh",
    ],
    editedItem: {
      name: "",
      ceo: "",
      address: "",
      email: "",
      website: "",
      phone_number: "",
      linkedin: "",
      facebook: "",
    },
  }),
  computed: {
    width() {
      switch (this.$vuetify.breakpoint.name) {
        case "lg":
          return "80%";
        case "xl":
          return "70%";
        default:
          "100%";
      }
    },
    flex() {
      switch (this.$vuetify.breakpoint.name) {
        case "sm":
          return "column";
        default:
          "row";
      }
    },
  },
  methods: {
    async getStakeholders() {
      let { stakeholders } = await this.$axios.$get(
        "/stakeholder/stakeholders"
      );
      this.stakeholders = stakeholders;
    },
    async getUsers() {
      let { users } = await this.$axios.$get("/users");
      this.users = users;
      console.log("-------", users);
    },
  },
  mounted() {
    this.getStakeholders();
    this.getUsers();
  },
  components: {
    ImageUpload,
    DatePicker,
  },
};
</script>

<style>
button.v-icon.notranslate.v-icon--link.mdi.mdi-close.theme--light {
  font-size: 15px !important;
}
.v-input__slot {
  align-items: center;
  justify-content: center;
  margin-bottom: 4px;
}
</style>