<template>
  <div>
    <v-dialog v-model="dialog" :max-width="width">
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          width="120"
          medium
          depressed
          color="text-capitalize white--text primary"
          v-bind="attrs"
          v-on="on"
        >
          View
        </v-btn>
      </template>
      <v-card tile outlined>
        <v-card-title class="px-10 pt-10">
          <div style="font-size: 22px; color: #627080">
            Cambodia CS CUP 2020 Ranking from 5th to 10th
          </div>
          <v-spacer></v-spacer>
          <div></div>
        </v-card-title>
        <v-card-text class="mt-2 px-7">
          <v-container fluid>
            <v-row>
              <v-col lg="2" md="2" class="py-1">
                <Subtitle title="Competition View" icon="mdi-trophy-outline" />
              </v-col>
              <v-col lg="5" md="5" class="py-1">
                <Skillset title="Skillset" :skills="skill" />
              </v-col>
              <v-col
                lg="5"
                md="5"
                class="mx-3 py-3"
                :style="'max-width:160px;display:' + display"
              >
                <v-row class="flex-column">
                  <v-col class="px-0 py-2">
                    <v-card
                      class="member_scroll"
                      outlined
                      height="500"
                      elevation="0"
                      tile
                      style="border-top: 3px solid #5a90bf"
                    >
                      <v-card
                        tile
                        outlined
                        color="#e3e3e3"
                        height="70px"
                        class=""
                      >
                        <v-card-text
                          class="d-flex justify-space-around align-center"
                        >
                          <div
                            class="d-flex justify-space-between align-center"
                          >
                            <div class="pt-1 pr-3">Management:</div>
                            <v-btn
                              depressed
                              tile
                              class="font-weight-regular"
                              style="background-color: white"
                              >4</v-btn
                            >
                          </div>
                          <div
                            class="d-flex justify-space-between align-center"
                          >
                            <div class="pt-1 pr-3">Member:</div>
                            <v-btn
                              depressed
                              tile
                              class="font-weight-regular"
                              style="background-color: white"
                              >4</v-btn
                            >
                            <v-btn
                              depressed
                              tile
                              class="font-weight-regular ml-1"
                              >4</v-btn
                            >
                          </div>
                        </v-card-text>
                      </v-card>
                    </v-card>
                  </v-col>
                </v-row>
              </v-col>
              <!-- <v-col lg="2" md="5" class="py-1">
                <Subtitle title="Acquired Point: 18" icon="mdi-one-up" />
              </v-col> -->
            </v-row>
            <v-row class="mt-5"> </v-row>
            <v-row justify="center" align="start" class="px-0">
              <v-col cols="12" xl="2" lg="2" md="3" class="py-1">
                <Subtitle
                  title="Participants Point Summary"
                  icon="mdi-account"
                />
              </v-col>
              <v-col cols="12" xl="8" lg="8" md="7" class="py-1">
                <Search />
              </v-col>
              <v-col cols="12" xl="2" lg="2" md="2" class="py-1">
                <v-select
                  outlined
                  dense
                  class="subtitle-2 font-weight-regular"
                  hide-details="true"
                  :items="members"
                  item-text="name"
                  item-value="id"
                  v-model="selected"
                  prepend-inner-icon="mdi-account-outline"
                ></v-select>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-card
                  width="100%"
                  tile
                  outlined
                  style="border-top: 3px solid #5a90bf"
                >
                  <v-data-table
                    :headers="headers"
                    :items="body"
                    :header-props="{ 'sort-icon': 'mdi-chevron-up' }"
                    hide-default-footer=""
                    class="px-0"
                    :search="search"
                    :page.sync="page"
                    :items-per-page="itemsPerPage"
                    @page-count="pageCount = $event"
                  >
                    <template v-slot:[`item.next_actions`]>
                      <v-btn
                        small
                        depressed
                        color="primary"
                        width="100px"
                        class="text-capitalize font-weight-regular"
                        >Complete</v-btn
                      >
                    </template>

                    <template v-slot:[`item.range`]="{ index }">
                      <div>
                        {{ index + 1 }}
                      </div>
                    </template>
                  </v-data-table>
                  <v-card color="grey lighten-3" outlined tile>
                    <v-card-text
                      class="pa-0 py-2 pa-2 d-flex align-center justify-center"
                    >
                      <div class="body-2 pl-2">
                        Display 1 to {{ itemsPerPage }} of
                        {{ totalItems }} Entries
                      </div>
                      <v-spacer></v-spacer>
                      <div>
                        <v-pagination
                          :total-visible="7"
                          v-model="page"
                          :length="pageCount"
                        ></v-pagination>
                      </div>
                    </v-card-text>
                  </v-card>
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import TextCard from "~/components/card/text_card.vue";
import Subtitle from "~/components/card/subtitle.vue";
import Skillset from "~/components/card/skillset.vue";
import Search from "~/components/input/search.vue";
import Datatable from "~/components/datatable/table.vue";
import TextArea from "../input/text-area.vue";
import TextField from "../input/text-field.vue";
import ComboSelector from "~/components/selector/combo_selector.vue";
import SelectMember from "../selector/multi-selector.vue";
import Company from "../selector/label_selector.vue";
export default {
  computed: {
    display() {
      switch (this.$vuetify.breakpoint.name) {
        case "xs":
          return "none !important";
        case "sm":
          return "none !important";
        case "md":
          return "flex !important";
        case "lg":
          return "flex !important";
        case "xl":
          return "flex !important";
      }
    },
    width() {
      switch (this.$vuetify.breakpoint.name) {
        // case 'lg': return '80%'
        case "xl":
          return "90%";
        default:
          "100%";
      }
    },
  },
  data: () => ({
    selected: "All Members",
    members: ["Updam Visal", "Mao Yuklin", "All Members"],
    skill: [
      {
        title: "UI / UX Designing",
        point: "62.87 %",
        percent: 62.87,
        color: "#64CF96",
      },
      {
        title: "VueJS",
        point: "47.25 %",
        percent: 47.25,
        color: "#64CF96",
      },
      {
        title: "NuxtJS",
        point: "38.24 %",
        percent: 38.24,
        color: "#64CF96",
      },
      {
        title: "Project Management",
        point: "30.00 %",
        percent: 30,
        color: "#64CF96",
      },
      {
        title: "Flask",
        point: "49.60 %",
        percent: 49.6,
        color: "#64CF96",
      },
      {
        title: "Database",
        point: "90.60 %",
        percent: 90.6,
        color: "#64CF96",
      },
      {
        title: "Translation",
        point: "27.02 %",
        percent: 27.02,
        color: "#64CF96",
      },
      {
        title: "UI / UX Designing",
        point: "62.87 %",
        percent: 62.87,
        color: "#64CF96",
      },
      {
        title: "VueJS",
        point: "47.25 %",
        percent: 47.25,
        color: "#64CF96",
      },
      {
        title: "NuxtJS",
        point: "38.24 %",
        percent: 38.24,
        color: "#64CF96",
      },
    ],
    companies: [
      { text: "All Companies" },
      { text: "A2A Digital" },
      { text: "AIM (Tourism Management)" },
      { text: "Canopy" },
      { text: "Casstack" },
      { text: "Chain" },
      { text: "Coin" },
      { text: "Compass" },
      { text: "Dexpertize" },
      { text: "DGK" },
    ],
    dialog: false,
    chairman: [
      "Byota Ishihara",
      "Hicki Okamato",
      "Takashi Izuka",
      "Ryota Ishahara",
      "Kenzaburo Bekku",
      "Sam Visith",
      "Leo Fernandez",
      "Dinesh Kumar",
      "Vignesh",
    ],
    headers: [
      { text: "", value: "id", width: "3%", align: "center" },
      { text: "Participant", value: "name", width: "34%" },
      { text: "Acquired Point", value: "acquired_point", width: "25%" },
      { text: "Semester", value: "semester", width: "25%" },
    ],
    body: [
      {
        id: 1,
        value: false,
        name: "Updam Visal",
        acquired_point: "0",
        semester: "Semester 4",
      },
    ],
  }),
  components: {
    TextCard,
    Subtitle,
    Skillset,
    TextField,
    TextArea,
    ComboSelector,
    SelectMember,
    Company,
    Search,
    Datatable,
  },
};
</script>

<style>
.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat)
  > .v-input__control
  > .v-input__slot {
  box-shadow: none;
  font-size: 12px;
}
.tag-input span.v-chip {
  background-color: #5192d3;
  color: #fff;
  font-size: 1em;
  padding-left: 7px;
}
</style>