<template>
  <div>
    <v-btn
      width="150"
      meduim
      depressed
      color="text-capitalize white--text primary"
      @click="dialog = true"
    >
      Register
    </v-btn>
    <v-dialog v-model="dialog" :max-width="width">
      <v-card tile outlined class="py-3">
        <v-card-title class="px-9 pt-5">
          <div style="font-size: 22px; color: #627080">
            Company Registration
            <div style="font-size: 14px" class="py-0 font-weight-regular">
              Registration Form
            </div>
          </div>
        </v-card-title>
        <v-card-text>
          <v-container fluid>
            <v-row>
              <v-col class="mx-3 py-3" style="max-width: 160px">
                <v-row class="flex-column">
                  <v-col class="px-0 py-2">
                    <ImageUpload
                      :img="require('~/assets/company/companies.png')"
                    />
                  </v-col>
                </v-row>
              </v-col>
              <v-col>
                <v-row>
                  <v-col class="pa-2 px-3 pb-0">
                    <v-text-field
                      dense
                      label="Company Code"
                      clearable
                      outlined
                      solo
                      type="text"
                      class="
                        font-weight-regular
                        subtitle-1
                        align-start
                        justify-center
                        width-calc
                        py-0
                        grey--text
                        text--darken-1
                      "
                      :rules="rules.codeRules"
                      required
                      v-model="editedItem.code"
                      :counter="20"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" lg="5" md="8" class="pa-2 px-3 pb-0">
                    <v-text-field
                      dense
                      label="Company Name"
                      clearable
                      outlined
                      solo
                      type="text"
                      class="
                        font-weight-regular
                        subtitle-1
                        align-start
                        justify-center
                        width-calc
                        py-0
                        grey--text
                        text--darken-1
                      "
                      :rules="rules.nameRules"
                      required
                      v-model="editedItem.name"
                      :counter="50"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" lg="4" class="pa-2 px-3">
                    <!-- <DatePicker width="300px" title="Established Date:" /> -->
                    <v-menu
                      v-model="menu"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      transition="scale-transition"
                      offset-y
                      min-width="auto"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                          v-model="date"
                          outlined
                          clearable
                          dense
                          class="
                            bg-white
                            border
                            py-0
                            rounded
                            subtitle-2
                            font-weight-regular
                          "
                          solo
                          label="Establish Date"
                          v-bind="attrs"
                          v-on="on"
                        ></v-text-field>
                      </template>
                      <v-date-picker
                        v-model="date"
                        @input="menu = false"
                      ></v-date-picker>
                    </v-menu>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col md="4" cols="4" sm="12" class="py-0 px-3 pb-0">
                    <v-textarea
                      solo
                      outlined
                      clearable
                      height="110"
                      :counter="200"
                      name="input-7-4"
                      maxlength="200"
                      class="
                        font-weight-regular
                        subtitle-1
                        align-start
                        justify-center
                        width-calc
                        py-0
                        grey--text
                        text--darken-1
                      "
                      label="Company Definition"
                    ></v-textarea>
                  </v-col>
                  <v-col md="4" cols="4" sm="12" class="py-0 px-3 pb-0">
                    <v-textarea
                      solo
                      outlined
                      clearable
                      height="110"
                      name="input-7-4"
                      maxlength="200"
                      class="
                        font-weight-regular
                        subtitle-1
                        align-start
                        justify-center
                        width-calc
                        py-0
                        grey--text
                        text--darken-1
                      "
                      label="Company Mission"
                      :counter="200"
                    ></v-textarea>
                  </v-col>
                  <v-col md="4" cols="4" sm="12" class="py-0 px-3 pb-0">
                    <v-textarea
                      solo
                      outlined
                      clearable
                      height="110"
                      :counter="200"
                      name="input-7-4"
                      maxlength="200"
                      class="
                        font-weight-regular
                        subtitle-1
                        align-start
                        justify-center
                        width-calc
                        py-0
                        grey--text
                        text--darken-1
                      "
                      label="Company Vision"
                    ></v-textarea>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="py-1 pt-5 px-3">
                <SelectMember />
              </v-col>
              <v-col class="py-1 pt-6" cols="12" md="7">
                <v-row>
                  <v-col lg="6" md="6" cols="12" class="py-2 px-3">
                    <div class="caption">Vice Chairman</div>
                    <v-card
                      height="40px"
                      width="100%"
                      outlined
                      class="d-flex"
                      style="border: 1px solid grey"
                    >
                      <v-card-title class="py-0 pr-0">
                        <v-icon
                          class="pr-3"
                          size="20"
                          style="border-right: 1px solid grey"
                          >mdi-account-tie</v-icon
                        >
                      </v-card-title>
                      <v-card-title class="pa-0 px-0" style="width: 100%">
                        <v-combobox
                          class="
                            subtitle-1
                            align-start
                            justify-center
                            width-calc
                            py-0
                            grey--text
                            text--darken-1
                          "
                          :items="stakeholders"
                          item-text="name"
                          item-value="id"
                          dense
                          solo
                          label="Select Vice Chairman"
                          transition="slide-y-reverse-transition"
                          overflow
                          return-object
                          hide-selected
                          clearable
                          required
                          :rules="[(v) => !!v || 'Vice Chairman is required']"
                        ></v-combobox>
                      </v-card-title>
                    </v-card>
                  </v-col>
                  <v-col lg="6" md="6" cols="12" class="py-1 px-3">
                    <div class="caption">President</div>
                    <v-card
                      height="40px"
                      width="100%"
                      outlined
                      class="d-flex"
                      style="border: 1px solid grey"
                    >
                      <v-card-title class="py-0 pr-0">
                        <v-icon
                          class="pr-3"
                          size="20"
                          style="border-right: 1px solid grey"
                          >mdi-account-star</v-icon
                        >
                      </v-card-title>
                      <v-card-title class="pa-0 px-0" style="width: 100%">
                        <v-combobox
                          class="
                            subtitle-1
                            align-start
                            justify-center
                            width-calc
                            py-0
                            grey--text
                            text--darken-1
                          "
                          :items="users"
                          item-text="username"
                          item-value="id"
                          dense
                          solo
                          label="Select President"
                          transition="slide-y-reverse-transition"
                          overflow
                          return-object
                          hide-selected
                          clearable
                          required
                          :rules="[(v) => !!v || 'President is required']"
                        ></v-combobox>
                      </v-card-title>
                    </v-card>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col lg="6" md="6" cols="12" class="py-2 px-3">
                    <div class="caption">Technical Advisor</div>
                    <v-card
                      height="40px"
                      width="100%"
                      outlined
                      class="d-flex"
                      style="border: 1px solid grey"
                    >
                      <v-card-title class="py-0 pr-0">
                        <v-icon
                          class="pr-3"
                          size="20"
                          style="border-right: 1px solid grey"
                          >mdi-account-cog</v-icon
                        >
                      </v-card-title>
                      <v-card-title class="pa-0 px-0" style="width: 100%">
                        <v-combobox
                          class="
                            subtitle-1
                            align-start
                            justify-center
                            width-calc
                            py-0
                            grey--text
                            text--darken-1
                          "
                          :items="stakeholders"
                          item-text="name"
                          item-value="id"
                          dense
                          solo
                          label="Select Technical Advisor"
                          transition="slide-y-reverse-transition"
                          overflow
                          clearable
                          return-object
                          hide-selected
                          required
                          :rules="[
                            (v) => !!v || 'Technical Advisor is required',
                          ]"
                        ></v-combobox>
                      </v-card-title>
                    </v-card>
                  </v-col>
                  <v-col lg="6" md="6" cols="12" class="py-2 px-3">
                    <div class="caption">Vice President</div>
                    <v-card
                      height="40px"
                      width="100%"
                      outlined
                      class="d-flex"
                      style="border: 1px solid grey"
                    >
                      <v-card-title class="py-0 pr-0">
                        <v-icon
                          class="pr-3"
                          size="20"
                          style="border-right: 1px solid grey"
                          >mdi-account-supervisor</v-icon
                        >
                      </v-card-title>
                      <v-card-title class="pa-0 px-0" style="width: 100%">
                        <v-combobox
                          class="
                            subtitle-1
                            align-start
                            justify-center
                            width-calc
                            py-0
                            grey--text
                            text--darken-1
                          "
                          :items="users"
                          item-text="username"
                          item-value="id"
                          dense
                          solo
                          label="Select Vice President"
                          transition="slide-y-reverse-transition"
                          overflow
                          return-object
                          multiple
                          required
                          clearable
                          hide-selected
                          :rules="rules.vicePresidentRules"
                        ></v-combobox>
                      </v-card-title>
                    </v-card>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col lg="6" md="6" cols="12" class="py-2 px-3">
                    <div class="caption">Email</div>
                    <v-card
                      height="40px"
                      width="100%"
                      outlined
                      class="d-flex"
                      style="border: 1px solid grey"
                    >
                      <v-card-title class="py-0 pr-0">
                        <v-icon
                          class="pr-3"
                          size="20"
                          style="border-right: 1px solid grey"
                          >mdi-email-outline</v-icon
                        >
                      </v-card-title>
                      <v-card-title class="pa-0 px-0" style="width: 100%">
                        <v-text-field
                          type="text"
                          class="
                            subtitle-1
                            align-start
                            justify-center
                            width-calc
                            py-0
                            grey--text
                            text--darken-1
                          "
                          dense
                          clearable
                          solo
                          maxlength="50"
                          label="Email"
                          style="outline: none; width: 100%"
                          v-model="editedItem.email"
                          counter="50"
                        ></v-text-field>
                      </v-card-title>
                    </v-card>
                  </v-col>
                  <v-col lg="6" md="6" cols="12" class="py-2 px-3">
                    <div class="caption">Website</div>
                    <v-card
                      height="40px"
                      width="100%"
                      outlined
                      class="d-flex"
                      style="border: 1px solid grey"
                    >
                      <v-card-title class="py-0 pr-0">
                        <v-icon
                          class="pr-3"
                          size="20"
                          style="border-right: 1px solid grey"
                          >mdi-earth</v-icon
                        >
                      </v-card-title>
                      <v-card-title class="pa-0 px-0" style="width: 100%">
                        <v-text-field
                          type="text"
                          class="
                            subtitle-1
                            align-start
                            justify-center
                            width-calc
                            py-0
                            grey--text
                            text--darken-1
                          "
                          dense
                          clearable
                          solo
                          maxlength="50"
                          label="Website"
                          style="outline: none; width: 100%"
                          v-model="editedItem.website"
                          counter="50"
                        ></v-text-field>
                      </v-card-title>
                    </v-card>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col lg="6" md="6" cols="12" class="py-2 px-3">
                    <div class="caption">Address</div>
                    <v-card
                      height="40px"
                      width="100%"
                      outlined
                      class="d-flex"
                      style="border: 1px solid grey"
                    >
                      <v-card-title class="py-0 pr-0">
                        <v-icon
                          class="pr-3"
                          size="20"
                          style="border-right: 1px solid grey"
                          >mdi-office-building-marker</v-icon
                        >
                      </v-card-title>
                      <v-card-title class="pa-0 px-0" style="width: 100%">
                        <v-text-field
                          type="text"
                          class="
                            subtitle-1
                            align-start
                            justify-center
                            width-calc
                            py-0
                            grey--text
                            text--darken-1
                          "
                          dense
                          clearable
                          solo
                          maxlength="50"
                          label="Address"
                          style="outline: none; width: 100%"
                          v-model="editedItem.address"
                          counter="50"
                        ></v-text-field>
                      </v-card-title>
                    </v-card>
                  </v-col>
                  <v-col lg="6" md="6" cols="12" class="py-2 px-3">
                    <div class="caption">Phone Number</div>
                    <v-card
                      height="40px"
                      width="100%"
                      outlined
                      class="d-flex"
                      style="border: 1px solid grey"
                    >
                      <v-card-title class="py-0 pr-0">
                        <v-icon
                          class="pr-3"
                          size="20"
                          style="border-right: 1px solid grey"
                          >mdi-phone</v-icon
                        >
                      </v-card-title>
                      <v-card-title class="pa-0 px-0" style="width: 100%">
                        <v-text-field
                          type="number"
                          class="
                            subtitle-1
                            align-start
                            justify-center
                            width-calc
                            py-0
                            grey--text
                            text--darken-1
                          "
                          dense
                          clearable
                          solo
                          maxlength="50"
                          label="Phone Number"
                          style="outline: none; width: 100%"
                          v-model="editedItem.phone"
                          counter="50"
                        ></v-text-field>
                      </v-card-title>
                    </v-card>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col lg="6" md="6" cols="12" class="py-2 px-3">
                    <div class="caption">Facebook</div>
                    <v-card
                      height="40px"
                      width="100%"
                      outlined
                      class="d-flex"
                      style="border: 1px solid grey"
                    >
                      <v-card-title class="py-0 pr-0">
                        <v-icon
                          class="pr-3"
                          size="20"
                          style="border-right: 1px solid grey"
                          >mdi-facebook</v-icon
                        >
                      </v-card-title>
                      <v-card-title class="pa-0 px-0" style="width: 100%">
                        <v-text-field
                          type="text"
                          class="
                            subtitle-1
                            align-start
                            justify-center
                            width-calc
                            py-0
                            grey--text
                            text--darken-1
                          "
                          dense
                          clearable
                          solo
                          maxlength="50"
                          label="Facebook"
                          style="outline: none; width: 100%"
                          v-model="editedItem.facebook"
                          counter="50"
                        ></v-text-field>
                      </v-card-title>
                    </v-card>
                  </v-col>
                  <v-col lg="6" md="6" cols="12" class="py-2 px-3">
                    <div class="caption">LinkedIn</div>
                    <v-card
                      height="40px"
                      width="100%"
                      outlined
                      class="d-flex"
                      style="border: 1px solid grey"
                    >
                      <v-card-title class="py-0 pr-0">
                        <v-icon
                          class="pr-3"
                          size="20"
                          style="border-right: 1px solid grey"
                          >mdi-linkedin</v-icon
                        >
                      </v-card-title>
                      <v-card-title class="pa-0 px-0" style="width: 100%">
                        <v-text-field
                          type="text"
                          class="
                            subtitle-1
                            align-start
                            justify-center
                            width-calc
                            py-0
                            grey--text
                            text--darken-1
                          "
                          dense
                          clearable
                          solo
                          maxlength="50"
                          label="Website"
                          style="outline: none; width: 100%"
                          v-model="editedItem.linkedin"
                          counter="50"
                        ></v-text-field>
                      </v-card-title>
                    </v-card>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="mt-5 pt-5">
                <div class="d-flex align-center justify-end">
                  <div class="pr-2">
                    <v-btn
                      width="120"
                      depressed
                      color="text-capitalize white--text primary"
                    >
                      Register
                    </v-btn>
                  </div>
                  <div>
                    <v-btn
                      width="100"
                      depressed
                      color="text-capitalize white--text secondary"
                    >
                      Cancel
                    </v-btn>
                  </div>
                </div>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import DatePicker from "../input/date-picker.vue";
import ImageUpload from "../input/image-upload.vue";
import TextArea from "../input/text-area.vue";
import TextField from "../input/text-field.vue";
import ComboSelector from "~/components/selector/combo_selector.vue";
import SelectMember from "../selector/multi-selector.vue";
export default {
  computed: {
    width() {
      switch (this.$vuetify.breakpoint.name) {
        case "lg":
          return "80%";
        case "xl":
          return "70%";
        default:
          "100%";
      }
    },
    flex() {
      switch (this.$vuetify.breakpoint.name) {
        case "sm":
          return "column";
        default:
          "row";
      }
    },
  },
  data: () => ({
    date: new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
      .toISOString()
      .substr(0, 10),
    menu: false,
    rules: {
      nameRules: [
        (v) => !!v || "Company Name is required",
        (v) =>
          (v && v.length <= 50) || "Company must be less than 50 characters",
      ],
      codeRules: [
        (v) => !!v || "Code is required",
        (v) => (v && v.length <= 20) || "Code must be less than 20 characters",
      ],
      vicePresidentRules: [(v) => v.length > 0 || "Vice President is required"],
    },
    stakeholders: [],
    dialog: false,
    users: [],
    chairman: [
      "Byota Ishihara",
      "Hicki Okamato",
      "Takashi Izuka",
      "Ryota Ishahara",
      "Kenzaburo Bekku",
      "Sam Visith",
      "Leo Fernandez",
      "Dinesh Kumar",
      "Vignesh",
    ],
    editedItem: {
      name: "",
      code: "",
      charge_type: {
        id: "",
      },
    },
    defaultItem: {
      name: "",
      code: "",
      charge_type: {
        id: "",
      },
    },
  }),
  methods: {
    async getStakeholders() {
      let { stakeholders } = await this.$axios.$get(
        "/stakeholder/stakeholders"
      );
      this.stakeholders = stakeholders;
    },
    async getUsers() {
      let { users } = await this.$axios.$get("/users");
      this.users = users;
      console.log("-------", users);
    },
  },
  mounted() {
    this.getStakeholders();
    this.getUsers();
  },
  components: {
    ImageUpload,
    TextField,
    DatePicker,
    TextArea,
    ComboSelector,
    SelectMember,
  },
};
</script>

<style lang="scss" scoped>
</style>