<template>
  <div>
    <v-dialog v-model="dialog" :max-width="width">
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          width="120"
          medium
          depressed
          color="text-capitalize white--text primary"
          v-bind="attrs"
          v-on="on"
        >
          Register
        </v-btn>
      </template>
      <v-card tile outlined>
        <v-card-title class="px-11 pt-8">
          <div style="font-size: 22px; color: #627080">
            Student Enrollment
            <div style="font-size: 14px" class="py-0 font-weight-regular">
              Registration Form
            </div>
          </div>
        </v-card-title>
        <v-card-text>
          <v-container fluid>
            <v-form ref="form" v-model="valid">
              <v-row :class="'d-flex flex-' + flex">
                <v-col class="mx-5 py-3 pt-6" style="max-width: 160px">
                  <v-row class="flex-column">
                    <v-col class="px-0 py-2">
                      <!-- <ImageUpload
                      :img="require('~/assets/profile/profile.png')"
                    /> -->
                      <v-card
                        outlined
                        height="165"
                        width="165"
                        :style="{
                          'background-image': `url(${imageData})`,
                          'background-size': '165px',
                          'background-repeat': 'no-repeat',
                          'background-position': 'center',
                        }"
                        class="align-center justify-center"
                      >
                        <v-card-actions
                          class="py-3 align-center justify-center"
                        >
                          <div v-if="!imageData">
                            <img
                              width="140"
                              height="140"
                              src="~/assets/profile/profile.png"
                              alt=""
                            />
                          </div>
                        </v-card-actions>
                      </v-card>
                    </v-col>
                    <v-col class="px-0 py-1">
                      <v-btn
                        color="primary"
                        class="text-none pa-0"
                        style="text-transform: capitalize"
                        width="100%"
                        depressed
                        @click="chooseImage"
                      >
                        Upload
                      </v-btn>
                      <input
                        ref="fileInput"
                        class="file-input"
                        style="display: none"
                        type="file"
                        accept="image/*"
                        @change="onSelectFile"
                      />
                    </v-col>
                  </v-row>
                </v-col>
                <v-col class="pt-6">
                  <v-row>
                    <v-col cols="12" lg="5" md="6" class="pa-2 px-3 pb-0">
                      <v-text-field
                        dense
                        label="Roll Number"
                        clearable
                        outlined
                        solo
                        type="text"
                        full-width
                        class="
                          font-weight-regular
                          subtitle-1
                          align-start
                          justify-center
                          width-calc
                          py-0
                          grey--text
                          text--darken-1
                        "
                        style="width: 100%"
                        :rules="rules.rollNumberRules"
                        required
                        v-model="editedItem.roll_number"
                        :counter="20"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" lg="7" md="6" class="pa-2 px-5 pb-0 pl-0">
                      <v-card
                        height="40px"
                        width="100%"
                        outlined
                        class="d-flex"
                        style="border: 1px solid grey"
                      >
                        <v-card-title class="py-0 pr-0">
                          <v-icon
                            class="pr-3"
                            size="20"
                            style="border-right: 1px solid grey"
                            >mdi-account-outline</v-icon
                          >
                        </v-card-title>
                        <v-card-title class="pa-0 px-0" style="width: 100%">
                          <v-combobox
                            class="
                              align-center
                              justify-center
                              pa-0
                              subtitle-2
                              font-weight-regular
                            "
                            :items="users"
                            v-model="editedItem.user"
                            item-text="username"
                            item-value="id"
                            dense
                            solo
                            label="Select User"
                            transition="slide-y-reverse-transition"
                            overflow
                            return-object
                            hide-selected
                            clearable
                            required
                            :rules="[(v) => !!v || 'User is required']"
                          ></v-combobox>
                        </v-card-title>
                      </v-card>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col cols="12" class="py-0 px-5 pl-3">
                      <v-text-field
                        dense
                        label="Student Name"
                        clearable
                        outlined
                        solo
                        type="text"
                        full-width
                        class="
                          font-weight-regular
                          subtitle-1
                          align-start
                          justify-center
                          width-calc
                          py-0
                          grey--text
                          text--darken-1
                        "
                        style="width: 100%"
                        :rules="rules.nameRules"
                        required
                        v-model="editedItem.name"
                        :counter="50"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col>
                      <v-row class="flex-row">
                        <v-col class="px-3 py-0" style="max-width: 240px">
                          <v-btn-toggle group v-model="btnToggle">
                            <div class="pr-2">
                              <v-card
                                width="100"
                                height="100"
                                outlined
                                elevation="0"
                              >
                                <v-btn
                                  width="100"
                                  height="100"
                                  :value="1"
                                  text
                                  color="primary"
                                  depressed
                                  @click="buttonGender('M')"
                                >
                                  <v-icon color="grey" size="60"
                                    >mdi-gender-male</v-icon
                                  >
                                </v-btn>
                              </v-card>
                            </div>
                            <div class="pl-2">
                              <v-card
                                width="100"
                                height="100"
                                outlined
                                elevation="0"
                              >
                                <v-btn
                                  width="100"
                                  height="100"
                                  :value="2"
                                  text
                                  depressed
                                  color="#E4187A"
                                  @click="buttonGender('F')"
                                >
                                  <v-icon color="grey" size="60"
                                    >mdi-gender-female</v-icon
                                  >
                                </v-btn>
                              </v-card>
                            </div>
                          </v-btn-toggle>
                        </v-col>
                        <v-col>
                          <v-row>
                            <v-col class="py-0 px-5 pl-3">
                              <v-row class="pt-3 px-3">
                                <v-card
                                  height="40px"
                                  width="100%"
                                  outlined
                                  class="d-flex"
                                  style="border: 1px solid grey"
                                >
                                  <v-card-title class="py-0 pr-0">
                                    <v-icon
                                      class="pr-3"
                                      size="20"
                                      style="border-right: 1px solid grey"
                                      >mdi-book-education-outline</v-icon
                                    >
                                  </v-card-title>
                                  <v-card-title
                                    class="pa-0 px-0"
                                    style="width: 100%"
                                  >
                                    <v-combobox
                                      class="
                                        align-center
                                        justify-center
                                        pa-0
                                        subtitle-2
                                        font-weight-regular
                                      "
                                      :items="batches"
                                      v-model="editedItem.batch"
                                      item-text="name"
                                      item-value="id"
                                      dense
                                      solo
                                      label="Select Batch"
                                      transition="slide-y-reverse-transition"
                                      overflow
                                      return-object
                                      hide-selected
                                      clearable
                                      required
                                      :rules="[
                                        (v) => !!v || 'Batch is required',
                                      ]"
                                    ></v-combobox>
                                  </v-card-title>
                                </v-card>
                              </v-row>
                              <v-row class="pt-4 px-3">
                                <v-card
                                  height="40px"
                                  width="100%"
                                  outlined
                                  class="d-flex"
                                  style="border: 1px solid grey"
                                >
                                  <v-card-title class="py-0 pr-0">
                                    <v-icon
                                      class="pr-3"
                                      size="20"
                                      style="border-right: 1px solid grey"
                                      >mdi-star-outline</v-icon
                                    >
                                  </v-card-title>
                                  <v-card-title
                                    class="pa-0 px-0"
                                    style="width: 100%"
                                  >
                                    <v-combobox
                                      class="
                                        align-center
                                        justify-center
                                        pa-0
                                        subtitle-2
                                        font-weight-regular
                                      "
                                      :items="ranks"
                                      item-text="name"
                                      item-value="id"
                                      dense
                                      solo
                                      label="Select Rank"
                                      transition="slide-y-reverse-transition"
                                      overflow
                                      return-object
                                      clearable
                                      hide-selected
                                      required
                                      :rules="[
                                        (v) => !!v || 'Rank is required',
                                      ]"
                                    ></v-combobox>
                                  </v-card-title>
                                </v-card>
                              </v-row>
                            </v-col>
                          </v-row>
                        </v-col>
                      </v-row>
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>
              <v-row>
                <v-col lg="6" md="6" sm="12" class="py-2 px-5 pt-4 pr-7">
                  <v-card
                    height="40px"
                    width="100%"
                    outlined
                    class="d-flex"
                    style="border: 1px solid grey"
                  >
                    <v-card-title class="py-0 pr-0">
                      <v-icon
                        class="pr-3"
                        size="20"
                        style="border-right: 1px solid grey"
                        >mdi-domain</v-icon
                      >
                    </v-card-title>
                    <v-card-title class="pa-0 px-0" style="width: 100%">
                      <v-combobox
                        class="
                          align-center
                          justify-center
                          pa-0
                          subtitle-2
                          font-weight-regular
                        "
                        :items="departments"
                        v-model="editedItem.department"
                        item-text="name"
                        item-value="id"
                        dense
                        solo
                        label="Select Department"
                        transition="slide-y-reverse-transition"
                        overflow
                        return-object
                        clearable
                        hide-selected
                        required
                        :rules="[(v) => !!v || 'Department is required']"
                      ></v-combobox>
                    </v-card-title>
                  </v-card>
                </v-col>
                <v-col lg="6" md="6" sm="12" class="py-2 px-5 pt-4 pl-0">
                  <v-card
                    height="40px"
                    width="100%"
                    outlined
                    class="d-flex"
                    style="border: 1px solid grey"
                  >
                    <v-card-title class="py-0 pr-0">
                      <v-icon
                        class="pr-3"
                        size="20"
                        style="border-right: 1px solid grey"
                        >mdi-alphabetical</v-icon
                      >
                    </v-card-title>
                    <v-card-title class="pa-0 px-0" style="width: 100%">
                      <v-combobox
                        class="
                          align-center
                          justify-center
                          pa-0
                          subtitle-2
                          font-weight-regular
                        "
                        :items="sections"
                        v-model="editedItem.section"
                        item-text="name"
                        item-value="id"
                        dense
                        solo
                        label="Select Section"
                        transition="slide-y-reverse-transition"
                        overflow
                        return-object
                        clearable
                        hide-selected
                        required
                        :rules="[(v) => !!v || 'Section is required']"
                      ></v-combobox>
                    </v-card-title>
                  </v-card>
                </v-col>
              </v-row>

              <v-row>
                <v-col> </v-col>
              </v-row>
              <v-row class="pt-3">
                <v-col class="">
                  <div class="d-flex align-center justify-end">
                    <div>
                      <v-btn
                        width="120"
                        depressed
                        color="text-capitalize white--text primary"
                        @click="dialog = false"
                        :disabled="!valid"
                      >
                        Register
                      </v-btn>
                    </div>
                    <div class="px-2">
                      <v-btn
                        width="120"
                        depressed
                        color="text-capitalize white--text red lighten-2"
                        @click="dialog = false"
                      >
                        Cancel
                      </v-btn>
                    </div>
                  </div>
                </v-col>
              </v-row>
            </v-form>
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import DatePicker from "../input/date-picker.vue";
import ImageUpload from "../input/image-upload.vue";
import TextArea from "../input/text-area.vue";
import TextField from "../input/text-field.vue";
import ComboSelector from "~/components/selector/combo_selector.vue";
import InputIcon from "../input/input-icon.vue";
import User from "../selector/label_selector.vue";
export default {
  computed: {
    width() {
      switch (this.$vuetify.breakpoint.name) {
        case "lg":
          return "60%";
        case "xl":
          return "50%";
        default:
          "100%";
      }
    },
    flex() {
      switch (this.$vuetify.breakpoint.name) {
        case "sm":
          return "column";
        default:
          "row";
      }
    },
  },
  data: () => ({
    imgWidth: 300,
    valid: true,
    rules: {
      nameRules: [
        (v) => !!v || "Name is required",
        (v) => (v && v.length <= 50) || "Name must be less than 50 characters",
      ],
      rollNumberRules: [
        (v) => !!v || "Roll number is required",
        (v) =>
          (v && v.length <= 20) ||
          "Roll number must be less than 20 characters",
      ],
    },
    snackbarAdd: false,
    btnToggle: [1, 2],
    users: [],
    ranks: [],
    batches: [],
    departments: [],
    sections: [],
    dialog: false,
    chairman: [],
    imageData: null,
    editedItem: {
      name: "",
      roll_number: "",
      gender: "",
      user: "",
      batch: "",
      rank: "",
      department: "",
      section: "",
    },
  }),
  mounted() {
    this.getUsers();
    this.getBatches();
    this.getRanks();
    this.getDepartments();
  },
  methods: {
    async getUsers() {
      let users = await this.$axios.$get("/select_option/all_users_list");
      this.users = users;
    },

    async getRanks() {
      let ranks = await this.$axios.$get("/select_option/all_ranks_list");
      this.ranks = ranks;
    },

    async getBatches() {
      let { batches } = await this.$axios.$get("/batches");
      this.batches = batches;
    },

    async getDepartments() {
      let departments = await this.$axios.$get(
        "/select_option/all_departments_list"
      );
      this.departments = departments;
    },

    async getSections() {
      let sections = await this.$axios.$get("/select_option/all_sections_list");
      this.sections = sections;
    },

    chooseImage() {
      this.$refs.fileInput.click();
    },

    onSelectFile() {
      const input = this.$refs.fileInput;
      const files = input.files;
      if (files && files[0]) {
        const reader = new FileReader();
        reader.onload = (e) => {
          this.imageData = e.target.result;
        };
        reader.readAsDataURL(files[0]);
        this.$emit("input", files[0]);
      }
      console.log("====", files[0]);
    },

    buttonGender(value) {
      this.editedItem.gender = value;
      console.log("Clicked", value);
      console.log("===", this.editedItem.gender);
    },

    async save() {
      this.$refs.form.validate();
      await this.$axios({
        method: "post",
        url: "/student/create",
        data: {
          name: this.editedItem.name,
          gender: this.editedItem.gender,
          roll_number: this.editedItem.roll_number,
          user: this.editedItem.user.id,
          batch: this.editedItem.batch.id,
          department: this.editedItem.department.id,
          rank: this.editedItem.rank.id,
          section: this.editedItem.section.id,
        },
      }).then((res) => {
        this.snackbarAdd = true;
      });
      this.dialog = false;
    },
  },

  components: {
    ImageUpload,
    TextField,
    DatePicker,
    TextArea,
    ComboSelector,
    InputIcon,
    User,
  },
};
</script>

<style>
button.v-icon.notranslate.v-icon--link.mdi.mdi-close.theme--light {
  font-size: 15px !important;
}
</style>