<template>
  <div>
    <v-dialog v-model="dialog" :max-width="width">
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          width="150"
          medium
          depressed
          color="text-capitalize white--text primary"
          v-bind="attrs"
          v-on="on"
        >
          Edit Profile
        </v-btn>
      </template>
      <v-card tile outlined class="py-3">
        <v-card-title class="px-11">
          <div style="font-size: 22px; color: #627080">
            {{ user.username }}
            <div style="font-size: 14px" class="py-0 font-weight-regular">
              Profile Information
            </div>
          </div>
        </v-card-title>
        <v-card-text>
          <v-container fluid>
            <v-row>
              <v-col class="mx-5 py-3" style="max-width: 160px">
                <v-row class="flex-column">
                  <v-col class="px-0 py-2">
                    <image-upload
                      :img="require(`~/assets/profile/${user.profile_pic}`)"
                    />
                  </v-col>
                  <v-col class="px-0 py-1">
                    <v-btn
                      style="text-transform: capitalize"
                      class="pa-0"
                      color="primary"
                      depressed
                      width="100%"
                      >Upload</v-btn
                    >
                  </v-col>
                </v-row>
              </v-col>
              <v-col>
                <v-row>
                  <v-col class="pa-2 px-5">
                    <v-card
                      height="40px"
                      width="100%"
                      outlined
                      class="d-flex"
                      style="border: 1px solid grey"
                    >
                      <v-card-title class="py-0 pr-0">
                        <v-icon
                          class="pr-3"
                          size="20"
                          style="border-right: 1px solid grey"
                          >mdi-account</v-icon
                        >
                      </v-card-title>
                      <v-card-title class="pa-0 px-0" style="width: 100%">
                        <v-text-field
                          type="text"
                          class="
                            subtitle-1
                            align-start
                            justify-center
                            width-calc
                            py-0
                            grey--text
                            text--darken-1
                          "
                          dense
                          clearable
                          solo
                          :rules="rules.nameRules"
                          required
                          label="Username"
                          style="outline: none; width: 100%"
                          v-model="user.username"
                          :counter="50"
                        ></v-text-field>
                      </v-card-title>
                    </v-card>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col
                    :style="'display:' + display"
                    class="pa-2 px-5 py-4 pr-2 pb-0"
                    md="4"
                  >
                    <v-card outlined tile height="100">
                      <v-card-actions class="align-center justify-center">
                        <img
                          width="90"
                          height="90"
                          src="~/assets/atcoder.png"
                        />
                      </v-card-actions>
                    </v-card>
                  </v-col>
                  <v-col class="py-4 px-5 pb-0" md="5" cols="12">
                    <div class="d-flex flex-row align-center justify-end">
                      <div
                        class="body-2 grey--text text--darken-3 pb-5"
                        style="width: 215px"
                      >
                        Borey<span class="px-1">:</span>
                      </div>
                      <v-card-actions
                        align="center"
                        justify="center"
                        class="body-2 pa-0 pr-0"
                        style="width: 100%"
                      >
                        <v-combobox
                          class="
                            subtitle-1
                            align-start
                            justify-center
                            width-calc
                            py-0
                            grey--text
                            text--darken-1
                          "
                          :items="borey"
                          label="Select Borey"
                          style="width: 100%"
                          item-text="name"
                          item-value="value"
                          dense
                          solo
                          elevation="0"
                          return-object
                          outlined
                          transition="slide-y-reverse-transition"
                          hide-selected
                          clearable
                          required
                          :rules="[(v) => !!v || 'Borey is required']"
                        ></v-combobox>
                      </v-card-actions>
                    </div>

                    <div class="d-flex flex-row align-center justify-end">
                      <div
                        class="body-2 grey--text text--darken-3 pb-5"
                        style="width: 215px"
                      >
                        Start Date<span class="px-1">:</span>
                      </div>
                      <v-card-actions
                        align="center"
                        justify="center"
                        class="body-2 pa-0 pr-0"
                        style="width: 100%"
                      >
                        <v-menu
                          v-model="menu"
                          :close-on-content-click="false"
                          :nudge-right="40"
                          transition="scale-transition"
                          offset-y
                          min-width="auto"
                        >
                          <template v-slot:activator="{ on, attrs }">
                            <v-text-field
                              v-model="editedItem.test_date"
                              outlined
                              clearable
                              dense
                              class="
                                bg-white
                                border
                                py-0
                                rounded
                                subtitle-2
                                font-weight-regular
                              "
                              solo
                              label="Select Test Date"
                              v-bind="attrs"
                              v-on="on"
                            ></v-text-field>
                          </template>
                          <v-date-picker
                            v-model="editedItem.test_date"
                            @input="menu = false"
                          ></v-date-picker>
                        </v-menu>
                      </v-card-actions>
                    </div>
                  </v-col>
                  <v-col class="py-4 px-5 pl-2 pb-0" md="3" cols="12">
                    <v-text-field
                      dense
                      label="Roll Number"
                      clearable
                      outlined
                      solo
                      type="text"
                      full-width
                      class="
                        font-weight-regular
                        subtitle-1
                        align-start
                        justify-center
                        width-calc
                        py-0
                        grey--text
                        text--darken-1
                      "
                      style="width: 100%"
                      :rules="rules.roomRules"
                      required
                      v-model="user.room"
                      :counter="10"
                    ></v-text-field>
                    <v-text-field
                      dense
                      label="Score"
                      clearable
                      outlined
                      solo
                      type="text"
                      full-width
                      class="
                        font-weight-regular
                        subtitle-1
                        align-start
                        justify-center
                        width-calc
                        py-0
                        grey--text
                        text--darken-1
                      "
                      style="width: 100%"
                      :rules="rules.scoreRules"
                      required
                      v-model="user.score"
                      :counter="10"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row class="d-flex justify-space-between">
                  <v-col md="4" cols="12" class="py-2 px-5 pr-2">
                    <v-card
                      height="40px"
                      width="100%"
                      outlined
                      class="d-flex"
                      style="border: 1px solid grey"
                    >
                      <v-card-title class="py-0 pr-0">
                        <v-icon
                          class="pr-3"
                          size="20"
                          style="border-right: 1px solid grey"
                          >mdi-phone</v-icon
                        >
                      </v-card-title>
                      <v-card-title class="pa-0 px-0" style="width: 100%">
                        <v-text-field
                          class="
                            subtitle-1
                            align-start
                            justify-center
                            width-calc
                            py-0
                            grey--text
                            text--darken-1
                          "
                          dense
                          clearable
                          solo
                          :rules="rules.phoneRules"
                          required
                          label="Phone Number"
                          style="outline: none; width: 100%"
                          v-model="user.phone"
                          :counter="10"
                        ></v-text-field>
                      </v-card-title>
                    </v-card>
                  </v-col>
                  <v-col md="4" cols="12" class="py-2 pr-2">
                    <v-card
                      height="40px"
                      width="100%"
                      outlined
                      class="d-flex"
                      style="border: 1px solid grey"
                    >
                      <v-card-title class="py-0 pr-0">
                        <v-icon
                          class="pr-3"
                          size="20"
                          style="border-right: 1px solid grey"
                          >mdi-github</v-icon
                        >
                      </v-card-title>
                      <v-card-title class="pa-0 px-0" style="width: 100%">
                        <v-text-field
                          class="
                            subtitle-1
                            align-start
                            justify-center
                            width-calc
                            py-0
                            grey--text
                            text--darken-1
                          "
                          dense
                          clearable
                          solo
                          :rules="rules.githubRules"
                          required
                          label="Github"
                          style="outline: none; width: 100%"
                          v-model="user.github"
                          :counter="30"
                        ></v-text-field>
                      </v-card-title>
                    </v-card>
                  </v-col>
                  <v-col
                    md="4"
                    cols="12"
                    class="py-2 px-5 pl-2"
                    v-if="$store.state.user.role == 'ADMIN'"
                  >
                    <v-card
                      height="40px"
                      width="100%"
                      outlined
                      class="d-flex"
                      style="border: 1px solid grey"
                    >
                      <v-card-title class="py-0 pr-0">
                        <v-icon
                          class="pr-3"
                          size="20"
                          style="border-right: 1px solid grey"
                          >mdi-account-key</v-icon
                        >
                      </v-card-title>
                      <v-card-title class="pa-0 px-0" style="width: 100%">
                        <v-combobox
                          class="
                            align-center
                            justify-center
                            pa-0
                            subtitle-2
                            font-weight-regular
                          "
                          :items="allRoles"
                          v-model="selectedRole"
                          v-on:change="onSelectRole"
                          item-text="name"
                          item-value="id"
                          dense
                          solo
                          label="Select Role"
                          transition="slide-y-reverse-transition"
                          overflow
                          return-object
                          hide-details="true"
                        ></v-combobox>
                      </v-card-title>
                    </v-card>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
            <v-row class="pt-7">
              <v-col class="pa-0 px-5">
                <div class="d-flex align-center justify-end">
                  <div class="pr-2">
                    <v-btn
                      width="150"
                      depressed
                      color="text-capitalize white--text primary"
                      @click="dialog = false"
                    >
                      Confirm
                    </v-btn>
                  </div>
                  <div>
                    <v-btn
                      width="120"
                      depressed
                      color="text-capitalize white--text red lighten-2"
                      @click="dialog = false"
                    >
                      Cancel
                    </v-btn>
                  </div>
                </div>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import DatePicker from "../input/date-picker.vue";
import imageUpload from "../input/image-upload.vue";
import TextArea from "../input/text-area.vue";
import TextField from "../input/text-field.vue";
import ComboSelector from "~/components/selector/combo_selector.vue";
import InputIcon from "../input/input-icon.vue";
import Borey from "../selector/label_selector.vue";
export default {
  data: () => ({
    menu: false,
    valid: true,
    rules: {
      nameRules: [
        (v) => !!v || "Username is required",
        (v) =>
          (v && v.length <= 50) || "Username must be less than 50 characters",
      ],
      roomRules: [
        (v) => !!v || "Room is required",
        (v) => (v && v.length <= 10) || "Room must be less than 10 characters",
      ],
      scoreRules: [
        (v) => !!v || "Score is required",
        (v) => (v && v.match(/[0-9]/g)) || "Score must be number",
        (v) => (v && v.length <= 10) || "Score must be less than 10 digits",
      ],
      phoneRules: [
        (v) => !!v || "Phone is required",
        (v) => (v && v.match(/[0-9]/g)) || "Phone must be number",
        (v) => (v && v.length <= 8) || "Phone must be less than 8 digits",
      ],
      githubRules: [
        (v) => !!v || "Github is required",
        (v) => (v && v.match(/[0-9]/g)) || "Github must be number",
        (v) => (v && v.length <= 30) || "Github must be less than 30 digits",
      ],
    },
    editedItem: {
      name: "",
      test_date: "",
    },
    dialog: false,
    selectedRole: null,
  }),
  props: {
    borey: {
      type: Array,
    },
    user: {
      type: Object,
    },
    defaultSelect: {
      type: String,
    },
  },
  computed: {
    width() {
      switch (this.$vuetify.breakpoint.name) {
        case "lg":
          return "70%";
        case "xl":
          return "55%";
        default:
          "100%";
      }
    },
    display() {
      switch (this.$vuetify.breakpoint.name) {
        case "xs":
          return "none !important";
        case "sm":
          return "none !important";
        case "md":
          return "block !important";
        case "lg":
          return "block !important";
        case "xl":
          return "block !important";
      }
    },
  },
  mounted() {
    this.getRoles();
    this.onSelectRole();
  },
  methods: {
    onSelectRole() {
      console.log("++++", this.selectedRole);
    },
    async getRoles() {
      let allRoles = await this.$axios.$get("/select_option/all_roles_list");
      this.allRoles = allRoles;
    },
  },

  components: {
    imageUpload,
    TextField,
    DatePicker,
    TextArea,
    ComboSelector,
    InputIcon,
    Borey,
  },
};
</script>

<style>
button.v-icon.notranslate.v-icon--link.mdi.mdi-close.theme--light {
  font-size: 15px !important;
}
.v-text-field.v-text-field--enclosed .v-text-field__details {
  margin-bottom: 0px;
}
</style>