<template>
  <div>
    <v-dialog v-model="dialogPassword" :max-width="width">
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          width="170"
          meduim
          depressed
          color="text-capitalize white--text secondary"
          v-bind="attrs"
          v-on="on"
        >
          Change Password
        </v-btn>
      </template>
      <v-card tile outlined class="py-3">
        <v-card-title class="px-11">
          <div style="font-size: 22px; color: #627080">
            Change Password
            <div style="font-size: 14px" class="py-0 font-weight-regular">
              Change Password Form
            </div>
          </div>
        </v-card-title>
        <v-card-text>
          <v-container fluid>
            <v-row class="px-2">
              <v-col>
                <div class="caption">Password</div>
                <v-card
                  height="40px"
                  width="100%"
                  outlined
                  class="d-flex"
                  style="border: 1px solid grey"
                >
                  <v-card-title class="py-0 pr-0">
                    <v-icon
                      class="pr-3"
                      size="20"
                      style="border-right: 1px solid grey"
                      >mdi-lock-outline</v-icon
                    >
                  </v-card-title>
                  <v-card-title class="pa-0 px-0" style="width: 100%">
                    <v-text-field
                      class="
                        subtitle-1
                        align-start
                        justify-center
                        width-calc
                        py-0
                        grey--text
                        text--darken-1
                      "
                      dense
                      clearable
                      solo
                      @click:append="showPassword = !showPassword"
                      :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                      :type="showPassword ? 'text' : 'password'"
                      :rules="rules.passwordRules"
                      required
                      label="Password"
                      style="outline: none; width: 100%"
                      v-model="editedItem.password"
                      counter
                    ></v-text-field>
                  </v-card-title>
                </v-card>
              </v-col>
            </v-row>
            <v-row class="px-2">
              <v-col>
                <div class="caption">Confirm Password</div>
                <v-card
                  height="40px"
                  width="100%"
                  outlined
                  class="d-flex"
                  style="border: 1px solid grey"
                >
                  <v-card-title class="py-0 pr-0">
                    <v-icon
                      class="pr-3"
                      size="20"
                      style="border-right: 1px solid grey"
                      >mdi-lock-outline</v-icon
                    >
                  </v-card-title>
                  <v-card-title class="pa-0 px-0" style="width: 100%">
                    <v-text-field
                      class="
                        subtitle-1
                        align-start
                        justify-center
                        width-calc
                        py-0
                        grey--text
                        text--darken-1
                      "
                      dense
                      clearable
                      solo
                      @click:append="showConfirmPassword = !showConfirmPassword"
                      :append-icon="
                        showConfirmPassword ? 'mdi-eye' : 'mdi-eye-off'
                      "
                      :type="showConfirmPassword ? 'text' : 'password'"
                      :rules="[required, min8, matchingPassword]"
                      required
                      label="Confirm Password"
                      style="outline: none; width: 100%"
                      v-model="editedItem.confirmPassword"
                      counter
                    ></v-text-field>
                  </v-card-title>
                </v-card>
              </v-col>
            </v-row>
            <v-row class="pt-7">
              <v-col class="pa-0 px-5">
                <div class="d-flex align-center justify-end">
                  <div class="pr-2">
                    <v-btn
                      width="100"
                      depressed
                      color="text-capitalize white--text primary"
                      @click="dialogPassword = false"
                      :disabled="!valid"
                    >
                      Save
                    </v-btn>
                  </div>
                  <div>
                    <v-btn
                      width="100"
                      depressed
                      color="text-capitalize white--text red lighten-2"
                      @click="dialogPassword = false"
                    >
                      Cancel
                    </v-btn>
                  </div>
                </div>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import TextField from "../input/text-field.vue";
export default {
  data: () => ({
    showPassword: true,
    showConfirmPassword: true,
    password: "",
    valid: true,
    rules: {
      passwordRules: [
        (v) => !!v || "Password is required",
        (v) =>
          (v && v.length >= 8) || "Use 8 characters or more for your password",
      ],
      confirmPasswordRules: [
        (v) => !!v || "Confirm Password is required",
        (v) =>
          (v && v.length >= 8) ||
          "Confirm Password must be 8 characters or greater",
        (v) => v === this.pw1 || "Passwords do not match",
      ],
    },
    borey: ["Borey R (Jasmin)", "Borey V", "Borey M"],
    dialogPassword: false,
    editedItem: {
      password: "",
      confirmPassword: "",
    },
    defaultItem: {
      password: "",
      confirmPassword: "",
    },
  }),
  computed: {
    width() {
      switch (this.$vuetify.breakpoint.name) {
        case "lg":
          return "40%";
        case "xl":
          return "40%";
        case "md":
          return "50%";
        case "sm":
          return "70%";
        default:
          "50%";
      }
    },
  },

  methods: {
    //Validation on confirm Password
    required(value) {
      if (value) {
        return true;
      } else {
        return "Confirm Password is required.";
      }
    },
    min8(value) {
      if (value && value.length >= 8) {
        return true;
      } else {
        return "Confirm Password must be 8 characters or greater";
      }
    },
    matchingPassword() {
      if (this.editedItem.password === this.editedItem.confirmPassword) {
        return true;
      } else {
        return "Passwords does not match.";
      }
    },
  },
  components: {
    TextField,
  },
};
</script>

<style lang="scss" scoped>
</style>