<template>
  <div>
    <v-dialog v-model="dialog" :max-width="width">
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          width="120"
          medium
          depressed
          color="text-capitalize white--text primary"
          v-bind="attrs"
          v-on="on"
        >
          Create
        </v-btn>
      </template>
      <v-card tile outlined>
        <v-card-title class="px-12 pt-10">
          <div style="font-size: 22px; color: #627080">
            Create New Project
            <div style="font-size: 14px" class="py-0 font-weight-regular">
              Register Project Form
            </div>
          </div>
          <v-spacer></v-spacer>
          <div>
            <v-btn
              width="160"
              outlined
              text
              class="grey--text text--darken-2 text-capitalize"
              @click="clicked = !clicked"
            >
              <span
                ><v-icon>{{
                  clicked ? "mdi-check" : "mdi-folder-zip-outline"
                }}</v-icon></span
              >
              <span>{{ clicked ? "Old Project" : "Old Project?" }}</span>
            </v-btn>
          </div>
        </v-card-title>
        <v-card-text class="pt-6 px-9">
          <v-container fluid>
            <v-form ref="form" v-model="valid">
              <v-row>
                <v-col cols="12" md="3" class="py-1 px-3">
                  <v-combobox
                    prepend-inner-icon="mdi-office-building"
                    class="
                      subtitle-1
                      align-start
                      justify-center
                      width-calc
                      py-0
                      grey--text
                      text--darken-1
                    "
                    outlined
                    dense
                    solo
                    item-text="name"
                    item-value="id"
                    return-object
                    :items="companies"
                    v-model="editedItem.company"
                    transition="slide-y-reverse-transition"
                    overflow
                    label="Select Company"
                    hide-selected
                    clearable
                    required
                    :rules="[(v) => !!v || 'Company is required']"
                  >
                  </v-combobox>
                </v-col>
                <v-col cols="12" md="3" class="py-1 px-3">
                  <v-combobox
                    prepend-inner-icon="mdi-office-building-outline"
                    class="
                      subtitle-1
                      align-start
                      justify-center
                      width-calc
                      py-0
                      grey--text
                      text--darken-1
                    "
                    outlined
                    dense
                    solo
                    item-text="name"
                    item-value="id"
                    return-object
                    :items="client_companies"
                    v-model="editedItem.client_company"
                    transition="slide-y-reverse-transition"
                    overflow
                    label="Select Client Company"
                    hide-selected
                    clearable
                    required
                    :rules="[(v) => !!v || 'Client Company is required']"
                  >
                  </v-combobox>
                </v-col>
                <v-col cols="12" md="4" class="py-1 px-3">
                  <v-text-field
                    outlined
                    class="
                      font-weight-regular
                      subtitle-1
                      align-start
                      justify-center
                      width-calc
                      py-0
                      grey--text
                      text--darken-1
                    "
                    dense
                    solo
                    label="Project Name"
                    v-model="editedItem.name"
                    :counter="150"
                    required
                    clearable
                    :rules="rules.nameRules"
                  >
                  </v-text-field>
                </v-col>
                <v-col cols="12" md="2" class="py-1 px-3">
                  <v-text-field
                    outlined
                    class="
                      font-weight-regular
                      subtitle-1
                      align-start
                      justify-center
                      width-calc
                      py-0
                      grey--text
                      text--darken-1
                    "
                    dense
                    solo
                    label="Project Code"
                    v-model="editedItem.code"
                    :rules="rules.codeRules"
                    required
                    clearable
                    :counter="20"
                  >
                  </v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col class="py-0">
                  <div class="d-flex flex-row align-center justify-end">
                    <div
                      class="body-2 grey--text text--darken-3 pb-5"
                      style="width: 215px"
                    >
                      Advisers<span class="px-1">:</span>
                    </div>
                    <v-card-actions
                      align="center"
                      justify="center"
                      class="body-2 pa-0 pr-0"
                      style="width: 100%"
                    >
                      <v-combobox
                        class="
                          subtitle-1
                          align-start
                          justify-center
                          width-calc
                          py-0
                          grey--text
                          text--darken-1
                        "
                        :items="stakeholders"
                        v-model="selectedAdviser"
                        v-on:change="onSelectAdviser"
                        label="Select Advisers"
                        style="width: 100%"
                        item-text="name"
                        item-value="id"
                        dense
                        solo
                        elevation="0"
                        return-object
                        outlined
                        multiple
                        transition="slide-y-reverse-transition"
                        hide-selected
                        clearable
                        required
                        :rules="rules.adviserRules"
                      ></v-combobox>
                    </v-card-actions>
                  </div>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12" md="5">
                  <v-row>
                    <v-col class="py-1 px-3">
                      <div class="d-flex flex-row align-center justify-end">
                        <div
                          class="body-2 grey--text text--darken-3 pb-5"
                          style="width: 215px"
                        >
                          Coordinator<span class="px-1">:</span>
                        </div>
                        <v-card-actions
                          align="center"
                          justify="center"
                          class="body-2 pl-5 pa-0 pr-0"
                          style="width: 100%"
                        >
                          <v-combobox
                            class="
                              subtitle-1
                              align-start
                              justify-center
                              width-calc
                              py-0
                              grey--text
                              text--darken-1
                            "
                            :items="stakeholders"
                            v-model="editedItem.coordinator"
                            label="Select Coordinator"
                            style="width: 100%"
                            item-text="name"
                            item-value="id"
                            dense
                            solo
                            elevation="0"
                            outlined
                            return-object
                            transition="slide-y-reverse-transition"
                            hide-selected
                            clearable
                            required
                            :rules="[(v) => !!v || 'Coordinator is required']"
                          ></v-combobox>
                        </v-card-actions>
                      </div>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col class="py-1 px-3">
                      <div class="d-flex flex-row align-center justify-end">
                        <div
                          class="body-2 grey--text text--darken-3 pb-5"
                          style="width: 215px"
                        >
                          Project Leader<span class="px-1">:</span>
                        </div>
                        <v-card-actions
                          align="center"
                          justify="center"
                          class="body-2 pl-5 pa-0 pr-0"
                          style="width: 100%"
                        >
                          <v-combobox
                            class="
                              subtitle-1
                              align-start
                              justify-center
                              width-calc
                              py-0
                              grey--text
                              text--darken-1
                            "
                            :items="students"
                            v-model="editedItem.leader"
                            label="Select Project Leader"
                            style="width: 100%"
                            item-text="name"
                            item-value="id"
                            dense
                            solo
                            elevation="0"
                            return-object
                            outlined
                            transition="slide-y-reverse-transition"
                            hide-selected
                            clearable
                            required
                            :rules="[
                              (v) => !!v || 'Project Leader is required',
                            ]"
                          ></v-combobox>
                        </v-card-actions>
                      </div>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col class="py-1 pt-5 px-3">
                      <!-- <SelectMember /> -->
                      <div class="align-center">
                        <v-row>
                          <v-col class="">
                            <v-card
                              class="member_scroll"
                              outlined
                              width="100%"
                              height="300"
                              elevation="0"
                              style="border-top: 3px solid #5a90bf"
                            >
                              <v-card-actions class="px-0 py-1">
                                <v-list-item-group
                                  id="addmembers"
                                  style="opacity: 0.6; width: 100%"
                                  :item-height="200"
                                  three-line
                                  class="scroll_item"
                                >
                                  <template>
                                    <v-list-item
                                      style="width: 100% !important"
                                      v-for="item in selectedStudent"
                                      :key="item.index"
                                      :value="item.id"
                                    >
                                      <v-list-item-avatar
                                        class="mr-5"
                                        size="70"
                                      >
                                        <v-img
                                          :src="
                                            require(`~/assets/profile/${item.user.profile_pic}`)
                                          "
                                        ></v-img>
                                      </v-list-item-avatar>
                                      <v-list-item-content>
                                        <v-list-item-title>
                                          {{ item.name }}
                                        </v-list-item-title>
                                        <v-list-item-subtitle
                                          class="subtitle-2"
                                        >
                                          <div class="font-weight-regular">
                                            {{ item.batch.name }}
                                          </div>
                                          <!-- <div class="black--text dark"> {{ item.company_members[0].company.name }}</div> -->
                                          <!-- <div class="black--text dark">{{ item.role }}</div> -->
                                        </v-list-item-subtitle>
                                      </v-list-item-content>
                                      <v-list-item-action class="pr-3">
                                        <v-btn icon @click="removeItem(item)">
                                          <v-icon>mdi-close</v-icon>
                                        </v-btn>
                                      </v-list-item-action>
                                    </v-list-item>
                                  </template>
                                </v-list-item-group>
                              </v-card-actions>
                            </v-card>
                          </v-col>
                        </v-row>
                        <v-row class="my-0">
                          <v-col class="d-flex justify-space-between">
                            <v-card
                              height="42px"
                              width="100%"
                              outlined
                              class="d-flex mr-3"
                            >
                              <v-card tile outlined width="30%" height="40px">
                                <v-card-actions
                                  class="py-2 align-center justify-center"
                                  >Member
                                </v-card-actions>
                              </v-card>
                              <v-card-title class="pa-0" style="width: 100%">
                                <v-combobox
                                  multiple
                                  dense
                                  style="width: 100%"
                                  :items="studentsWithInfo"
                                  v-model="selectedStudent"
                                  v-on:change="onSelectStudent"
                                  append-icon
                                  chips
                                  deletable-chips
                                  solo
                                  color="primary"
                                  item-text="name"
                                  item-value="id"
                                  return-object
                                  class="tag-input"
                                >
                                </v-combobox>
                              </v-card-title>
                            </v-card>
                            <v-btn
                              width="Auto"
                              depressed
                              height="42px"
                              color="text-capitalize white--text primary"
                              @click="addMember()"
                            >
                              Add
                            </v-btn>
                          </v-col>
                        </v-row>
                      </div>
                    </v-col>
                  </v-row>
                </v-col>
                <v-col cols="12" md="4">
                  <v-row>
                    <v-col class="py-1 px-3">
                      <div class="d-flex flex-row align-center justify-end">
                        <div
                          class="body-2 grey--text text--darken-3 pb-5"
                          style="width: 215px"
                        >
                          Category<span class="px-1">:</span>
                        </div>
                        <v-card-actions
                          align="center"
                          justify="center"
                          class="body-2 pl-5 pa-0 pr-0"
                          style="width: 100%"
                        >
                          <v-combobox
                            class="
                              subtitle-1
                              align-start
                              justify-center
                              width-calc
                              py-0
                              grey--text
                              text--darken-1
                            "
                            :items="categories"
                            v-model="editedItem.category"
                            label="Select Category"
                            style="width: 100%"
                            item-text="name"
                            item-value="id"
                            dense
                            solo
                            elevation="0"
                            return-object
                            outlined
                            transition="slide-y-reverse-transition"
                            hide-selected
                            clearable
                            required
                            :rules="[(v) => !!v || 'Category is required']"
                          ></v-combobox>
                        </v-card-actions>
                      </div>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col class="py-1 px-3">
                      <div class="d-flex flex-row align-center justify-end">
                        <div
                          class="body-2 grey--text text--darken-3 pb-5"
                          style="width: 215px"
                        >
                          Sub-Category<span class="px-1">:</span>
                        </div>
                        <v-card-actions
                          align="center"
                          justify="center"
                          class="body-2 pl-5 pa-0 pr-0"
                          style="width: 100%"
                        >
                          <v-combobox
                            class="
                              subtitle-1
                              align-start
                              justify-center
                              width-calc
                              py-0
                              grey--text
                              text--darken-1
                            "
                            :items="subCategories"
                            v-model="editedItem.sub_category"
                            label="Select Sub-category"
                            style="width: 100%"
                            item-text="name"
                            item-value="id"
                            dense
                            solo
                            elevation="0"
                            return-object
                            outlined
                            transition="slide-y-reverse-transition"
                            hide-selected
                            clearable
                            required
                            :rules="[(v) => !!v || 'Sub-category is required']"
                          ></v-combobox>
                        </v-card-actions>
                      </div>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col class="py-0 pt-5 px-3">
                      <div class="d-flex flex-row align-center justify-end">
                        <div
                          class="body-2 grey--text text--darken-3 pb-5"
                          style="width: 215px"
                        >
                          Budget<span class="px-1">:</span>
                        </div>
                        <v-card-actions
                          align="center"
                          justify="center"
                          class="body-2 pl-5 pa-0 pr-0"
                          style="width: 100%"
                        >
                          <v-text-field
                            solo
                            label="Budget"
                            v-model="editedItem.budget"
                            type="number"
                            prefix="$"
                            outlined
                            dense
                            class="
                              subtitle-1
                              align-start
                              justify-center
                              width-calc
                              py-0
                              grey--text
                              text--darken-1
                            "
                            :counter="5"
                            clearable
                            required
                            :rules="rules.budgetRules"
                          >
                          </v-text-field>
                        </v-card-actions>
                      </div>
                    </v-col>
                  </v-row>
                  <v-row class="py-1">
                    <v-col class="py-1 px-3">
                      <div class="d-flex flex-row align-center justify-end">
                        <div
                          class="body-2 grey--text text--darken-3 pb-5"
                          style="width: 215px"
                        >
                          Contingency<span class="px-1">:</span>
                        </div>
                        <v-card-actions
                          align="center"
                          justify="center"
                          class="body-2 pl-5 pa-0 pr-0"
                          style="width: 100%"
                        >
                          <v-text-field
                            solo
                            label="Contingency"
                            maxlength="5"
                            v-model="editedItem.contingency"
                            type="number"
                            prefix="%"
                            outlined
                            dense
                            class="
                              subtitle-1
                              align-start
                              justify-center
                              width-calc
                              py-0
                              grey--text
                              text--darken-1
                            "
                            :counter="5"
                            clearable
                            required
                            :rules="rules.contingencyRules"
                          >
                          </v-text-field>
                        </v-card-actions>
                      </div>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col class="py-0 pt-4 px-3">
                      <div class="d-flex flex-row align-center justify-end">
                        <div
                          class="body-2 grey--text text--darken-3 pb-5"
                          style="width: 215px"
                        >
                          Start Date<span class="px-1">:</span>
                        </div>
                        <v-card-actions
                          align="center"
                          justify="center"
                          class="body-2 pl-5 pa-0 pr-0"
                          style="width: 100%"
                        >
                          <v-menu
                            ref="menu1"
                            v-model="menu1"
                            :close-on-content-click="false"
                            transition="scale-transition"
                            offset-y
                            max-width="290px"
                            min-width="auto"
                          >
                            <template v-slot:activator="{ on, attrs }">
                              <v-text-field
                                v-model="editedItem.start_date"
                                label="Start Date"
                                solo
                                clearable
                                outlined
                                dense
                                v-bind="attrs"
                                @blur="date = parseDate(editedItem.start_date)"
                                v-on="on"
                              ></v-text-field>
                            </template>
                            <v-date-picker
                              v-model="date"
                              no-title
                              @input="menu1 = false"
                            ></v-date-picker>
                          </v-menu>
                        </v-card-actions>
                      </div>
                      <div>{{ editedItem.start_date }}</div>
                    </v-col>
                  </v-row>
                  <v-row class="py-1">
                    <v-col class="py-1 px-3">
                      <div class="d-flex flex-row align-center justify-end">
                        <div
                          class="body-2 grey--text text--darken-3 pb-5"
                          style="width: 215px"
                        >
                          Deadline<span class="px-1">:</span>
                        </div>
                        <v-card-actions
                          align="center"
                          justify="center"
                          class="body-2 pl-5 pa-0 pr-0"
                          style="width: 100%"
                        >
                          <v-menu
                            ref="menu2"
                            v-model="menu2"
                            :close-on-content-click="false"
                            transition="scale-transition"
                            offset-y
                            max-width="290px"
                            min-width="auto"
                          >
                            <template v-slot:activator="{ on, attrs }">
                              <v-text-field
                                v-model="editedItem.deadline"
                                label="Deadline"
                                solo
                                clearable
                                outlined
                                dense
                                v-bind="attrs"
                                @blur="date = parseDate(editedItem.deadline)"
                                v-on="on"
                              ></v-text-field>
                            </template>
                            <v-date-picker
                              v-model="date"
                              no-title
                              @input="menu2 = false"
                            ></v-date-picker>
                          </v-menu>
                        </v-card-actions>
                      </div>
                      <div>{{ editedItem.deadline }}</div>
                    </v-col>
                  </v-row>
                </v-col>
                <v-col cols="12" md="3">
                  <v-row>
                    <v-col class="py-1 px-3">
                      <v-textarea
                        solo
                        outlined
                        height="105"
                        name="input-7-4"
                        maxlength="200"
                        v-model="editedItem.objective"
                        label="Project Objectives Summary"
                        class="
                          subtitle-1
                          align-start
                          justify-center
                          width-calc
                          py-0
                          grey--text
                          text--darken-1
                        "
                        :counter="500"
                        clearable
                        required
                        :rules="rules.objectivesRules"
                      ></v-textarea>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col class="py-1 pt-5 px-3">
                      <v-combobox
                        class="
                          subtitle-1
                          align-start
                          justify-center
                          width-calc
                          py-0
                          grey--text
                          text--darken-1
                        "
                        :items="skills"
                        v-model="selectedSkill"
                        v-on:change="onSelectSkill"
                        label="Select Skill"
                        item-text="name"
                        item-value="id"
                        dense
                        solo
                        elevation="0"
                        multiple
                        height="105"
                        return-object
                        outlined
                        transition="slide-y-reverse-transition"
                        clearable
                        hide-selected
                        required
                        :rules="rules.skillRules"
                      ></v-combobox>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col class="py-1 pt-5 px-3">
                      <v-textarea
                        solo
                        outlined
                        height="105"
                        name="input-7-4"
                        maxlength="300"
                        v-model="editedItem.oppm"
                        label="Project OPPM"
                        class="
                          font-weight-regular
                          subtitle-1
                          align-start
                          justify-center
                          width-calc
                          py-0
                          grey--text
                          text--darken-1
                        "
                        counter
                        clearable
                        required
                        :rules="rules.oppmRules"
                      ></v-textarea>
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>
              <v-row>
                <v-col class="pt-5">
                  <div class="d-flex align-center justify-end">
                    <div class="pr-2">
                      <v-btn
                        width="150"
                        depressed
                        color="text-capitalize white--text primary"
                        @click="dialog = false"
                        :disabled="!valid"
                      >
                        Register
                      </v-btn>
                    </div>
                    <div>
                      <v-btn
                        width="120"
                        depressed
                        color="text-capitalize white--text secondary"
                        @click="dialog = false"
                      >
                        Cancel
                      </v-btn>
                    </div>
                  </div>
                </v-col>
              </v-row>
            </v-form>
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import DatePicker from "../input/date-picker.vue";
import imageUpload from "../input/image-upload.vue";
import TextArea from "../input/text-area.vue";
import TextField from "../input/text-field.vue";
import ComboSelector from "~/components/selector/combo_selector.vue";
import SelectMember from "../selector/multi-selector.vue";
import Company from "../selector/label_selector.vue";
export default {
  data: (vm) => ({
    valid: true,
    date: new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
      .toISOString()
      .substr(0, 10),
    menu1: false,
    menu2: false,
    valid: true,
    rules: {
      nameRules: [
        (v) => !!v || "Project Name is required",
        (v) =>
          (v && v.length <= 150) ||
          "Project Name must be less than 150 characters",
      ],
      codeRules: [
        (v) => !!v || "Code is required",
        (v) =>
          (v && v.length <= 20) ||
          "Project Code must be less than 20 characters",
      ],
      objectivesRules: [
        (v) => !!v || "Objective is required",
        (v) =>
          (v && v.length <= 500) ||
          "Objectives must be less than 500 characters",
      ],
      skillRules: [(v) => v.length > 0 || "Skills is required"],
      budgetRules: [
        (v) => !!v || "Budget is required",
        (v) => (v && v.length <= 5) || "Budget must be less than 5 characters",
      ],
      contingencyRules: [
        (v) => !!v || "Contingency is required",
        (v) =>
          (v && v.length <= 5) || "Contingency must be less than 5 characters",
      ],
      oppmRules: [
        (v) => !!v || "OPPM is required",
        (v) =>
          (v && v.length <= 200) || "OPPM must be less than 200 characters",
      ],
      adviserRules: [(v) => v.length > 0 || "Adviser is required"],
    },
    clicked: false,
    start_date: new Date().toLocaleDateString(),
    end_date: new Date().toLocaleDateString(),
    studentsWithInfo: [],
    selectedStudent: [],
    selectedAdviser: [],
    selectedSkill: [],
    companies: [],
    client_companies: [],
    stakeholders: [],
    students: [],
    categories: [],
    subCategories: [],
    skills: [],
    value: "",
    editedIndex: -1,
    editedItem: {
      name: "",
      code: "",
      objective: "",
      budget: "",
      contingency: "",
      company: { id: "" },
      client_company: { id: "" },
      leader: { id: "" },
      member: [],
      coordinator: { id: "" },
      adviser: [],
      category: { id: "" },
      sub_category: { id: "" },
      skill: [],
      oppm: "",
      start_date: vm.formatDate(
        new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
          .toISOString()
          .substr(0, 10)
      ),
      deadline: vm.formatDate(
        new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
          .toISOString()
          .substr(0, 10)
      ),
      is_old: "",
    },
    defaultItem: {
      name: "",
      code: "",
      objective: "",
      budget: "",
      contingency: "",
      company: { id: "" },
      client_company: { id: "" },
      leader: { id: "" },
      member: [],
      coordinator: { id: "" },
      adviser: [],
      category: { id: "" },
      sub_category: { id: "" },
      skill: [],
      oppm: "",
      start_date: vm.formatDate(
        new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
          .toISOString()
          .substr(0, 10)
      ),
      deadline: "",
      is_old: "",
    },
    dialog: false,
  }),
  mounted() {
    this.getCompanies();
    this.getClientCompanies();
    this.getSkills();
    this.getStakeholders();
    this.getStudents();
    this.getCategories();
    this.getSubCategories();
    this.getStudents();

    this.getStudentsWithInfo();
  },
  methods: {
    async getStudents() {
      let students = await this.$axios.$get(
        "/select_option/all_students_with_info"
      );
      this.students = students;
    },

    //Get all companies select list
    async getCompanies() {
      let companies = await this.$axios.$get(
        "/select_option/all_companies_list"
      );
      this.companies = companies;
    },

    //Get all client companies select list
    async getClientCompanies() {
      let client_companies = await this.$axios.$get(
        "/select_option/all_client_companies_list"
      );
      this.client_companies = client_companies;
    },

    //Get all skills select list
    async getSkills() {
      let skills = await this.$axios.$get("/select_option/all_skills_list");
      this.skills = skills;
    },

    //Get Stakeholder seletc list
    async getStakeholders() {
      let stakeholders = await this.$axios.$get(
        "/select_option/all_stakeholders_list"
      );
      this.stakeholders = stakeholders;
    },

    //get Student select List for member and project leader
    async getStudents() {
      let students = await this.$axios.$get("/select_option/all_students_list");
      this.students = students;
    },

    //get Student select List along with info
    async getStudentsWithInfo() {
      let studentsWithInfo = await this.$axios.$get(
        "/select_option/all_students_with_info"
      );
      this.studentsWithInfo = studentsWithInfo;
    },

    //get Categories select list
    async getCategories() {
      let categories = await this.$axios.$get(
        "/select_option/all_project_categories_list"
      );
      this.categories = categories;
    },

    //get Sub-category select list
    async getSubCategories() {
      let subCategories = await this.$axios.$get(
        "/select_option/all_project_sub_categories_list"
      );
      this.subCategories = subCategories;
    },

    //get id of multiple select in Member select list
    onSelectStudent(el) {
      this.editedItem.member = el.map((s) => s.id);
      console.log("62634", this.editedItem.member);
    },

    onSelectAdviser(el) {
      this.editedItem.adviser = el.map((s) => s.id);
      console.log("hsdh", this.editedItem.adviser);
    },

    onSelectSkill(el) {
      this.editedItem.skill = el.map((s) => s.id);
      console.log("hsdh", this.editedItem.skill);
    },

    // oldProjectClicked() {
    //   if (this.oldProjectClicked) {
    //     this.buttonText = "Old Project";
    //     this.buttonIcon = "mdi-folder-zip-outline";
    //     console.log("Clicked");
    //   } else {
    //     console.log("Not yet Click");
    //   }
    // },

    async save() {
      this.$refs.form.validate();
      if (this.editedIndex > -1) {
        // Object.assign(this.categories[this.editedIndex], this.editedItem);
        await this.$axios({
          method: "put",
          url: `/project/create`,
          data: {
            id: this.editedItem.id,
            name: this.editedItem.name,
            code: this.editedItem.code,
            objective: this.editedItem.objective,
            budget: this.editedItem.budget,
            contingency: this.editedItem.contingency,
            company: this.editedItem.company.id,
            client_company: this.editedItem.client_company.id,
            leader: this.editedItem.leader.id,
            member: this.editedItem.member,
            coordinator: this.editedItem.coordinator.id,
            adviser: this.editedItem.adviser,
            category: this.editedItem.category.id,
            sub_category: this.editedItem.sub_category.id,
            skill: this.editedItem.skill,
            oppm: this.editedItem.oppm,
            start_date: this.editedItem.start_date,
            deadline: this.editedItem.deadline,
            is_old: this.editedItem.is_old,
          },
        }).then((res) => {
          // this.snackbarUpdate = true;
        });
      }
      this.close();
    },
    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    //Format Date into form => MM/DD/YYYY
    formatDate(date) {
      if (!date) return null;

      const [year, month, day] = date.toString().split("-");
      return `${month}/${day}/${year}`;
    },
    parseDate(date) {
      if (!date) return null;

      const [month, day, year] = date.toString().split("/");
      return `${year}-${month.padStart(2, "0")}-${day.padStart(2, "0")}`;
    },

    //select Student in the card
    removeItem(item) {
      this.selectedStudent.splice(item, 1);
    },
    addMember() {
      addmembers.style.opacity = "1";
    },
  },
  watch: {
    date(val) {
      this.editedItem.start_date = this.formatDate(this.date);
    },
  },
  computed: {
    computedDateFormatted() {
      return this.formatDate(this.date);
    },
    width() {
      switch (this.$vuetify.breakpoint.name) {
        case "lg":
          return "80%";
        case "xl":
          return "70%";
        default:
          "100%";
      }
    },
  },
  components: {
    imageUpload,
    TextField,
    DatePicker,
    TextArea,
    ComboSelector,
    SelectMember,
    Company,
  },
};
</script>

<style>
button.v-icon.notranslate.v-icon--link.mdi.mdi-close.theme--light {
  font-size: 15px !important;
}
div.v-text-field.v-text-field--enclosed .v-text-field__details {
  margin-bottom: 0px;
}
.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat)
  > .v-input__control
  > .v-input__slot {
  box-shadow: none;
}
.tag-input span.v-chip {
  background-color: #5192d3;
  color: #fff;
  font-size: 1em;
  padding-left: 7px;
}
</style>