<template>
  <div>
    <v-btn
      width="auto"
      meduim
      depressed
      color="text-capitalize white--text primary"
      @click="addTask()"
    >
      Add Dialy Report
    </v-btn>
    <v-snackbar
      rounded="pill"
      width="40px"
      v-model="snackbarAdd"
      :timeout="timeout"
      color="#578DD2"
    >
      <div class="px-16">
        <v-icon color="white" class="px-6">mdi-check-circle</v-icon>
        Task Added !!!
      </div>
    </v-snackbar>
    <v-dialog v-model="dialog" :max-width="width">
      <v-card tile outlined>
        <v-card-title class="px-11 pt-8">
          <div style="font-size: 22px; color: #627080">
            Add New Dialy Report
            <div style="font-size: 14px" class="py-0 font-weight-regular">
              Submit New Dialy Report Form
            </div>
          </div>
        </v-card-title>
        <v-card-text class="pt-3 px-7">
          <v-container fluid>
            <v-form ref="form" v-model="valid">
              <v-row class="d-flex justify-space-between">
                <v-col md="6" cols="12" class="py-1 px-3">
                  <div class="caption">Description</div>
                  <v-card
                    height="40px"
                    width="100%"
                    outlined
                    class="d-flex"
                    style="border: 1px solid grey"
                  >
                    <v-card-title class="py-0 pr-0">
                      <v-icon
                        class="pr-3"
                        size="20"
                        style="border-right: 1px solid grey"
                        >mdi-pencil-box-outline</v-icon
                      >
                    </v-card-title>
                    <v-card-title class="pa-0 px-0" style="width: 100%">
                      <v-text-field
                        type="text"
                        class="
                          subtitle-1
                          align-start
                          justify-center
                          width-calc
                          py-0
                          grey--text
                          text--darken-1
                        "
                        dense
                        clearable
                        solo
                        :rules="rules.nameRules"
                        required
                        label="Report Description"
                        style="outline: none; width: 100%"
                        v-model="editedItem.name"
                        :counter="500"
                      ></v-text-field>
                    </v-card-title>
                  </v-card>
                </v-col>
                <v-col md="6" cols="12" class="py-1 px-3">
                  <div class="caption">Session</div>
                  <v-card
                    height="40px"
                    width="100%"
                    outlined
                    class="d-flex"
                    style="border: 1px solid grey"
                  >
                    <v-card-title class="py-0 pr-0">
                      <v-icon
                        class="pr-3"
                        size="20"
                        style="border-right: 1px solid grey"
                        >mdi-calendar-clock</v-icon
                      >
                    </v-card-title>
                    <v-card-title class="pa-0 px-0" style="width: 100%">
                      <v-text-field
                        type="number"
                        class="
                          subtitle-1
                          align-start
                          justify-center
                          width-calc
                          py-0
                          grey--text
                          text--darken-1
                        "
                        dense
                        clearable
                        solo
                        :rules="rules.hourRules"
                        required
                        min="0"
                        max="15"
                        oninput="if(Number(this.value) > Number(this.max)) this.value = this.max;"
                        label="Number of Session"
                        style="outline: none; width: 100%"
                        v-model="editedItem.actual_hour"
                        :counter="5"
                      ></v-text-field>
                    </v-card-title>
                  </v-card>
                </v-col>
              </v-row>
              <v-row>
                <v-col md="6" cols="12" class="py-1 px-3">
                  <div class="caption">Date</div>
                  <v-card
                    height="40px"
                    width="100%"
                    outlined
                    class="d-flex"
                    style="border: 1px solid grey"
                  >
                    <v-card-title class="py-0 pr-0">
                      <v-icon
                        class="pr-3"
                        size="20"
                        style="border-right: 1px solid grey"
                        >mdi-calendar</v-icon
                      >
                    </v-card-title>
                    <v-card-title class="pa-0 px-0" style="width: 100%">
                      <v-menu
                        v-model="menu"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        transition="scale-transition"
                        offset-y
                        min-width="auto"
                      >
                        <template v-slot:activator="{ on, attrs }">
                          <v-text-field
                            v-model="editedItem.date"
                            clearable
                            dense
                            class="
                              bg-white
                              border
                              py-0
                              rounded
                              subtitle-2
                              font-weight-regular
                            "
                            solo
                            label="Date"
                            v-bind="attrs"
                            v-on="on"
                          ></v-text-field>
                        </template>
                        <v-date-picker
                          v-model="editedItem.date"
                          @input="menu = false"
                          no-title
                        ></v-date-picker>
                      </v-menu>
                    </v-card-title>
                  </v-card>
                </v-col>
                <v-col md="6" cols="12" class="py-1 px-3">
                  <div class="caption">Semester</div>
                  <v-card
                    height="40px"
                    width="100%"
                    outlined
                    class="d-flex"
                    style="border: 1px solid grey"
                  >
                    <v-card-title class="py-0 pr-0">
                      <v-icon
                        class="pr-3"
                        size="20"
                        style="border-right: 1px solid grey"
                        >mdi-calendar-multiple-check</v-icon
                      >
                    </v-card-title>
                    <v-card-title class="pa-0 px-0" style="width: 100%">
                      <v-combobox
                        class="
                          align-center
                          justify-center
                          pa-0
                          subtitle-2
                          font-weight-regular
                        "
                        :items="task_statuses"
                        v-model="editedItem.status"
                        item-text="name"
                        item-value="id"
                        dense
                        solo
                        label="Semester"
                        readonly
                        disabled
                        transition="slide-y-reverse-transition"
                        overflow
                        return-object
                      ></v-combobox>
                    </v-card-title>
                  </v-card>
                </v-col>
              </v-row>

              <v-row>
                <v-col class="pt-7">
                  <div class="d-flex align-center justify-end">
                    <div class="pr-2">
                      <v-btn
                        width="100"
                        depressed
                        color="text-capitalize white--text primary"
                        @click="save"
                        :disabled="!valid"
                      >
                        save
                      </v-btn>
                    </div>
                    <div>
                      <v-btn
                        width="100"
                        depressed
                        color="text-capitalize white--text red lighten-2"
                        @click="close"
                      >
                        Cancel
                      </v-btn>
                    </div>
                  </div>
                </v-col>
              </v-row>
            </v-form>
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import Selector from "../selector/label_selector.vue";
import InputIcon from "../input/input-icon.vue";
import DatePicker from "../input/date-picker.vue";
export default {
  computed: {
    width() {
      switch (this.$vuetify.breakpoint.name) {
        case "lg":
          return "50%";
        case "xl":
          return "50%";
        case "md":
          return "60%";
        case "sm":
          return "70%";
        default:
          "50%";
      }
    },
  },
  data: () => ({
    menu: false,
    valid: true,
    rules: {
      descriptionRules: [
        (v) => !!v || "Description is required",
        (v) =>
          (v && v.length <= 500) ||
          "Description must be less than 500 characters",
      ],
      hourRules: [
        (v) => !!v || "Actual Hour is required",
        (v) => (v && v.length <= 5) || "Actual Hour must be less than 5 digits",
      ],
    },
    start_date: new Date().toLocaleDateString(),
    deadline: new Date().toLocaleDateString(),
    snackbarAdd: false,
    timeout: 3000,
    projects: [],
    task_statuses: [],
    members: [],
    skills: [],
    selectedSkill: [],
    dialog: false,
    editedIndex: -1,
    editedItem: {
      id: "",
      name: "",
      date: new Date(),
      status: { id: "" },
    },
    defaultItem: {
      name: "",
      start_date: new Date(),
      status: { id: "" },
    },
  }),
  mounted() {
    this.getProjects();
    this.getTaskStatuses();
    this.getStudents();
    this.getSkills();
    this.formatDate();
    console.log("===", this.formatDate(this.editedItem.start_date));
  },
  methods: {
    onSelectSkill(el) {
      console.log(
        "Selected Skill",
        el.map((s) => s.id)
      );
      this.editedItem.skill = el.map((s) => s.id);
      console.log("Selected Skill", this.editedItem.skill);
    },

    formatDate(d) {
      let date = new Date(d),
        month = "" + (date.getMonth() + 1),
        day = "" + date.getDate(),
        year = date.getFullYear();

      if (month.length < 2) month = "0" + month;
      if (day.length < 2) day = "0" + day;
      return [month, day, year].join("/");
    },

    async getProjects() {
      var projects = await this.$axios.$get("/select_option/all_projects_list");
      this.projects = projects;
      // console.log("1111 => ", projects)
    },
    async getTaskStatuses() {
      let task_statuses = await this.$axios.$get(
        "/select_option/all_task_statuses_list"
      );
      this.task_statuses = task_statuses;
    },
    async getStudents() {
      let members = await this.$axios.$get("/select_option/all_students_list");
      this.members = members;
    },
    async getSkills() {
      let skills = await this.$axios.$get("/select_option/all_skills_list");
      this.skills = skills;
    },
    addTask() {
      this.editedIndex = -1;
      this.dialog = true;
      this.editedItem = Object.assign({});
    },
    async save() {
      // let skill = [];
      // for (let i of this.editedItem.skill) {
      //   skill.push(i.id);
      // }

      const data = {
        name: this.editedItem.name,
        project: this.editedItem.project.id,
        status: this.editedItem.status.id,
        skill: this.editedItem.skill,
        assign_to: this.editedItem.assign_to.id,
        start_date: this.formatDate(this.editedItem.start_date),
        deadline: this.formatDate(this.editedItem.deadline),
      };
      this.$refs.form.validate();
      await this.$axios({
        method: "post",
        url: `/task/create`,
        data: data,
      }).then((res) => {
        console.log("Task created", res);
        this.snackbarAdd = true;
      });
      this.close();
    },
    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },
  },

  components: {
    Selector,
    InputIcon,
    DatePicker,
  },
};
</script>

<style>
button.v-icon.notranslate.v-icon--link.mdi.mdi-close.theme--light {
  font-size: 15px !important;
}
</style>