<template>
  <div>
    <v-dialog v-model="dialog" :max-width="width">
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          width="120"
          medium
          depressed
          color="text-capitalize white--text primary"
          v-bind="attrs"
          v-on="on"
        >
          View
        </v-btn>
      </template>
      <v-card tile outlined>
        <v-card-title class="px-10 pt-10">
          <div style="font-size: 22px; color:#627080;">
            Frontend Development
            <div style="font-size: 14px;" class="py-0 font-weight-regular">
              KITPOINT Management System 5.0
            </div>
          </div>
          <v-spacer></v-spacer>
          <div>
          </div>
        </v-card-title>
        <v-card-text class="mt-2 px-7">
          <v-container fluid>
            <v-row>
              <v-col lg="2" md="3" class="py-1">
                <Subtitle title="Incubation Center" icon="mdi-domain"/>
              </v-col>
              <v-col lg="8" md="6" class="py-1">
                <Skillset title='Skillset' :skills='skill'/>
              </v-col>
              <v-col lg="2" md="3" class="py-1">
                <Subtitle title="In Progress"/>
              </v-col>
            </v-row>
            <v-row class="mt-5">
              <v-col class="mx-3 py-3" :style="'max-width:160px;display:'+display">
                <v-row class="flex-column">
                  <v-col class="px-0 py-2">
                    <img
                      height="160"
                      width="160"
                      :src="require('~/assets/profile/Heng Mouyleng_155_692266.jpg')"
                      class="pa-2"
                      style="border: 1px solid #e6e6e6"
                    />
                  </v-col>
                </v-row>
              </v-col>
              <v-col>
                <v-row>
                  <v-col class="pa-2 px-3">
                    <v-card
                      class="lighten-3 grey--text text--darken-2 d-flex px-1 align-center font-weight-bolder"
                      outlined
                      align="end"
                      justify="center"
                      height="38"
                      width="100%"
                      style="border: 0.5px solid #d1d0ce !important"
                    >
                      <div class="px-2 ma-0">
                        Heng Mouyleng
                      </div>
                    </v-card>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col class="pa-2 px-3" :style="'display:'+display">
                    <v-card
                      class="lighten-3 grey--text text--darken-2 d-flex px-1 align-center font-weight-bolder"
                      outlined
                      align="end"
                      justify="center"
                      height="38"
                      width="100%"
                      style="border: 0.5px solid #d1d0ce !important"
                    >
                      <div class="px-2 ma-0">
                        Batch 6 SE
                      </div>
                    </v-card>
                  </v-col>
                  <v-col class="pa-2 px-3">
                    <TextCard width="150px" title="Assigned By" subtitle="Heng Mouyleng"/>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col class="pa-2 px-3">
                    <TextCard title="Planning Hour" subtitle="120"/>
                  </v-col>
                  <v-col class="pa-2 px-3">
                    <TextCard title="Actual Hour" subtitle="120"/>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12" lg='4'>
                <v-row>
                  <v-col cols="12" class="pa-2 px-3">
                    <DatePicker width="150px" title="Start Date:"/>
                  </v-col>
                  <v-col cols="12" class="pa-2 px-3">
                    <DatePicker width="150px" title="Deadline:"/>
                  </v-col>
                  <v-col cols="12" class="pa-2 px-3">
                    <DatePicker width="150px" title="End Date:"/>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
            <v-row justify="center" align="start" class="px-0">
              <v-col cols="12" lg="2" md="3" class="py-1">
                <Subtitle title="KIT Projects" icon="mdi-account" />
              </v-col>
              <v-col cols="12" lg="10" md="9" class="py-1">
                <Search />
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <Datatable :headers="headers" :body="body" />
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import TextCard from "~/components/card/text_card.vue";
import DatePicker from "../input/date-picker.vue";
import Subtitle from "~/components/card/subtitle.vue";
import Skillset from "~/components/card/skillset.vue";
import imageUpload from "../input/image-upload.vue";
import Search from "~/components/input/search.vue";
import Datatable from "~/components/datatable/table.vue";
import TextArea from "../input/text-area.vue";
import TextField from "../input/text-field.vue";
import ComboSelector from "~/components/selector/combo_selector.vue";
import SelectMember from "../selector/multi-selector.vue";
import Company from "../selector/label_selector.vue";
export default {
  computed: {
    display () {
      switch (this.$vuetify.breakpoint.name) {
        case 'xs': return 'none !important'
        case 'sm': return 'none !important'
        case 'md': return 'flex !important'
        case 'lg': return 'flex !important'
        case 'xl': return 'flex !important'
      }
    },
    width () {
      switch (this.$vuetify.breakpoint.name) {
        // case 'lg': return '80%'
        case 'xl': return '90%'
        default: '100%'
      }
    }
  },
  data: () => ({
    skill: [
      {
        title: "UI / UX Designing",
        point: "62.87 %",
        percent: 62.87,
        color: '#64CF96'
      },{
        title: "VueJS",
        point: "47.25 %",
        percent: 47.25,
        color: '#64CF96'
      },{
        title: "NuxtJS",
        point: "38.24 %",
        percent: 38.24,
        color: '#64CF96'
      },{
        title: "Project Management",
        point: "30.00 %",
        percent: 30,
        color: '#64CF96'
      },{
        title: "Flask",
        point: "49.60 %",
        percent: 49.60,
        color: '#64CF96'
      },{
        title: "Database",
        point: "90.60 %",
        percent: 90.60,
        color: '#64CF96'
      },{
        title: "Translation",
        point: "27.02 %",
        percent: 27.02,
        color: '#64CF96'
      }, {
        title: "UI / UX Designing",
        point: "62.87 %",
        percent: 62.87,
        color: '#64CF96'
      },{
        title: "VueJS",
        point: "47.25 %",
        percent: 47.25,
        color: '#64CF96'
      },{
        title: "NuxtJS",
        point: "38.24 %",
        percent: 38.24,
        color: '#64CF96'
      }
    ],
    companies: [
      { text: "All Companies" },
      { text: "A2A Digital" },
      { text: "AIM (Tourism Management)" },
      { text: "Canopy" },
      { text: "Casstack" },
      { text: "Chain" },
      { text: "Coin" },
      { text: "Compass" },
      { text: "Dexpertize" },
      { text: "DGK" },
    ],
    dialog: false,
    chairman: [
      "Byota Ishihara",
      "Hicki Okamato",
      "Takashi Izuka",
      "Ryota Ishahara",
      "Kenzaburo Bekku",
      "Sam Visith",
      "Leo Fernandez",
      "Dinesh Kumar",
      "Vignesh",
    ],
    headers: [
      { text: "", value: "id", width: "3%", align: "center" },
      { text: "Task Name", value: "task_name", width: "34%" },
      { text: "Actual Hour", value: "actual_hour", width: "15%" },
      { text: "Planning Hour", value: "planning_hour", width: "15%" },
      { text: "Start Date", value: "start_date", width: "15%" },
      { text: "Deadline", value: "deadline", width: "15%" },
      {
        text: "Details",
        value: "data-table-expand",
        width: "3%",
        align: "center",
      },
    ],
    body: [
      {
        id: 1,
        value: false,
        task_name: "Content Creation",
        actual_hour: "0",
        planning_hour: "10",
        start_date: "2021-03-01",
        deadline: "2021-04-01",
      },
      {
        id: 2,
        value: false,
        task_name: "Content Creation",
        actual_hour: "0",
        planning_hour: "10",
        start_date: "2021-03-01",
        deadline: "2021-04-01",
      },
      {
        id: 3,
        value: false,
        task_name: "Content Creation",
        actual_hour: "0",
        planning_hour: "10",
        start_date: "2021-03-01",
        deadline: "2021-04-01",
      },
      {
        id: 4,
        value: false,
        task_name: "Content Creation",
        actual_hour: "0",
        planning_hour: "10",
        start_date: "2021-03-01",
        deadline: "2021-04-01",
      },
      {
        id: 5,
        value: false,
        task_name: "Acting",
        actual_hour: "0",
        planning_hour: "10",
        start_date: "2021-03-01",
        deadline: "2021-04-01",
      },
      {
        id: 6,
        task_name: "Directing",
        actual_hour: 10.5,
        planning_hour: "In Progress",
        start_date: "2020-02-11",
        deadline: "2021-05-20",
      },
      {
        id: 7,
        task_name: "Content Creation",
        actual_hour: 13.3,
        planning_hour: "In Progress",
        start_date: "2020-12-01",
        deadline: "2021-02-20",
      },
      {
        id: 8,
        task_name: "Acting",
        actual_hour: 30,
        planning_hour: "In Progress",
        start_date: "2020-12-26",
        deadline: "2021-09-20",
      },
      {
        id: 9,
        task_name: "Directing",
        actual_hour: 10.5,
        planning_hour: "In Progress",
        start_date: "2020-02-11",
        deadline: "2021-05-20",
      },
      {
        id: 10,
        task_name: "Content Creation",
        actual_hour: 13.3,
        planning_hour: "In Progress",
        start_date: "2020-12-01",
        deadline: "2021-02-20",
      },
      {
        id: 11,
        task_name: "Acting",
        actual_hour: 30,
        planning_hour: "In Progress",
        start_date: "2020-12-26",
        deadline: "2021-09-20",
      },
      {
        id: 12,
        task_name: "Directing",
        actual_hour: 10.5,
        planning_hour: "In Progress",
        start_date: "2020-02-11",
        deadline: "2021-05-20",
      },
      {
        id: 13,
        task_name: "Content Creation",
        actual_hour: 13.3,
        planning_hour: "In Progress",
        start_date: "2020-12-01",
        deadline: "2021-02-20",
      },
      {
        id: 14,
        task_name: "Acting",
        actual_hour: 30,
        planning_hour: "In Progress",
        start_date: "2020-12-26",
        deadline: "2021-09-20",
      },
      {
        id: 15,
        task_name: "Directing",
        actual_hour: 10.5,
        planning_hour: "In Progress",
        start_date: "2020-02-11",
        deadline: "2021-05-20",
      },
      {
        id: 16,
        task_name: "Content Creation",
        actual_hour: 13.3,
        planning_hour: "In Progress",
        start_date: "2020-12-01",
        deadline: "2021-02-20",
      },
      {
        id: 17,
        task_name: "Acting",
        actual_hour: 30,
        planning_hour: "In Progress",
        start_date: "2020-12-26",
        deadline: "2021-09-20",
      },
      {
        id: 18,
        task_name: "Directing",
        actual_hour: 10.5,
        planning_hour: "In Progress",
        start_date: "2020-02-11",
        deadline: "2021-05-20",
      },
      {
        id: 19,
        task_name: "Content Creation",
        actual_hour: 13.3,
        planning_hour: "In Progress",
        start_date: "2020-12-01",
        deadline: "2021-02-20",
      },
      {
        id: 20,
        task_name: "Acting",
        actual_hour: 30,
        planning_hour: "In Progress",
        start_date: "2020-12-26",
        deadline: "2021-09-20",
      },
    ],
  }),
  components: {
    TextCard,
    Subtitle,
    Skillset,
    imageUpload,
    TextField,
    DatePicker,
    TextArea,
    ComboSelector,
    SelectMember,
    Company,
    Search,
    Datatable
  },
};
</script>

<style>
.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat)
  > .v-input__control
  > .v-input__slot {
  box-shadow: none;
  font-size: 12px;
}
.tag-input span.v-chip {
  background-color: #5192d3;
  color: #fff;
  font-size: 1em;
  padding-left: 7px;
}
</style>