<template>
  <v-container fluid class="px-0">
    <v-row class="pt-14 px-3" justify="start" align="center">
      <v-col class="pa-0">
        <div class="text-left">
          <Title :items="items" />
        </div>
      </v-col>
    </v-row>
    <v-row justify="center" align="start">
      <v-col cols="12" lg="9" class="my-5">
        <v-row>
          <v-col>
            <AdminDashboard :project_data="project" />
          </v-col>
        </v-row>
      </v-col>
      <v-col
        cols="12"
        lg="3"
        class="my-5"
        :style="'flex-direction:column;display:' + display"
      >
        <StudentContribution />
      </v-col>
    </v-row>
    <v-row class="mt-0">
      <v-col cols="12" lg="2" md="3" sm="3" class="py-1">
        <Subtitle title="Skillset Finder" icon="mdi-account" />
      </v-col>
      <v-col cols="12" lg="8" md="9" sm="9" class="py-1">
        <v-card
          class="d-flex"
          width="100%"
          height="38"
          outlined
          style="border: 0.5px solid #d1d0ce !important"
        >
          <v-card-text class="d-flex pa-0 align-center justify-center">
            <Subtitle title="Search" style="width: 100px" />
            <v-spacer></v-spacer>
            <v-combobox
              class="
                align-start
                justify-center
                width-calc
                py-0
                pl-3
                grey--text
                text--darken-1
              "
              style="outline: none !important; border: none !important"
              :items="skills"
              label="Select Skill"
              item-text="name"
              solo
              dense
              item-value="id"
              v-on:change="grabList"
              multiple
              hide-details="true"
              return-object
              transition="slide-y-reverse-transition"
            ></v-combobox>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="2" sm="0" md="0" class="py-1" :style="'display:' + display">
        <Page title="Page" />
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <Datatable :headers="headers" :body="body" :search="search" />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Title from "~/components/title/user_friendly.vue";
import Subtitle from "~/components/card/subtitle.vue";
import Skillset from "~/components/card/skillset.vue";
import StudentContribution from "~/components/card/student_cont.vue";
import AdminDashboard from "~/components/graph/admin_dashboard.vue";
import Info from "~/components/graph/graph_info.vue";
import Search from "~/components/input/search.vue";
import Page from "~/components/selector/label_selector.vue";
import Datatable from "~/components/datatable/table.vue";

export default {
  middleware: "authenticated",
  async asyncData({ $axios }) {
    let skills = await $axios.$get("/select_option/all_skills_list");
    console.log("Skillset --->  ", skills);
    return { skills };
  },
  computed: {
    display() {
      switch (this.$vuetify.breakpoint.name) {
        case "xs":
          return "none !important";
        case "sm":
          return "none !important";
        case "md":
          return "none !important";
        case "lg":
          return "flex !important";
        case "xl":
          return "flex !important";
      }
    },
  },
  mounted() {},
  methods: {
    async grabList(skills) {
      let skill = [];
      for (let s in skills) {
        skill.push(skills[s].id);
      }
      console.log(skill);
      const { students } = await this.$axios.$get(
        `/student/students_based_on_skill_set?skill=[${skill}]`
      );
      console.log("Result Search", students);
      this.body = students;
    },
  },
  data: () => ({
    body: [],
    search: "",
    project: [
      {
        semester: "Semester 1",
        rank_s: 3,
        rank_c: 5,
        rank_b: 7,
        rank_a: 9,
      },
      {
        semester: "Semester 2",
        rank_s: 5,
        rank_c: 7,
        rank_b: 9,
        rank_a: 11,
      },
      {
        semester: "Semester 3",
        rank_s: 3,
        rank_c: 5,
        rank_b: 7,
        rank_a: 9,
      },
      {
        semester: "Semester 4",
        rank_s: 5,
        rank_c: 7,
        rank_b: 9,
        rank_a: 11,
      },
      {
        semester: "Semester 5",
        rank_s: 5,
        rank_c: 7,
        rank_b: 9,
        rank_a: 11,
      },
      {
        semester: "Semester 6",
        rank_s: 5,
        rank_c: 7,
        rank_b: 9,
        rank_a: 11,
      },
    ],
    pages: [10, 25, 50, 100],
    items: [
      {
        text: "Dashboard",
      },
      {
        text: "Admin Dashboard",
      },
    ],
    headers: [
      { text: "Id", value: "id", width: "5%", align: "center" },
      { text: "Student Name", value: "name", width: "92%" },
      {
        text: "Details",
        value: "data-table-expand",
        width: "3%",
        align: "center",
      },
    ],
  }),
  components: {
    Title,
    Subtitle,
    Skillset,
    StudentContribution,
    AdminDashboard,
    Info,
    Search,
    Page,
    Datatable,
  },
};
</script>

<style lang="scss" scoped>
.width-calc {
  width: calc(100% - 100px);
}
</style>
