<template>
  <v-container fluid class="px-0">
    <v-row class="pt-14 px-3" justify="space-between" align="center">
      <v-col class="pa-0">
        <div class="text-left">
          <Title :items="items" />
        </div>
      </v-col>
    </v-row>
    <v-row justify="center" align="start">
      <v-col cols="12" lg="9" class="my-7">
        <v-row>
          <v-col lg="3" md="3" class="py-1">
            <v-card
              class="lighten-3 grey--text text--darken-2 d-flex px-1 align-center justify-space-between"
              outlined
              align="left"
              justify="center"
              height="38"
              width=auto
              style="border: 0.5px solid #d1d0ce !important; font-family: 'Helvetica Neue';background-color:#F6F6F6"
            >
              <div class="px-2 ma-0">
                <v-icon medium left> mdi-domain </v-icon>
                <span class="body-2">{{ batch.name }}</span>
              </div>
              <v-icon medium left> mdi-magnify </v-icon>
            </v-card>
          </v-col>
          <v-col lg="9" md="9" class="py-1">
            <Skillset title='Skillset' :skills='batch.skill'/>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <Dashboard tabname='Student' :skillset_data='batch' :project_data="batch.member" :semester_data="batch.semester"/>
          </v-col>
        </v-row>
        <v-row :style="'display:'+display">
          <v-col>
            <Info :items='info'/>
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="12" lg='3' class="my-5" :style="'flex-direction:column;display:'+display">
        <Overall :data='project' :semester_data='batch.semester'/>
      </v-col>
    </v-row>
    <v-row class="mt-0">
      <v-col cols="12" lg="2" md="3" sm="3" class="py-1">
        <Subtitle title="Ongoing Task" icon="mdi-account" />
      </v-col>
      <v-col cols="12" lg="8" md="9" sm="9" class="py-1">
        <Search v-model="search"/>
      </v-col>
      <v-col cols="2" sm="0" md="0" class="py-1" :style="'display:'+display">
        <Page title="Page" />
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <Datatable :headers="headers" :body="body" :search="search"/>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Title from "~/components/title/user_friendly.vue";
import Subtitle from "~/components/card/subtitle.vue";
import Skillset from "~/components/card/skillset.vue";
import Overall from "~/components/card/overall.vue";
import Dashboard from "~/components/graph/dashboard.vue";
import Info from "~/components/graph/graph_info.vue";
import Search from "~/components/input/search.vue";
import Page from "~/components/selector/label_selector.vue";
import Datatable from "~/components/datatable/table.vue";

export default {
  computed: {
    display () {
      switch (this.$vuetify.breakpoint.name) {
        case 'xs': return 'none !important'
        case 'sm': return 'none !important'
        case 'md': return 'none !important'
        case 'lg': return 'flex !important'
        case 'xl': return 'flex !important'
      }
    }
  },
  data: () => ({
    search : '',
    info: [
      {
        headText: "Working Hour",
        num: 6901
      }, {
        headText: "Project",
        num: 7
      }, {
        headText: "Actual KIT Point",
        num: 301.9,
        color: "#E68618",
      }, {
        headText: "Project Est. Point",
        num: 501.9
      }, {
        headText: "Propose Point",
        num: 201.1,
        color: "#CA2882"
      }, {
        headText: "Acquire Point",
        num: 500,
        color: "#5151D3"
      }
    ],
    items: [
      {
        text: "Dashboard",
      },
      {
        text: "Student Dashboard",
      },
    ],
    batch: {
      name: 'Batch 6 SE',
      point: {
        working: 6901,
        estimate: 501.9,
        actual: 301.9,
        propose: 201.1,
        acquire: 500
      },
      skill: [
        {
          title: "UI / UX Designing",
          point: "62.87 %",
          percent: 62.87,
          color: '#64CF96'
        },{
          title: "VueJS",
          point: "47.25 %",
          percent: 47.25,
          color: '#64CF96'
        },{
          title: "NuxtJS",
          point: "38.24 %",
          percent: 38.24,
          color: '#64CF96'
        },{
          title: "Project Management",
          point: "30.00 %",
          percent: 30,
          color: '#64CF96'
        },{
          title: "Flask",
          point: "49.60 %",
          percent: 49.60,
          color: '#64CF96'
        },{
          title: "Database",
          point: "90.60 %",
          percent: 90.60,
          color: '#64CF96'
        },{
          title: "Translation",
          point: "27.02 %",
          percent: 27.02,
          color: '#64CF96'
        }, {
          title: "UI / UX Designing",
          point: "62.87 %",
          percent: 62.87,
          color: '#64CF96'
        },{
          title: "VueJS",
          point: "47.25 %",
          percent: 47.25,
          color: '#64CF96'
        },{
          title: "NuxtJS",
          point: "38.24 %",
          percent: 38.24,
          color: '#64CF96'
        }
      ],
      member: [
      {
        project_name:'Pich Ream Arun', 
        estimate:3, 
        actual:5, 
        propose:7, 
        acquire:9
      }, {
        project_name:'Heng Mouyleng', 
        estimate:5, 
        actual:7, 
        propose:9, 
        acquire:11
      }, {
        project_name:'Kosal Sotheakny', 
        estimate:3, 
        actual:5, 
        propose:7, 
        acquire:9
      }, {
        project_name:'Ly Oddommony', 
        estimate:5, 
        actual:7, 
        propose:9, 
        acquire:11
      }, {
        project_name:'In Darasith', 
        estimate:3, 
        actual:5, 
        propose:7, 
        acquire:9
      }, {
        project_name:'Chan Ratanak', 
        estimate:5, 
        actual:7, 
        propose:9, 
        acquire:11
      }, {
        project_name:'Chhun Sokhon', 
        estimate:3, 
        actual:5, 
        propose:7, 
        acquire:9
      }
      ],
      semester: [
        {
          title: "Semester 1",
          rank: 'Rank A',
          estimate:5, 
          actual:7, 
          propose:9, 
          acquire:11,
          working: "0",
          average: "0",
          percent: 0,
          color: '#FFF',
        },{
          title: "Semester 2",
          rank: 'Rank A',
          estimate:3, 
          actual:5, 
          propose:7, 
          acquire:9,
          working: "183",
          average: "220",
          percent: 83.18,
          color: '#4ECCD1'
        },
        {
          title: "Semester 3",
          rank: 'Rank A',
          estimate:5, 
          actual:7, 
          propose:9, 
          acquire:11,
          working: "118",
          average: "440",
          percent: 26.81,
          color: '#CA2882'
        },
        {
          title: "Semester 4",
          rank: 'Rank A',
          estimate:3, 
          actual:5, 
          propose:7, 
          acquire:9,
          working: "87",
          average: "440",
          percent: 19.77,
          color: '#CA2882'
        },
        {
          title: "Semester 5",
          rank: 'Rank A',
          estimate:5, 
          actual:7, 
          propose:9, 
          acquire:11,
          working: "197",
          average: "660",
          percent: 29.84,
          color: '#CA2882'
        },
        {
          title: "Semester 6",
          rank: 'Rank A',
          estimate:3, 
          actual:5, 
          propose:7, 
          acquire:9,
          working: "0",
          average: "660",
          percent: 0,
          color: '#4ECCD1'
        }, {
          title: "Semester 7",
          rank: 'Rank A',
          estimate:5, 
          actual:7, 
          propose:9, 
          acquire:11,
          working: "0",
          average: "0",
          percent: 0,
          color: '#FFF'
        }, {
          title: "Semester 8",
          rank: 'Rank A',
          estimate:3, 
          actual:5, 
          propose:7, 
          acquire:9,
          working: "0",
          average: "0",
          percent: 0,
          color: '#FFF'
        }
      ],
    },
    project: [
      {
        "point": "Actual",
        "value": 301.9
      }, {
        "point": "Propose",
        "value": 201.1
      }, {
        "point": "Acquire",
        "value": 500
      }
    ],
    pages: [10, 25, 50, 100],
    headers: [
      { text: "", value: "id", width: "3%", align: "center" },
      { text: "Task Name", value: "task_name", width: "34%" },
      { text: "Actual Hour", value: "actual_hour", width: "15%" },
      { text: "Planning Hour", value: "planning_hour", width: "15%" },
      { text: "Start Date", value: "start_date", width: "15%" },
      { text: "Deadline", value: "deadline", width: "15%" },
      { text: "Details", value: "data-table-expand", width: "3%", align: "center" }
    ],
    body: [
      {
        id: 1,
        value: false,
        task_name: "Content Creation",
        actual_hour: "0",
        planning_hour: "10",
        start_date: "2021-03-01",
        deadline: "2021-04-01",
      },
      {
        id: 2,
        value: false,
        task_name: "Content Creation",
        actual_hour: "0",
        planning_hour: "10",
        start_date: "2021-03-01",
        deadline: "2021-04-01",
      },
      {
        id: 3,
        value: false,
        task_name: "Content Creation",
        actual_hour: "0",
        planning_hour: "10",
        start_date: "2021-03-01",
        deadline: "2021-04-01",
      },
      {
        id: 4,
        value: false,
        task_name: "Content Creation",
        actual_hour: "0",
        planning_hour: "10",
        start_date: "2021-03-01",
        deadline: "2021-04-01",
      },
      {
        id: 5,
        value: false,
        task_name: "Acting",
        actual_hour: "0",
        planning_hour: "10",
        start_date: "2021-03-01",
        deadline: "2021-04-01",
      },
      {
        id: 6,
        task_name: "Directing",
        actual_hour: 10.5,
        planning_hour: "In Progress",
        start_date: "2020-02-11",
        deadline: "2021-05-20",
      },
      {
        id: 7,
        task_name: "Content Creation",
        actual_hour: 13.3,
        planning_hour: "In Progress",
        start_date: "2020-12-01",
        deadline: "2021-02-20",
      },
      {
        id: 8,
        task_name: "Acting",
        actual_hour: 30,
        planning_hour: "In Progress",
        start_date: "2020-12-26",
        deadline: "2021-09-20",
      },
      {
        id: 9,
        task_name: "Directing",
        actual_hour: 10.5,
        planning_hour: "In Progress",
        start_date: "2020-02-11",
        deadline: "2021-05-20",
      },
      {
        id: 10,
        task_name: "Content Creation",
        actual_hour: 13.3,
        planning_hour: "In Progress",
        start_date: "2020-12-01",
        deadline: "2021-02-20",
      },
      {
        id: 11,
        task_name: "Acting",
        actual_hour: 30,
        planning_hour: "In Progress",
        start_date: "2020-12-26",
        deadline: "2021-09-20",
      },
      {
        id: 12,
        task_name: "Directing",
        actual_hour: 10.5,
        planning_hour: "In Progress",
        start_date: "2020-02-11",
        deadline: "2021-05-20",
      },
      {
        id: 13,
        task_name: "Content Creation",
        actual_hour: 13.3,
        planning_hour: "In Progress",
        start_date: "2020-12-01",
        deadline: "2021-02-20",
      },
      {
        id: 14,
        task_name: "Acting",
        actual_hour: 30,
        planning_hour: "In Progress",
        start_date: "2020-12-26",
        deadline: "2021-09-20",
      },
      {
        id: 15,
        task_name: "Directing",
        actual_hour: 10.5,
        planning_hour: "In Progress",
        start_date: "2020-02-11",
        deadline: "2021-05-20",
      },
      {
        id: 16,
        task_name: "Content Creation",
        actual_hour: 13.3,
        planning_hour: "In Progress",
        start_date: "2020-12-01",
        deadline: "2021-02-20",
      },
      {
        id: 17,
        task_name: "Acting",
        actual_hour: 30,
        planning_hour: "In Progress",
        start_date: "2020-12-26",
        deadline: "2021-09-20",
      },
      {
        id: 18,
        task_name: "Directing",
        actual_hour: 10.5,
        planning_hour: "In Progress",
        start_date: "2020-02-11",
        deadline: "2021-05-20",
      },
      {
        id: 19,
        task_name: "Content Creation",
        actual_hour: 13.3,
        planning_hour: "In Progress",
        start_date: "2020-12-01",
        deadline: "2021-02-20",
      },
      {
        id: 20,
        task_name: "Acting",
        actual_hour: 30,
        planning_hour: "In Progress",
        start_date: "2020-12-26",
        deadline: "2021-09-20",
      },
    ],
  }),
  components: {
      Title,
      Subtitle,
      Skillset,
      Overall,
      Dashboard,
      Info,
      Search,
      Page,
      Datatable
  },
};
</script>

<style lang="scss" scoped>
</style>