<template>
    <div class="grey--text text--darken-1">
      <div class="px-0" style="font-size: 25px">
        {{ title }}
      </div>
      <v-breadcrumbs
        class="grey--text text--darken-2 pa-0"
        :items="items"
      ></v-breadcrumbs>
    </div>
</template>

<script>
export default {
  props: {
    items: {
      type: Array,
    },
    title: {
      type: String,
    },
  }
};
</script>

<style lang="scss" scoped>
</style>