<template>
  <div class="px-2 ma-0 d-flex">
    <v-icon medium left> {{ icon }} </v-icon>
    <span class="body-2 d-flex" style="padding-top:2px">{{ title }}</span>
  </div>
</template>

<script>
    export default {
        props: {
          title: {
            type: String
          },
          icon: {
            type: String
          }
        }
    }
</script>