<template>
    <div class="grey--text text--darken-1">
      <div style="font-size: 25px" class="text-h5">
        Good {{ time }} {{ user }},
      </div>
    
      <v-breadcrumbs
        class="grey--text text--darken-2 pa-0 subtitle-1"
        :items="items"
      ></v-breadcrumbs>
    </div>
</template>

<script>
export default {
  props: {
    items: {
      type: Array
    },
    users: {
      type: Array
    }
  },
  data: () => ({
    time: '',
    user: "Administrator",
  }),
  mounted() {
    const time = new Date().getHours()
    if (time < 12) {
      this.time = 'Morning'
    } else if (time >= 12 && time < 17) {
      this.time = 'Afternoon'
    } else {
      this.time = 'Evening'
    }
  }
};
</script>

<style lang="scss" scoped>
</style>