<template>
    <v-alert
        :value="alert"
      color="pink"
      dark
      border="top"
      icon="mdi-home"
      transition="scale-transition"
    >Hello</v-alert>
</template>

<script>
    export default {
        data() {
            return {
                alert: true
            }
        },
    }
</script>

<style lang="scss" scoped>

</style>