<template>
  <v-hover v-slot="{ hover }">
    <v-card 
      :style="'border-left: 3px solid'+ item.color"
      tile outlined 
      :to="`/mains/company/${item.id}`"
      height="450">
      <v-img style="height:60%; width:100%" class="d-flex align-center text-center">
        <img :src="item.img" class="pa-2" width="50%" style="">
      </v-img>
      <v-main class="d-flex align-center px-10" style="height:40%; background-color:#F6F6F6; border-top:1px solid #E6E6E6">
        <v-card-title class="py-0 text-h6 grey--text text--darken-3 justify-center">{{ item.title }}</v-card-title>
        <span class="subtitle-2 d-flex grey--text text--darken-2 justify-center text-truncate">{{ item.subtitle }}</span>
        <div class="mt-10 d-flex justify-space-between">
          <Subtitle :title="item.member" icon="mdi-account-outline" class="pl-0"/>
          <Subtitle :title="item.project_count" icon="mdi-cellphone-link" class="pr-0"/>
        </div>
      </v-main>
      <v-fade-transition>
        <v-main 
          v-if="hover"
          class="d-flex v-card--reveal align-center justify-center pb-0 px-10"
          style="height: 100%; background-color:#F6F6F6;">
          <v-card-title class="py-0 text-h6 grey--text text--darken-3 justify-center">{{ item.title }}</v-card-title>
          <span class="subtitle-2 d-flex grey--text text--darken-2 justify-center text-truncate">{{ item.subtitle }}</span>
          <Profile :data="item.president" class="mt-3 px-0 py-2 d-flex align-start text-truncate" style="height:84px" />
          <Table :data="item.project" class="mt-7"/>
          <Table :data="item.complete"/>
          <div class="mt-7 mb-2 d-flex justify-space-between">
            <Subtitle :title="item.member" icon="mdi-account-outline" class="pl-0"/>
            <Subtitle :title="item.project_count" icon="mdi-cellphone-link" class="pr-0"/>
          </div>
        </v-main>
      </v-fade-transition>
    </v-card>
  </v-hover>
</template>

<script>
import Table from "~/components/datatable/brief.vue";
import Subtitle from "~/components/title/subtitle.vue";
import Profile from "~/components/card/profile.vue";

export default {
  props: {
    item: {
      type: Object
    }
  },
  components: {
    Table,
    Subtitle,
    Profile
  }
};
</script>

<style scoped>
.v-card--reveal {
  align-items: center;
  bottom: 0;
  justify-content: center;
  position: absolute;
  width: 100%;
}
</style>
