<template>
  <div>
    <v-card
      class="member_scroll"
      outlined
      height="auto"
      elevation="0"
      tile
      style="border-top: 3px solid #5a90bf"
    >
      <v-card-actions class="px-0 py-2">
        <v-list-item-group :item-height="110" class="scroll_member" style="width:100%">
            <v-list-item
              v-for="item in member"
              :key="item.index"
              :value="item.id"
              :class="`pl-5 pr-0 role ${item.role} ${item.status}`"
            >
              <v-list-item-avatar class="mr-5" size="80">
                <v-img class="d-flex">
                  <img
                    :src="item.img"
                    class="rounded-circle pa-1"
                    width="60px"
                    style="border: 1px solid #e6e6e6"
                  />
                </v-img>
              </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title>
                  {{ item.names }}
                </v-list-item-title>
                <v-list-item-subtitle class="font-weight-medium caption">
                  <div class="font-weight-regular">
                    {{ item.title }}
                  </div>
                  <div>{{ item.company }}</div>
                  <div>{{ item.role }}</div>
                </v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
        </v-list-item-group>
      </v-card-actions>
      <v-card tile outlined color="#e3e3e3" height="70px" class="">
        <v-card-text class="d-flex justify-space-around align-center">
          <div class="d-flex justify-space-between align-center">
            <div class="pt-1 pr-3">Management:</div>
            <v-btn depressed tile class="font-weight-regular" style="background-color:white">{{ member_count.management }}</v-btn>
          </div>
          <div class="d-flex justify-space-between align-center">
            <div class="pt-1 pr-3">Member:</div>
            <v-btn depressed tile class="font-weight-regular" style="background-color:white">{{ member_count.active }}</v-btn>
            <v-btn depressed tile class="font-weight-regular ml-1">{{ member_count.inactive }}</v-btn>
          </div>
        </v-card-text>
      </v-card>
    </v-card>
  </div>
</template>

<script>
export default {
  props: {
    member: {
      type: Array
    },
    member_count: {
      type: Object
    }
  },
  data: () => ({
  }),
};
</script>

<style>
.member_scroll {
  border-top: 3px solid #42a5f5;
}

.role.Project_Coordinator::after {
  border-right: 5px solid #f18900 !important;
  height: 85px;
}

.role.Vice_Chairman::after {
  border-right: 5px solid #f18900 !important;
  height: 85px;
}

.role.Technical_Advisor::after {
  border-right: 5px solid #cf6464 !important;
  height: 85px;
}

.role.Project_Leader::after {
  border-right: 5px solid #6481cf !important;
  height: 85px;
}

.role.President::after {
  border-right: 5px solid #6481cf !important;
  height: 85px;
}

.role.Former_President::after {
  border-right: 5px solid #6481cf !important;
  height: 85px;
}

.role.Vice_President::after {
  border-right: 5px solid #8fa5c4 !important;
  height: 85px;
}

.role.Former_Vice_President::after {
  border-right: 5px solid #8fa5c4 !important;
  height: 85px;
}

.role.Inactive {
  opacity:0.8;
  background-color: #ececec !important;
}

.scroll_member {
  height: 600px;
  border: 1px soild black;
  overflow-y: scroll; /* Add the ability to scroll */
}
.scroll_member::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll_member {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
</style>