<template>
  <v-card outlined tile style="width: 100%; border-left: 3px solid #5a90bf;" class="d-flex flex-wrap align-content-space-between">
    <v-container class="py-6 ma-0 text-truncate">
      <v-card-title class="justify-center pa-0">
        <div class="text-h5 font-weight-medium grey--text text--darken-2">
          Overall
          <span class="text-body-1 pl-1">Point Projection</span>
        </div>
      </v-card-title>
      <div class="align-center justify-center d-flex">
        <div class="d-flex pt-5" ref="chartdiv" style="width:100%;height:300px"></div>
      </div>
    </v-container>
    <v-card-text tile style="border-top:1px solid #ddd;background-color:#FAFAFA;" class="d-flex align-center justify-center">
      <div style="width:100%">
          <v-subheader class="d-flex pb-5 px-5 grey--text text--darken-1 font-weight-medium align-end">
            <v-col md="4" class="d-flex justify-bottom pa-0"><span>Semester</span></v-col>
            <v-col md="4" class="d-flex justify-end pa-0 caption"><span>Report Session</span></v-col>
            <v-col md="4" class="d-flex justify-end pa-0 caption"><span>Planning Session</span></v-col>
          </v-subheader>
          <v-main style="height:200px; overflow-y:scroll" class="mb-10">
            <div v-for="semester in semester_data" :key="semester.index" class="px-3">
              <v-card-title class="caption px-5 pt-5">
                <v-row>
                  <v-col md="4" class="d-flex justify-bottom pa-0 grey--text text--darken-2"><span>{{ semester.title }}</span></v-col>
                  <v-col md="4" class="d-flex justify-end pa-0 caption"><span>{{ semester.report }}</span></v-col>
                  <v-col md="4" class="d-flex justify-end pa-0 caption"><span>{{ semester.average }}</span></v-col>
                </v-row>
              </v-card-title>
              <v-card-actions class="pt-0">
                <v-progress-linear
                  height="6"
                  background-color="grey lighten-2"
                  :value='semester.percent'
                  :color='semester.color'
                ></v-progress-linear>
              </v-card-actions>
            </div>
          </v-main>
      </div>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  props: {
    data: {
      type: Array
    },
    semester_data: {
      type: Array
    }
  },
  mounted() {
    let {
      am4core,
      am4charts,
    } = this.$am4core();

    let chart = am4core.create(this.$refs.chartdiv, am4charts.XYChart);
    chart.data = this.data;
    var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
    categoryAxis.dataFields.category = "point";
    categoryAxis.renderer.grid.template.location = 0;
    categoryAxis.renderer.minGridDistance = 30;

    var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());

    // Create series
    var series = chart.series.push(new am4charts.ColumnSeries());
    series.dataFields.valueY = "value";
    series.dataFields.categoryX = "point";
    series.name = "Category";
    series.columns.template.tooltipText = "{categoryX}: [bold]{valueY}[/]";
    series.columns.template.fillOpacity = .8;

    var columnTemplate = series.columns.template;
    columnTemplate.strokeWidth = 2;
    columnTemplate.strokeOpacity = 1;

    this.chart = chart;
  },
  data: () => ({
    active_tab: 0,
  }),
  methods: {
  }
};
</script>

<style scoped>
</style>