<template>
    <v-card-text tile>
        <div class="d-flex align-center justify-center px-0">
            <v-col class="justify-start align-center d-flex px-0 mr-8">
                <v-img class="d-flex">
                    <img :src="data.img" class="rounded-circle pa-1" width="60px" style="border:1px solid #E6E6E6">
                </v-img>
            </v-col>
            <v-col class="pa-0 mb-2" >
                <v-row>
                    <div class="text-truncate ma-0 font-weight-medium body-2">{{ data.company }}</div>
                </v-row>
                <v-row class="caption">
                    {{ data.batch }}
                </v-row>
                <v-row class="font-weight-medium caption">
                    {{ data.role }} of {{ data.company_abbreviation }}
                </v-row>
            </v-col>
        </div>
    </v-card-text>
</template>
<script>
    export default {
        props: {
            data: {
                type: Object
            }
        }
    };
</script>