<template>
  <div>
    <v-card
      class="d-flex"
      width="100%"
      height="38"
      outlined
      style="border: 0.5px solid #d1d0ce !important"
    >
      <v-card-text class="d-flex pa-0 align-center justify-center">
        <Subtitle :title="title" style="width: 110px"/>
        <v-spacer></v-spacer>
        <div class="align-center text-truncate justify-center width-calc">
          <v-card-actions class="">
            <v-progress-linear
              height="24"
              background-color="grey lighten-2"
              :value='acquire+""'
              color=primary
            ></v-progress-linear>
            <div class="px-2 pl-4">Minimum Target: <b> 170</b></div>
            <div class="px-2 pl-4">Industrial Target: <b> 270</b></div>
          </v-card-actions>
        </div>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import Subtitle from "~/components/card/subtitle.vue";

export default {
  props: {
    title: {
      type: String
    },
    acquire: {
      type: Number
    }
  },
  data: () => ({

  }),
  components : {
    Subtitle
  }
};
</script>

<style lang="scss" scoped>
  .width-calc {
    width: calc(100% - 110px);
  }
</style>