<template>
    <v-row justify="center" align="center">
      <v-col cols="12" lg="3" md="5" class="py-0 pt-3">
        <div class="d-flex align-center justify-space-between px-0" style="width:100%">
          <img
            :src="project.client_company.logo"
            class="rounded-circle pa-1"
            width="85px"
            style="border: 1px solid #e6e6e6"
          />
          <v-card align="start" justify="center"
            class="lighten-3 grey--text text--darken-2 px-1 align-center ml-3"
            outlined
            style="border: 0.5px solid #d1d0ce !important;width:100%"
          >
            <div class="d-flex pl-3 body-2 flex-column justify-center" style="height:80px">
              <div class="font-weight-bold">Client Company :</div>
              <div>{{ project.client_company.name }}</div>
              <div class="subtitle-2">{{ project.internal }}</div>
            </div>
          </v-card>
        </div>
      </v-col>
      <v-col cols='12' lg="3" md="7" class="py-0 pt-3" :style="'display:'+hidden">
        <v-row>
          <v-col class="px-3 py-1">
            <TextCard title="Category" :subtitle="project.category"/>
          </v-col>
        </v-row>
        <v-row>
          <v-col class="px-3 py-1">
            <TextCard title="Sub-Category" :subtitle="project.subcategory"/>
          </v-col>
        </v-row>
      </v-col>
      <v-col cols='12' lg="3" md='5' class="py-0 pt-3">
        <v-card align="start" justify="center" width="100%" height='85px'
        class="lighten-3 grey--text text--darken-2 d-flex px-1 py-0 align-center"
        outlined
        style="border: 0.5px solid #d1d0ce !important">
        <v-card-title>
          <div class="body-2">
            <div class="font-weight-bold pb-1">Project Objectives :</div>
            <div style='overflow:scroll;height:40px'>
              {{ project.objective }}
            </div>
          </div>
        </v-card-title>
      </v-card>
      </v-col>
      <v-col cols='12' lg="3" md="7" class="py-0 pt-3" :style="'display:'+hidden">
        <v-row>
          <v-col class="px-3 py-1">
            <TextCard title="Start Date" :subtitle="project.startdate"/>
          </v-col>
        </v-row>
        <v-row>
          <v-col class="px-3 py-1">
            <TextCard title="Deadline" :subtitle="project.deadline"/>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
</template>

<script>
import TextCard from "~/components/card/text_card.vue";
    export default {
      computed: {
        hidden() {
          switch (this.$vuetify.breakpoint.name) {
            case "xs":
              return "none !important";
            case "sm":
              return "none !important";
            case "md":
              return "block !important";
            case "lg":
              return "block !important";
            case "xl":
              return "block !important";
          }
        },
      },
      props: {
        project: {
          type: Object
        }
      },
      components: { TextCard },
    }
</script>

<style lang="scss" scoped>

</style>