<template>
  <div>
    <v-card
      class="d-flex"
      width="100%"
      height="38"
      outlined
      style="border: 0.5px solid #d1d0ce !important"
    >
      <v-card-text class="d-flex pa-0 align-center justify-center">
        <Subtitle :title="title" style="width: 110px text-truncate"/>
        <v-spacer></v-spacer>
        <div class="align-center text-truncate justify-center width-calc">
          <v-slide-group multiple show-arrows>
            <v-slide-item
              v-for="skill in skills"
              :key="skill.index"
              v-slot="{ active }"
            >
              <v-btn
                class="mx-1 white--text #578DD2 text-capitalize font-weight-regular"
                :input-value="active"
                active-class="white--text"
                color="#5a90bf"
                depressed
                tile
                small
              >
                {{ skill.title }}
              </v-btn>
            </v-slide-item>
          </v-slide-group>
        </div>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import Subtitle from "~/components/card/subtitle.vue";

export default {
  props: {
    skills: {
      type: Array
    },
    title: {
      type: String
    }
  },
  data: () => ({
  }),
  components : {
    Subtitle
  }
};
</script>

<style lang="scss" scoped>
  .width-calc {
    width: calc(100% - 110px);
  }
</style>