<template>
  <v-hover>
    <v-card outlined tile style="width: 100%; border-left: 3px solid #5a90bf;" class="d-flex flex-wrap align-content-space-between">
      <v-container class="pa-6 ba-0 text-truncate">
        <div class="text-center">
          <div class="text-h5 font-weight-medium grey--text text--darken-2 text-truncate">
            Batch Contribution
          </div>
          <v-select 
          class="batchSelector ml-3 mb-2" 
          flat solo :items="batch" dense 
          v-model="defaultSelected" 
          v-on:change='onSelectBatch'
          item-text="name" item-value="id"></v-select>
        </div>
        <v-main>
          <v-subheader class="d-flex mt-5 pb-5 px-5 grey--text text--darken-1 font-weight-medium align-end">
            <v-col md="4" class="d-flex justify-bottom pa-0 text-truncate"><span>Semester</span></v-col>
            <v-col md="4" class="d-flex justify-end pa-0 caption text-truncate"><span>Report Session</span></v-col>
            <v-col md="4" class="d-flex justify-end pa-0 caption text-truncate"><span>Total Session</span></v-col>
          </v-subheader>
          <v-main style="height:433px; overflow-y:scroll">
            <div v-for="item in items" :key="item.index" class="px-3">
              <v-card-title class="caption px-5 pt-5">
                <v-row>
                  <v-col md="4" class="d-flex justify-bottom pa-0 grey--text text--darken-2"><span>{{ item.semester }}</span></v-col>
                  <v-col md="4" class="d-flex justify-end pa-0 caption"><span>{{ item.actual_hour }}</span></v-col>
                  <v-col md="4" class="d-flex justify-end pa-0 caption"><span>{{ item.average_hour }}</span></v-col>
                </v-row>
              </v-card-title>
              <v-card-actions class="pt-0">
                <v-progress-linear
                  height="6"
                  background-color="grey lighten-2"
                  :value='item.actual_hour / item.average_hour * 100'
                  :color='item.color'
                ></v-progress-linear>
              </v-card-actions>
            </div>
          </v-main>
        </v-main>
      </v-container>
    </v-card>
  </v-hover>
</template>

<script>
export default {
  components: {
  },
  methods: {
    async onSelectBatch(b_id){
      this.items = await this.$axios.$get(`/home/batch/working/hour/api/${b_id}`);
      let index = 0
      for (let semester of this.items){
        let color = semester.actual_hour > semester.average_hour/2 ? "#5a90bf" : "#D95F02"
        this.items[index]['color'] = color
        index+= 1
      }
    },
    async getBatchInfo () {
      const depList = await this.$axios.$get(`/select_option/all_departments_list`);
      for (let dep of depList){
        const batchList = await this.$axios.$get(`/student/get_non_alumni_batches/${dep.id}`);
        this.batch = this.batch.concat(batchList)
        this.onSelectBatch(6)
      }
      console.log(this.batch)
    },
  },
  mounted() {this.getBatchInfo(1)},
  data: () => ({
    batch: [],
    defaultSelected: {
      name: "Batch 6 SE",
      id: 6
    },
    items: [
    ],
    tab: [
      { index: 0, name: 'unassigned' },
      { index: 1, name: 'percentage' }
    ],
    active_tab: 0
  }),
};
</script>

<style scoped>
.batchSelector {
  height: 20px;
  margin-top: -1px;
  padding: 0 105px 0 105px;
}
</style>