<template>
  <v-hover v-slot="{ hover }">
    <v-card 
      :style="'border-left: 3px solid'+ item.color"
      tile outlined 
      :to="`/profile/student/${item.id}`"
      height="450">
      <v-img style="height:60%; width:100%" class="d-flex align-center text-center">
        <img :src="item.img" class="rounded-circle pa-2" width="50%" style="border:1px solid #E6E6E6">
      </v-img>
      <v-main class="d-flex align-center" style="height:40%; background-color:#F6F6F6; border-top:1px solid #E6E6E6">
        <v-card-title class="py-0 text-h6 grey--text text--darken-3 justify-center">{{ item.title }}</v-card-title>
        <span class="subtitle-2 d-flex grey--text text--darken-2 justify-center">{{ item.subtitle }}</span>
        <div class="mt-10 d-flex justify-space-between px-10">
          <Subtitle :title="item.batch" icon="mdi-account-outline" class="pl-0"/>
          <Subtitle :title="item.rank" icon="mdi-cellphone-link" class="pr-0"/>
        </div>
      </v-main>
      <v-fade-transition>
        <v-main 
          v-if="hover"
          class="d-flex v-card--reveal align-center justify-center pb-0 px-10"
          style="height: 100%; background-color:#F6F6F6;">
          <v-card-title class="py-0 text-h6 grey--text text--darken-3 justify-center">{{ item.title }}</v-card-title>
          <span class="subtitle-2 d-flex grey--text text--darken-2 justify-center">{{ item.student_id }}</span>
          <v-card outlined v-if="item.alumini == true" class="d-flex justify-center py-1 mt-4 mb-8 subtitle-2 white--text" style="background-color:#51AA7D">
            Graduated
          </v-card>
          <Profile v-else :data="item.company" class="mt-2 px-0 py-2 d-flex align-start text-truncate" style="height:84px" />
          <Table :data="item.project" class="mt-6"/>
          <Table v-if="item.alumini == true" :data="item.approve" class="mb-16"/>
          <Table v-else :data="item.complete"/>
          <div class="mt-7 d-flex justify-space-between">
            <Subtitle :title="item.batch" icon="mdi-account-outline" class="pl-0"/>
            <Subtitle :title="item.rank" icon="mdi-cellphone-link" class="pr-0"/>
          </div>
        </v-main>
      </v-fade-transition>
    </v-card>
  </v-hover>
</template>

<script>
import Table from "~/components/datatable/brief.vue";
import Subtitle from "~/components/title/subtitle.vue";
import Profile from "~/components/card/profile.vue";

export default {
  props: {
    item: {
      type: Object
    }
  },
  components: {
    Table,
    Subtitle,
    Profile
  }
};
</script>

<style scoped>
.v-card--reveal {
  align-items: center;
  bottom: 0;
  justify-content: center;
  position: absolute;
  width: 100%;
}
</style>