<template>
  <v-card
    class="lighten-3 grey--text text--darken-2 d-flex px-1 align-center"
    outlined
    align="left"
    justify="center"
    height="38"
    width=auto
    style="border: 0.5px solid #d1d0ce !important; font-family: 'Helvetica Neue';background-color:#F6F6F6"
  >
    <div class="px-2 ma-0">
      <v-icon medium left> {{ icon }} </v-icon>
      <span class="body-2 text-truncate">{{ title }}</span>
    </div>
  </v-card>
</template>

<script>
  export default {
    props: {
      title: {
        type: String
      },
      icon: {
        type: String
      }
    }
  }
</script>