<template>
  <div class="d-flex flex-row align-center justify-space-between">
    <div class="body-2 grey--text text--darken-3" style="width: 220px">
      {{ title }}<span class="px-1">:</span>
    </div>
    <v-card-actions
      align="center"
      justify="center"
      class="body-2 pl-5 pa-0 pr-0"
      style="width: 100%"
    >
      <v-card
        class="lighten-3 grey--text text--darken-2 d-flex px-1 align-center text-uppercase font-weight-bolder"
        outlined
        align="end"
        justify="center"
        height="38"
        width="100%"
        style="border: 0.5px solid #d1d0ce !important"
      >
        <div class="px-2 ma-0">
          {{ subtitle }}
        </div>
      </v-card>
    </v-card-actions>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
    },
    subtitle: {
      title: {
          type: String
      }
    }
  },
};
</script>